/*
Syntax error: Undefined variable: "$border_type".
        on line 6 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories/form.sass

1: /* Story creation */
2: 
3: form.new_story, form.edit_story
4: 	.title-input, .excerpt-input
5: 		height: 80px
6: 		border-bottom: $border_type
7: 		float: left
8: 		input
9: 			width: 95%
10: 	.title-input
11: 		width: 30%

Backtrace:
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories/form.sass:6
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/script/variable.rb:39:in `_perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/script/node.rb:61:in `perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/prop_node.rb:132:in `perform!'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `map'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:317:in `perform!'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `map'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:317:in `perform!'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `map'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:317:in `perform!'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/root_node.rb:37:in `perform'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/tree/root_node.rb:29:in `render'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin.rb:85:in `update_stylesheets'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin.rb:78:in `each'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin.rb:78:in `update_stylesheets'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin.rb:76:in `each'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/haml-3.0.24/lib/sass/plugin/rack.rb:40:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/warden-0.10.7/lib/warden/manager.rb:35:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/warden-0.10.7/lib/warden/manager.rb:34:in `catch'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/warden-0.10.7/lib/warden/manager.rb:34:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:32:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:12:in `cache'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:31:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/activesupport-3.0.0/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/rack/logger.rb:13:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/activesupport-3.0.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/actionpack-3.0.0/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/application.rb:168:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/application.rb:77:in `send'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/application.rb:77:in `method_missing'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/djbrowning/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/commands/server.rb:65:in `start'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/commands.rb:30
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/commands.rb:27:in `tap'
/Users/djbrowning/.rvm/gems/ruby-1.8.7-p302@momeant/gems/railties-3.0.0/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$border_type\".\A         on line 6 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories/form.sass\A \A 1: /* Story creation */\A 2: \A 3: form.new_story, form.edit_story\A 4: 	.title-input, .excerpt-input\A 5: 		height: 80px\A 6: 		border-bottom: $border_type\A 7: 		float: left\A 8: 		input\A 9: 			width: 95%\A 10: 	.title-input\A 11: 		width: 30%"; }
