- @preview ||= false
.number Page #{@page.number}
.inner
  - if @preview
    = image_tag(@page.image.url(:small)) if @page.image
  - else
    = image_tag(@page.image.url) if @page.image
  .caption= @page.text if @page.text