= render :partial => "stories/page_themes/page_input", :locals => {:page_type => "pullquote"}
.pullquote.page-theme
  = text_area_tag "page[#{@page_number}][quote]", "", :placeholder => "Type your quote here..."