- preview ||= false
.split
  .image
    .inner
      - if preview
        = image_tag(@page.image.url(:medium)) if @page.image
      - else
        = image_tag(@page.image.url) if @page.image
  .text
    .inner
      = @page.text