= render :partial => "stories/page_themes/page_input", :locals => {:page_type => "title-page"}
.title-page.page-theme
  = text_area_tag "page[#{@page_number}][title]", "", :placeholder => "Type your title here..."