- if @page.medias.first.has_styles?
  - content_for :head do
    :css
      #page_#{@page.number} {
        background-color: ##{@page.medias.first.background_color};
        color: ##{@page.medias.first.text_color};
      }
  
.title= @page.text