%li
  %a{href: "#", topic: discussion.id}
    %span.body
      = truncate(discussion.topic, length: 100)
    %span.comments= discussion.comments.size
    %span.when #{time_ago_in_words(discussion.created_at)} ago