#search-results.community

  - if params[:query].present?
    
    %section.users
      %h3 Users
      .data
        - if @users.empty?
          No users found
        - else
          %ul.users
            - @users.each do |user|
              %li= link_to(image_tag(user.avatar.url(:thumbnail)), user_path(user), :class => "tooltipped", :title => user.name)

    %section.content
      %h3 Content
      .data
        - if @stories.empty?
          No content found
        - else
          %ul.stories
            = render @stories, :show_tags => true, :hover_title => true