.search
  %h1 Results for #{params[:query]}

  %ul.users.stories
    - @results.each do |result|
      = render result if result.is_a?(Story)
      = render :partial => "users/user", :locals => {:user => result} if result.is_a?(User)