body#users.creators
  #main
    max-width: 100%

#creator-signup

  .inner
    width: 760px
    margin: 0 auto
  
  #top  
    text-align: center
    padding: 100px 0
    background: #d8d8d8
    border-bottom: 5px solid #fff
    margin-bottom: 100px
    h1, h2
      text-transform: uppercase
    h2
      font-size: 23px
      font-weight: 600
      color: #fff
      margin: 0
      background: none
      padding: 0
    h1
      font-size: 75px
      font-weight: 200
      line-height: 55px
      color: #000
      margin-bottom: 30px
      letter-spacing: -0.02em

  #forms
    position: relative
    width: 300px
    height: 400px
    float: left
    
    form
      width: 256px
      margin: 0 auto
    li
      min-height: 50px
      margin-bottom: 6px
    label
      text-align: left
      text-transform: uppercase
      font-size: 12px
      font-weight: 400
      margin: 0
    input[type="text"], input[type="email"], input[type="password"]
      width: 240px
    li.checkbox
      position: relative
      min-height: 25px
      label.error
        position: absolute
        top: 18px
        left: 20px
    span.aside
      text-align: left
      input
        width: 110px
    input[type="submit"], a
      width: 150px
      margin: 10px auto 0
    a.button
      display: block
      background: #ffa801
      padding: 9px 0
    label.error
      color: $red
    
    #join, #login
      position: absolute
      top: 0
      left: 0
    
    #join
      display: none
      
  #what-it-means
    width: 310px
    float: right
    ul
      text-align: left
      margin-left: 5px
      background: transparent url(../images/signup/creator-icons-blue.png) no-repeat 0 0
      text-transform: uppercase
      font-size: 12.5px
      font-weight: 600
      li
        padding: 6px 0 23px
        a
          padding: 6px 0 6px 50px
          color: #000
          @include transition(color)
        a:hover
          color: $blue
  
  #bottom
    section
      background: transparent url(../images/signup/creator-icons-grey.png) no-repeat 0 0
      padding-top: 85px
      font-size: 18px
      margin-bottom: 55px
      span.heading
        text-transform: uppercase
        color: $blue
        font-weight: 600
      span.text
        font-style: italic
    section#deal
      background-position: 0 -239px
    section#rewarded
      background-position: 0 -477px
    section#share
      background-position: 0 -715px
    section#audience
      background-position: 0 -953px

  
  #creator-info, #creator-payment
    h1
      padding-top: 30px
      margin-bottom: 0
      
    section
      background: #e8e8e8
      padding: 30px
      margin-top: 30px
      h2
        background: none
        padding: 0
        text-transform: none
    li.submit
      text-align: right
      
    #upload
      height: 300px
      #avatar-file
        float: left
        width: 380px
      #avatar-preview
        float: right
        width: 300px
        background: #fff
      #avatar-preview, #avatar-preview img
        width: 300px
        height: 300px
      .file-uploader
        .loader
          width: 220px
          height: 19px
          background: transparent url(../images/loading.gif) no-repeat 0 0
          display: none
      .example
        border: none
    .longtext textarea
      width: 97%
      height: 50px

#become-a-creator
  width: 760px
  margin: 50px auto 0
  
  h3
    font-size: 20px
    margin-bottom: 20px

  #bottom
    margin-bottom: 100px
  
  #give-info
    padding-top: 50px
    
    form.loading
      height: 250px
      background: transparent url(../images/spinnerLightGreyBg.gif) no-repeat 50% 50%
      *
        display: none
  
    textarea
      width: 97%
      height: 40px
  
  #show-after
    display: none
    font-size: 1.8em
    padding: 20px 0 100px