#creator-signup
	padding: 20px

	#join, #login
		width: 400px
		float: left
	
	form
		li.checkbox
			height: 1em
			
		#avatar-preview, #avatar-preview img
			width: 300px
			height: 300px
		.file-uploader
			.loader
				width: 220px
				height: 19px
				background: transparent url(../images/loading.gif) no-repeat 0 0
				display: none