#user-settings

  padding-top: 30px

  section
    width: 760px
    margin: 0 auto 30px
    background: #f4f4f4
    padding: 30px
    
  h1
    margin-bottom: 30px
  
  textarea
    width: 96%
    height: 50px

  #settings-list
    margin-bottom: 30px
    li
      margin-bottom: 10px
      .text.loading
        display: inline-block
        width: 30px
        height: 15px
        background: transparent url(../images/horizontal-spinner.gif) no-repeat 0 4px
        text-indent: -9999px
  
  li.submit
    margin-top: 20px
  
  #profile-info
    #upload
      width: 380px
      float: right
    ul
      float: left
    form
      @include clearfix
      width: 100%
  
  #upload
    height: 300px
    #avatar-file
      width: 380px
    #avatar-preview
      width: 300px
      background: #fff
    #avatar-preview, #avatar-preview img
      width: 300px
      height: 300px
    .file-uploader
      .loader
        height: 19px
        background: transparent url(../images/loading.gif) no-repeat 0 0
        display: none
    .example
      border: none

  #creator-info
    .aside
      margin-right: 20px