body#thank_you_levels
  #main
    width: 800px
    margin: 0 auto
    padding: 30px
  
  section
    background: #eee
    padding: 20px
    margin-top: 20px
    position: relative
    h3
      font-size: 1.1em
      .price
        background: $lightgreen
        color: $green - #222
        padding: 2px 4px
        margin-right: 3px
    a.edit
      position: absolute
      top: 20px
      right: 20px
      text-transform: uppercase
  
  form
    margin-top: 30px
    h3
      font-size: 1.4em
      padding-bottom: 5px
      border-bottom: 1px solid #eee
      margin-bottom: 10px
    p
      margin: 5px 0
      line-height: 1.5em
    textarea
      height: 50px
    #thank_you_level_item, #thank_you_level_description
      width: 300px