.inner
  = render "stories/template_forms/header"

  = label_tag "Choose a snippet of text that best describes this music (140 characters or less):"
  = text_area_tag :story_synopsis, @story.synopsis, :class => "monitor", :update => "synopsis", :max => 140
  #characters-left 140