%h1 Admin

%ul
  %li= link_to("Pay Periods", admin_pay_periods_path)
  %li= link_to("Invitations", admin_invitations_path)
  %li= link_to("Adverts", admin_adverts_path)
  %li= link_to("Live View", admin_live_path)