%section
  %h2
    = link_to "Newest", newest_content_path
    %span.weak recently shared
    = link_to "View more", newest_content_path, :class => "more"
  %ul.content-thumbnail-list.discovery-list
    - @newest_content.each do |story|
      = render "discovery/story", :story => story