#discovery-nav
  %ul
    %li= link_to_active "Summary", people_path
    %li= link_to_active "Notable", notable_people_path
    %li= link_to_active "Top Creators", creators_people_path
    %li= link_to_active "Top Patrons", patrons_people_path