%section
  .description based on your rewards
  %ul.content-thumbnail-list.discovery-list
    - @recommended_content.each do |story|
      = render "discovery/story", :story => story
  - if @recommended_content.empty?
    Once you start rewarding, we'll recommend similar content here.