#discovery-page
  = render "discovery/people_nav"
  
  %section
    .top-description
      %h3
        Top creators
      %p.description
        %span The people who have RECEIVED the most rewards.
    
    = render "discovery/top_creators"