#discovery-banner
  Check out the folks being rewarded for their great content.

#discovery-summary

  #discovery-filters

  %ul#discovery-grid
    = render :partial => "discovery/grid_item", :collection => @content, :as => :content
  
  #discovery-loading Loading more...

:javascript
  mpq.track('Viewed Discovery');
= javascript_include_tag "jquery.hover-intent"
= javascript_include_tag "discovery"