#discovery-page
  = render "discovery/nav"
  
  %section
    .top-description
      %h3
        Nearby
        - if current_user && current_user.location.present?
          = current_user.location
        - else
          Content
      %p.description
        %span Content from creators near your location.

    = render "discovery/nearby_content"