#discovery-page
  = render "discovery/content_nav"
  
  %section
    .top-description
      %h3
        Nearby
        - if current_user && current_user.location.present?
          = current_user.location
        - else
          Content
      %p.description
        %span Content from creators near your location.

    %ul.content-thumbnail-list.discovery-list
      - @nearby_content.each do |story|
        = render "discovery/story", :story => story
      - if current_user.nil?
        Signup to see content near you.