#discovery-page
  
  .top
    = link_to "< Back to Discover", discovery_path, :class => "back-link"
    %h1 Newest Content
    %p The freshest content from awesome creators
  
  %ul.content-thumbnail-list.discovery-list
    - @newest_content.each do |story|
      = render "discovery/story", :story => story
      
      
:javascript
  mpq.track('Viewed Newest Content');