#discovery-page
  = render "discovery/nav"

  %section
    .top-description
      %h3
        Newest Content
      %p.description
        %span The most recently shared content.

    = render "discovery/newest_content"