#discovery-page
  = render "discovery/people_nav"
  
  %section
    .top-description
      %h3
        Top patrons
      %p.description
        %span The people who have GIVEN the most rewards.
    
    = render "discovery/top_patrons"