#discovery-page
  
  .top
    = link_to "< Back to Discover", discovery_path, :class => "back-link"
    %h1 Popular Content
    %p The most rewarded content in the past two weeks.
  
  %ul.content-thumbnail-list.discovery-list
    - @popular_content.each do |story|
      = render "discovery/story", :story => story
      
      
:javascript
  mpq.track('Viewed Popular Content');