#discovery-page
  = render "discovery/content_nav"
  
  %section
    .top-description
      %h3
        Popular content
      %p.description
        %span The most rewarded content in the past two weeks.
    
    = render "discovery/popular_content"