#about
	background: #ececec
	#about-inner
		width: 784px
		margin: 0 auto
		padding: 40px 0
		font-family: $numerals
		font-weight: 200
	
		#header-image
			background: transparent url(../images/aboutPageHeader.png) no-repeat 50% 0
			height: 183px
			margin-bottom: 40px
	
		#explanation
			width: 670px
			font-size: 22px
			padding: 20px 0
			border-bottom: 1px solid #fff
			margin: 0 auto 50px
			h2
				font-family: $numerals
				color: $blue
				text-transform: none
				background: none
				padding: 0
				text-align: center
				line-height: 1.1em
				width: 450px
				margin: 0 auto
			h2, strong	
				font-weight: 400
			p
				text-align: justify
				line-height: 1.4em
	
		#illustration
			height: 553px
			background: transparent url(../images/about-diagram.png) no-repeat 0 0