body#home.about, body#home.tos
	#inner
		padding-top: 50px
		
	#header-image
		background: transparent url(../images/aboutPageHeader.png) no-repeat 50% 0
		height: 183px
		margin-bottom: 40px
		
	h1
		text-transform: uppercase
		font-family: "atrament-web-1", "atrament-web-2", sans-serif
		letter-spacing: 0.02em
		font-size: 36px
		border-bottom: 1px solid #ccc
		margin-bottom: 5px
		padding-bottom: 5px
	p.subheading
		margin: 0 0 20px
	
	h3
		font-size: 16px
	
	ol
		margin-left: 3em
		margin-bottom: 20px
		li
			list-style-type: lower-alpha

body#home.tos
	h1
		border: none
	h3
		font-size: 13px
	ol li
		list-style-type: lower-roman