#about-pitch
	.characters
		width: 85%
		height: 230px
		margin: 30px auto 0
		background: transparent url(../images/aboutCharacters.png) no-repeat 0 0
	.byline
		width: 900px
		margin: 30px auto 0
		text-align: center
		h1
			font-family: $block
			font-size: 33px
			font-weight: 700
			text-transform: uppercase
			text-shadow: $background_color -1px 1px 0, $blue -2px 2px 0
			margin-bottom: 5px
		h3
			font-family: $typewriter
			color: $blue
			font-size: 18px
			font-weight: 100
			width: 900px
			margin: 0 auto
	a.button
		width: 402px
		text-align: center
		font-size: 19px
		display: block
		margin: 20px auto 50px
		font-weight: 900
		padding: 3px
		background-color: $lightblue
		color: $blue
		span
			@include rounded(3px)
			padding: 12px 0 10px
			display: block
			border: 1px solid #fff
			width: 400px
	.ampersand
		background: transparent url(../images/bluePlus.png) no-repeat 50% 4%
	ul.halves
		height: 225px
		margin: 10px 0
		li
			float: left
			width: 50%
			img
				display: block
				margin: 0 auto
				width: 220px
				height: 200px
			h3
				font-size: 18px
				text-transform: uppercase
				color: #000000
				vertical-align: middle
				margin: 30px auto
				width: 220px
				height: 60px
				text-align: center
				padding-bottom: 9px
				background: transparent url(../images/subscribeCurlShadow.png) no-repeat 50% 100%
				span
					display: block
					background-color: #fff
					height: 60px
					line-height: 60px
			p
				width: 400px
				margin: 0 auto 30px
				text-align: center
				font-family: $block
				font-size: 1.2em
				line-height: 18px
				font-weight: 600
				padding-bottom: 30px
	ul.questions
		width: 90%
		margin: 0px auto 25px
		background: transparent url(../images/diagStripeBG.png) repeat-x 0 0
		padding-top: 40px
		.small
			text-align: justify
			width: 100%
			height: auto
			margin-bottom: 0px
			font-family: $typewriter
			font-weight: 100
			font-size: 1.2em
			border-bottom: none
			padding-bottom: 0px
			.title
				font-family: $block
				color: $blue
				font-size: 14px
				background-color: transparent
				text-transform: uppercase
				margin: 0 5px 0 0
				padding: 0
				font-weight: 900
				float: left
				line-height: 25px
				clear: both