#activity-surround
	max-width: 1200px
	margin: 0 auto
	position: relative

#activity
	@include boxshadow(3px,0.2,1px,1px)
	margin-right: 400px
	@include rounded(3px)
	position: relative
	z-index: 2

#activity-head
	position: relative
	padding: 10px
	border: 1px solid #ddd
	-webkit-border-top-left-radius: 3px
	-webkit-border-top-right-radius: 3px
	-moz-border-radius-topleft: 3px
	-moz-border-radius-topright: 3px

	#activity-filter
		height: 30px

#activity-body
	position: relative
	background: #fff
	min-height: 120px
	border: 1px solid #ddd
	border-top: none
	-webkit-border-bottom-left-radius: 3px
	-webkit-border-bottom-right-radius: 3px
	-moz-border-radius-bottomleft: 3px
	-moz-border-radius-bottomright: 3px
	
	#activity-loading
		position: absolute
		top: 50px
		left: 50%
		margin-left: -100px
		padding-left: 20px
		background: transparent url(../images/spinner.gif) no-repeat 0 0
		text-transform: uppercase
		font-weight: 700
		display: none

ul#activity-list
	li
		position: relative
		border-bottom: 1px solid #eee
		padding: 30px 0
		
		.left-side
			width: 60px
			position: absolute
			top: 30px
			left: 20px
		
		.middle
			margin: 0 130px 0 100px
			float: left
			
			.title
				margin-bottom: 10px
				color: #707070
				a
					font-size: 13px
					font-weight: 700
					text-transform: uppercase

			.content
				position: relative
				min-height: 61px
				padding-left: 115px
				padding-top: 5px
				.content-thumbnail
					position: absolute
					top: 0
					left: 0
					background: #fff
					padding: 2px
					border: 1px solid #ddd
					display: block
					width: 95px
					height: 60px
				a.title
					font-size: 1.2em
					font-weight: 700
					color: $text_color
				.byline
					display: block
					font-size: 11px
					padding-top: 2px
				.tags	
					padding-top: 2px
					a, span
						color: #b1b1b1
						font-size: 11px
						font-style: italic
					a:hover
						text-decoration: underline
					span
						margin-left: -3px
						margin-right: 1px
					span:last-child
						display: none

			.comment
				margin-top: 10px
				
			.impacters, .descendants
				clear: both
				padding-top: 15px
				.description
					font-size: 11px
					color: #777
					margin-bottom: 5px
				a.avatar
					display: block
					float: left
					margin-right: 5px
				a.avatar, a.avatar img
					width: 30px
					height: 30px
				a.visualize
					float: left
					background: #e0e0e0
					color: #7b7b7b
					text-transform: uppercase
					padding: 4px 6px 2px
					@include rounded(3px)
					font-size: 10px
					margin: 5px 0 0 5px
		
		.right-side
			width: 110px
			position: absolute
			right: 20px
			top: 30px
			color: #ccc
			font-style: italic
			font-size: 11px
			text-align: right
	
	li.reward
		.left-side
			.faces
				position: relative
				height: 65px
				a.face
					position: absolute
					top: 0
					left: 0
					z-index: 1
					display: block
					width: 38px
					height: 38px
					img
						background: #fff
						width: 32px
						height: 32px
						padding: 2px
						border: 1px solid #ddd
						@include boxshadow(1px,0.2,0,0)
				a.to
					top: 20px
					left: 20px
					z-index: 2
			.amount
				background: $blue
				color: #fff
				padding: 3px 0
				@include rounded(3px)
				text-align: center
				.count
					padding-right: 18px
					font-weight: 700
					background: transparent url(../images/icons/starWhiteSmall.png) no-repeat 100% 0
	
	li.reward, li.content
		a.thumbnail img
			border: 1px solid #ccc
	
	li.impact .left-side
		height: 60px
		background: transparent url(../images/impactStarburst.png) no-repeat 50% 0
	
	li.purchase .header
		-webkit-border-bottom-left-radius: 3px
		-webkit-border-bottom-right-radius: 3px
		-moz-border-radius-bottomleft: 3px
		-moz-border-radius-bottomright: 3px
		border-bottom-left-radius: 3px
		border-bottom-right-radius: 3px
	
	li.badge, li.purchase
		.left-side
			text-align: center
			img
				height: 52px
		.middle, .right-side
			padding-top: 15px
	
	li.purchase, li.badge
		.header .when
			color: #aaa
			font-size: 11px
			float: right
	
	li.none
		text-indent: 10px

#activity-sidebar
	position: absolute
	top: 20px
	right: 0
	width: 359px
	padding: 20px
	font-size: 11px
	background: #fff
	border: 1px solid #ddd
	-webkit-border-top-right-radius: 3px
	-webkit-border-bottom-right-radius: 3px
	-moz-border-radius-topright: 3px
	-moz-border-radius-bottomright: 3px
	border-top-right-radius: 3px
	border-bottom-right-radius: 3px
	z-index: 1

	.info
		text-transform: uppercase
		text-shadow: 0 1px 0 #fff
		color: #999
		padding-bottom: 3px
		border-bottom: 1px solid #ddd
		margin-bottom: 6px
	
	#curated-data
		display: none
		margin-bottom: 20px
		.activity
			padding: 5px 0 5px 40px
			position: relative
			min-height: 30px
			a.avatar
				display: block
				width: 30px
				height: 30px
				position: absolute
				top: 5px
				left: 0
				img
					width: 30px
					height: 30px
		a:hover
			color: $blue

	#leaderboards
		padding: 0 6px

		li
			margin-bottom: 3px
			
		.list
			margin-bottom: 20px

			.impact
				float: right
				padding-right: 19px
				background: transparent url(../images/icons/impactTiny.png) no-repeat 100% 0
				
			.rewards
				float: right
				padding-right: 16px
				background: transparent url(../images/icons/starBlackTiny.png) no-repeat 100% 2px

a#load-more-activity
	display: block
	padding: 10px 0
	text-align: center
	background: #ddd
	@include gradient(#f7f7f7,#eee)
	color: #999
	text-shadow: 0 1px 0 #fff
	text-transform: uppercase
	font-weight: 700
	margin: 20px
	border: 1px solid #ddd
	@include rounded(3px)
	&:hover
		background: #eee
	&.loading
		background: #ccc url(../images/spinnerLightGreyBg.gif) no-repeat 10px 50%

.dk_toggle
	@include rounded(3px)
.dk_options a
	color: #555

#activity-surround.new-user-no-activity