#activity-loading
	position: absolute
	top: 50px
	left: 50%
	margin-left: -200px
	padding-left: 20px
	background: transparent url(../images/spinner.gif) no-repeat 0 0
	text-transform: uppercase
	font-weight: 700
	display: none

ul#activity-list
	margin-right: 200px
	
	li
		position: relative
		background: #fff
		@include rounded(3px)
		border: 1px solid #ccc
		@include boxshadow(3px,0.2,0,1px)
		margin-bottom: 20px
		
		.header
			position: relative
			height: 15px
			padding: 17.5px 10px 17.5px 50px
			background: #f7f7f7
			@include gradient(#fff,#f7f7f7)
			border-bottom: 1px solid #ccc
			text-shadow: 0 1px 0 #fff
			-webkit-border-top-left-radius: 3px
			-webkit-border-top-right-radius: 3px
			-moz-border-radius-topleft: 3px
			-moz-border-radius-topright: 3px
			border-top-left-radius: 3px
			border-top-right-radius: 3px
		
			a.thumbnail
				position: absolute
				top: 10px
				left: 10px
				display: block
				width: 30px
				height: 30px
				img
					width: 30px
					height: 30px
		
		.body
			padding: 10px
		
			.comment
				margin-bottom: 10px

			.content
				position: relative
				min-height: 66px
				padding-left: 109px
				a.title
					font-weight: 700
					text-transform: uppercase
				.byline
					display: block
					font-size: 11px
				.content-thumbnail
					position: absolute
					top: 0
					left: 0
					background: #fff
					padding: 2px
					border: 1px solid #ddd
					display: block
					width: 95px
					height: 60px
			
				.tags	
					padding-top: 5px
		
		.footer
			border-top: 1px solid #ddd
			background: #f7f7f7
			padding: 5px 10px
			color: #aaa
			font-size: 11px
			-webkit-border-bottom-left-radius: 3px
			-webkit-border-bottom-right-radius: 3px
			-moz-border-radius-bottomleft: 3px
			-moz-border-radius-bottomright: 3px
			border-bottom-left-radius: 3px
			border-bottom-right-radius: 3px
			.when
				margin-right: 10px
			.twitter, .facebook
				width: 12px
				height: 12px
				background: transparent url(../images/icons/twitterTiny.png) no-repeat
				display: inline-block
				margin-right: 5px
				cursor: help
				position: relative
				top: 2px
			.facebook
				background-image: url(../images/icons/facebookTiny.png)
			.impact a
				padding: 1px 18px 0 0
				background: transparent url(../images/icons/starBlueSmall.png) no-repeat 100% 0
	
	li.reward, li.impact
		.header
			.amount
				margin: 0 3px
				background: $blue url(../images/icons/starWhiteTiny.png) no-repeat 80% 5px
				color: #fff
				padding: 2px 19px 2px 6px
				@include rounded(3px)
				font-size: 11px
				position: relative
				top: -1px
				box-shadow: 0 0 3px rgba(0,0,0,0.4) inset
	
	li.reward, li.content
		a.thumbnail img
			border: 1px solid #ccc
	
	li.impact .header .amount
		background: $blue url(../images/icons/impactBlueTiny.png) no-repeat 85% 2px
	
	li.purchase .header
		-webkit-border-bottom-left-radius: 3px
		-webkit-border-bottom-right-radius: 3px
		-moz-border-radius-bottomleft: 3px
		-moz-border-radius-bottomright: 3px
		border-bottom-left-radius: 3px
		border-bottom-right-radius: 3px
	
	li.badge
		a.thumbnail
			width: 25.6px
			img
				width: 25.6px
				margin-left: 2px
	
	li.purchase, li.badge
		.header .when
			color: #aaa
			font-size: 11px
			float: right
	
	li.none
		background: none
		border: none
		box-shadow: none

#activity-filter
	position: fixed
	top: 62px
	right: 20px
	width: 185px
	font-size: 11px
	
	.info
		text-transform: uppercase
		text-shadow: 0 1px 0 #fff
		color: #999
		margin-bottom: 5px
	
	ul#types
		li
			clear: both
			a
				display: block
				padding: 4px 4px 4px 6px
				color: #222
				@include rounded(3px)
				.amount
					float: right
					padding: 1px 3px 0
					background: #222
					color: #f4f4f4
					font-size: 10px
					@include rounded(3px)
		li.selected a
			background: #222
			color: #fff
			.amount
				background: #fff
				color: #222

a#load-more-activity
	display: block
	margin-right: 200px
	padding: 10px 0
	text-align: center
	background: #ddd
	color: #333
	@include rounded(3px)
	&:hover
		background: #ccc
	&.loading
		background: #ccc url(../images/spinnerLightGreyBg.gif) no-repeat 10px 50%