.admin

	.invitations
		table
			margin-top: 10px
			th, td
				min-width: 100px

	.adverts
		background: none
		padding-top: 0
		form
			width: 928px
			padding: 10px
			background-color: #eee
			li span
				margin-right: 50px
		div
			height: auto
		.advert-list
			margin-top: 10px
			li
				border-bottom: 1px solid #ccc
				padding-bottom: 5px
				margin-bottom: 5px
				height: 200px
			.title
				font-weight: 700
				font-family: $block
				font-size: 2em
				text-transform: uppercase
			.title, .enabled, .delete
				float: left
				line-height: 30px
				vertical-align: middle
				margin-right: 20px
				padding: 5px 0
			.enabled
				.disabled
					color: #777
					font-style: italic
			.image
				clear: both

	#live-updates
		li
			padding: 3px 6px
			font-size: 11px
			text-shadow: 0 1px 1px #fff
			height: 15px
			margin-bottom: 3px
			.url
				font-weight: bold
				float: left
				width: 80%
			.time
				color: #999
				float: right
				width: 20%
				text-align: right
		li:first-child
			background: rgba(0, 102, 204, 0.05)