.admin
	.invitations
		table
			margin-top: 10px
			th, td
				min-width: 100px

	.adverts
		form
			width: 928px
			padding: 10px
			background-color: #eee
			li span
				margin-right: 50px
		.advert-list
			margin-top: 10px
			li
				border-bottom: 1px solid #ccc
				padding-bottom: 5px
				margin-bottom: 5px
				height: 200px
			.title
				font-weight: 700
				font-family: $block
				font-size: 1.2em
				text-transform: uppercase
			.title, .enabled, .delete
				float: left
				line-height: 25px
				vertical-align: middle
				margin-right: 20px
			.enabled
				.disabled
					color: #777
					font-style: italic
			.image
				clear: both
				