.comments
	position: relative

	.money
		position: absolute
		top: 13px
		right: 20px

	a.open-comments, .insides
		background: #303030
		color: #777
		padding: 13px 15px

	.money, a.open-comments, a.close-comments
		color: #777

	a.open-comments, a.close-comments
		display: block
		font-size: 13px
		padding-left: 60px
		background: #303030 url(../images/content/comments.png) no-repeat 23px 50%
		&:hover
			color: #aaa
	
	a.close-comments
		display: block
		margin-bottom: 15px
		padding-left: 45px
		background-position: 8px 50%
	
	.insides
		display: none
	
	ul.comment-list > li, form
		position: relative
		padding-left: 42px
		img.commenter-avatar
			width: 30px
			height: 30px
			position: absolute
			top: 0
			left: 0
	
	ul.comment-list > li
		margin: 0 0 5px 3px
		.commenter-name
			color: #ddd
			@include transition(color)
			&:hover
				color: $blue
		.text
			color: #999
		.time
			font-size: 12px
			color: #666
			margin-top: 1px
	
	.disabled
		background: #444
		color: #777
		padding: 3px 6px
	
	form
		padding: 3px 6px 3px 46px
		min-height: 30px
		img.commenter-avatar
			top: 3px
			left: 3px
		textarea
			width: 98%
			height: 15px
			padding: 4px
			@include rounded(0)
			font-family: "lucida grande",tahoma,verdana,arial,sans-serif
			font-size: 11px