.community
	max-width: 1064px
	margin: 0 auto
	
	ul.nav
		padding: 20px
		height: 20px
		li
			float: left
			margin-right: 20px
			a
				font-size: 13px
				font-weight: 700
				text-transform: uppercase
				padding: 5px 10px 15px
			a:hover
				text-decoration: underline
			a.active
				background: transparent url(../images/blueLinkPointer.png) no-repeat 50% 100%
				color: #fff
			a.active:hover
				text-decoration: none
	
	.tabbed
		padding: 20px 0 20px 20px
		
		.header
			margin-bottom: 20px
			h3
				text-transform: uppercase
				font-size: 13px
				margin-bottom: 5px
			a
				
	
	ul.stories
		@include clearfix
		li.story
			padding-top: 0
			position: relative
			border: 3px solid #fff
			.title
				display: none
				position: absolute
				top: 0
				left: 0
				padding: 10px
				width: 210px
				height: 124px
				color: #fff
				text-transform: uppercase
				font-size: 14px
				background: rgba(0,0,0,0.75)
				z-index: 2
				font-weight: 500
				.avatar
					position: absolute
					top: 3px
					right: 3px
					width: 28px
					height: 28px
				span
					display: block
				span.synopsis
					font-size: 11px
					text-transform: none
					border: none
					padding: 5px 0 0 0
					height: 75px
			.edit-links, .how-much
				display: none
			a.thumbnail
				margin-top: 0
			.tags
				position: absolute
				top: 117px
				left: 0
				padding: 5px
				height: 17px
				overflow: hidden
				z-index: 3
		li.story:hover .title
			display: block
	
	ul.users
		@include clearfix
		padding-bottom: 40px
		li.user
			width: 166px
			float: left
			margin-right: 30px
			margin-bottom: 30px
			.name
				display: block
				color: #000
				font-size: 12px
				font-weight: 700
				text-transform: uppercase
				margin-bottom: 1px
			.impact
				padding-left: 15px
				font-size: 11px
				background: transparent url(../images/icons/starBlackTiny.png) no-repeat 0 2px
				margin-bottom: 4px
			.tags
				height: 17px
				overflow: hidden
	
	.tag-cloud
		h3
			font-size: 13px
			text-transform: uppercase
			margin-bottom: 10px
			padding-bottom: 5px
			border-bottom: 1px solid #ddd