.community
	.top
		background: #e0e0e0
		padding: 20px 0 0
		
	#filter
		display: none
		border: 1px solid #d0d0d0
		margin-left: 20px
		position: relative
		z-index: 2
		float: left
		width: 200px
		h2
			font-size: 20px
			font-weight: 700
			text-transform: uppercase
			background: #cdcdcd
			color: #fff
			padding: 2px 5px 0
			margin: 0
		section
			background: #e0e0e0
			.heading
				font-size: 12px
				font-weight: 700
				text-transform: uppercase
				padding: 5px
				background: #fff url(../images/filterHeaderArrow.png) no-repeat 180px 7px
				color: #848484
			.body
				padding: 5px
	
	section.tags
		ul.tags
			li
				clear: both
				a
					height: 15px
					padding: 5px 8px
					display: block
					font-size: 11px
					@include rounded(5px)
					.name
						float: left
					.count
						float: right
						background: #f4f4f4
						color: #aaa
						padding: 2px 5px
						@include rounded(2px)
				a:hover .name
					text-decoration: underline
				a.active
					background: transparent url(../images/tagActive.png) no-repeat 100% 50%
					color: #fff
					.count
						display: none
				a.active:hover .name
					text-decoration: none
	
	.user-list
		position: relative
		z-index: 1
		width: 100%
		.user-list-inner
			padding: 0 20px
			table.users
				width: 100%
				th.impact, th.rewards, th.rewardees
					text-align: center
				tr
					td.patron, td.creator, td.content
						padding: 20px
						vertical-align: top
					td.patron, td.creator
						width: 220px
						a.avatar, a.name, .impact
							display: block
							float: left
						a.avatar img
							width: 45px
							height: 45px
							border: 2px solid #000
						a.name
							margin-left: 8px
							font-weight: 700
							font-size: 18px
							text-transform: uppercase
							line-height: 18px
							padding-top: 6px
							color: $text_color
							span
								display: block
						.info
							clear: both
							padding-top: 10px
							.tagline, .interests
								font-size: 11px
							.tagline
								margin-bottom: 10px
					td.patron .stats h3
						font-weight: 500
						border-bottom: 1px solid #ccc
						padding-bottom: 3px
						margin-bottom: 3px
						font-size: 11px
						text-transform: uppercase
					td.content
						ul.rewards
							padding: 0
							li.reward
								float: left
								margin-right: 10px
								background: #fff
								.stats
									border-bottom: 1px solid #eee
									padding: 10px 0
									height: 15px
									font-size: 11px
									.this-week, .total
										padding: 0 10px
										float: left
										.amount
											padding-right: 12px
											background: transparent url(../images/icons/starBlackTiny.png) no-repeat 100% 2px
											margin-right: 3px
									.this-week
										border-right: 1px solid #ccc
								.impacter
									padding: 10px
									font-size: 11px
									a.avatar
										display: block
										width: 28px
										height: 28px
										border: 1px solid #000
										float: left
										margin-right: 5px
										img
											width: 28px
											height: 28px
									.text
										h3
											text-transform: uppercase
										.amount
											padding-right: 12px
											background: transparent url(../images/icons/starBlackTiny.png) no-repeat 100% 2px
					td.content-toggler
						border-left: 1px solid #fff
						width: 20px
						background-image: url(../images/icons/tableOpenClose.png)
						background-repeat: no-repeat
						background-position: 50% -47px
				tr.open
					td
						background-color: #e6f9ff
						border-bottom: 1px solid #c2f0ff
					td.creator
						a.avatar img
							border: 2px solid $blue
						a.name
							color: $blue
					td.creator-rewards
						color: $blue
						border-right: 1px solid #c2f0ff
						.count
							background: transparent url(../images/icons/starBlueSmall.png) no-repeat 100% 14px
					td.content-toggler
						background-position: 50% 38px
			table.users.creators tr.user
				cursor: pointer