html, body
	background-color: #222
	color: #aaa

#user-profile
	h1
		color: #fff
	.profile-info
		.metadata
			color: #555
			&:hover
				color: #aaa
		#user-actions a
			background: #333
			color: #666
			&:hover
				background: #aaa

#vertical-list
	.helper
		background-image: url(../images/profile/keyboard-icon-light.png)
	#activity-list li
		.info
			.byline
				color: #555
			p
				color: #555
		.when
			color: #555
		&.current, &:hover
			.info p
				color: #aaa

#vertical-people li .cover
	background-image: url(../images/profile/avatar-cover-60-dark.png)