.deposits
	form
		margin-top: 1em
		padding: 1em
		background-color: $background_color - #101010
		h3
			border-bottom: $border_type
			padding-bottom: 0.5em
			margin-bottom: 0.5em
			font-size: 1.2em