#discovery #container
	background: #222 url(../images/wood.jpg) repeat 50% 0
	@include bgcover

#discovery-page
	padding: 30px
	width: 1000px
	margin: 30px auto
	background: #fff
	box-shadow: 0 0 2px rgba(0,0,0,0.8)
	
	section
		@include clearfix
		width: 100%
		border-top: 1px solid #ccc
		padding-top: 20px
		h3
			font-size: 16px
			text-transform: uppercase
			margin-bottom: 10px
			a
				color: $text_color
		p.description
			margin: 0 0 15px
			line-height: 1.3em
			color: #777
		.side-description
			float: left
			width: 245px
			margin-right: 20px
			overflow: hidden
		.top-description
			margin-bottom: 20px
				

#discovery-nav
	ul
		height: 22px
		padding-bottom: 20px
		margin-bottom: 0
		li
			float: left
			margin-right: 30px
			a
				color: $text_color
				font-size: 13px
				font-weight: 700
				color: #888
				text-transform: uppercase
				@include rounded(20px)
				padding: 5px 12px 3px
			a:hover
				color: #555
				background: #f5f5f5
			a.active
				color: #000
				background: #e5e5e5
				box-shadow: 0 0 3px rgba(0,0,0,0.2) inset
	hr
		border: 0
		height: 1px
		background: #fff
		margin: 0 0 20px

.content-thumbnail-list > li
	width: 229px
	display: inline-block
	vertical-align: top
	margin: 0 20px 40px 0
	position: relative
	&:last-child
		margin-right: 0
	.content-info
		&:hover .synopsis
			display: block
		a.thumbnail
			display: block
			width: 220px
			height: 137.5px
			background: #fff
			padding: 3px
			border: 1px solid #ccc
			margin-bottom: 5px
			box-shadow: 0 0 2px rgba(0,0,0,0.2)
			img
				width: 220px
				height: 137.5px
		a.title
			font-size: 13px
			font-weight: 700
			padding: 2px 0 5px
			display: block
		.synopsis
			font-size: 11px
			display: none
			position: absolute
			top: 4px
			left: 4px
			width: 210px
			height: 127.5px
			padding: 5px
			background: #fff
			color: $text_color
			.text
				margin-bottom: 10px
			.tags
				color: #777
				padding-left: 15px
				background: transparent url(../images/icons/tag.png) no-repeat 0 2px
	.byline
		height: 30px
		a.avatar
			display: block
			width: 30px
			height: 30px
			float: left
			margin-right: 5px
			img
				width: 30px
				height: 30px
		a.name
			display: block
			color: $text_color
			padding: 8px 0 0 3px
			font-size: 11px
			color: #777

.person-focused-list > li
	width: 229px
	display: inline-block
	vertical-align: top
	margin: 0 20px 40px 0
	position: relative
	&:last-child
		margin-right: 0
	.info
		margin-left: 110px
		height: 110px
	.avatar
		display: block
		width: 90px
		height: 90px
		padding: 3px
		background: #fff
		border: 1px solid #ddd
		position: absolute
		top: 0
		left: 0
		img
			width: 90px
			height: 90px
	.name
		font-size: 18px
		font-weight: 700
		line-height: 20px
		text-transform: uppercase
		padding-top: 5px
		margin-bottom: 10px
		display: block
		span
			display: block
	.quote
		font-size: 11px
	.occupation, .location
		font-size: 11px
		padding-left: 16px
		background: transparent url(../images/icons/briefcase.png) no-repeat 0 -1px
	.location
		background-image: url(../images/icons/location.png)

.user-rewards-list
	border-top: 1px dashed #ddd
	.title
		font-size: 11px
		text-transform: uppercase
		color: #777
		padding: 5px 0
		span.reward-count
			padding-right: 12px
			background: transparent url(../images/icons/starGreyTiny.png) no-repeat 100% 2px
	li
		width: 30px
		height: 30px
		float: left
		margin-right: 5px
		&:last-child
			margin: 0
		.avatar
			display: block
			width: 30px
			height: 30px
			img
				width: 30px
				height: 30px

#discovery-page .activity-list
	width: 960px
	li
		padding: 20px 0
		&:last-child
			border: none
		.left-side, .right-side
			top: 20px

.top-list > li
	.count
		.number
			font-family: $numerals
			font-size: 26px
			font-weight: 300
			padding-right: 3px