#discovery-banner
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	text-align: left
	width: 950px
	font-weight: 300
	box-shadow: none
	padding: 0
	background: 0
	margin: 30px auto 35px
	strong
		display: block
		font-weight: 700

#discovery-summary
	width: 950px
	
	#discovery-grid
		li
			background: #fff
			width: 450px
			height: 345px
			padding: 0
			@include rounded
			a.thumbnail
				margin-bottom: 4px
				border: none
				width: 450px
				height: 300px
				img.preview
					width: 450px
					height: 300px
					box-shadow: 0 1px 0 rgba(255,255,255,1) inset
				.media-type
					width: 450px
					height: 300px
			a.thumbnail, a.thumbnail img
				-webkit-border-top-left-radius: 5px
				-webkit-border-top-right-radius: 5px
				-moz-border-radius-topleft: 5px
				-moz-border-radius-topright: 5px
				border-top-left-radius: 5px
				border-top-right-radius: 5px
			.title
				padding-top: 9px
				font-size: 13px
				margin-left: 10px
				font-weight: 700
				width: auto
				font-family: $block
				margin-right: 5px
				display: none
			.author, .type
				display: block
				float: left
				font-size: 13px
				padding-top: 10px
			.author
				color: #333
				margin: 0 5px 0 15px
				font-weight: 700
			.type
				color: #777
			.rewards
				margin-right: 10px
				.amount
					font-size: 18px
					.dollar
						font-size: 12px
						margin-right: -4px
		a.hover
			