#discovery
	padding: 30px
	
	section
		margin-bottom: 30px
		h3
			font-family: atrament-web-1, atrament-web-2, sans-serif
			text-transform: uppercase
			font-size: 24px
			font-weight: 500
			letter-spacing: 0.04em
			padding-bottom: 5px
			border-bottom: 1px solid #ccc
			margin-bottom: 10px
		ul.section-list
			@include clearfix
			width: 100%

.content-thumbnail-list li
	.content-info
		position: relative
		padding: 2px 0 2px 105px
		height: 62px
		width: 45%
		float: left
		margin-right: 30px
		a.thumbnail
			display: block
			width: 95px
			height: 60px
			position: absolute
			top: 0
			left: 0
			border: 1px solid #ddd
		a.title
			font-weight: 700
			padding-bottom: 3px
			a
				color: $text_color
				font-weight: 700
				&:hover
					color: $blue
	.user-rewards-with-comments
		float: left
		width: 40%

.user-rewards-with-comments li
	margin-right: 30px
	position: relative
	padding-left: 40px
	font-size: 11px
	.avatar
		display: block
		width: 30px
		height: 30px
		position: absolute
		top: 0
		left: 0
		img
			width: 30px
			height: 30px
	.comment
		color: #777
		margin: 0