/* Errors */
#error-explanation
	background-color: #F5D4D4
	@include rounded
	padding: 10px
	color: #280909
	margin-bottom: 10px
	h3
		font-size: 18px
		border-bottom: 1px dotted #280909
		margin-bottom: 5px
		padding-bottom: 5px
	li
		padding: 3px 0
form
	.field_with_errors
		input[type="text"], textarea
			background-color: #f5d4d4
			border: 2px solid #db6666