#faq-pitch
	.characters
		width: 1008px
		height: 290px
		margin: 20px 0 50px -58px
		background: transparent url(../images/splashCharacters.png) no-repeat 0 0
	.byline
		width: 900px
		margin: 30px auto 0
		text-align: center
		h1
			font-family: $block
			font-size: 33px
			font-weight: 700
			text-transform: uppercase
			text-shadow: $background_color -1px 1px 0, $purple -2px 2px 0
			margin-bottom: 5px
	ul.questions
		height: 440px
		margin: 10px 0 40px
		li
			float: left
			width: 100%
			img
				display: block
				margin: 0 auto
				width: 220px
				height: 200px
			h3
				font-size: 18px
				text-transform: uppercase
				color: #000000
				vertical-align: middle
				margin: 30px auto
				width: 900px
				height: 60px
				text-align: center
				padding-bottom: 9px
				background: transparent url(../images/faqCurlShadow.png) no-repeat 50% 100%
				span
					display: block
					background-color: #fff
					height: 60px
					line-height: 60px
			h4
				font-family: $typewriter
				color: $purple
				font-size: 18px
				font-weight: 100
				width: 900px
				margin: 0 auto
				text-align: left
			p
				text-align: left