/* Flash notices */
#flash 
	width: 100%
	margin: 10px auto
	text-align: center
	color: black
	font-weight: bold
	text-shadow: 0 1px 1px #fff
	div
		padding: 5px 0
	.notice
		background-color: $lightgreen
		color: $buttongreen
	.alert
		background-color: $lightred
		color: $red