/* Flash notices */
#flash 
	width: 100%
	margin: 0px auto
	text-align: center
	color: black
	font-weight: 900
	text-transform: uppercase
	font-size: 14px
	div
		padding: 10px 0 7px
	.notice
		background-color: $lightgreen
		color: $buttongreen
	.alert
		background-color: $lightred
		color: $red