/* Flash notices */
#flash 
	width: 960px
	margin: 10px auto
	text-align: center
	color: black
	font-weight: bold
	text-shadow: 0 1px 1px white
	div
		padding: 5px 0
		@include rounded
	.notice
		background-color: #eaf5e9
		color: #006702
		border: 1px solid #bdd7bc
	.alert
		background-color: #f5dbda
		color: #990402
		border: 1px solid #d1b2b2