.flipbook
	width: 950px
	height: 400px
	-webkit-box-shadow: 3px 3px 5px #BBBBBB
	-moz-box-shadow: 3px 3px 5px #BBBBBB
	box-shadow: 3px 3px 5px #BBBBBB
	margin-bottom: 20px
	overflow: hidden
	.flipstrip
		width: 500%
		.slide
			height: 400px
			float: left
			.flipleft
				float: left
				width: 270px
				height: 370px
				text-align: right
				padding: 15px
				h1
					font-family: $block
					font-size: 30px
					font-weight: 900
					text-transform: uppercase
					margin-bottom: 0
					letter-spacing: .5px
				h2
					font-family: $serif
					font-style: italic
					text-transform: none
					background-color: transparent
					color: white
					font-size: 12px
					padding: 0px
					padding: 0 0 20px 60px
					letter-spacing: .3px
					font-weight: 100
					background: url("../images/simpleDotBGWhite.png") repeat-x scroll 50% 100% transparent
				p
					font-family: $block
					font-size: 11px
					font-weight: 100
					line-height: 18px
				hr
					width:  60px
					height:  2px
					background-color: white
			.blue
				background-color: $blue
				color: white
			.purple
				background-color: $purple
				color: white
			.red
				background-color: $red
				color: white
			.green
				background-color: $green
				color: white
			.flipright
				float: right
				width: 650px
				background-color: white
				height: 400px