/* Form styles */

form, .form
	li
		margin-bottom: 2em
		clear: both
		span
			display: inline-block
			height: 3em
			label
				margin-left: 0.3em
				font-size: 0.9em
				font-weight: normal
				padding-top: 2px
				float: none
				margin-top: 0
	label
		display: block
		padding: 0 5px 0px 3px
		font-weight: 900
		line-height: 20px
		color: #bbb
		text-shadow: 0 1px 1px #fff
		float: left
		font-size: 14px
		text-transform: uppercase
		width: 100%
		margin-top: 10px
		.instructions
			font-family: $serif
			font-style: italic
			font-size: 12px
			color: #cacaca
			text-transform: lowercase
			font-weight: 100
			height: auto
			padding-left: 5px
			vertical-align: 1px
	input[type="text"], input[type="password"], textarea
		padding: 7px
		font-size: 12px
		border: 1px solid #ccc
		background-color: #fff
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		-o-border-radius: 4px
		border-radius: 4px
	input[type="file"]
		padding: 5px
		font-size: 1.2em
		border: 1px solid #ccc
		background-color: #fff
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		-o-border-radius: 4px
		border-radius: 4px
	input[type="text"]:focus, input[type="password"]:focus
		outline: none
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
	textarea
		resize: none
	.example
		font-size: 0.9em
		color: #888
		padding-left: 3px
		padding-bottom: 16px
		margin-top: 10px
		border-bottom: 1px solid #dedede
	.side
		float: left
		margin: 0 20px 20px 0
	.button_to
		margin: 0 0 10px
	.skinny
		width: 80px

input[type="submit"], a.button
	position: relative
	padding: 8px 10px 5px
	line-height: 1
	border: none
	cursor: pointer
	background-color: $lightblue
	@include rounded(4px)
	color: $blue
	font-weight: 900
	text-transform: uppercase
	font-family: $block
input[type="submit"]:active, a.button:active
	top: 1px
label[for="user_remember_me"]
	display: inline-block
	line-height: 12px
	width: auto