/* Form styles */

form, .form
	li
		margin-bottom: 2em
		clear: both
		span
			display: inline-block
			height: 4em
			label
				margin-left: 0.3em
				font-size: 0.9em
				font-weight: normal
				padding-top: 2px
	label
		display: block
		padding: 0 5px 3px 3px
		font-weight: 900
		line-height: 31px
		color: $blue
		text-shadow: 0 1px 1px #fff
		float: left
		font-size: 26px
		text-transform: uppercase
	input[type="text"], input[type="password"], textarea
		padding: 5px
		font-size: 1.2em
		border: 1px solid #ccc
		background-color: #fff
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		-o-border-radius: 4px
		border-radius: 4px
	input[type="text"]:focus, input[type="password"]:focus
		outline: none
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
	textarea
		resize: none
	.example
		font-size: 0.9em
		color: #888
		padding-left: 3px
		padding-bottom: 16px
		margin-top: 10px
		border-bottom: 1px solid #dedede
	.side
		float: left
		margin: 0 20px 20px 0
	.button_to
		margin: 0 0 10px
	.skinny
		width: 80px

input[type="submit"], a.button
	position: relative
	padding: 8px 15px
	font-weight: bold
	line-height: 1
	font-size: 11px
	color: #222
	border: none
	background-color: #ccc
	cursor: pointer
input[type="submit"]:active, a.button:active
	top: 1px
label[for="user_remember_me"]
	display: inline-block