/* Form styles */

form
	li
		padding: 5px 0
		clear: both
	label
		display: block
		padding-bottom: 5px
		font-weight: bold
		line-height: 1.4
		color: #444
		color: rgba(0, 0, 0, 0.8)
		text-shadow: 0 1px 1px #fff
	input[type="text"], input[type="password"], textarea
		padding: 5px
		font-size: 1.2em
		border: 2px solid #ccc
		background-color: #fff
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		-o-border-radius: 4px
		border-radius: 4px
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus
		outline: none
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
	input[type="submit"]
		position: relative
		padding: 8px 15px
		font-weight: bold
		line-height: 1
		color: #222
		border: none
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85)
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb))
		background-image: -moz-linear-gradient(0% 100% 90deg, #bbb, #fff)
		background-color: #fff
		-webkit-border-radius: 23px
		-moz-border-radius: 23px
		-o-border-radius: 23px
		border-radius: 23px
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
		cursor: pointer
	input[type="submit"]:active
		top: 1px
		-webkit-box-shadow: 0 1px 2px #fff
		-moz-box-shadow: 0 1px 2px #fff
		box-shadow: 0 1px 2px #fff

form
	.side
		float: left
		margin: 0 20px 20px 0
form.button_to
	margin: 0 0 10px
label[for="user_remember_me"]
	display: inline-block