.homepage
	.tagline
		margin: 5px 0 20px
		height: 45px
		h1
			font-family: $block
			font-size: 25px
			font-weight: 900
			text-transform: uppercase
			margin: 0
			line-height: 1em
			float: left
		h3
			font-size: 12px
			font-weight: 100
			float: right
			width: 500px
		a
			font-weight: 700
	section
		clear: both
	.lists
		ul.stories, ul.users
			min-height: 300px
	.home-tabs
		height: 40px
		background: #eaeaea
		margin-bottom: 20px
		clear: both
		a
			display: block
			float: left
			height: 40px
			line-height: 41px
			vertical-align: middle
			padding: 0 15px
			font-family: $block
			font-weight: 700
			font-size: 1.1em
			text-transform: uppercase
			color: #555
			border-right: 1px solid #ccc
		a.active
			background: #ffffff
			color: #989898
			box-shadow: inset 0 1px 6px #BBB
			-moz-box-shadow: inset 0 1px 6px #BBB
			-webkit-box-shadow: inset 0 1px 6px #BBB
		div.pagination
			float: right
			margin-right: 10px
			nav
				.page, .first, .last
					display: none
				.next a, .prev a
					display: block
					width: 17px
					height: 17px
					margin: 11px 5px
					padding: 0
					background: transparent url(../images/paginationLeft.png) no-repeat
					text-indent: -9999px
					border: none
				.next a
					background: transparent url(../images/paginationRight.png) no-repeat

.how-to-follow
	h1
		text-align: center
		font-weight: 700
		font-size: 18px
		margin: 40px 0
		letter-spacing: -0.03em
	ul
		max-width: 900px
		margin: 0 auto
		li
			width: 33%
			float: left
			padding-top: 85px
			background-position: 50% 0
			background-repeat: no-repeat
			a
				padding: 10px
				background: #000
				color: #fff
				font-size: 12px
				font-weight: 700
				text-align: center
				@include rounded(3px)
				display: block
				width: 160px
				margin: 0 auto
			p
				color: #7e7e7e
				font-style: italic
				width: 175px
				margin: 10px auto 0
				font-size: 11px
				text-align: center
		li.global
			background-image: url(../images/globeLarge.png)
		li.search
			background-image: url(../images/searchLarge.png)
		li.recommended
			background-image: url(../images/thumbsUpLarge.png)

.adverts
	margin-bottom: 20px
	padding-top: 30px
	div.advert
		float: left
		height: 165px
		img.medium
			width: 465px
			height: 165px
	div:first-child
		margin-right: 20px

.beta
	padding-bottom: 30px
	.characters
		width: 1008px
		height: 290px
		margin: 20px 0 50px -58px
		background: transparent url(../images/splashCharacters.png) no-repeat 0 0
	h1
		text-transform: uppercase
		font-size: 32px
		font-weight: 900
		letter-spacing: -0.02em
		margin-bottom: 4px
		text-align: center
	p.explanation
		font-family: $typewriter
		font-size: 18px
		font-weight: 100
		line-height: 1.5em
		color: $blue
		margin: 0
		text-align: justify
	
	.email-list
		margin: 50px auto 0
		width: 400px
		p
			font-family: $typewriter
			font-style: italic
			font-size: 12px
			font-weight: 100
			color: #999
			text-align: center
			line-height: 1.5em
		form
			width: 325px
			margin: 0 auto
			text-align: center
			input[type="text"]
				width: 300px
				height: 36px
				padding: 0 10px
			input[type="submit"]
				width: 100px
				height: 38px
				position: relative
				display: block
				float: right
				border: 1px solid #88dffe
				top: -38px
				right: 0
				background-color: $lightblue
				@include rounded(4px)
				color: $blue
				font-weight: 900
				text-transform: uppercase
				font-family: $block
				font-size: 14px
				-webkit-border-top-left-radius: 0
				-webkit-border-bottom-left-radius: 0
				-moz-border-radius-topleft: 0
				-moz-border-radius-bottomleft: 0
				border-top-left-radius: 0
				border-bottom-left-radius: 0