h2
	background: none repeat scroll 0 0 #EAEAEA
	color: #B2B2B2
	font-family: $block
	font-size: 13px
	font-weight: 700
	padding: 11px 13px 9px
	text-transform: uppercase
	clear: both

.homepage section
	clear: both

.beta
	.important, .copy
		font-family: $typewriter
		font-size: 1.1em
	.important
		font-weight: 700
		font-style: italic
				
	h2
		background: none
		color: #000
		font-size: 26px
		padding: 0
		margin: 0 0 10px
	form
		input[type="text"], input[type="password"]
			width: 216px
		input[type="submit"]
			color: #000
			text-shadow: none
			font-size: 16px
		span
			input[type="text"], input[type="password"]
				width: 100px
			label
				color: #aaa
		li
			margin-bottom: 10px
	
	.shots, .join, .login
		float: left
		width: 286px
		margin-top: 20px

	.join
		background: transparent url(../images/simpleDotBGgreyVertical.png) repeat-y 100% 0
		padding-right: 45px
		input[type="submit"]
			background-color: #a9d300
		.inner
			background: transparent url(../images/simpleDotBGgreyVertical.png) repeat-y 0 0
			padding-left: 45px
	.login
		float: right
		padding-left: 45px
		input[type="submit"]
			background-color: #31afff
	
	.email-list
		margin-top: 60px
		input[type="submit"]
			margin-top: 10px
			background-color: #ff1345