h2
	background: none repeat scroll 0 0 #EAEAEA
	color: #B2B2B2
	font-family: $block
	font-size: 13px
	font-weight: 700
	padding: 11px 13px 9px
	text-transform: uppercase
	clear: both

ul.stories
	li.story
		background-color: white
		float: left
		height: 300px
		margin-bottom: 25px
		margin-right: 25px
		width: 300px
		-moz-box-shadow: 3px 3px 5px #BBBBBB

	li.story.third
		margin-right: 0px

	a.thumbnail img
		margin: 5px

	.title a
		color: black
		font-family: $block
		font-size: 12px
		font-weight: 700
		letter-spacing: 0.2px
		line-height: 15px
		margin: 0 10px

	.author
		color: black
		font-family: $serif
		font-style: italic
		border-bottom: 1px dotted black
		font-size: 11px
		letter-spacing: .3px
		line-height: 20px
		margin: 0 10px
		padding-bottom: 4px
		a
			color: #00aeef

	.recommendations
		float: right
		margin-right: 10px

	.excerpt
		font-family: $block
		font-weight: 100
		font-size: 11px
		margin: 10px
		line-height: 15px
		height: 45px
		width: 250px
		overflow: hidden