#join-login-modal
	display: none
	position: fixed
	top: 0
	z-index: 999
	text-shadow: none
	font-family: $block
	color: #fff
	width: 100%
	height: 100%
	.cover
		width: 100%
		height: 100%
		background: transparent url(../images/modalCover.png) repeat
		position: absolute
		z-index: 1
	.padder
		width: 550px
		margin: 0 auto
		background-color: rgba(0,0,0,0.15)
		padding: 9px
		position: relative
		top: -9px
		z-index: 2
	.insides
		background: #000 url(../images/logoWhite.png) no-repeat 20px 20px
		padding: 70px 20px 20px
		.copy
			background: transparent url(../images/simpleDotBGgrey.png) repeat-x 0 100%
			padding-bottom: 10px
			margin-bottom: 10px
			h3
				font-size: 15px
			p
				margin: 12px 0 10px
				font-size: 11px
		.forms
			h2
				background: none
				color: #fff
				font-size: 30px
				padding: 0
				margin: 0 0 10px
			form
				label
					text-shadow: none
					color: #fff
				input[type="text"], input[type="password"]
					width: 216px
				input[type="submit"]
					color: #000
					text-shadow: none
					font-size: 16px
				span
					input[type="text"], input[type="password"]
						width: 100px
					label
						color: #aaa
				li
					margin-bottom: 10px
			.join, .login
				width: 246px
			.join
				float: left
				background: transparent url(../images/simpleDotBGgreyVertical.png) repeat-y 100% 0
				margin-right: 18px
				input[type="submit"]
					background-color: #a9d300
			.login
				float: right
				input[type="submit"]
					background-color: #31afff