#landing
	width: 100%
	height: 100%
	font-family: $numerals
	font-weight: 200
	position: fixed
	
	#background
		background: #d1cecb url(https://momeant-production.s3.amazonaws.com/assets/barn-door-optimal.jpg) no-repeat 50% 50% fixed
		@include bgcover
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 1
	
	ul#letter	
		width: 100%
		height: 100%
		overflow-y: auto
		position: relative
		z-index: 2
		li.page
			width: 100%
			height: 100%
			position: relative
			div.inner
				background: $blue
				width: 790px
				height: 400px
				position: absolute
				top: 50%
				left: 50%
				margin: -300px 0 0 -395px
				color: #fff
				text-transform: uppercase
				font-size: 35px
				strong
					font-weight: 200
					color: #000
					display: inline
				.padded
					padding: 40px
				span
					display: block
					margin-bottom: 1em
				.join
					margin-top: 1em
					text-align: center
					a
						padding: 20px
						background: #fff
						color: #000
						@include rounded(10px)
						font-size: 20px
						font-family: $typewriter
						font-weight: 700
			#internet
				font-size: 100px
				line-height: 85px
				span
					margin-bottom: 0
			#rewarded
				ul.rewards
					padding-top: 0
					li.reward
						float: left
						font-size: 12px
						font-family: $block
						text-transform: none
						margin-right: 10px
						span
							display: inline
							margin: 0
						span.reward
							margin-right: 5px
					li.reward:last-child
						margin: 0
				.join
					clear: both
					padding-top: 1em
		a.next, a.top-link
			position: absolute
			top: 72%
			left: 50%
			width: 150px
			height: 75px
			margin-left: -100px
			padding: 20px 25px 30px
			@include rounded(10px)
			background: #fff url(../images/arrowDownWhite.png) no-repeat 50% 80px
			background: rgba(0,0,0,0.75) url(../images/arrowDownWhite.png) no-repeat 50% 80px
			color: #fff
			font-size: 17px
			text-transform: uppercase
			text-align: center
			cursor: pointer
		a.next:hover, a.top-link:hover
			background-color: rgba(0,0,0,1)
		a.top-link
			background-image: url(../images/arrowUpWhite.png)
			background-position: 50% 13px
			padding: 55px 25px 0
			height: 70px
		
	#guide
		display: none
		margin-top: 40px
		height: 115px
		padding-bottom: 30px
		a
			color: $text_color
			border-bottom: 1px solid #bbb
			display: block
			float: left
			width: 300px
			padding: 20px
			background-color: #ebe7e4
			@include rounded(3px)
			h3
				display: inline-block
				padding-right: 25px
				background: transparent url(../images/whiteArrowRight.png) no-repeat 100% 1px
			p
				margin: 10px 0 0
				text-shadow: 0 1px 0 #fff
		a:first-child
			margin-right: 30px
		a:hover
			background: #fff