body#home.index #main
  max-width: 100%
  background: #f0f0f0

.landing-issue

  section
    width: 900px
    margin: 0 auto
    clear: both
    padding-top: 50px
    
  .padded
    padding: 3px
    background: #fff
    @include rounded(3px)
    @include boxshadow(2px,0.3,1px,1px)
  
  .comments
    width: 100%
    height: 83px
    position: absolute
    bottom: 3px
    left: 3px
    background: transparent url(../images/landing/creator-comments-bg.png) no-repeat 50% 0
    padding-top: 17px
    text-align: center
    h3
      font-size: 10px
      text-transform: uppercase
      line-height: 10px
      margin-bottom: 5px
      span
        display: block
    p
      font-family: $typewriter
      font-size: 11px
      font-style: italic
      line-height: 1.1em
      padding: 0 10px
      margin: 0

  #intro
    position: relative
    #header-background
      width: 100%
    #header-title
      position: absolute
      top: 50%
      left: 50%
    #curated-by
      width: 130px
      background: #fff
      position: absolute
      top: 50%
      left: 50%
      h3
        background: yellow
        color: black
        font-size: 11px
        font-weight: 600
        text-transform: uppercase
        padding: 5px
      img
        width: 124px
        height: 124px
        padding: 3px
      h2, p
        padding: 0 8px
        margin: 0 0 5px
      h2
        font-size: 18px
        text-transform: uppercase
        background: none
        margin-top: 4px
      p
        font-size: 12px
        line-height: 1.3em
  
  #what-is-this
    padding-bottom: 50px
    p
      float: left
      margin: 0
    p.first
      width: 30%
      margin-right: 10%
    p.last
      width: 60%
  
  #creators, #quote, #content > ul > li
    border-top: 2px solid #fff
  
  #creators
    margin-bottom: 50px
    li
      width: 230px
      float: left
      margin: 0 30px
      position: relative
      img
        width: 230px
        height: 230px
      .text
        padding: 10px 10px 110px
        position: relative
      a.name
        font-size: 26px
        font-weight: 600
        line-height: 26px
        text-transform: uppercase
        letter-spacing: -0.02em
        margin-bottom: 0
        color: $text_color
        &:hover
          color: $blue
        span
          display: block
      .supporter-count
        position: absolute
        top: 18px
        right: 10px
        padding-right: 32px
        background: transparent url(../images/profile/supporters-large.png) no-repeat 100% 0
        font-family: $numerals
        font-size: 30px
        text-align: right
        line-height: 32px
      .occupation
        color: $blue
        font-size: 12px
        font-style: italic
        margin-bottom: 10px
      .tagline
        font-size: 12px
        line-height: 1.5em
        margin: 0
  
  #quote
    text-align: center
    p, .from
      font-family: $typewriter
      font-style: italic
    p
      font-size: 34px
      font-weight: 300
      line-height: 1.3em
      margin: 0 0 30px
    .from
      font-size: 14px
      .underlined
        text-decoration: underline
    .author
      font-size: 16px
      font-weight: 600
  
  #content
    padding-bottom: 30px
    margin-bottom: 0
  #content > ul > li
    padding-top: 50px
    margin-bottom: 50px
    height: 328px
    .thumbnail
      width: 480px
      height: 320px
      padding: 3px
      background: #fff
      float: left
      margin-right: 20px
    .text
      float: right
      width: 390px
      height: 160px
      padding-bottom: 170px
      position: relative
      .avatar
        float: left
        margin: 0 10px 2px 0
        img
          width: 75px
          height: 75px
      .title, .byline, .synopsis
        display: block
      .title
        font-size: 16px
        font-weight: 600
        text-transform: uppercase
      .byline
        font-size: 12px
        font-style: italic
      .synopsis
        margin-top: 10px
        font-size: 13px
      .comments
        height: 125px
        background-image: url(../images/landing/content-comments-bg.png)
        padding-top: 25px
        h3
          margin-bottom: 10px
        p
          font-size: 13px

#landing-issue-1
  #intro
    min-width: 880px
    #header-title
      margin-top: -203px
      margin-left: -400px
    #curated-by
      margin-top: -160px
      
#landing-page
  overflow: hidden
  background: #f0f0f0
  padding-bottom: 200px
  
  #intro
    background: $blue
    color: #fff
    text-shadow: 1px 1px 0 $blue, 2px 2px 0 #0089ca
    font-size: 34px
    font-weight: 600
    text-align: center
    height: 400px
    overflow: hidden
    
    #slides
      position: relative
      font-size: 27px
      font-weight: 400
      letter-spacing: 0.05em
      #next, #previous
        display: block
        width: 33px
        height: 33px
        background: transparent url(../images/landing/page-arrows.png) no-repeat 0 0
        position: absolute
        top: 188px
        text-indent: 33px
        overflow: hidden
        z-index: 2
        &.inactive
          opacity: 0.2
      #previous
        left: 50%
        margin-left: -470px
      #next
        background-position: -40px 0
        right: 50%
        margin-right: -470px
      ul
        width: 7000px
        @include transition(margin, 0.25s, ease-out)
        li
          float: left
          width: 1000px
          padding-top: 115px
          height: 285px
          position: relative
        li.g
          padding-top: 140px
        p
          margin: 0 0 1.3em
          line-height: 1.3em
      .count
        position: absolute
        bottom: 40px
        left: 0
        width: 100%
        text-align: center
        color: #0096dd
        font-size: 20px
        text-shadow: none
      a#continue-downward
        position: absolute
        top: 248px
        left: 50%
        margin-left: -38px
        width: 76px
        height: 70px
        text-indent: 76px
        overflow: hidden
        background: transparent url(../images/landing/down-arrow.png) no-repeat 50% 70%
        opacity: 0.2
        @include transition(opacity)
        &:hover
          opacity: 1
        
    
  #people
    height: 215px
    padding: 2px
    overflow: hidden
    li, li a, li a img
      width: 50px
      height: 50px
    li
      float: left
      margin: 2px
    a
      display: block
  
  #explanation
    width: 610px
    margin: 100px auto
    padding: 60px
    background: #fff
    font-family: $typewriter
    font-style: italic
    font-size: 20px
    font-weight: 300
  
  #steps
    width: 910px
    height: 250px
    margin: 0 auto 250px
    li
      width: 250px
      margin-right: 80px
      float: left
      &:last-child
        margin-right: 0
        p
          background: none
    p
      margin-bottom: 0
      padding-bottom: 70px
      background: transparent url(../images/landing/hand-drawn-arrow.png) no-repeat 50% 100%
    h2
      background: none
      padding: 80px 0 0
      border-bottom: 1px solid $blue
      margin-bottom: 15px
      font-family: $numerals
      font-size: 40px
      font-weight: 200
      text-align: center
      background: transparent url(../images/landing/step-icons.png) no-repeat 50% 0
    li#exchange h2
      background-position: 50% -165px
    li#support h2
      background-position: 50% -347px
  
  #connect
    text-align: center
    h1
      font-size: 50px
      font-weight: 600
      letter-spacing: -0.02em
      line-height: 50px
      width: 670px
      margin: 0 auto 50px
    a
      font-size: 30px
      font-weight: 600
      text-transform: uppercase
      background: $blue
      color: #fff
      padding: 10px 20px
      @include rounded
      border: 4px solid $blue - #222
      @include transition(background)
      &:hover
        background: $blue - #222