#container
	position: relative
	padding-top: 42px

#main
	max-width: 1367px
	margin: 0 auto

.fullscreen
	position: absolute
	top: 0
	bottom: 0
	width: 100%
	.fullscreen-hidden
		display: none
	#container
		position: static
		margin: 0
		padding: 0
		#main
			width: 100%
			margin: 0
			padding: 0
			top: 0
			right: 0

#footer
	display: none
	position: relative
	margin-top: -51px
	height: 50px
	clear: both
	text-align: center
	.insides
		font-family: $block
		color: #eaeaea
		position: relative
		padding: 18px 0 0
		margin: 0 auto
		width: 950px
		text-transform: uppercase
		letter-spacing: .2px
		font-size: 14px
		font-weight: 900
		.left
			float: left
		.right
			float: right
			a
				text-transform: lowercase
				font-size: 11px
				margin-left: 1px
				color: #bbb
				font-weight: 900
				font-family: $typewriter
				background-color: transparent
				padding: 4px 10px 3px
				-moz-border-radius: 2px
				letter-spacing: .5px
			a:hover
				border-radius: 4px
				color: $blue
				background-color: $lightblue