html, body
	background-color: #fff
	color: #252525

#user-profile
	h1
		color: #000
	.profile-info
		.metadata
			color: #aaa
			&:hover
				color: #555
		#user-actions a
			background: #ddd
			color: #aaa
			&:hover
				background: #555

#vertical-content
	.helper
		background-image: url(../images/profile/keyboard-icon.png)
	#content-list li
		.info
			a.title
				color: #999
			.byline
				color: #aaa
			p
				color: #aaa
		&.current, &:hover
			.info p
				color: #555

#vertical-people li .cover
	background-image: url(../images/profile/avatar-cover-60.png)