body#messages
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 100%
  
  #container
    position: static
    padding: 0
  
  #main
    max-width: 100%
    margin: 0

#messages-page
  
  #sidebar
    position: absolute
    top: 42px
    bottom: 0
    left: 0
    width: 350px
    background: #f0f0f0
    border-right: 1px solid #ddd
    overflow-y: auto
    
    #new-message
      display: block
      text-align: center
      margin: 10px
    
    ul
      border-top: 1px solid #ddd
      border-bottom: 1px solid #fff
    li
      a
        display: block
        padding: 10px 10px 10px 65px
        position: relative
        min-height: 45px
        border-top: 1px solid #fff
        border-bottom: 1px solid #ddd
        @include gradient(#f0f0f0,#e8e8e8)
        color: $text_color
      .avatar
        display: block
        position: absolute
        top: 10px
        left: 10px
      .avatar, .avatar img
        width: 45px
        height: 45px
      .unread
        display: inline-block
        width: 9px
        height: 9px
        background: transparent url(../images/messages/unread-dot.png) no-repeat 0 0
        margin-right: 2px
      .name
        font-weight: 600
      .last-said
        font-size: 13px
      .when
        font-size: 12px
        color: #999
    li.current a
      background: #e0e0e0
      @include gradient(#e0e0e0,#d8d8d8)
      border-top: 1px solid #bbb
      border-bottom: 1px solid #bbb
  
  #main-bar
    position: absolute
    top: 42px
    bottom: 0
    left: 350px
    right: 0
    padding: 40px
    overflow-y: auto
    
  #full-messages li, form#message-reply
    position: relative
    padding-left: 50px
    min-height: 40px
    margin-bottom: 20px
    .avatar
      display: block
      position: absolute
      top: 0
      left: 0
    .avatar, .avatar img
      width: 40px
      height: 40px
    .body p
      line-height: 1em
      margin: 0 0 1em
    .when
      font-size: 12px
      color: #999
      
  form#message-reply, form#new-message-form
    width: 400px
    li
      margin-bottom: 5px
    li.submit
      text-align: right
    input[type="text"]
      @include rounded(0)
    textarea
      width: 400px
      height: 22px
      @include rounded(0)
      &.loading
        background: #fff url(../images/spinner.gif) no-repeat 5px 50%
    .token-input-list-facebook
      li.token-input-input-token-facebook
        margin: 0
      input[type="text"]:focus
        border: none
        @include rounded(0)
  form#new-message-form li
    margin-bottom: 1em