nav.pagination
  text-align: center
  
  span
    display: inline-block
    margin-right: 1px
  
  a
    padding: 4px 8px
    background: #f7f7f7
    color: #666
    border: 1px solid #ddd
    text-shadow: 0 1px 0 #fff
    @include gradient(#fff,#f5f5f5)
    @include boxshadow(1px, 0.15, 0, 1px)
    @include rounded(3px)
    @include transition(color)
  a:hover
    color: $blue
  
  .current, a:active
    padding: 4px 8px
    background: #eee
    border: 1px solid #ddd
    @include boxshadow(2px, 1, 0, 0, 255, 255, 255)
    @include rounded(3px)
  
  .first, .last
    display: none