#fund-rewards
  padding: 20px
  width: 900px
  margin: 30px auto 0
  position: relative
  z-index: 2

  p
    font-size: 1.15em
    line-height: 1.3em
  
  #messaging
    h1
      padding-bottom: 20px
      border-bottom: 1px solid #eee
      margin-bottom: 20px
      &.redo, &.success, &.empty
        padding-left: 35px
        background: transparent url(../images/payments/check.png) no-repeat 0 0
      &.redo
        background-image: url(../images/payments/redo.png)
      &.empty
        background-image: url(../images/payments/arrow.png)
    section
      margin-bottom: 40px
  
  #credit-limit
    p
      padding: 8px 0 0 270px
      background: transparent url(../images/payments/amazon-warning.png) no-repeat 0 0
      height: 80px
  
  #amazon-button
    a
      display: inline-block
      background: #ddffc7 url(../images/payments/amazonLogo.png) no-repeat 96% 11px
      padding: 10px 78px 13px 12px
      font-weight: 700
      font-size: 16px
      box-shadow: 0 -1px 5px rgba(0,0,0,0.2) inset
      @include rounded(3px)
      color: #000
      text-shadow: none
      border: 1px solid #9cd07a
      float: left
    #cards
      width: 240px
      height: 45px
      background: transparent url(../images/payments/cc-icons.png) no-repeat 0 0
      float: left
    p
      display: inline-block
      font-family: $typewriter
      font-size: 1em
      color: #555
      padding: 5px
      background: #ffc
  
  table#rewards
    clear: both
    padding: 30px 0 20px
    td
      height: 65px
      background: none
      padding: 0 0 20px
      border: 0
      .inner
        width: 100%
        height: 65px
        background: #f4f4f4
    td.name .inner
      width: 145px
      height: 35px
      padding: 15px 0 15px 20px
      font-family: $typewriter
      font-size: 16px
      font-style: italic
      line-height: 16px
      span
        display: block
    td.avatar
      a, img
        display: block
        width: 65px
        height: 65px
    td.content
      a, img
        display: block
        width: 103px
        height: 65px
    td.title  .inner
      width: auto
      padding: 14px 20px
      height: 37px
      overflow: hidden
      a
        text-transform: uppercase
    td.comment
      width: 60px
      text-align: center
      img
        margin-top: 25px
        cursor: help
    td.amount
      .inner
        background: #d6d6d6
        width: auto
        height: 54px
        padding: 11px 20px 0 50px
        font-size: 36px
        font-weight: 200
        text-align: right 

#coins-page
  #explanation
    width: 600px
    margin: 50px auto 0
    padding: 40px 40px 20px
    background: #f7f7f7
    border: 1px solid #ccc
    @include rounded(3px)
    @include boxshadow(3px, 0.2)
    h3
      font-size: 1.5em
      margin-bottom: 20px
    p
      margin: 0 0 20px