#pay-for-rewards
	padding: 20px
	
	#messaging
		@include clearfix
		width: 100%
		.avatar
			width: 142px
			height: 142px
			float: left
			margin-right: 20px
		.the-rest
			float: left
			h1
				text-transform: uppercase
				font-weight: 600
				margin-bottom: 5px
			p
				margin: 0
				font-size: 1.4em
				font-weight: 600
				line-height: 1.3em
	
	form
		margin-top: 10px
		background: transparent url(../images/payments/cc-icons.png) no-repeat 100% 0
		width: 470px
		input[type="submit"]
			width: 240px
			background: #fff url(../images/payments/amazonLogo.png) no-repeat 94% 11px
			padding: 10px 76px 13px 12px
			text-transform: none
			font-weight: 700
			font-size: 16px
			box-shadow: 0 -1px 5px rgba(0,0,0,0.2) inset
			color: #000
			text-shadow: none
			border: 1px solid #ccc
	
	table#rewards
		clear: both
		padding: 30px 0 20px
		td
			height: 65px
			background: none
			padding: 0 0 20px
			border: 0
			.inner
				width: 100%
				height: 65px
				background: #fff
		td.name .inner
			width: 145px
			height: 35px
			padding: 15px 0 15px 20px
			background: #fff url(../images/payments/user-dot.png) no-repeat 100% 50%
			font-family: $typewriter
			font-size: 16px
			font-style: italic
			line-height: 16px
			span
				display: block
		td.avatar
			a, img
				display: block
				width: 65px
				height: 65px
		td.content
			a, img
				display: block
				width: 103px
				height: 65px
		td.title	.inner
			width: auto
			padding: 14px 20px
			height: 37px
			overflow: hidden
			a
				text-transform: uppercase
		td.comment
			width: 60px
			text-align: center
			img
				margin-top: 25px
				cursor: help
		td.amount
			.inner
				background: #d6d6d6 url(../images/payments/amount-bg.png) no-repeat 0 0
				width: auto
				height: 54px
				padding: 11px 20px 0 50px
				font-size: 36px
				font-weight: 200
				text-align: right 