#vertical-people
	width: 260px
	li.person
		float: left
		position: relative
		margin: 0 5px 5px 0
		height: 60px
		@include transition(opacity)
		&.first
			float: none
			a
				float: left
				margin-right: 8px
			.text
				padding-top: 12px
		&.dimmed
			opacity: 0.3
		a
			display: block
			width: 60px
			height: 60px

// Going bigger
@media all and (min-width: 1367px)
	#vertical-people
		width: 320px
@media all and (min-width: 1650px)
	#vertical-people
		right: 10%
@media all and (min-width: 2000px)
	#vertical-people
		right: 15%
@media all and (min-width: 2300px)
	#vertical-people
		right: 20%

// Going smaller
@media all and (max-width: 1000px)
	#vertical-people
		width: 220px