#vertical-people
	position: fixed
	top: 82px
	right: 40px
	width: 260px
	li.person
		float: left
		position: relative
		margin: 0 5px 5px 0
		height: 60px
		@include transition(opacity)
		&.first
			float: none
			img
				float: left
				margin-right: 8px
			.text
				padding-top: 12px
		&.dimmed
			opacity: 0.3
		.cover
			display: block
			width: 60px
			height: 60px
			position: absolute
			top: 0
			left: 0
			background: transparent url(../images/profile/avatar-cover-60.png) no-repeat 0 0
			@include notext

// Going bigger
@media all and (min-width: 1367px)
	#vertical-people
		width: 320px
@media all and (min-width: 1650px)
	#vertical-people
		right: 10%
@media all and (min-width: 2000px)
	#vertical-people
		right: 15%
@media all and (min-width: 2300px)
	#vertical-people
		right: 20%

// Going smaller
@media all and (max-width: 1000px)
	#vertical-people
		width: 220px