#vertical-people
	width: 260px
	li.person
		float: left
		position: relative
		margin: 0 5px 5px 0
		height: 60px
		@include transition(opacity)
		img
			width: 60px
			height: 60px
		&.first
			float: none
			a
				float: left
				margin-right: 8px
			.text
				padding-top: 22px
		&.dimmed
			opacity: 0.3
		a
			display: block
			width: 60px
			height: 60px