/* Story viewing */

#presenter
	width: 100%
	height: 100%
	overflow: hidden
	
	#exit-presenter
		position: fixed
		top: 0
		left: 0
		padding: 10px 10px 10px 24px
		background: #fff url(../images/icons/closeSmall.png) no-repeat 7px 12px
		font-weight: 700
		text-transform: uppercase
		color: #000
		@include boxshadow(2px,0.3,0,2px)
		-webkit-border-bottom-right-radius: 5px
		-moz-border-radius-bottomright: 5px
		border-bottom-right-radius: 5px
		z-index: 99
	
	#thumbnail
		display: none
	
	#content-cover
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		display: none
		z-index: 2
		
	#its-you-arrow
		display: none
		position: absolute
		top: 60px
		left: 50%
		margin-left: 405px
		width: 117px
		height: 38px
		background: transparent url(../images/lookItsYou.png) no-repeat 0 0
		z-index: 3
	
	#reward-modal
		height: 550px
		width: 800px
		position: absolute
		top: -550px
		left: 50%
		margin-left: -400px
		background-color: #f4f4f4
		z-index: 3
		@include boxshadow(2px,0.3,0,2px)
		#reward-modal-tab
			position: absolute
			bottom: -39px
			left: 50%
			margin-left: -100px
			-webkit-border-bottom-right-radius: 5px
			-webkit-border-bottom-left-radius: 5px
			-moz-border-radius-bottomright: 5px
			-moz-border-radius-bottomleft: 5px
			border-bottom-right-radius: 5px
			border-bottom-left-radius: 5px
			height: 39px
			border: 1px solid #aaa
			border-top: none
			width: auto
			z-index: 2
			@include boxshadow(2px,0.3,0,2px)
			.inner
				width: auto
				position: relative
				height: 29px
				background: #f4f4f4
				font-weight: 700
				color: #000
				line-height: 13px
				text-transform: uppercase
				padding: 5px 5px 5px 39px
				cursor: pointer
				-webkit-border-bottom-right-radius: 5px
				-webkit-border-bottom-left-radius: 5px
				-moz-border-radius-bottomright: 5px
				-moz-border-radius-bottomleft: 5px
				border-bottom-right-radius: 5px
				border-bottom-left-radius: 5px
			.avatar
				width: 27px
				height: 27px
				border: 1px solid #000
				position: absolute
				top: 5px
				left: 5px
			.text, .rewards
				display: inline-block
			.text
				padding-top: 1px
				span
					display: block
			.rewards
				position: relative
				top: -5px
				width: 20px
				margin-left: 20px
				padding: 10px 10px 0 5px
				height: 20px
				text-indent: -9999px
				background: transparent url(../images/icons/starBlue.png) no-repeat 90% 50%
				
		.modal-inner
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			overflow-y: auto
			border: 1px solid #aaa
			border-top: none

		#your-reward
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 66px
			overflow-y: auto
			z-index: 1
			#toggle-reward-stream
				position: absolute
				background: transparent url(../images/rewardModalToggleStream.png) no-repeat 1px 0
				top: 10px
				right: 0
				text-align: center
				width: 21px
				height: 22px
				cursor: pointer
			
			.inner.loading
				height: 500px
				background: transparent url(../images/spinner.gif) no-repeat 50% 50%
				*
					display: none

			#creator-info
				position: relative
				padding: 20px 20px 20px 90px
				background: #eee
				border-bottom: 1px solid #ccc
				.avatar
					display: block
					width: 50px
					height: 50px
					position: absolute
					left: 20px
					top: 20px
					img
						width: 50px
						height: 50px
				h1
					font-size: 18px
					font-weight: 700
					text-transform: uppercase
					margin-bottom: 0
				.tagline
					font-size: 11px
			
			.section
				width: 390px
				margin: 0 auto 20px
				h3
					font-size: 15px
					text-align: center
					margin-bottom: 20px
					text-shadow: 0 1px 0 #fff
				input[type="text"], textarea
					@include rounded(3px)
					box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff
				textarea
					display: block
					width: 370px
					margin: 0 auto 10px
				input[type="submit"]
					float: right
			
			#reward-box-outer
				padding: 20px
				
				#reward-box
					.alert
						background-color: $lightred
						color: $red
						padding: 5px 10px
						font-weight: 700
						text-transform: uppercase
						margin-bottom: 20px
					.inner
						position: relative

						form#reward-form
							padding-left: 10px
							#stars
								width: 425px
								height: 100px
								li
									width: 90px
									float: left
									clear: none
									a
										display: block
										width: 70px
										height: 70px
										background: transparent url(../images/rewardFormStars.png) no-repeat 0 0
										text-indent: -9999px
									a#one-star.selected
										background-position: 0 -100px
									a#three-star
										background-position: -100px 0
									a#three-star.selected
										background-position: -100px -100px
									a#five-star
										background-position: -200px 0
									a#five-star.selected
										background-position: -200px -100px
								
									input[type="text"]
										float: left
										font-size: 36px
										padding: 15px
										margin-right: 10px
										width: 50px
										text-align: center
									span, strong
										font-size: 10px
										text-transform: uppercase
										letter-spacing: 0.03em
										line-height: 18px
									span
										font-style: italic
							
								li.custom
									width: 150px
							
							#comment
								display: none
								clear: both
								textarea
									height: 50px

				#share
					h3
						float: left
						width: 150px
						text-align: left
					.info
						float: right
						width: 190px
						font-size: 11px
						text-align: right
						padding-bottom: 10px
						strong
							padding-left: 18px
							background: transparent url(../images/icons/impactTiny.png) no-repeat 0 0
					
					#twitter-sharing
						margin-bottom: 50px
						position: relative
						clear: both
						#what-we-add
							position: absolute
							top: 35px
							right: 11px
							color: #777
							font-size: 11px
						#characters-left
							float: left
							color: #999
							font-style: italic
							padding-left: 5px
							.count
								font-weight: 700
								font-style: normal
						input[type="submit"]
							@include gradient(#66dfff,#4ccaff)
							color: #0b2d39
							text-shadow: 0 1px 0 rgba(255,255,255,0.5)
					
					#facebook-sharing
						position: relative
						textarea
							height: 160px
						#facebook-preview
							position: absolute
							top: 60px
							left: 3px
							width: 259px
							border-top: 1px dashed #ccc
							padding: 10px 10px 10px 115px
							font-size: 11px
							.thumbnail
								position: absolute
								top: 10px
								left: 10px
								width: 95px
								height: 60px
							h3
								font-size: 13px
								text-align: left
								margin-bottom: 5px
							.link
								color: #999
							p
								margin: 5px 0 0
								line-height: 13px
						input[type="submit"]
							@include gradient(#6481bd,#455d99)
					
					#twitter-sharing, #facebook-sharing
						.padded
							height: 50px
						.not-configured
							padding-left: 40px
							background: transparent url(../images/icons/twitterSmall.png) no-repeat 0 50%
							margin-top: 30px
							span
								display: block
								margin-bottom: 5px
							a
								background: #66dfff
								padding: 3px 6px
								color: #0b2d39
								@include rounded(3px)
								text-transform: uppercase
					#facebook-sharing .not-configured
						background-image: url(../images/icons/facebookSmall.png)
						margin-top: 0
						a
							background: #6481bd
							color: #fff
							
			#reward-box-outer .not-logged-in
				h2
					background: none
					padding: 0
				ul
					padding-bottom: 20px
					li
						font-family: $numerals
						margin-bottom: 10px
						position: relative
						.number
							font-size: 40px
							text-align: right
							position: absolute
							left: 0
							top: 0
						.text
							font-size: 16px
							line-height: 16px
							padding-top: 10px
							margin-left: 40px
				a
					margin-right: 10px
				a.about
					@include gradient($redgradient1, $redgradient2)
				a.login
					@include gradient($greengradient1, $greengradient2)
			
			.out-of-coins
				h3
					font-size: 20px
					text-transform: uppercase
			
			#not-logged-in
				background: #03a1dc
				color: #fff
				height: 500px
				.creator
					padding: 30px
					font-size: 42px
					font-family: $numerals
					line-height: 36px
					text-transform: uppercase
					height: 68px
					overflow: hidden
					span
						display: block
					.avatar
						display: block
						width: 68px
						height: 68px
						margin-right: 10px
						float: left
						img
							width: 65px
							height: 65px
							border: 3px solid #fff
				.explanation, .buttons
					padding-bottom: 30px
				.explanation .inner, .buttons .inner
					height: 292px
				.explanation .inner
					border-right: 1px solid #00aae7
				.buttons .inner
					border-left: 1px solid #0097d0
				.explanation
					width: 300px
					float: left
					.what-is-momeant
						padding: 0 30px
						font-size: 16px
						letter-spacing: -0.02em
						p
							line-height: 1.4em
							margin: 0 0 20px
						strong
							color: #000
							font-size: 22px
							font-weight: 700
							text-transform: uppercase
							position: relative
							top: 2px
				.buttons
					width: 234px
					float: right
					span.or
						font-size: 40px
						display: block
						padding: 20px 0
						text-align: center
						font-family: $numerals
					a.join, a.login
						display: block
						background: #000
						color: #fff
						@include rounded(3px)
						padding: 17px 0
						width: 160px
						margin: 0 auto
						text-align: center
						text-transform: uppercase
						font-size: 13px
						font-weight: 700
				.links
					clear: both
					background: #f4f4f4
					height: 26px
					padding: 12px 20px
					a
						display: block
						width: 36px
						height: 25px
						float: left
						margin-right: 10px
						text-indent: -9999px
						background-repeat: no-repeat
						background-position: 50% 0
					a.about
						background-image: url(../images/icons/faqBlack.png)
					a.community
						background-image: url(../images/icons/communityBlack.png)
				
		#your-reward.closed
			right: 265px
			#toggle-reward-stream
				background-position: 1px -22px

			#not-logged-in
				.explanation, .buttons
					float: none
					.inner
						border: none
				.explanation .inner
					height: 215px
				.buttons
					width: 300px
					.inner
						height: 47px
						padding-left: 30px
					a
						width: 100px
						font-size: 12px
						float: left
						padding: 10px 0
						width: 80px
						span
							display: none
					span.or
						float: left
						padding: 0 10px
						font-size: 30px
					
			#reward-box .inner
				form#reward-form
					width: 285px
					.amount
						width: 98px
						p
							display: none
					.comment
						width: 273px
						textarea
							width: 257px
						#share
							width: 263px

			#reward-thank-you
				.thank-you .header .who, .thank-you .message .text, .explanation .diagram
					display: none
					
		#reward-list.closed
			width: 65px
		#reward-list
			width: 265px
			position: absolute
			top: 0
			bottom: 0
			right: 0
			z-index: 2
			border-left: 1px solid #ddd
			overflow-y: auto
			overflow-x: hidden
			background: #eee
			.header
				font-size: 14px
				font-weight: 700
				text-transform: uppercase
				color: #fff
				position: absolute
				top: 11px
				left: 59px
			ul
				padding-top: 40px
				background: #111 url(../images/icons/quotesWhite.png) no-repeat 13px 10px
				li
					clear: both
					padding: 5px 5px 5px 55px
					border-top: 1px solid #fff
					border-bottom: 1px solid #ddd
					min-height: 60px
					background: #fff
					position: relative
					.rewarder
						position: absolute
						top: 5px
						left: 5px
						.avatar
							display: block
							width: 38px
							height: 38px
							img
								width: 38px
								height: 38px
								border: 1px solid #cbcbcb
								border-bottom: none
						.amount
							background: #cbcbcb
							padding: 4px 15px 3px 5px
							background: #cbcbcb url(../images/icons/starWhiteTiny.png) no-repeat 27px 7px
							font-weight: 700
							color: #fff
							width: 20px
							text-align: right
							-webkit-border-bottom-right-radius: 3px
							-webkit-border-bottom-left-radius: 3px
							-moz-border-radius-bottomright: 3px
							-moz-border-radius-bottomleft: 3px
							border-bottom-right-radius: 3px
							border-bottom-left-radius: 3px
					.comment
						font-size: 11px
						padding: 5px 0
						width: 185px
						line-height: 12px
						margin-bottom: 5px
						min-height: 30px
						.name
							text-transform: uppercase
							font-weight: 700
							font-size: 10px
					.when
						font-size: 10px
						color: #ccc
						text-align: right
				li.highlighted
					background: #fffaba
				li#new-reward
					display: none
					.rewarder
						.avatar img
							border-color: #ffa800
						.amount
							background-color: #ffa800
		#reward-list.closed
			.header
				display: none
			li
				width: 44px
				background: #eee
				.rewarder
					height: 45px
				.comment, .when
					display: none
		
		#reward-thank-you
			.thank-you
				background: #e3e3e3
				padding: 30px
				height: 150px
				.header
					height: 40px
					margin-bottom: 20px
					text-transform: uppercase
					h1
						font-size: 40px
						font-family: $numerals
						float: left
						margin: -8px 10px 0 0
					.who
						font-size: 17px
						font-weight: 700
						line-height: 17px
						float: left
						span
							display: block
				.message
					clear: both
					.creator
						border: 3px solid $blue
						margin-right: 10px
						float: left
						.avatar
							display: block
							width: 70px
							height: 70px
							img
								width: 70px
								height: 70px
						.rewards
							background: $blue
							color: #fff
							text-align: center
							padding: 5px 0 0
							span
								background: transparent url(../images/icons/starWhiteSmall.png) no-repeat 100% 0
								padding-right: 20px
								font-weight: 700
					.text
						background: transparent url(../images/rewardModalThankYouMessageBG.png) no-repeat 0 0
						width: 345px
						padding: 15px 15px 15px 25px
						float: left
						font-size: 11px
						max-height: 60px
						overflow: hidden
			.explanation
				height: 240px
				background: $blue
				padding: 25px 0 25px 30px
				.text
					width: 140px
					float: left
					color: #fff
					margin-right: 20px
					h2
						font-size: 18px
						font-weight: 700
						color: #000
						text-transform: uppercase
						background: none
						line-height: 30px
						padding: 0
						margin-bottom: 10px
						span
							letter-spacing: -0.03em
						strong
							font-size: 40px
							font-family: $numerals
							color: #fff
					p
						font-size: 11px
						margin: 0
				.diagram
					float: left
					width: 319px
					height: 220px
					background: transparent url(../images/rewardModalImpactDiagram.png) no-repeat 0 0
					position: relative
					.avatar
						position: absolute
						top: 21px
						left: 141px
						width: 33px
						height: 33px
	
	.content
		z-index: 1
	
	#metadata
		position: absolute
		left: 0
		bottom: 0
		z-index: 5
		width: 100%
		height: 35px
		.info
			display: none
			float: left
			margin-left: 10px
			.title, .author
				line-height: 35px
				vertical-align: middle
				float: left
				font-weight: 700
			.title
				color: #fff
				text-transform: uppercase
				font-size: 18px
			.author
				color: #555
				margin-left: 5px
				font-size: 16px
			.excerpt
				float: left
				width: 30px
				height: 30px
				margin-left: 10px
				background: transparent url(../images/storyShowSynopsis.png) no-repeat 50% 4px
				position: relative
				cursor: help
				.full
					width: 200px
					padding: 8px
					background-color: #000
					color: #fff
					position: absolute
					bottom: 35px
					left: -90px
					opacity: 0.9
					display: none
					@include rounded(3px)
			.excerpt:hover .full
				display: block
		.pages
			background: rgba(0,0,0,0.75)
			float: right
			height: 15px
			margin: 10px 20px 0 0
			padding: 5px 15px 5px 10px
			-webkit-border-top-left-radius: 3px
			-webkit-border-top-right-radius: 3px
			-moz-border-radius-topleft: 3px
			-moz-border-radius-topright: 3px
			border-top-left-radius: 3px
			border-top-right-radius: 3px
			a
				font-size: 10px
				margin-left: 5px
				color: #fff
			a.selected
				color: $link_color

	ul#pages
		width: 100%
		position: absolute
		top: 0
		bottom: 0
		z-index: 1
		li
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			overflow-y: auto
			text-shadow: none
			.number
				display: none
		li.title
			@include titleSlideFullsize
		li.full_image
			@include fullimageSlideFullsize
		li.pullquote
			@include blockquoteSlideFullsize
		li.video
			@include videoSlideFullsize
		li.split
			@include splitSlideFullsize
		li.grid
			@include gridSlideFullsize
		li.external
			@include externalSlideFullsize
	#previous-page, #next-page
		display: none
		width: 100px
		height: 140px
		position: absolute
		top: 50%
		margin-top: -70px
		z-index: 3
		opacity: 0.4
		-webkit-transition: opacity linear 0.2s
		-moz-transition: opacity linear 0.2s
		.button
			text-indent: -9999px
			background: transparent url(../images/next-previous-arrows.png) no-repeat 0 0
			cursor: pointer
			width: 100px
			height: 140px
	#previous-page:hover, #next-page:hover
		opacity: 1
	#previous-page
		left: 0
		.button
			left: 0
	#next-page
		right: 0
		.button
			background-position: -138px 0