/* Story viewing */

#presenter
	width: 100%
	height: 100%
	overflow: hidden
	
	#exit-presenter
		position: fixed
		top: 0
		left: 0
		padding: 10px 10px 10px 24px
		background: #fff url(../images/icons/closeSmall.png) no-repeat 7px 12px
		font-weight: 700
		text-transform: uppercase
		color: #000
		@include boxshadow(2px,0.3,0,2px)
		-webkit-border-bottom-right-radius: 5px
		-moz-border-radius-bottomright: 5px
		border-bottom-right-radius: 5px
		z-index: 99
	#mini-nav
		position: fixed
		top: -46px
		left: 70px
		background: #000
		width: 100px
		height: 42px
		z-index: 99
		-webkit-border-bottom-right-radius: 5px
		-moz-border-radius-bottomright: 5px
		border-bottom-right-radius: 5px
		-webkit-border-bottom-left-radius: 5px
		-moz-border-radius-bottomleft: 5px
		border-bottom-left-radius: 5px
		@include boxshadow(2px,0.3,0,2px)
		a
			display: block
			width: 46px
			height: 42px
			float: left
			text-indent: -9999px
			background: transparent url(../images/icons/momeantHomeWhite.png) no-repeat 50% 6px
		a#community-link
			background-image: url(../images/icons/activityNav.png)
			background-position: 50% 7px
			
	
	#thumbnail
		display: none
	
	#content-cover
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		display: none
		z-index: 2
		
	#its-you-arrow
		display: none
		position: absolute
		top: 60px
		left: 50%
		margin-left: 405px
		width: 117px
		height: 38px
		background: transparent url(../images/lookItsYou.png) no-repeat 0 0
		z-index: 3
	
	#reward-modal
		height: 550px
		width: 800px
		position: absolute
		top: -550px
		left: 50%
		margin-left: -400px
		background-color: #f5f2eb
		z-index: 3
		@include boxshadow(2px,0.3,0,1px)
		#reward-modal-tab
			position: absolute
			bottom: -39px
			left: 50%
			margin-left: -100px
			-webkit-border-bottom-right-radius: 5px
			-webkit-border-bottom-left-radius: 5px
			-moz-border-radius-bottomright: 5px
			-moz-border-radius-bottomleft: 5px
			border-bottom-right-radius: 5px
			border-bottom-left-radius: 5px
			height: 39px
			border: 1px solid #aaa
			border-top: none
			width: auto
			z-index: 2
			@include boxshadow(1px,0.3,0,1px)
			.inner
				width: auto
				position: relative
				height: 29px
				background: #f5f2eb
				font-weight: 700
				color: #000
				line-height: 13px
				text-transform: uppercase
				padding: 5px 5px 5px 39px
				cursor: pointer
				-webkit-border-bottom-right-radius: 5px
				-webkit-border-bottom-left-radius: 5px
				-moz-border-radius-bottomright: 5px
				-moz-border-radius-bottomleft: 5px
				border-bottom-right-radius: 5px
				border-bottom-left-radius: 5px
			.avatar
				width: 27px
				height: 27px
				border: 1px solid #000
				position: absolute
				top: 5px
				left: 5px
			.text, .rewards
				display: inline-block
			.text
				padding-top: 1px
				span
					display: block
			.rewards
				position: relative
				top: -5px
				width: 20px
				margin-left: 20px
				padding: 10px 10px 0 5px
				height: 20px
				text-indent: -9999px
				background: transparent url(../images/icons/starBlue.png) no-repeat 90% 50%
				
		#modal-inner
			border: 1px solid #aaa
			border-top: none
			
			#modal-header
				height: 47px
				padding: 15px 30px
				border-bottom: 1px solid #dedcd5
				a
					display: block
					width: 150px
					height: 31px
					background: transparent url(../images/logoDark.png) no-repeat 0 0
					text-indent: -9999px
				.slogan
					font-size: 12px
					color: #4c4b47

		#your-reward
			.inner
				height: 471px

			.left-side, .right-side
				padding: 30px 40px
				height: 411px
			.left-side
				width: 270px
				float: left
			.right-side
				float: right
				width: 367px

			#creator-info
				padding: 30px 40px
				border-right: 1px solid #dedcd5
				.avatar
					display: block
					width: 190px
					height: 190px
					padding: 3px
					background: #fff
					@include boxshadow(2px,0.3,0,0)
					margin-bottom: 10px
					img
						width: 190px
						height: 190px
				.byline
					margin-bottom: 15px
					a
						font-size: 22px
						color: $text_color
						display: block
				.location, .occupation
					font-size: 11px
					padding-bottom: 15px
					.title
						color: #a19f9b
						text-transform: uppercase
						display: block
				.location
					float: left
				.occupation
					float: right
				.tagline
					clear: both
					padding-top: 16px
					border-top: 1px solid #dedcd5
					font-size: 11px
					height: 88px
					overflow: hidden
				.message
					background: transparent url(../images/rewardModalThanksBG.png) no-repeat 0 0
					padding: 23px 15px
					height: 98px
			
			.section
				width: 367px
				margin: 0 auto 20px
				h3
					font-size: 15px
					text-align: center
					margin-bottom: 20px
					text-shadow: 0 1px 0 #fff
				input[type="text"], textarea
					@include rounded(3px)
					box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff
				textarea
					display: block
					width: 347px
					margin: 0 auto 10px
				input[type="submit"]
					float: right
			
				
			#reward-box
				height: 330px
				
				&.reward-step
					padding-top: 110px
				&.loading
					background: transparent url(../images/spinner.gif) no-repeat 50% 220px
					*
						display: none
				
				.alert
					background-color: $lightred
					color: $red
					padding: 5px 10px
					font-weight: 700
					text-transform: uppercase
					margin-bottom: 20px
				.inner
					position: relative
					height: 300px

					form#reward-form
						#amount
							width: 425px
							margin-left: -29px
							margin-bottom: 30px
						#stars
							width: 425px
							height: 100px
							li
								width: 90px
								float: left
								clear: none
								a
									display: block
									width: 70px
									height: 70px
									background: transparent url(../images/rewardFormStars.png) no-repeat 0 0
									text-indent: -9999px
								a#one-star.selected
									background-position: 0 -100px
								a#three-star
									background-position: -100px 0
								a#three-star.selected
									background-position: -100px -100px
								a#five-star
									background-position: -200px 0
								a#five-star.selected
									background-position: -200px -100px
							
								input[type="text"]
									float: left
									font-size: 36px
									padding: 15px
									margin-right: 10px
									width: 50px
									text-align: center
								span, strong
									font-size: 10px
									text-transform: uppercase
									letter-spacing: 0.03em
									line-height: 18px
								span
									font-style: italic
						
							li.custom
								width: 150px
						
						#amount-hints
							font-size: 11px
							.weak
								margin-bottom: 10px
						
						#comment
							display: none
							clear: both
							textarea
								height: 50px

			#share
				.info
					height: 60px
					h3.impact
						font-size: 15px
						margin: 0
						span
							padding: 6px 0
						span.icon
							padding-left: 42px
							background: transparent url(../images/icons/impact.png) no-repeat 5px 0
					a#what-is-impact
						float: right
						margin: 7px 20px 0 0
						font-size: 11px
				
				.weak
					font-style: italic
					font-size: 11px
					padding-top: 3px
						
				#copy-paste
					margin-bottom: 30px
					input
						width: 349px
				
				#sharing-icons
					a
						display: block
						float: left
						width: 30px
						height: 30px
						margin-right: 10px
						text-indent: -9999px
						background: transparent url(../images/icons/twitterSmall.png)
					#share-with-facebook
						background-image: url(../images/icons/facebookSmall.png)
					.weak
						clear: both
						padding-top: 5px
			
			#not-logged-in
				.buttons
					padding-top: 20px
					span, a
						display: block
						float: left
					span.or
						font-size: 16px
						font-weight: 700
						width: 60px
						text-align: center
						padding-top: 9px
					a.join, a.login
						display: block
						float: left
						background: $text_color
						color: #fff
						@include rounded(3px)
						padding: 12px 24px
						text-align: center
						text-transform: uppercase
						font-size: 13px
						font-weight: 700
				.links
					clear: both
					padding-top: 50px
					font-style: italic
		
		#reward-thank-you
			.thank-you
				background: #e3e3e3
				padding: 30px
				height: 150px
				.header
					height: 40px
					margin-bottom: 20px
					text-transform: uppercase
					h1
						font-size: 40px
						font-family: $numerals
						float: left
						margin: -8px 10px 0 0
					.who
						font-size: 17px
						font-weight: 700
						line-height: 17px
						float: left
						span
							display: block
				.message
					clear: both
					.creator
						border: 3px solid $blue
						margin-right: 10px
						float: left
						.avatar
							display: block
							width: 70px
							height: 70px
							img
								width: 70px
								height: 70px
						.rewards
							background: $blue
							color: #fff
							text-align: center
							padding: 5px 0 0
							span
								background: transparent url(../images/icons/starWhiteSmall.png) no-repeat 100% 0
								padding-right: 20px
								font-weight: 700
					.text
						background: transparent url(../images/rewardModalThankYouMessageBG.png) no-repeat 0 0
						width: 345px
						padding: 15px 15px 15px 25px
						float: left
						font-size: 11px
						max-height: 60px
						overflow: hidden
			.explanation
				height: 240px
				background: $blue
				padding: 25px 0 25px 30px
				.text
					width: 140px
					float: left
					color: #fff
					margin-right: 20px
					h2
						font-size: 18px
						font-weight: 700
						color: #000
						text-transform: uppercase
						background: none
						line-height: 30px
						padding: 0
						margin-bottom: 10px
						span
							letter-spacing: -0.03em
						strong
							font-size: 40px
							font-family: $numerals
							color: #fff
					p
						font-size: 11px
						margin: 0
				.diagram
					float: left
					width: 319px
					height: 220px
					background: transparent url(../images/rewardModalImpactDiagram.png) no-repeat 0 0
					position: relative
					.avatar
						position: absolute
						top: 21px
						left: 141px
						width: 33px
						height: 33px
	
	.content
		z-index: 1
	
	#metadata
		position: fixed
		right: 35px
		bottom: 0
		z-index: 5
		height: 25px
		.pages
			background: rgba(0,0,0,0.75)
			float: right
			padding: 5px 7.5px
			-webkit-border-top-left-radius: 3px
			-webkit-border-top-right-radius: 3px
			-moz-border-radius-topleft: 3px
			-moz-border-radius-topright: 3px
			border-top-left-radius: 3px
			border-top-right-radius: 3px
			a
				font-size: 10px
				padding: 0 2.5px
				color: #fff
			a.selected
				color: $link_color

	ul#pages
		width: 100%
		position: absolute
		top: 0
		bottom: 0
		z-index: 1
		li
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			overflow-y: auto
			text-shadow: none
			.number
				display: none
		li.title
			@include titleSlideFullsize
		li.full_image
			@include fullimageSlideFullsize
		li.pullquote
			@include blockquoteSlideFullsize
		li.video
			@include videoSlideFullsize
		li.split
			@include splitSlideFullsize
		li.grid
			@include gridSlideFullsize
		li.external
			@include externalSlideFullsize
	#previous-page, #next-page
		display: none
		width: 100px
		height: 140px
		position: absolute
		top: 50%
		margin-top: -70px
		z-index: 3
		opacity: 0.4
		-webkit-transition: opacity linear 0.2s
		-moz-transition: opacity linear 0.2s
		.button
			text-indent: -9999px
			background: transparent url(../images/next-previous-arrows.png) no-repeat 0 0
			cursor: pointer
			width: 100px
			height: 140px
	#previous-page:hover, #next-page:hover
		opacity: 1
	#previous-page
		left: 0
		.button
			left: 0
	#next-page
		right: 0
		.button
			background-position: -138px 0
			
#what-is-impact-modal
	width: 831px
	height: 258px
	background: transparent url(../images/whatIsImpactModal.png) no-repeat 0 0


#twitter-sharing, #facebook-sharing
	width: 367px
	padding: 20px
	background: #f5f2eb
	
	textarea
		display: block
		width: 347px
		margin: 0 auto 10px
	input[type="submit"]
		float: right
	input[type="text"], textarea
		@include rounded(3px)
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff

	&.loading
		background: #f5f2eb url(../images/spinner.gif) no-repeat 50% 50%
		height: 100px
		*
			display: none
	.padded
		height: 50px
	.not-configured
		margin-top: 30px
		padding-left: 40px
		background: transparent url(../images/icons/twitterSmall.png) no-repeat 0 50%
		span
			display: block
			margin-bottom: 5px
		a
			background: #66dfff
			padding: 3px 6px
			color: #0b2d39
			@include rounded(3px)
			text-transform: uppercase
	.after
		font-size: 11px
		p
			margin: 10px 0
				
#twitter-sharing
	height: 98px
	position: relative
	.configured
		height: 100px
	#what-we-add
		position: absolute
		top: 55px
		right: 31px
		color: #777
		font-size: 11px
	#characters-left
		float: left
		color: #999
		font-style: italic
		padding-left: 5px
		.count
			font-weight: 700
			font-style: normal
	textarea
		height: 40px
	input[type="submit"]
		@include gradient(#66dfff,#4ccaff)
		color: #0b2d39
		text-shadow: 0 1px 0 rgba(255,255,255,0.5)

#facebook-sharing
	height: 217px
	position: relative
	textarea
		height: 160px
	#facebook-preview
		position: absolute
		top: 80px
		left: 23px
		width: 236px
		border-top: 1px dashed #ccc
		padding: 10px 10px 10px 115px
		font-size: 11px
		.thumbnail
			position: absolute
			top: 10px
			left: 10px
			width: 95px
			height: 60px
		h3
			font-size: 13px
			text-align: left
			margin-bottom: 5px
			width: 260px
			height: 16px
			overflow: hidden
		.link
			color: #999
		p
			margin: 5px 0 0
			line-height: 13px
	input[type="submit"]
		@include gradient(#6481bd,#455d99)

#facebook-sharing .not-configured
	background-image: url(../images/icons/facebookSmall.png)
	margin-top: 80px
	a
		background: #6481bd
		color: #fff