/* Story viewing */

#presenter
	width: 100%
	height: 100%
	overflow: hidden
	
	#thumbnail
		display: none
	
	#reward-modal
		height: 80%
		width: 80%
		position: absolute
		top: -80%
		left: 10%
		background-color: #fff
		z-index: 2
		#reward-modal-tab
			position: absolute
			bottom: -39px
			left: 50%
			margin-left: -100px
			-webkit-border-bottom-right-radius: 5px
			-webkit-border-bottom-left-radius: 5px
			-moz-border-radius-bottomright: 5px
			-moz-border-radius-bottomleft: 5px
			border-bottom-right-radius: 5px
			border-bottom-left-radius: 5px
			height: 39px
			border: 1px solid #aaa
			border-top: none
			width: auto
			z-index: 2
			.inner
				width: auto
				position: relative
				height: 29px
				background: #fff
				font-weight: 700
				color: #000
				line-height: 13px
				text-transform: uppercase
				padding: 5px 5px 5px 39px
				cursor: pointer
				-webkit-border-bottom-right-radius: 5px
				-webkit-border-bottom-left-radius: 5px
				-moz-border-radius-bottomright: 5px
				-moz-border-radius-bottomleft: 5px
				border-bottom-right-radius: 5px
				border-bottom-left-radius: 5px
			.avatar
				width: 27px
				height: 27px
				border: 1px solid #000
				position: absolute
				top: 5px
				left: 5px
			.text, .rewards
				display: inline-block
			.text
				padding-top: 1px
				span
					display: block
			.rewards
				position: relative
				top: -5px
				width: 20px
				margin-left: 20px
				padding: 10px 10px 0 5px
				height: 20px
				text-indent: -9999px
				background: transparent url(../images/icons/starBlue.png) no-repeat 50% 50%
				
		.modal-inner
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			overflow-y: auto
			border: 1px solid #aaa

		#your-reward
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 65px
			overflow-y: auto
			z-index: 1
			-webkit-transition: right 0.1s linear
			-moz-transition: right 0.1s linear
			#toggle-reward-stream
				position: absolute
				background: transparent url(../images/rewardModalToggleStream.png) no-repeat
				top: 10px
				right: 0
				text-align: center
				width: 21px
				height: 22px
				cursor: pointer
		#your-reward.closed
			right: 265px
			#toggle-reward-stream
				background-position: 0 -22px
			
			
		#creator-info
			position: relative
			padding: 20px 20px 20px 132px
			min-height: 106px
			a.avatar
				position: absolute
				top: 20px
				left: 20px
				img
					width: 100px
					height: 100px
					border: 1px solid #cacaca
			.the-rest
				a.name
					display: block
					text-transform: uppercase
					font-size: 20px
					font-weight: 700
					color: #000
					margin-bottom: 5px
				.tagline
					font-size: 11px
					max-width: 700px
					max-height: 60px
					overflow: hidden
					margin-bottom: 10px
				.links
					margin-top: 12px
					a
						margin-right: 20px
						text-transform: uppercase
						font-weight: 700
				
				#reward-box-outer
					margin-top: 12px
					border-top: 1px dashed #ccc
					padding-top: 20px
				#reward-box
					.alert
						background-color: $lightred
						color: $red
						padding: 5px 10px
						font-weight: 700
						text-transform: uppercase
						margin-bottom: 20px
					.inner
						position: relative
						padding-left: 80px
						#avatars
							position: absolute
							top: 0
							left: 0
							img
								position: absolute
								width: 45px
								height: 45px
								border: 1px solid #cacaca
							.them
								top: 0
								left: 0
							.you
								top: 15px
								left: 15px
						form#reward-form
							input[type="text"], textarea
								@include rounded(0)
							#how-much
								span, strong
									padding: 3px 0
									font-size: 14px
									float: left
									margin-right: 5px
								strong
									text-transform: uppercase
								.input
									float: left
									position: relative
									margin-right: 5px
									input[type="text"]
										background: #f7f7f7 url(../images/icons/starBlackTiny.png) no-repeat 5px 50%
										border: 1px solid #c6c6c6
										width: 20px
										height: 17px
										padding: 2px 16px
										text-align: center
										font-size: 14px
										font-weight: 700
									#ticker
										position: absolute
										top: 1px
										right: 1px
										border-left: 1px solid #c6c6c6
										background: transparent url(../images/rewardModalTickerBG.png) no-repeat
										width: 11px
										height: 21px
										.up, .down
											width: 10px
											height: 10px
											cursor: pointer
							.comment
								clear: both
								padding-top: 10px
								textarea
									background: transparent url(../images/rewardModalCommentBG.png) no-repeat
									border: none
									width: 316px
									height: 50px
									padding: 10px 15px
							#share
								margin: 20px 0 10px 7px
								border-top: 1px dashed #ccc
								border-bottom: 1px dashed #ccc
								width: 334px
								padding-bottom: 7px
								.header
									background: #fff
									display: inline
									padding: 0 5px
									margin: 0 auto
									position: relative
									top: -9px
									left: 87px
								table
									width: 100%
									border: none
									margin-top: -5px
									td
										padding: 5px 10px
										background: none
										border: none
									td.text
										text-shadow: 0 1px 0 #fff
									td.link
										text-align: right
									.switch
										float: right
										.toggle
											width: 84px
											height: 28px
											background: transparent url(../images/onOffSwitchBG.png) no-repeat 0 0
											position: relative
											cursor: pointer
											.handle
												width: 44px
												height: 28px
												position: absolute
												top: 0
												left: 0
												background: transparent url(../images/onOffSwitchHandle.png) no-repeat 0 0
										.toggle.off .handle
											left: 40px
						input[type="submit"]
							margin-left: 7px
							width: 333px
							@include gradient($bluegradient1, $bluegradient2)
							border: 1px solid #528294
							color: #fff
							text-shadow: 0 -1px 0 rgba(0,0,0,0.75)
							padding-top: 12px
							font-size: 14px
			#reward-box-outer.loading .inner
				height: 250px
				background: transparent url(../images/spinner.gif) no-repeat 50% 50%
				*
					display: none
			#reward-box-outer .not-logged-in
				h2
					background: none
					padding: 0
				ul
					padding-bottom: 20px
					li
						font-family: $numerals
						margin-bottom: 10px
						position: relative
						.number
							font-size: 40px
							text-align: right
							position: absolute
							left: 0
							top: 0
						.text
							font-size: 16px
							line-height: 16px
							padding-top: 10px
							margin-left: 40px
				a
					margin-right: 10px
				a.about
					@include gradient($redgradient1, $redgradient2)
				a.login
					@include gradient($greengradient1, $greengradient2)
			
		#reward-list.closed
			width: 65px
		#reward-list
			width: 265px
			position: absolute
			top: 0
			bottom: 0
			right: 0
			z-index: 2
			border-left: 1px solid #ddd
			overflow-y: auto
			overflow-x: hidden
			background: #eee
			-webkit-transition: width 0.1s linear
			-moz-transition: width 0.1s linear
			.header
				font-size: 14px
				font-weight: 700
				text-transform: uppercase
				color: #555
				position: absolute
				top: 11px
				left: 50px
			ul
				padding-top: 40px
				background: transparent url(../images/icons/communityDark.png) no-repeat 5px 5px
				li
					clear: both
					padding: 10px
					border-top: 1px solid #fff
					border-bottom: 1px solid #ddd
					.rewarder
						height: 28px
						.avatar
							display: block
							width: 28px
							height: 28px
							float: left
							margin-right: 5px
							img
								width: 28px
								height: 28px
						.name
							float: left
							color: $text_color
							font-size: 11px
							span
								display: block
								text-transform: uppercase
								font-weight: 700
						.amount
							float: right
							padding-right: 12px
							background: transparent url(../images/icons/starBlackTiny.png) no-repeat 100% 6px
							font-size: 17px
							font-family: $numerals
					.comment, .when
						clear: both
					.comment
						font-size: 11px
						padding: 5px 0
					.when
						font-size: 10px
						color: #ccc
						text-align: right
				li.highlighted
					background: #fffaba
				li#new-reward
					display: none
		#reward-list.closed
			.header
				display: none
			li
				width: 44px
				.rewarder
					height: 45px
					.name
						display: none
					.avatar
						float: none
						margin: 0
					.amount
						clear: both
						float: none
						background-position: 0 8px
						padding: 3px 3px 3px 11px
						font-size: 14px
				.comment, .when
					display: none
		
		#reward-thank-you
			max-width: 700px
			.custom-message
				strong
					display: block
					padding-top: 5px
					text-transform: uppercase
			.explanation
				h3
					font-size: 15px
				p
					margin: 10px 0 20px
	
	.content
		z-index: 1
	
	#metadata
		position: absolute
		left: 0
		bottom: 0
		z-index: 5
		width: 100%
		background: #000
		height: 35px
		.info
			float: left
			margin-left: 10px
			.title, .author
				line-height: 35px
				vertical-align: middle
				float: left
				font-weight: 700
			.title
				color: #fff
				text-transform: uppercase
				font-size: 18px
			.author
				color: #555
				margin-left: 5px
				font-size: 16px
			.excerpt
				float: left
				width: 30px
				height: 30px
				margin-left: 10px
				background: transparent url(../images/storyShowSynopsis.png) no-repeat 50% 4px
				position: relative
				cursor: help
				.full
					width: 200px
					padding: 8px
					background-color: #000
					color: #fff
					position: absolute
					bottom: 35px
					left: -90px
					opacity: 0.9
					display: none
					@include rounded(3px)
			.excerpt:hover .full
				display: block
		.pages
			float: right
			height: 15px
			margin: 10px 20px 10px 0
			a
				font-size: 10px
				margin-left: 5px
				color: #fff
			a.selected
				color: $link_color

	ul#pages
		width: 100%
		position: absolute
		top: 0
		bottom: 35px
		z-index: 1
		li
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			overflow-y: auto
			text-shadow: none
			.number
				display: none
		li.title
			@include titleSlideFullsize
		li.full_image
			@include fullimageSlideFullsize
		li.pullquote
			@include blockquoteSlideFullsize
		li.video
			@include videoSlideFullsize
		li.split
			@include splitSlideFullsize
		li.grid
			@include gridSlideFullsize
		li.external
			@include externalSlideFullsize
	#previous-page, #next-page
		width: 100px
		height: 140px
		position: absolute
		top: 50%
		margin-top: -70px
		z-index: 3
		opacity: 0.4
		-webkit-transition: opacity linear 0.2s
		-moz-transition: opacity linear 0.2s
		.button
			text-indent: -9999px
			background: transparent url(../images/next-previous-arrows.png) no-repeat 0 0
			cursor: pointer
			width: 100px
			height: 140px
	#previous-page:hover, #next-page:hover
		opacity: 1
	#previous-page
		left: 0
		.button
			left: 0
	#next-page
		right: 0
		.button
			background-position: -138px 0