@import "presets"
@import "typography"
@import "forms"
@import "comments"

body#reward-modal
  background: #000
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  min-height: 500px

  #inner
    width: 800px
    height: 500px
    position: absolute
    top: 50%
    left: 50%
    margin: -250px 0 0 -400px
    overflow: hidden
  
  #sidebar
    background: #252525
    color: #888
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 150px
    padding: 15px
    
  #avatar
    background: #444
    display: block
    width: 148px
    height: 148px
    border: 1px solid #111
    margin-bottom: 10px
    img
      width: 146px
      height: 146px
      border: 1px solid #333
  
  a#creator-name
    color: #fff
    font-size: 22px
    font-weight: 600
    display: block
    @include transition(color)
    &:hover
      color: $blue
    span
      display: block
  
  .occupation
    margin-top: 10px
  .occupation, .location
    font-family: $typewriter
    font-style: italic
    font-weight: 300
  
  #bio
    margin-top: 15px
    border-top: 1px solid #444
    padding-top: 15px
    font-size: 13px
  
  #more-work
    position: absolute
    left: 15px
    bottom: 15px
    width: 150px
    color: #888
    text-decoration: underline
    @include transition(color)
    &:hover
      color: $blue
  
  #main
    background: #fff
    width: 620px
    position: absolute
    top: 0
    bottom: 0
    left: 180px
    right: 0
    overflow: hidden
    
    h1
      font-size: 25px
      line-height: 25px
    
  #content-metadata, #reward-them, #what-is-momeant, #login, #supporter-info
    padding: 25px 30px
  
  #content-metadata
    h1
      margin-bottom: 9px
    #synopsis, #tags
      font-family: $typewriter
      font-style: italic
      font-weight: 300
    #synopsis
      margin-bottom: 8px
      color: #555
      &:hover
        .less, a
          display: none
        .more
          display: block
      .more
        display: none
    #tags
      font-size: 13px
      a:hover
        text-decoration: underline
    #tags span
      margin-left: -2px
      color: $blue
      &:last-child
        display: none
  
  #reward-actions
    background: #0399df
    color: #fff
    width: 1860px
    height: 140px
    padding-bottom: 30px
    position: relative
    @include transition(margin)
    &.loading
      background: #0399df url(../images/spinner-blue.gif) no-repeat 280px 50%
      *
        visibility: hidden
    h1
      margin-bottom: 18px
    input[type="submit"], a.button
      background: $dark_blue
    #nib
      width: 8px
      height: 16px
      position: absolute
      top: 50%
      left: -8px
      margin-top: -8px
      background: transparent url(../images/reward-modal/blue-nib.png) no-repeat 0 0
    #over-threshold
      color: $dark_blue
      a
        color: #fff
        text-decoration: underline
    #reward-them, #what-is-momeant, #login
      width: 560px
      height: 140px
      float: left
      position: relative
    #current-user
      position: absolute
      top: 100px
      right: 45px
      color: $dark_blue
      font-size: 13px
      span
        display: block
    #what-is-momeant
      background: transparent url(../images/logoWhiteSmall.png) no-repeat 414px 44px
      width: 360px
      padding-right: 200px
      p
        margin-top: 0
        line-height: 1.2em
        a
          color: $dark_blue
      a.button
        position: absolute
      #back-to-reward, #learn-more
        top: 96px
      #back-to-reward, #login-button
        left: 421px
      #learn-more
        left: 465px
      #login-button, #sign-up
        top: 117px
      #sign-up
        left: 495px
    #login
      form
        width: 275px
        height: 120px
        &.loading
          background: transparent url(../images/spinner-blue.gif) no-repeat 50% 50%
          *
            visibility: hidden
      li
        margin-bottom: 10px
      input[type="email"], input[type="password"]
        border: 1px solid #005f8b
      li.submit a.forgot
        color: $dark_blue
        margin-left: 20px
        text-decoration: underline
      #signup-section
        position: absolute
        top: 34px
        left: 365px
        a
          color: $dark_blue
          text-decoration: underline
        .alert
          margin-top: 10px
          font-size: 1.3em
  
  #amounts
    height: 66px
    p
      font-family: $typewriter
      font-style: italic
      font-weight: 300
      color: $dark_blue
      margin: 0 0 15px
      line-height: 1em
    ul
      float: left
      margin-right: 30px
    li
      float: left
      clear: none
      height: 30px
      margin: 0 15px 0 0
      a, input[type="text"]
        display: inline-block
        background: #fff url(../images/reward-modal/dollar-sign.png) no-repeat 9px 9px
        color: #005b84
        padding: 7px 14px 7px 22px
        font-size: 18px
        border: none
        border-bottom: 1px solid #006ea2
        border-right: 1px solid #006ea2
        @include rounded(3px)
        &:hover
          border-color: $dark_blue
        &.selected
          background-color: $dark_blue
          background-position: 9px -36px
          color: #fff
          border-bottom: 1px solid #5bc2f1
          border-right: 1px solid #5bc2f1
      input[type="text"]
        width: 36px
        font-size: 16px
        padding-top: 8px
        padding-bottom: 8px
    input[type="submit"]
      height: 36px
    input[disabled="disabled"]
      opacity: 0.4
      cursor: default
      &:active
        top: 0
    a.button
      color: #fff
      display: inline-block
      padding: 11px 15px
  
  #supporter-info
    color: #777
    font-size: 13px
    h3
      font-size: 14px
      font-weight: 400
      margin-bottom: 15px
    #explanation
      width: 300px
      float: left
      margin-right: 50px
      ul, p
        font-family: $typewriter
        font-style: italic
        font-weight: 300
      li
        list-style-type: disc
        margin: 0 0 0.5em 1.2em
      abbr
        border-bottom: 1px dotted $blue
        cursor: help
    #top-supporters
      width: 210px
      float: right
      li
        float: left
        clear: none
        width: 45px
        margin: 0 10px 10px 0
        position: relative
        &:nth-child(4n)
          margin-right: 0
        img
          width: 40px
          height: 40px
        .badge
          width: 16px
          height: 16px
          background: transparent url(../images/reward-modal/gold-silver-bronze.png) no-repeat 0 0
          position: absolute
          top: -5px
          left: 30px
          &.silver
            background-position: -27px 0
          &.bronze
            background-position: -53px 0
        .rewarded
          display: inline-block
          font-size: 13px
  
  #after-reward
    height: 460px
    padding: 20px
    position: relative
    
    #after-nav
      width: 578px
      height: 52px
      background: transparent url(../images/reward-modal/nav-bg.png) no-repeat 0 0
      position: absolute
      left: 20px
      bottom: 20px
      a
        display: block
        width: 182px
        height: 51px
        background: transparent url(../images/reward-modal/nav-buttons.png) no-repeat 0 0
        float: left
        margin-right: 5px
        &:last-child
          margin-right: 0
      #impact-button
        background-position: 0 0
        &:hover
          background-position: 0 -57px
        &:active, &.selected
          background-position: 0 -113px
      #comment-button
        width: 191px
        background-position: -187px 0
        margin-right: 6px
        &:hover
          background-position: -187px -57px
        &:active, &.selected
          background-position: -187px -113px
      #discussions-button
        width: 192px
        background-position: -386px 0
        &:hover
          background-position: -386px -57px
        &:active, &.selected
          background-position: -386px -113px
    
    #thank-you-note
      height: 267px
      background: transparent url(../images/reward-modal/thank-you-note.jpg) no-repeat 0 0
      padding: 34px 55px
      margin: -2px -2px 15px -2px
      font-family: "Courier New"
      font-size: 15px
      text-shadow: 0 1px 0 #fff
      p
        margin: 0
        line-height: 21px
      .from
        text-align: right
        margin-top: 2px
    #thanks .as-one
      font-family: $typewriter
      font-size: 18px
      font-style: italic
      font-weight: 300
      margin: 0 0 20px
      text-align: center
    
    .after-view
      height: 370px
      overflow: auto
    #impact-view, #comments-view, #discussions-view
      display: none