ul.reward-thumbnails
	li.reward
		width: 230px
		padding: 10px
		background: #fff
		@include boxshadow(5px,0.2,2px,2px)
		float: left
		display: inline
		margin: 0 20px 24px 0
		.what
			.thumbnail
				margin: 5px 0
				img
					width: 230px
			.text
				color: #aaa
				.title
					color: #000
					text-transform: uppercase
					font-weight: 900
					font-size: 13px
				.author
					color: #000
					position: relative
					top: -2px
					a
						color: $link_color
		.who
			padding: 8px
			background: #f4f4f4
			width: 214px
			.avatar
				float: left
				width: 40px
				height: 40px
				margin-right: 5px
				img
					width: 40px
					height: 40px
			.amount-and-who
				.reward
					float: left
					margin-right: 5px
					background-color: $blue
					color: #fff
					padding: 6px 6px 6px 10px
					@include rounded
					.inner
						padding-right: 18px
						font-weight: 700
						background: transparent url(../images/icons/recommendWhite.png) no-repeat 100% 0
				.author
					font-size: 1.2em
					font-weight: 700
					text-transform: uppercase
					margin-bottom: 2px
					font-size: 12px
					display: block
					position: relative
					top: -1px
			.comment
				color: #555
		.others
			background: #f4f4f4
			padding: 4px 8px
			.handle
				display: block
				font-weight: 700
				text-transform: uppercase
				color: #aeaeae
				font-size: 11px
				background: transparent url(../images/dropDownArrow.png) no-repeat 100% 0
			ul
				display: none
				li
					.who
						padding: 8px 0