@import "presets"
@import "typography"
@import "forms"
@import "comments"
@import "discussions"

body#reward-modal
  background: #000
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  min-height: 500px

  #inner
    width: 800px
    height: 500px
    position: absolute
    top: 50%
    left: 50%
    margin: -250px 0 0 -400px
    overflow: hidden
  
  #sidebar
    background: #252525
    color: #888
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 150px
    padding: 15px
    
  #avatar
    background: #444
    display: block
    width: 148px
    height: 148px
    border: 1px solid #111
    margin-bottom: 10px
    img
      width: 146px
      height: 146px
      border: 1px solid #333
  
  a#creator-name
    color: #fff
    font-size: 22px
    font-weight: 600
    line-height: 22px
    display: block
    @include transition(color)
    &:hover
      color: $blue
    span
      display: block
  
  .occupation
    margin-top: 10px
  .occupation, .location
    font-family: $typewriter
    font-style: italic
    font-weight: 300
  
  #bio
    margin-top: 15px
    border-top: 1px solid #444
    padding-top: 15px
    font-size: 13px
  
  #more-work
    position: absolute
    left: 15px
    bottom: 15px
    width: 150px
    color: #888
    text-decoration: underline
    @include transition(color)
    &:hover
      color: $blue
  
  #main
    background: #fff
    width: 620px
    position: absolute
    top: 0
    bottom: 0
    left: 180px
    right: 0
    overflow: hidden
    @include transition(margin)
    
    h1
      font-size: 25px
      line-height: 25px
    
  #content-metadata, #reward-them, #what-is-momeant, #login, #supporter-info
    padding: 25px 30px
  
  #content-metadata
    h1
      margin-bottom: 9px
    #synopsis, #tags
      font-family: $typewriter
      font-style: italic
      font-weight: 300
    #synopsis
      margin-bottom: 8px
      margin-right: 170px
      color: #555
      &.open
        .less
          display: none
        .more
          display: block
      .more
        display: none
    #tags
      font-size: 13px
      padding-left: 18px
      height: 18px
      overflow: hidden
      background: transparent url(../images/icons/tag.png) no-repeat 0 3px
      a:hover
        text-decoration: underline
    #tags span
      margin-left: -2px
      color: $blue
      &:last-child
        display: none
  
  #reward-actions
    background: #0399df
    color: #fff
    width: 1860px
    height: 140px
    padding-bottom: 30px
    position: relative
    @include transition(margin)
    &.loading
      background: #0399df url(../images/spinner-blue.gif) no-repeat 290px 50%
      *
        visibility: hidden
    h1
      margin-bottom: 18px
    input[type="submit"], a.button
      background: $dark_blue
    #nib
      width: 8px
      height: 16px
      position: absolute
      top: 50%
      left: -8px
      margin-top: -8px
      background: transparent url(../images/reward-modal/blue-nib.png) no-repeat 0 0
    #over-threshold, #reauthorize
      color: $dark_blue
      a
        color: #fff
        text-decoration: underline
    #reauthorize p
      margin: 5px 0
    #reward-them, #what-is-momeant, #login
      width: 560px
      height: 120px
      float: left
      position: relative
    #current-user
      position: absolute
      top: 100px
      right: 45px
      color: $dark_blue
      font-size: 13px
      span
        display: block
    #what-is-momeant
      background: transparent url(../images/logoWhiteSmall.png) no-repeat 414px 44px
      width: 360px
      padding-right: 200px
      p
        margin-top: 0
        line-height: 1.2em
        a
          color: $dark_blue
      a.button
        position: absolute
      #back-to-reward, #learn-more
        top: 96px
      #back-to-reward, #login-button
        left: 421px
      #learn-more
        left: 465px
      #login-button, #sign-up
        top: 117px
      #sign-up
        left: 495px
    #login
      background: #333
      form
        width: 275px
        height: 120px
        &.loading
          background: transparent url(../images/spinnerDarkGrey.gif) no-repeat 90% 50%
          *
            visibility: hidden
      li
        margin-bottom: 10px
      input[type="email"], input[type="password"]
        border: 1px solid #000
      li.submit input, #login-back-to-reward
        background: $blue
      li.submit a.forgot
        color: $dark_blue
        margin-left: 20px
        text-decoration: underline
      #login-back-to-reward, #login-error, #forgot-password, #need-an-account
        position: absolute
      #login-back-to-reward
        bottom: 30px
        right: 31px
        height: 15px
        padding-top: 9px
        &:active
          top: auto
      #login-error
        top: 112px
        left: 115px
        font-size: 1.3em
      #need-an-account, #forgot-password
        left: 300px
      #need-an-account
        top: 35px
      #forgot-password
        top: 70px
  
  #amounts
    height: 66px
    p
      font-family: $typewriter
      font-style: italic
      font-weight: 300
      color: $dark_blue
      margin: 0 0 15px
      line-height: 1em
    ul
      float: left
      margin-right: 20px
    li
      float: left
      clear: none
      height: 30px
      margin: 0 15px 0 0
      a, input[type="text"]
        display: inline-block
        background: #fff url(../images/reward-modal/dollar-sign.png) no-repeat 9px 9px
        color: #005b84
        padding: 7px 14px 7px 22px
        font-size: 18px
        border: none
        border-bottom: 1px solid #006ea2
        border-right: 1px solid #006ea2
        @include rounded(3px)
        &:hover
          border-color: $dark_blue
        &.selected
          background-color: $dark_blue
          background-position: 9px -36px
          color: #fff
          border-bottom: 1px solid #5bc2f1
          border-right: 1px solid #5bc2f1
      input[type="text"]
        width: 36px
        font-size: 16px
        padding-top: 8px
        padding-bottom: 8px
    input[type="submit"]
      height: 36px
    input[disabled="disabled"]
      opacity: 0.4
      cursor: default
      &:active
        top: 0
    a.button
      color: #fff
      display: inline-block
      padding: 11px 15px
  
  #supporter-info
    color: #777
    font-size: 13px
    h3
      font-size: 14px
      font-weight: 400
      margin-bottom: 15px
    #explanation
      width: 300px
      float: left
      margin-right: 50px
      ul, p
        font-family: $typewriter
        font-style: italic
        font-weight: 300
      li
        list-style-type: disc
        margin: 0 0 0.5em 1.2em
      abbr
        border-bottom: 1px dotted $blue
        cursor: help
    #top-supporters
      width: 210px
      float: right
      li
        float: left
        clear: none
        width: 45px
        margin: 0 10px 10px 0
        position: relative
        &:nth-child(4n)
          margin-right: 0
        a.avatar
          display: block
        a.avatar, img
          width: 35px
          height: 35px
        .badge
          width: 16px
          height: 16px
          background: transparent url(../images/reward-modal/gold-silver-bronze.png) no-repeat 0 0
          position: absolute
          top: -5px
          left: 30px
          &.silver
            background-position: -27px 0
          &.bronze
            background-position: -53px 0
        .rewarded
          display: inline-block
          font-size: 13px
  
  #after-reward
    height: 460px
    padding: 18px
    position: relative
    
    #back-to-thank-you
      font-family: $typewriter
      font-size: 16px
      font-style: italic
      font-weight: 300
      position: absolute
      bottom: 90px
      left: 50%
      margin-left: -90px
      display: none
    #after-nav
      width: 578px
      height: 52px
      background: transparent url(../images/reward-modal/nav-bg.png) no-repeat 0 0
      position: absolute
      left: 20px
      bottom: 20px
      a
        display: block
        width: 182px
        height: 51px
        background: transparent url(../images/reward-modal/nav-buttons.png) no-repeat 0 0
        float: left
        margin-right: 5px
        &:last-child
          margin-right: 0
      #impact-button
        background-position: 0 0
        &:hover
          background-position: 0 -57px
        &:active, &.selected
          background-position: 0 -113px
      #comment-button
        width: 191px
        background-position: -187px 0
        margin-right: 6px
        &:hover
          background-position: -187px -57px
        &:active, &.selected
          background-position: -187px -113px
      #discussions-button
        width: 192px
        background-position: -386px 0
        &:hover
          background-position: -386px -57px
        &:active, &.selected
          background-position: -386px -113px
    
    .after-view
      height: 350px
      overflow: auto
    #impact-view, #comments-view, #discussions-view
      display: none
    #comments-view, #discussions-view
      padding: 7px 20px 10px 10px

    #thanks
      height: 400px
    #thank-you-note
      height: 246px
      background: transparent url(../images/reward-modal/thank-you-note.jpg) no-repeat 0 0
      padding: 55px 35px 34px 75px
      margin-bottom: 15px
      font-family: "Courier New"
      font-size: 15px
      text-shadow: 0 1px 0 #fff
      p
        margin: 0
        line-height: 21px
        padding-right: 40px
        max-height: 189px
        overflow-y: auto
      .from
        margin-top: 22px
    #thanks .as-one
      font-family: $typewriter
      font-size: 18px
      font-style: italic
      font-weight: 300
      margin: 0
      text-align: center
    
    #impact-view
      text-align: center
      p, #url_to_share
        font-family: $typewriter
        font-style: italic
      p
        margin: 25px 0 30px
        line-height: 1.5em
        font-size: 18px
      .weak
        margin: 20px 0
      #url_to_share
        width: 370px
        margin: 0 auto
        color: #777
        font-size: 14px
        font-weight: 300
        padding: 7px
        background: #f5f5f5
        border: 1px solid #ccc
        @include boxshadow(3px, 0.1, 0, 1px, 0, 0, 0, inset)
      #sharing-buttons
        a
          display: inline-block
          width: 123px
          height: 40px
          background: transparent url(../images/reward-modal/share-buttons.png) no-repeat 0 0
          text-indent: -9999px
        #share-with-facebook
          background-position: 0 -43px
          margin-left: 5px
    
    #comments-list
      form
        min-height: 47px
        padding: 5px 5px 5px 56px
        margin-bottom: 15px
        background: #eee
        textarea
          width: 97%
        img.commenter-avatar
          top: 5px
          left: 5px
        .helper
          font-size: 13px
          color: #777
          margin-bottom: 4px
      form img.commenter-avatar, ul.comment-list > li .commenter-avatar img
        width: 42px
        height: 42px
        padding: 1px
        border: 1px solid #ddd
    ul.comment-list > li
      margin: 0 0 15px
      padding-left: 56px
      .commenter-name
        color: $blue
      .text
        color: $text_color
      .metadata
        color: #ccc
    
    #discussions-view
      h3
        font-family: $typewriter
        font-size: 18px
        font-style: italic
        margin-bottom: 2px
      h3, h4
        font-weight: 500
      h4
        color: #999
        margin-bottom: 10px
      #discussion-list .text
        width: 350px
  
  #notice
    display: none
    position: absolute
    top: 0
    left: 0
    width: 800px
    height: 500px
    z-index: 9999
    #notice-cover
      width: 100%
      height: 100%
      background: transparent url(../images/modalCover.png) repeat
      background: rgba(0,0,0,0.7)
      position: absolute
      z-index: 1
    #notice-inner
      width: 480px
      height: 300px
      padding: 20px
      margin: 80px 140px
      background: #fff
      position: relative
      @include rounded
      z-index: 2
      h1
        padding: 20px
        margin: -20px -20px 20px
        background: #f7f7f7
        @include gradient
        text-align: center
        border-bottom: 1px solid #ccc
        font-size: 1.4em
        text-shadow: 0 1px 0 #fff
        -webkit-border-top-left-radius: 5px
        -webkit-border-top-right-radius: 5px
        -moz-border-radius-topleft: 5px
        -moz-border-radius-topright: 5px
        border-top-left-radius: 5px
        border-top-right-radius: 5px
      a.button
        display: inline-block
    #close-notice
      position: absolute
      top: 65px
      right: 125px
      width: 30px
      height: 30px
      display: block
      background: transparent url(../images/modalClose.png) no-repeat 0 0
      text-indent: 30px
      overflow: hidden
      z-index: 3
      

#twitter-sharing, #facebook-sharing
  width: 367px
  padding: 20px
  background: #ededed
  
  textarea
    display: block
    width: 347px
    margin: 0 auto 10px
  input[type="submit"]
    float: right
  input[type="text"], textarea
    @include rounded(3px)
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff

  &.loading
    background: #f5f2eb url(../images/spinner.gif) no-repeat 50% 50%
    height: 100px
    *
      display: none
  .padded
    height: 50px
  .not-configured
    margin-top: 30px
    padding-left: 40px
    background: transparent url(../images/icons/twitterSmall.png) no-repeat 0 50%
    span
      display: block
      margin-bottom: 5px
    a
      background: #66dfff
      padding: 3px 6px
      color: #0b2d39
      @include rounded(3px)
      text-transform: uppercase
  .after
    font-size: 11px
    p
      margin: 10px 0
        
#twitter-sharing
  height: 98px
  position: relative
  .configured
    height: 100px
  #what-we-add
    position: absolute
    top: 55px
    right: 31px
    color: #777
    font-size: 11px
  #characters-left
    float: left
    color: #999
    font-style: italic
    padding-left: 5px
    .count
      font-weight: 700
      font-style: normal
  textarea
    height: 40px
  input[type="submit"]
    @include gradient(#66dfff,#4ccaff)
    color: #0b2d39
    text-shadow: 0 1px 0 rgba(255,255,255,0.5)

#facebook-sharing
  height: 217px
  position: relative
  textarea
    height: 160px
  #facebook-preview
    position: absolute
    top: 80px
    left: 23px
    width: 236px
    border-top: 1px dashed #ccc
    padding: 10px 10px 10px 115px
    font-size: 11px
    .thumbnail
      position: absolute
      top: 10px
      left: 10px
      width: 95px
      height: 60px
    h3
      font-size: 13px
      text-align: left
      margin-bottom: 5px
      width: 260px
      height: 16px
      overflow: hidden
    .link
      color: #999
    p
      margin: 5px 0 0
      line-height: 13px
  input[type="submit"]
    @include gradient(#6481bd,#455d99)

#facebook-sharing .not-configured
  background-image: url(../images/icons/facebookSmall.png)
  margin-top: 80px
  a
    background: #6481bd
    color: #fff