@import "presets"
@import "typography"
@import "forms"
@import "comments"
@import "discussions"

body#reward-modal
  background: #000
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  min-height: 500px

  #inner
    width: 800px
    height: 500px
    background: #fff
    position: absolute
    top: 50%
    left: 50%
    margin: -250px 0 0 -400px
    overflow: hidden
  
  #footer
    background: #000
    width: 100%
    height: 55px
    position: absolute
    bottom: 0
    left: 0
    .branding
      float: left
      margin: 7px 0 0 5px
      a
        display: block
        width: 166px
        height: 37px
        float: left
        margin-right: 5px
      p
        margin: 6px 0 0
        font-size: 13px
        color: #666
        line-height: 13px
        float: left
        span
          display: block
    .login-link
      float: right
      font-size: 17px
      color: #666
      margin: 16px 18px 0 0
  
  #sidebar, #main
    position: absolute
    top: 0
    bottom: 55px
    left: 0

  #sidebar
    width: 138px
    border-right: 2px solid #eee
    margin: 30px 0
    padding: 0 20px
    
  #avatar
    display: block
    width: 110px
    height: 110px
    margin: 0 auto 20px
    img
      width: 100px
      height: 100px
      border: 2px solid #ebebeb
      padding: 3px
      @include rounded(100px)
  
  a#creator-name
    font-size: 18px
    font-weight: 600
    line-height: 22px
    text-transform: uppercase
    text-align: center
    color: #000
    display: block
    margin-bottom: 20px
    @include transition(color)
    &:hover
      color: $blue
    span
      display: block
  
  #bio
    font-size: 13px
    color: #666
  
  #main
    width: 620px
    left: 180px
    right: 0
    overflow: hidden
    @include transition(margin)
    h1
      text-transform: uppercase
    &.no-content-url
      left: 0
      width: 360px
      padding: 180px 220px
      text-align: center
      font-size: 1.5em
      line-height: 1.5em
  
  #what-is-this
    background: #fff
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 415px
    z-index: 99
    text-align: center
    padding-top: 30px
    h1
      text-transform: uppercase
    img.creator
      width: 65px
      height: 65px
      border: 2px solid #ebebeb
      padding: 3px
      @include rounded(65px)
      margin-bottom: -10px
    .copy
      position: absolute
      top: 276px
      font-size: 1.1em
      strong, span
        display: block
    #after-copy
      top: 90px
      left: 365px
      text-align: left
    #iconography
      width: 100%
      height: 200px
      background: transparent url(../images/reward-modal/explanation-icons.png) no-repeat 50% 0
      background-size: 306px 122px
      margin-bottom: 20px
    #interact-copy
      left: 142px
    #follow-copy
      left: 274px
    #receive-copy
      left: 386px
    #close-what-is-this
      font-size: 1.1em
      padding: 12px 14px
    
  #content-metadata, #reward-them, #what-is-momeant, #login, #supporter-info
    padding: 25px 30px
  
  #content-metadata
    h1
      margin-bottom: 9px
    #synopsis, #tags
      font-family: $typewriter
      font-style: italic
      font-weight: 300
    #synopsis
      margin-bottom: 8px
      margin-right: 170px
      color: #555
      &.open
        .less
          display: none
        .more
          display: block
      .more
        display: none
    #tags
      font-size: 13px
      padding-left: 18px
      height: 18px
      overflow: hidden
      background: transparent url(../images/icons/tag.png) no-repeat 0 3px
      a:hover
        text-decoration: underline
    #tags span
      margin-left: -2px
      color: $blue
      &:last-child
        display: none
  
  #reward-actions
    width: 1860px
    height: 140px
    padding-bottom: 30px
    position: relative
    @include transition(margin)
    &.loading
      background: #fff url(../images/spinner.gif) no-repeat 280px 50%
      height: 415px
      & > *
        opacity: 0.2
    h1
      margin-bottom: 18px
    input[type="submit"], a.button
      background: $blue
      padding: 10px 12px
    #nib
      width: 8px
      height: 16px
      position: absolute
      top: 50%
      left: -8px
      margin-top: -8px
      background: transparent url(../images/reward-modal/blue-nib.png) no-repeat 0 0
    #over-threshold, #reauthorize
      a
        text-decoration: underline
    #reauthorize p
      margin: 5px 0
    #reward-them, #what-is-momeant, #login
      width: 560px
      height: 395px
      float: left
      position: relative
    #current-user
      position: absolute
      top: 100px
      right: 45px
      color: $dark_blue
      font-size: 13px
      span
        display: block
    #login
      height: 200px
      padding-top: 140px
      form
        width: 275px
        height: 120px
        margin-left: 40px
        &.loading
          background: transparent url(../images/spinner.gif) no-repeat 70% 90%
          & > *
            opacity: 0.8
      li
        margin-bottom: 10px
      li.submit input, #login-back-to-reward
        background: $blue
      li.submit a.forgot
        color: $dark_blue
        margin-left: 20px
        text-decoration: underline
      #login-error, #forgot-password, #need-an-account
        position: absolute
      #login-back-to-reward
        padding: 12px
        margin-left: 10px
      #login-error
        top: 105px
        left: 70px
        font-size: 1.3em
      #need-an-account, #forgot-password
        left: 340px
      #need-an-account
        top: 145px
      #forgot-password
        top: 187px
  
  #reward-them
    text-align: center
  #reward-form
    #amounts
      font-size: 1.2em
      margin-bottom: 1em
      p
        margin-bottom: 10px
      #reward_amount
        font-size: 1.2em
        width: 60px
        padding-left: 40px
        background: #fff url(../images/reward-modal/amount-input-dollar-bg.png) no-repeat -5px 50%
    table
      background: #ededed
      width: 500px
      height: 140px
      padding: 10px
      margin: 0 auto 30px
      @include rounded(3px)
      overflow: hidden
      th
        font-weight: 400
        color: #666
        padding-bottom: 10px
      td
        padding-bottom: 5px
      .give
        width: 80px
        text-align: right
        padding-right: 20px
      .get
        text-align: left
      td.give
        font-size: 14px
      td.get
        font-family: Georgia, serif
        font-size: 11px
        font-style: italic
  
  #supporter-info
    color: #777
    font-size: 13px
    h3
      font-size: 14px
      font-weight: 400
      margin-bottom: 15px
    #thank-you-levels, #explanation
      width: 300px
      float: left
      margin-right: 50px
    #thank-you-levels
      .tip
        font-size: 12px
        padding: 1px 5px
        background: #ddd
        @include rounded(20px)
        cursor: help
      li
        margin-bottom: 8px
      .item a
        color: $text_color
        &:hover
          color: $blue
      .price
        padding: 2px 4px
        background: $lightgreen
        color: $green - #222
        margin-right: 3px
      p
        font-size: 12px
        margin: 3px 0 0
        line-height: 1.5em
    #explanation
      ul, p
        font-family: $typewriter
        font-style: italic
        font-weight: 300
      li
        list-style-type: disc
        margin: 0 0 0.5em 1.2em
      abbr
        border-bottom: 1px dotted $blue
        cursor: help
    #top-supporters
      width: 210px
      float: right
      li
        float: left
        clear: none
        width: 45px
        margin: 0 10px 10px 0
        position: relative
        &:nth-child(4n)
          margin-right: 0
        a.avatar
          display: block
        a.avatar, img
          width: 35px
          height: 35px
        .badge
          width: 16px
          height: 16px
          background: transparent url(../images/reward-modal/gold-silver-bronze.png) no-repeat 0 0
          position: absolute
          top: -5px
          left: 30px
          &.silver
            background-position: -27px 0
          &.bronze
            background-position: -53px 0
        .rewarded
          display: inline-block
          font-size: 13px
  
  #after-reward
    height: 409px
    padding: 18px
    position: relative
    
    #back-to-thank-you
      font-family: $typewriter
      font-size: 16px
      font-style: italic
      font-weight: 300
      position: absolute
      bottom: 90px
      left: 50%
      margin-left: -90px
      display: none
    #after-nav
      width: 578px
      height: 52px
      background: transparent url(../images/reward-modal/nav-bg.png) no-repeat 0 0
      position: absolute
      left: 20px
      bottom: 20px
      a
        display: block
        width: 182px
        height: 51px
        background: transparent url(../images/reward-modal/nav-buttons.png) no-repeat 0 0
        float: left
        margin-right: 5px
        &:last-child
          margin-right: 0
      #impact-button
        background-position: 0 0
        &:hover
          background-position: 0 -57px
        &:active, &.selected
          background-position: 0 -113px
      #comment-button
        width: 191px
        background-position: -187px 0
        margin-right: 6px
        &:hover
          background-position: -187px -57px
        &:active, &.selected
          background-position: -187px -113px
      #discussions-button
        width: 192px
        background-position: -386px 0
        &:hover
          background-position: -386px -57px
        &:active, &.selected
          background-position: -386px -113px
    
    .after-view
      height: 337px
      overflow: auto
    #impact-view, #comments-view, #discussions-view
      display: none
    #comments-view, #discussions-view
      padding: 7px 20px 10px 10px

    #thanks
      height: 400px
    #thank-you-note
      height: 246px
      background: transparent url(../images/reward-modal/thank-you-note.jpg) no-repeat 0 0
      padding: 55px 35px 34px 75px
      margin-bottom: 15px
      font-family: "Courier New"
      font-size: 15px
      text-shadow: 0 1px 0 #fff
      p
        margin: 0
        line-height: 21px
        padding-right: 40px
        max-height: 189px
        overflow-y: auto
      .from
        margin-top: 22px
    #thanks .as-one
      font-family: $typewriter
      font-size: 18px
      font-style: italic
      font-weight: 300
      margin: 0
      text-align: center
    
    #impact-view
      text-align: center
      p, #url_to_share
        font-family: $typewriter
        font-style: italic
      p
        margin: 25px 0 30px
        line-height: 1.5em
        font-size: 18px
      .weak
        margin: 20px 0
      #url_to_share
        width: 370px
        margin: 0 auto
        color: #777
        font-size: 14px
        font-weight: 300
        padding: 7px
        background: #f5f5f5
        border: 1px solid #ccc
        @include boxshadow(3px, 0.1, 0, 1px, 0, 0, 0, inset)
      #sharing-buttons
        a
          display: inline-block
          width: 123px
          height: 40px
          background: transparent url(../images/reward-modal/share-buttons.png) no-repeat 0 0
          text-indent: -9999px
        #share-with-facebook
          background-position: 0 -43px
          margin-left: 5px
    
    #comments-list
      form
        min-height: 47px
        padding: 5px 5px 5px 56px
        margin-bottom: 15px
        background: #eee
        textarea
          width: 86%
        img.commenter-avatar
          top: 5px
          left: 5px
        .helper
          font-size: 13px
          color: #777
          margin-bottom: 4px
      form img.commenter-avatar, ul.comment-list > li .commenter-avatar img
        width: 42px
        height: 42px
        padding: 1px
        border: 1px solid #ddd
    ul.comment-list > li
      margin: 0 0 15px
      padding-left: 56px
      .commenter-name
        color: $blue
      .text
        color: $text_color
      .metadata
        color: #ccc
    
    #discussions-view
      h3
        font-family: $typewriter
        font-size: 18px
        font-style: italic
        margin-bottom: 2px
      h3, h4
        font-weight: 500
      h4
        color: #999
        margin-bottom: 10px
      #discussion-list .text
        width: 350px
  
  #notice
    display: none
    position: absolute
    top: 0
    left: 0
    width: 800px
    height: 500px
    z-index: 9999
    #notice-cover
      width: 100%
      height: 100%
      background: transparent url(../images/modalCover.png) repeat
      background: rgba(0,0,0,0.7)
      position: absolute
      z-index: 1
    #notice-inner
      width: 480px
      height: 300px
      padding: 20px
      margin: 80px 140px
      background: #fff
      position: relative
      @include rounded
      z-index: 2
      h1
        padding: 20px
        margin: -20px -20px 20px
        background: #f7f7f7
        @include gradient
        text-align: center
        border-bottom: 1px solid #ccc
        font-size: 1.4em
        text-shadow: 0 1px 0 #fff
        -webkit-border-top-left-radius: 5px
        -webkit-border-top-right-radius: 5px
        -moz-border-radius-topleft: 5px
        -moz-border-radius-topright: 5px
        border-top-left-radius: 5px
        border-top-right-radius: 5px
      a.button
        display: inline-block
    #close-notice
      position: absolute
      top: 65px
      right: 125px
      width: 30px
      height: 30px
      display: block
      background: transparent url(../images/modalClose.png) no-repeat 0 0
      text-indent: 30px
      overflow: hidden
      z-index: 3
      

#twitter-sharing, #facebook-sharing
  width: 367px
  padding: 20px
  background: #ededed
  
  textarea
    display: block
    width: 347px
    margin: 0 auto 10px
  input[type="submit"]
    float: right
  input[type="text"], textarea
    @include rounded(3px)
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 #fff

  &.loading
    background: #f5f2eb url(../images/spinner.gif) no-repeat 50% 50%
    height: 100px
    *
      display: none
  .padded
    height: 50px
  .not-configured
    margin-top: 30px
    padding-left: 40px
    background: transparent url(../images/icons/twitterSmall.png) no-repeat 0 50%
    span
      display: block
      margin-bottom: 5px
    a
      background: #66dfff
      padding: 3px 6px
      color: #0b2d39
      @include rounded(3px)
      text-transform: uppercase
  .after
    font-size: 11px
    p
      margin: 10px 0
        
#twitter-sharing
  height: 98px
  position: relative
  .configured
    height: 100px
  #what-we-add
    position: absolute
    top: 55px
    right: 31px
    color: #777
    font-size: 11px
  #characters-left
    float: left
    color: #999
    font-style: italic
    padding-left: 5px
    .count
      font-weight: 700
      font-style: normal
  textarea
    height: 40px
  input[type="submit"]
    @include gradient(#66dfff,#4ccaff)
    color: #0b2d39
    text-shadow: 0 1px 0 rgba(255,255,255,0.5)

#facebook-sharing
  height: 137px
  position: relative
  textarea
    height: 80px
  #facebook-preview
    position: absolute
    top: 80px
    left: 23px
    width: 236px
    border-top: 1px dashed #ccc
    padding: 10px 10px 10px 115px
    font-size: 11px
    text-align: right
    .link
      color: #999
    p
      margin: 5px 0 0
      line-height: 13px
  input[type="submit"]
    @include gradient(#6481bd,#455d99)

#facebook-sharing .not-configured
  background-image: url(../images/icons/facebookSmall.png)
  margin-top: 80px
  a
    background: #6481bd
    color: #fff