.search
	ul.users.stories
		li
			width: 300px
			height: 300px
			margin: 0 25px 25px 0
			float: left
			clear: none
			background-color: #fff
			@include boxshadow(5px,0.3,3px,3px)
		li:nth-child(3n+3)
			margin-right: 0