body.index#search
	#new-york
		display: none

#search-results
	padding: 20px
			
	section
		@include clearfix
		width: 100%
		h3
			font-size: 16px
			text-transform: uppercase
			padding-bottom: 5px
			border-bottom: 1px solid #ddd
			strong
				font-weight: 700
		.data
			border-top: 1px solid #fff
			padding-top: 10px
			margin-bottom: 20px
			ul
				padding: 0
			ul.users
				li
					margin-right: 10px
					float: left
					img
						border: 1px solid #aaa
			#vertical-list
				padding-left: 0