#mid
	padding: 0 185px
	min-width: 555px
	#left-sidebar
		width: 183px
		right: 185px
		margin-left: -100%
	#right-sidebar
		width: 165px
		padding: 10px
		right: 0
		margin-right: -185px
/* IE6 Fix */
* html #left-sidebar
	left: 185px

#left-sidebar
	padding-top: 10px
	
	.join-login
		@include button
		@include gradient
		display: block
		width: 100px
		height: 30px
		line-height: 30px
		margin: 15px 0 0 20px
		text-align: center
	
	.personal-info
		padding-left: 10px
		position: relative
		height: 90px
		.avatar-coins
			position: absolute
			width: 60px
			height: 83px
			background: #000
			padding: 2px
			img
				display: block
				width: 60px
				height: 60px
			.coins
				color: #fff
				padding: 5px 0 0 14px
				.count
					padding-right: 18px
					font-weight: 700
					background: transparent url(../images/icons/coinStarWhite.png) no-repeat 100% 0
		.name, .rewards
			margin-left: 70px
		.name
			display: block
			color: #000
			font-size: 15px
			font-weight: 700
			padding: 15px 0 5px 0
			width: 118px
			overflow: hidden
			text-transform: uppercase
		.rewards
			.count, .text				
				display: block
				float: left
				height: 24px
				line-height: 24px
				vertical-align: middle
				font-size: 11px
			.count
				background: $blue url(../images/icons/recommendWhite.png) no-repeat 93% 4px
				color: #fff
				padding: 0 18px 0 7px
				font-weight: 700
				-webkit-border-top-left-radius: 3px
				-webkit-border-bottom-left-radius: 3px
				-moz-border-radius-topleft: 3px
				-moz-border-radius-bottomleft: 3px
				border-top-left-radius: 3px
				border-bottom-left-radius: 3px
			.text
				background-color: #fff
				color: #555
				padding: 0 6px
				-webkit-border-top-right-radius: 3px
				-webkit-border-bottom-right-radius: 3px
				-moz-border-radius-topright: 3px
				-moz-border-radius-bottomright: 3px
				border-top-right-radius: 3px
				border-bottom-right-radius: 3px
				
	.personal-stats
		@include rounded(3px)
		@include boxshadow(2px,0.1,2px,1px)
		background: #f7f7f7
		margin: 10px 10px -5px
		li
			border-bottom: 1px solid #e0e0e0
			height: 27px
			.icon, .text
				display: block
				float: left
				height: 27px
			.icon
				border-right: 1px solid #e0e0e0
				width: 27px
				background-repeat: no-repeat
				background-position: 50% 50%
			.text
				width: 126px
				font-size: 10px
				text-align: right
				color: #666
				line-height: 27px
		li.patron .icon
			background-image: url(../images/icons/patronBadgeSmall.png)
		li.followers .icon
			background-image: url(../images/icons/personSmall.png)
		li.rewards .icon
			background-image: url(../images/icons/starGreySmall.png)
	
	ul.nav
		li
			padding-left: 25px
			background: transparent url(../images/sidebarRowBG.png) no-repeat 0 0
			a, span
				display: block
				height: 38px
				line-height: 38px
				vertical-align: middle
				color: #000
				padding-left: 27px
				background-repeat: no-repeat
				background-position: 0 9px
			.following
				background-image: url(../images/sidenav/check.png)
			.global
				background-image: url(../images/sidenav/global.png)
			.profile
				background-image: url(../images/sidenav/user.png)
			.analytics
				background-image: url(../images/sidenav/stats.png)
			.bookmarks
				background-image: url(../images/sidenav/bookmark.png)
		li.disabled span
			opacity: 0.4
		li.header
			padding-left: 10px
			text-transform: uppercase
			color: #aaa
			font-weight: 700
			font-size: 13px
			letter-spacing: -0.1px
			text-shadow: 0 1px 1px #fff
			padding-top: 30px
			padding-bottom: 5px
			background: none
		li.header.break
			background: transparent url(../images/sidebarRowBG.png) no-repeat 0 0
		li.active
			background: transparent url(../images/sidebarRowActiveBG.png) no-repeat 0 0
			position: relative
			right: -1px
			padding-left: 24px