#right-sidebar
	width: 235px
	padding: 20px 20px 10px
	border-left: 1px solid #ccc
	background: #ccc
	.spinner
		height: 30px
		background: transparent url(../images/spinnerLightGreyBg.gif) no-repeat 50% 0
		font-size: 11px
		text-align: center
		font-style: italic
		color: #999
		line-height: 30px
		display: none
	.spinner.done
		background: none
	#user_id
		display: none
	
	h3.sidebar-label, span.sidebar-description
		width: 110px
		text-shadow: 0 1px 1px #eee
	h3.sidebar-label
		text-transform: uppercase
		font-size: 14px
		float: left
		font-weight: 900
		line-height: 1.1em
	span.sidebar-description
		float: right
		text-align: right
		font-size: 10px
		padding: 3px 0
		color: #777
	
	ul.rewards
		clear: both
		padding-top: 20px
		li
			width: 230px
			margin-bottom: 20px
			position: relative
			@include boxshadow(2px,0.2,1px,1px)
			.what
				position: relative
				.thumbnail
					display: block
					width: 230px
					height: 144px
					img
						width: 230px
						height: 144px
				.title
					display: none
					position: absolute
					top: 0
					left: 0
					padding: 10px
					width: 210px
					height: 124px
					color: #fff
					font-weight: 700
					text-transform: uppercase
					font-size: 14px
					background: rgba(0,0,0,0.5)
					z-index: 2
				.comment-pointer
					background: transparent url(../images/streamCommentPointer.png) no-repeat 0 0
					width: 13px
					height: 12px
					position: absolute
					bottom: 0
					left: 20px
					z-index: 3
			.who
				background: $background_color
				padding: 8px
				width: 214px
				min-height: 40px
				.avatar
					float: left
					width: 40px
					height: 40px
					margin-right: 5px
					img
						width: 40px
						height: 40px
				.amount-and-who
					.reward
						float: left
						margin-right: 5px
						background-color: $blue
						color: #fff
						padding: 6px 6px 6px 10px
						@include rounded(3px)
						.inner
							padding-right: 18px
							font-weight: 700
							background: transparent url(../images/icons/recommendWhite.png) no-repeat 100% 0
					.author
						font-size: 1.2em
						font-weight: 700
						text-transform: uppercase
						margin-bottom: 2px
						font-size: 11px
						display: block
						position: relative
						top: -1px
						color: #000
				.comment
					color: #555
					font-size: 11px
		li:hover
			.title
				display: block