@import "stories/form"
@import "stories/preview"
@import "stories/show"

.tag, a.tag
	background-color: #ffffff
	display: inline-block
	text-shadow: none
	font-size: 11px
	-webkit-border-radius: 8px
	-moz-border-radius: 8px
	border-radius: 8px
	padding: 3px 6px 2px 9px
	margin-top: 4px
	font-weight: 100
	font-family: $block
	.remove
		display: inline-block
		width: 10px
		text-indent: -9999px
		background: #fff url(../images/tag-close.png) no-repeat 0 -1px
		padding: 2px 5px
		margin-left: 3px
		-webkit-border-radius: 10px
		-moz-border-radius: 10px
		-border-radius: 10px
.tag:hover, a.tag:hover
	background-color: #b8e6ff