@mixin titleSlide($width:288px, $height:180px)
	width: $width
	height: $height
	overflow: hidden
	.inner
		background-color: #000
		color: #fff
		text-shadow: none
		text-align: center
		padding: 0px
		height: 100%
		width: 100%
		font-weight: bold
		display: table
		.title
			display: table-cell
			vertical-align: middle
			padding: 20px 10px 10px
			line-height: 3em
			letter-spacing: .5px
			font-size: 22px
			hr
				margin: 10px auto
				width: 40%
			span
				margin-right: .2em
				height: auto
@mixin titleSlideFullsize
	@include titleSlide(100%, 100%)
	.inner .title
		letter-spacing: -2px
		hr
			margin: 30px auto
			width: 30%
@mixin titleSlidePetite
	@include titleSlide(95px, 60px)
	.inner .title
		line-height: 1em
		font-size: 10px !important
		padding: 10px 5px
		span
			font-size: 10px !important
		p
			margin: 2px 0

@mixin blockquoteSlide($width:288px, $height:180px)
	width: $width
	height: $height
	.inner
		width: 100%
		height: 100%
	.pullquote-inner
		display: table
		height: 100%
		width: 100%
		div.quote
			display: table-cell
			vertical-align: middle
			padding: 0 6%
			width: 100%
			text-transform: uppercase
			text-align: justify
			font-size: 6px
			line-height: 11px
			font-family: $caps
			color: #333
			p:first-letter
				font-family: $dropcaps
				float: left
				font-size: 21px
				height: 21px
				line-height: 21px
				text-transform: uppercase
				vertical-align: baseline
				letter-spacing: -2px
				padding-right: 4px
				padding-top: 3px
@mixin blockquoteSlideMedium
	@include blockquoteSlide(288px, 180px)
	.pullquote-inner p
		height: 180px
		font-size: 10px
		line-height: 18px
		&:first-letter
			font-size: 30px
			height: 30px
			line-height: 30px
			letter-spacing: -2px
			padding-right: 7px
			padding-top: 7px
@mixin blockquoteSlideLarge
	@include blockquoteSlide(630px, 420px)
	.pullquote-inner		
		p
			height: 420px
			padding: 0% 7%
			font-size: 15px
			line-height: 22px
			font-weight: 100
			letter-spacing: -.4px
			&:first-letter
				font-size: 44px
				height: 44px
				line-height: 44px
				letter-spacing: -2px
				padding-right: 7px
				padding-top: 7px
@mixin blockquoteSlideFullsize
	@include blockquoteSlide(100%, 100%)
	.pullquote-inner
		p
			font-size: 34px
			line-height: 50px
			letter-spacing: -1px
			font-weight: 100
			padding: 0 10%
			&:first-letter
				font-size: 105px
				line-height: 110px
				letter-spacing: -4px
				height: 100px
				padding-top: 12px
				padding-right: 10px

@mixin fullimageSlide($width:288px, $height:180px)
	width: $width
	height: $height
	.inner, .image
		width: 100%
		height: 100%
	.inner .inner
		position: relative
	.image
		background-repeat: no-repeat
		background-position: center center
	.inner.fill-screen .image
		@include bgcover
	.inner.fit-to-screen .image
		@include bgcontain
	.caption
		top: 5px
		right: 5px
		position: absolute
		font-size: 10px
		padding: 3px
		background-color: #fff
		background-color: rgba(255,255,255,0.9)
		text-shadow: none
		text-align: left
		font-family: $serif
		border-bottom: 2px solid black
		font-style: italic
		&:first-letter
			font-family: $typewriter
			vertical-align: baseline
			float: left
			font-size: 20px
			line-height: 10px
			text-transform: uppercase
			font-weight: 700
			font-style: normal
			padding-right: 2px
	
@mixin fullimageSlideFullsize
	@include fullimageSlide(100%, 100%)
	.caption
		padding: 20px 20px 22px 25px
		max-width: 400px
		right: 50px
		top: 50px
		line-height: 24px
		border-bottom: 5px solid black
		font-size: 12px
		&:first-letter
			font-size: 44px
			line-height: 24px
			letter-spacing: -4px
			height: 24px
			padding-top: 10px
			padding-right: 10px		
	.top-right, .top-left
		top: 50px
		bottom: auto
	.bottom-right, .bottom-left
		top: auto
		bottom: 50px
	.top-right, .bottom-right
		right: 50px
		left: auto
	.top-left, .bottom-left
		left: 50px
		right: auto

@mixin videoSlide($width:288px, $height:180px)
	width: $width
	height: $height
	text-align: center
	.insides
		margin: 0
		width: 100%
		height: 100%
	
@mixin videoSlideFullsize
	@include videoSlide(100%, 100%)
	background-color: #000
	iframe
		position: relative
		margin: 5% auto
		z-index: 4

@mixin splitSlide($width:288px, $height:180px)
	width: $width
	height: $height
	div.split
		height: 100%
		color: #000
		.image, .text
			width: 50%
			position: relative
		.image1, .text1
			float: left
		.image2, .text2
			float: right
		.image
			height: 100%
			.inner
				height: 100%
				width: 100%
				background-repeat: no-repeat
				background-position: center center
		.image.fill-screen .inner
			@include bgcover
		.image.fit-to-screen .inner
			@include bgcontain
		.text	
			font-size: 1.6em
			display: table
			height: 100%
			.inner
				padding: 2% 8% 2% 12%
				width: 34%
				vertical-align: middle
				display: table-cell
				font-family: $typewriter
				line-height: 9px
				font-size: 3px
				&:first-letter
					font-family: $caps
					font-size: 26px
					vertical-align: baseline
					float: left
					text-transform: uppercase
					line-height: 20px
					letter-spacing: -4px
					height: 20px
					padding-top: 4px
					padding-right: 1px
		.hidden
			display: none
@mixin splitSlideMedium
	@include splitSlide(288px, 180px)
	div.split
		height: 180px
		.text
			.inner
				line-height: 18px
				font-size: 12px
				&:first-letter
					font-size: 40px
					line-height: 40px
					letter-spacing: -3px
					height: 40px
					padding-top: 4px
					padding-right: 4px
@mixin splitSlideLarge
	@include splitSlide(630px, 420px)
	div.split
		height: 420px
		.text
			.inner
				line-height: 27px
				font-size: 12px
				&:first-letter
					font-size: 87px
					line-height: 82.5px
					letter-spacing: -3px
					height: 75px
					padding-top: 10.5px
					padding-right: 7.5px
@mixin splitSlideFullsize
	@include splitSlide(100%, 100%)
	div.split
		.text
			.inner
				line-height: 36px
				font-size: 16px
				&:first-letter
					font-size: 116px
					line-height: 110px
					letter-spacing: -4px
					height: 100px
					padding-top: 14px
					padding-right: 10px

@mixin gridSlide($width:288px, $height:180px)
	width: $width
	height: $height
	ul.cells
		height: 100%
		li
			width: 25%
			height: 50%
			float: left
			position: relative
			margin: 0
			clear: none
			.side
				margin: 0
			.front, .back
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
			.front
				z-index: 2
			.back
				z-index: 1
			.side
				.text, .image
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
				.image
					display: block
					@include bgcover
				.text
					display: table
					font-size: 2em
					text-align: center
					.inner
						background-color: #fff
						padding: 0 10%
						vertical-align: middle
						display: table-cell
						font-family: $typewriter
						line-height: 26px
						font-size: 14px
						text-align: justify
						letter-spacing: -.5px
						&:first-letter
							font-family: $caps
							font-size: 50px
							vertical-align: baseline
							float: left
							text-transform: uppercase
							line-height: 50px
							height: 50px
							padding-top: 10px
							padding-right: 4px
				.hidden
					display: none
		li:hover		
			.front
				z-index: 1
			.back
				z-index: 2
@mixin gridSlideFullsize
	@include gridSlide(100%, 100%)


@import "stories/form"
@import "stories/preview"
@import "stories/show"
@import "stories/gallery"

.thumbnail.title
	@include titleSlide
.thumbnail.full_image
	@include fullimageSlideFullsize
	.inner
		height: 420px
.thumbnail.pullquote
	@include blockquoteSlideLarge
.thumbnail.split
	@include splitSlideLarge
.thumbnail.grid
	ul.cells
		li
			width: 157.5px
			height: 210px
			float: left
		.image img
			width: 157.5px
			height: 210px
.thumbnail.large
	width: 630px
	height: 420px
	overflow: hidden
	display: table
	background-color: #fff
	.inner
		height: 420px

.thumbnail.title.medium
	.inner
		display: table
.thumbnail.full_image.medium
	.inner
		height: 180px
.thumbnail.pullquote.medium
	@include blockquoteSlideMedium
.thumbnail.split.medium
	@include splitSlideMedium

.thumbnail.title.petite
	@include titleSlidePetite
.thumbnail.full_image.petite
	@include fullimageSlide(95px,60px)

ul.stories
	li.story
		background-color: white
		float: left
		-webkit-box-shadow: 3px 3px 5px #BBBBBB
		-moz-box-shadow: 3px 3px 5px #BBBBBB
		box-shadow: 3px 3px 5px #BBBBBB
		position: relative
		
	li.medium.story	
		height: 300px
		margin-bottom: 25px
		margin-right: 25px
		width: 300px
		a.thumbnail
			display: block
			width: 288px
			height: 180px
			margin: 6px
			overflow: hidden

	li.story.third
		margin-right: 0px

	.title a
		color: black
		font-family: $block
		font-size: 12px
		font-weight: 700
		letter-spacing: 0.2px
		line-height: 15px
		margin: 0 10px

	.author
		color: black
		font-family: $serif
		font-style: italic
		border-bottom: 1px dotted black
		font-size: 11px
		letter-spacing: .3px
		line-height: 20px
		margin: 0 10px
		padding-bottom: 4px
		a
			color: $blue

	.views
		position: absolute
		top: 192px
		right: 10px
		padding-right: 18px
		background: transparent url(../images/icons/views.png) no-repeat 100% 0
	.rewards
		position: absolute
		top: 210px
		right: 10px
		padding-right: 18px
		background: transparent url(../images/icons/recommendOff.png) no-repeat 100% 0
	.rewarded
		background: transparent url(../images/icons/recommendOn.png) no-repeat 100% 0

	.excerpt
		font-family: $block
		font-weight: 100
		font-size: 11px
		margin: 10px
		line-height: 15px
		height: 45px
		width: 220px
		overflow: hidden

.recommendation-stream
	width: 290px
	height: 364px
	float: right
	overflow: hidden
	border: 5px solid #000
	border-top: none
	.heading
		background-color: #000
		color: #fff
		font-size: 18px
		font-weight: 900
		text-transform: uppercase
		text-align: center
		height: 25px
		line-height: 25px
		vertical-align: middle
		padding: 3px 0
	.tabs
		height: 33px
		min-height: 33px
		margin: 0
		a
			width: 144px
			background-color: #000
			color: #666
			border: none
			padding: 9px 0 6px
			text-align: center
		a.active
			background-color: #000
			color: #fff
			-webkit-box-shadow: none
			-moz-box-shadow: none
			box-shadow: none
			cursor: default
		a:hover
			background-color: #000
		a:first-child
			border: none
		a.subscribed-to-recommendations
			border-right: 1px solid $background_color
		a.momeant-recommendations
			border-left: 1px solid $background_color
	ul
		padding: 10px 10px 0 10px
		li
			display: block
			width: 270px
			height: 60px
			background: transparent url(../images/simpleDotBG.png) repeat-x 50% 100%
			padding: 10px 0
			position: relative
			a.thumbnail
				width: 95px
				height: 60px
				display: block
				float: left
				margin: 0 8px 0 0
				overflow: hidden
			.info
				width: 109px
				float: left
				margin-right: 8px
				.title
					font-family: $block
					color: #000
					font-weight: 700
				.author
					border: none
					margin: 0
					font-size: 10px
			.price
				width: 50px
				float: left
				right: 0
				bottom: 20px
		li:last-child
			background: none
			margin-bottom: 0
		li.story
			background-color: transparent
			-webkit-box-shadow: none
			-moz-box-shadow: none
			box-shadow: none
		li.reward
			position: relative
			height: auto
			.avatar
				width: 50px
				position: absolute
				top: 0
				left: 0
				overflow: hidden
				img
					width: 50px
			.info
				margin-left: 60px
				width: 100%
				.who-recommended, .title
					font-weight: 700
					display: block
					width: 100%
				.who-recommended
					text-transform: uppercase
				.starred
					background: transparent url(../images/icons/starBlue.png) no-repeat 0 1px
					padding-left: 12px
			.why
				font-family: $typewriter
				font-size: 13px

.personal-library
	clear: both

.tag, a.tag
	background-color: #ffffff
	display: inline-block
	text-shadow: none
	font-size: 11px
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	padding: 2px 5px 1px 8px
	margin-top: 6px
	margin-right: 5px
	font-weight: 100
	font-family: $block
	.remove
		display: inline-block
		width: 10px
		text-indent: -9999px
		background: transparent url(../images/tag-close.png) no-repeat 0 -1px
		padding: 2px 5px
		margin-left: 3px
.tag:hover, a.tag:hover
	background-color: #b8e6ff

.addthis_button_compact
	span
		width: 0
		height: 0

.ignore
	#at15s_inner
		background-color: #000
	#at_hover
		background-color: #000
		.at_item
			background-color: #000 !important
			span
				color: #fff !important
				text-shadow: none

#reward-box
	width: 430px
	float: left
	.tab
		font-family: $block
		font-weight: 900
		text-transform: uppercase
		background: transparent url(../images/tab213x29.png) no-repeat 0 0
		width: 173px
		padding: 0 20px
		vertical-align: middle
		text-align: center
		.tab-inner
			line-height: 28px
			height: 28px
			background: transparent url(../images/coinBlack18.png) no-repeat 5px 50%
			padding-left: 10px
	.inner
		width: 410px
		height: 281px
		padding: 10px
		background-color: #eee
		.amount
			p
				float: left
				width: 50%
				text-align: center
				font-size: 0.9em
			ul.coins
				float: right
				margin-top: 10px
				width: 50%
				li
					float: left
					clear: none
					width: 30%
					height: 63px
					text-align: center
					cursor: pointer
					input
						display: none
				li.bronze
					background: transparent url(../images/coinBronze.png) no-repeat 0 5px
				li.silver
					background: transparent url(../images/coinSilver.png) no-repeat 0 5px
				li.gold
					background: transparent url(../images/coinGold.png) no-repeat 0 5px
				li:hover, li.selected
					background-position: 0 -53px
		.comment
			textarea
				width: 96%
				height: 80px
			p
				font-size: 0.9em
				text-align: center
				margin: 5px 0
			input[type="submit"]
				background-color: #ffc92a
				color: #fff
				display: block
				margin: 0 auto
#reward-box.loading .inner
	background: #eee url(../images/spinner.gif) no-repeat 50% 50%
	form
		display: none
#you-rewarded
	.amount
		width: 53px
		height: 53px
		margin: 20px auto
	.amount.bronze
		background: transparent url(../images/coinBronze.png) no-repeat 0 0
	.amount.silver
		background: transparent url(../images/coinSilver.png) no-repeat 0 0
	.amount.gold
		background: transparent url(../images/coinGold.png) no-repeat 0 0
	.comment
		padding: 0 20px
		text-align: center
		font-family: $typewriter
		font-size: 1.5em
	.note
		text-align: center
		margin-top: 10px
		font-size: 0.9em