$background_color: #eee
$text_color: #252525
$link_color: #307399

$category_color: #d35151
$job_type_color: #5197d3
$payment_type_color: #a451d3
$term_color: #d27442

$border_type: 1px dotted #ccc

/* Element styles */

html, body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 12px
	color: $text_color
	text-shadow: 0 1px 1px #fff
	background: #fff
	//$background_color url(../images/cardboard.jpg) repeat
	min-height: 100%

h1, h2
	font-weight: normal

p
	line-height: 1.8em
	margin: 20px 0

a, a:visited
	color: $link_color

h1
	font-size: 1.7em
h2
	font-size: 1.3em

/* Layout */

header .insides, #mid .insides, #footer .insides
	width: 960px
	padding: 10px 0 0
	margin: 0 auto
	position: relative

.fullscreen
	header .insides, #mid .insides, #footer .insides
		width: 100%
	#footer
		display: none

#mid .insides
	padding: 0

#main
	width: 100%

#mid
	min-height: 400px

#main
	padding-bottom: 50px

#footer
	position: relative
	margin-top: -51px
	height: 50px
	clear: both
	text-align: center

@import "toolbar"
@import "flash"
@import "errors"
@import "forms"
@import "stories"
@import "users"

.hidden
	display: none

.tip
	display: none
	background: transparent url(../images/tooltip-bg.png) no-repeat 0 0
	padding: 12px 8px 5px
	color: #fff
	font-weight: bold
	text-shadow: none
	position: absolute
	bottom: -26px
	left: 6px
	z-index: 100

.tabs
	border-bottom: $border_type
	min-height: 40px
	a
		padding: 2%
		display: block
		float: left
		text-align: center
		width: 46%
		height: 96%
	a:hover
		background-color: #daf1ff
	a.active
		background-color: #ccc
		color: #333