@import "presets"

/* Element styles */

html, body
	font-family: $block
	font-size: 14px
	color: $text_color
	background: $background_color
	min-height: 100%
	text-rendering: optimizelegibility
	position: relative

h1, h2
	font-weight: normal
h2
	background: none repeat scroll 0 0 #EAEAEA
	font-family: $block
	font-size: 13px
	font-weight: 700
	padding: 11px 13px 9px
	text-transform: uppercase
	clear: both

p
	line-height: 1.8em
	margin: 20px 0

a, a:visited
	color: $link_color
	outline: none

h1
	font-size: 1.7em
h2
	font-size: 1.3em

.hidden
	display: none
.weak
	color: $text_color + #777

/* Layout */

#container
	position: relative
	padding-top: 42px

#main
	max-width: 1367px
	margin: 0 auto

.fullscreen
	position: absolute
	top: 0
	bottom: 0
	width: 100%
	.fullscreen-hidden
		display: none
	#container
		position: static
		margin: 0
		padding: 0
		#main
			width: 100%
			margin: 0
			padding: 0
			top: 0
			right: 0

#footer
	display: none
	position: relative
	margin-top: -51px
	height: 50px
	clear: both
	text-align: center
	.insides
		font-family: $block
		color: #eaeaea
		position: relative
		padding: 18px 0 0
		margin: 0 auto
		width: 950px
		text-transform: uppercase
		letter-spacing: .2px
		font-size: 14px
		font-weight: 900
		.left
			float: left
		.right
			float: right
			a
				text-transform: lowercase
				font-size: 11px
				margin-left: 1px
				color: #bbb
				font-weight: 900
				font-family: $typewriter
				background-color: transparent
				padding: 4px 10px 3px
				-moz-border-radius: 2px
				letter-spacing: .5px
			a:hover
				border-radius: 4px
				color: $blue
				background-color: $lightblue

#loader
	background: #fff url(../images/spinner.gif) no-repeat 50% 50%
	display: none
	position: fixed
	top: 42px
	left: 0
	bottom: 0
	right: 0
	z-index: 9999

@import "toolbar"
@import "flash"
@import "errors"
@import "forms"
@import "tabs"
@import "tables"
@import "pagination"
@import "vertical_list"
@import "landing"
@import "discovery"
@import "people"
@import "comments"
@import "users"
@import "subscriptions"
@import "stories"
@import "modals"
@import "fancybox"
@import "admin"
@import "search"
@import "about"
@import "faq"
@import "rewards"
@import "payments"
@import "tags"
@import "visualization"
@import "messages"
@import "activity"


.info-bar
	background-color: $blue
	color: #fff
	padding: 7px 10px
	margin-bottom: 20px
	a
		color: #fff
		font-style: italic
		text-decoration: underline

.tabs
	height: 29px
	a
		font-family: $block
		font-size: 13px
		font-weight: 900
		letter-spacing: 0.3px
		text-transform: uppercase
		padding: 0 20px
		width: 173px
		height: 29px
		line-height: 29px
		vertical-align: middle
		display: block
		float: left
		text-align: center
		background: transparent url(../images/tab213x29Dark.png) no-repeat 0 0
		color: #fff
	a.active	
		background: transparent url(../images/tab213x29White.png) no-repeat 0 0
		color: $text_color
	a.right-side
		float: right
	a.bordered-left
		border-left: 1px solid #ccc

.colorpicker
	z-index: 100
	
.tipsy
	z-index: 1000

.reward-count
	padding-right: 12px
	background: transparent url(../images/icons/starBlackTiny.png) no-repeat 100% 2px
.impact-count
	padding-right: 15px
	background: transparent url(../images/icons/impactTiny.png) no-repeat 100% 0