$background_color: #fff
$text_color: #252525
$link_color: #307399

$category_color: #d35151
$job_type_color: #5197d3
$payment_type_color: #a451d3
$term_color: #d27442

$border_type: 1px dotted #ccc

@mixin rounded($radius: 5px)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	border-radius: $radius
@mixin boxshadow($radius: 10px, $opacity: 0.7)
	-webkit-box-shadow: 0 0 $radius rgba(0,0,0,$opacity)
	-moz-box-shadow: 0 0 $radius rgba(0,0,0,$opacity)
	box-shadow: 0 0 $radius rgba(0,0,0,$opacity)

/* Element styles */

html, body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 12px
	color: $text_color
	text-shadow: 0 1px 1px #fff
	background: $background_color
	//$background_color url(../images/cardboard.jpg) repeat
	min-height: 100%
	height: 100%
	overflow-x: hidden

h1, h2
	font-weight: normal

p
	line-height: 1.8em
	margin: 20px 0

a, a:visited
	color: $link_color

h1
	font-size: 1.7em
h2
	font-size: 1.3em

/* Layout */

header .insides, #mid .insides, #footer .insides
	width: 960px
	padding: 10px 0 0
	margin: 0 auto
	position: relative

.fullscreen
	header .insides, #mid .insides, #footer .insides
		width: 100%
		min-width: 960px
	#mid, #mid .insides, form, form fieldset, form ul
		height: 100%
	#main
		padding: 0
	#mid
		height: 100%
		position: absolute
		width: 100%
		top: 0
		min-height: 600px
		padding-top: 0
		.insides
			margin-top: 60px
	#footer
		display: none

#mid .insides
	padding: 0

#main
	width: 100%
	padding-bottom: 50px

#mid
	min-height: 400px
	padding: 10px 0

#footer
	position: relative
	margin-top: -51px
	height: 50px
	clear: both
	text-align: center

@import "toolbar"
@import "flash"
@import "errors"
@import "forms"
@import "stories"
@import "users"
@import "deposits"

.hidden
	display: none

.tabs
	border-bottom: $border_type
	min-height: 40px
	a
		padding: 2%
		display: block
		float: left
		text-align: center
		width: 46%
		height: 96%
	a:hover
		background-color: #daf1ff
	a.active
		background-color: #ccc
		color: #333

.colorpicker
	z-index: 100