#subscribe-pitch
	.byline
		width: 550px
		margin: 40px auto 0
		text-align: center
		h1
			font-family: $block
			font-size: 33px
			font-weight: 700
			text-transform: uppercase
			text-shadow: $background_color -1px 1px 0, $blue -2px 2px 0
			margin-bottom: 5px
		h3
			font-family: $typewriter
			color: $blue
			font-size: 18px
			font-weight: 100
			width: 450px
			margin: 0 auto
	a.button
		width: 502px
		text-align: center
		font-size: 20px
		display: block
		margin: 40px auto
		font-weight: 600
		padding: 3px
		span
			@include rounded(3px)
			padding: 12px 0
			display: block
			border: 1px solid #fff
			width: 500px
	ul.thirds
		height: 370px
		margin: 10px 0 40px
		li
			float: left
			width: 316px
			border-right: 1px dotted #ccc
			img
				display: block
				margin: 0 auto
				width: 220px
				height: 130px
			h3
				font-size: 18px
				text-transform: uppercase
				color: #7f7f7f
				vertical-align: middle
				margin: 30px auto
				width: 220px
				height: 60px
				text-align: center
				padding-bottom: 9px
				background: transparent url(../images/subscribeCurlShadow.png) no-repeat 50% 100%
				span
					display: block
					background-color: #fff
					height: 60px
					line-height: 60px
			p
				width: 220px
				margin: 0 auto
				text-align: center
				font-family: $typewriter
				font-size: 1.1em
		li.make
			border: none
	.nitty-gritty
		padding-top: 110px
		background: transparent url(../images/nittyGritty.jpg) no-repeat 50% 0
		.question
			margin-top: 20px
			height: 200px
			position: relative
			h2, p
				width: 650px
			h2
				font-family: $typewriter
				color: $red
				font-size: 29px
				background-color: transparent
				text-transform: none
				margin: 0
				padding: 0
				font-weight: 100
			p
				font-size: 1.1em
				margin: 7px 0
			img
				position: absolute
				top: 0
				right: 0
				@include boxshadow(5px,.2,0,0)
				width: 240px
				height: 200px