body#subscriptions.index, body#subscriptions.work, body#subscriptions.rewards, body#subscriptions.discussions, body#subscriptions.user
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 100%
  
  #container
    position: static
    padding: 0
  
  #main
    max-width: 100%
    margin: 0
  
#recent-activity
  position: absolute
  top: 42px
  bottom: 0
  left: 300px
  right: 0
  padding: 30px 40px
  overflow-y: auto
  &.loading
    background: transparent url(../images/spinner.gif) no-repeat 50px 40px
    *
      visibility: hidden
  
  section
    width: 40%
    float: left
    margin-bottom: 40px
    margin-right: 10%
    &:nth-child(even)
      margin-right: 0
    &:nth-child(odd)
      clear: left
    
    a.drill-in
      float: right
  
  h1
    font-size: 2.5em
    font-weight: 900
    text-transform: uppercase
    margin-bottom: 15px
    img
      float: left
      margin-right: 10px
    span
      display: block
  
  .empty
    border-top: 1px solid #eee
    padding: 10px 0
  
  li
    position: relative
    padding: 10px 0 10px 70px
    min-height: 60px
    border-top: 1px solid #eee
    &:last-child
      border-bottom: 1px solid #eee
      margin-bottom: 10px
  .avatar
    position: absolute
    top: 10px
    left: 0
  .headline
    font-size: 16px
    margin: 4px 0 12px
    a
      color: $text_color
      font-weight: 600
  a.content-preview
    float: left
    margin-right: 10px
  .title
    display: block
    margin-top: 10px
  p
    clear: left
    font-family: $typewriter
    font-size: 12px
    font-style: italic
    color: #777
    margin: 0
    padding-top: 10px
    line-height: 1.3em

#recent-activity.drilled-in
  section
    width: 100%
    float: none
    margin-right: 0
  a.back-to-feed
    display: inline-block
    font-size: 1.1em
    margin-bottom: 10px
  ul
    border-left: 3px solid #ccc
    padding-top: 10px
    margin-left: 80px
  li
    padding: 0 0 0 125px
    margin-left: -108px
    margin-bottom: 30px
    border: none
    background: transparent url(../images/feed/reward.png) no-repeat 99px 0
    &.content
      background-image: url(../images/feed/content.png)
    &.discussion
      background-image: url(../images/feed/discussion.png)
    .avatar
      top: 3px
      left: 25px

#feed-sidebar
  position: absolute
  top: 42px
  bottom: 0
  right: left
  width: 300px
  background: #222
  color: #fff
  border-right: 1px solid #ddd
  overflow-y: auto
  
  h2
    background: #555
    color: #000
    margin: 5px
  p
    padding: 5px
    margin: 0
  a.following
    display: block
    position: relative
    height: 40px
    padding: 10px 10px 10px 70px
    margin: 5px 5px 0
    background: #333
    color: #ccc
    @include transition(all)
    &:hover, &.selected
      background: $blue
      color: #003750
      .count
        background: #003750
  .avatar
    position: absolute
    top: 0
    left: 0
    width: 60px
    height: 60px
  .name
    font-family: $typewriter
    font-size: 15px
    font-style: italic
    span
      display: block
  .count
    position: absolute
    top: 20px
    right: 10px
    background: $red
    color: #fff
    padding: 1px 5px
    text-align: center
    min-width: 10px
    @include rounded(20px)