table
	border-spacing: 0
	border: 1px solid #e0e0e0
	th, td
		text-align: left
		padding: 10px 20px
		border-bottom: 1px solid #e0e0e0
		vertical-align: middle
	th
		font-weight: 700
		text-transform: uppercase
		border-bottom: 1px solid #ccc
	td
		border-top: 1px solid #fff
		background: #f4f4f4
	tr:nth-child(odd) td
		background: #fafafa
	td .stats
		clear: both
		padding-top: 10px
		span.impact, span.rewards, span.rewardees
			display: block
			float: left
			width: 30%
		.count
			padding-left: 18px
			background: transparent url(../images/icons/starBlackSmall.png) no-repeat 0 50%
			letter-spacing: -0.07em
			font-family: $numerals
			font-size: 20px
		.tiny
			font-family: $numerals
			font-size: 10px
			text-transform: uppercase
			margin-top: 5px
		.rewardees .count
			background-image: url(../images/icons/personSmall.png)
	tr.heading
		th
			font-size: 13px
			font-weight: 700
			color: #555
			text-shadow: 0 1px 0 #fff
			padding: 20px
			text-transform: none
			background: #f7f7f7
			@include gradient
	td.numerals
		text-align: center
		font-family: $numerals
		font-size: 56px
		font-weight: 200
	td.rank
		width: 40px
		span
			display: block
			background: #222
			color: #fff
			width: 40px
			height: 24px
			text-align: center
			@include rounded(20px)
			font-family: $numerals
			font-size: 24px
			font-weight: 300
			padding: 6px 0 10px
	td.large-stat
		text-align: right
		.count
			font-family: $numerals
			font-size: 30px
			font-weight: 300