table
	border-spacing: 0
	border: 1px solid #e0e0e0
	th, td
		text-align: left
		padding: 10px 20px
		border-bottom: 1px solid #e0e0e0
		vertical-align: middle
	th
		font-weight: 700
		text-transform: uppercase
		border-bottom: 1px solid #ccc
	td
		border-top: 1px solid #fff
		background: #f4f4f4
	tr:nth-child(odd) td
		background: #fafafa
	tr.heading
		th
			font-size: 13px
			font-weight: 700
			color: #555
			text-shadow: 0 1px 0 #fff
			padding: 20px
			text-transform: none
			background: #f7f7f7
			@include gradient
	td.numerals
		text-align: center
		font-family: $numerals
		font-size: 56px
		font-weight: 200
		div
			float: left
		.count
			padding-right: 18px
			background: transparent url(../images/icons/starBlackSmall.png) no-repeat 100% 14px
			letter-spacing: -0.07em
		.tiny
			font-family: $numerals
			font-size: 10px
			text-transform: uppercase
			width: 45px
			text-align: right
			margin: 15px 5px 0 0