.horizontal-tabs
	ul
		height: 35px
		background: #e0e0e0
		padding-left: 20px
	li
		display: block
		float: left
		height: 35px
		position: relative
		img.notification
			position: absolute
			top: -12px
			right: 0
		a
			display: block
			color: #fff
			background: #bbb
			height: 25px
			padding: 4px 18px 4px
			position: relative
			top: 2px
			text-transform: uppercase
			line-height: 25px
			font-weight: 700
			-webkit-border-top-left-radius: 3px
			-moz-border-radius-topleft: 3px
			border-top-left-radius: 3px
			-webkit-border-top-right-radius: 3px
			-moz-border-radius-topright: 3px
			border-top-right-radius: 3px
			margin-right: 5px
		a.active
			background: $background_color
			color: #000
			text-shadow: none
			padding: 5px 18px
			top: 0

.tabbed
	padding: 20px 0

.what-is-this
	padding: 15px
	background: $blue url(../images/slightlyDarkDiagonals.png) repeat-x 0 0
	color: #fff
	text-transform: uppercase
	margin: 0 20px
	font-weight: 700