a.tag
	display: inline-block
	background: #ddd
	color: #333
	@include rounded(3px)
	padding: 1px 4px
	font-size: 11px
	margin-bottom: 3px
	margin-right: 1px
	overflow: hidden
	white-space: nowrap
a.tag:hover
	background: #fff
	color: #000