.yui-editor-container
	border: 1px solid #ccc !important
	.yui-toolbar-titlebar
		display: none !important
	.yui-toolbar-container
		.yui-toolbar-subcont
			border-bottom: 1px solid #ccc !important
			background-color: #f7f7f7 !important
			padding: 5px 10px !important
			h3
				display: none
			select
				border: 1px solid #ccc !important
				@include rounded(3px)
			ul li
				margin-bottom: 0 !important