header
	#user-nav
		position: relative
		height: 50px
		border-bottom: 1px dotted #ccc
		#logo, #signup, #signin, #signout, #profile, #create, #balance, #subscriptions, #recommendations, #topics, #search
			position: absolute
			top: 0
		#logo
			font-size: 1.5em
			left: 0
			top: 10px
		#signup, #profile, #signin, #signout
			top: 15px
		#signup, #profile
			left: 200px
		#signin, #signout
			left: 320px
		#create, #balance, #subscriptions, #recommendations, #topics
			a
				display: block
				text-indent: -9999px
				background-color: transparent
				background-repeat: no-repeat
				width: 40px
				height: 40px
		#create:hover, #balance:hover, #subscriptions:hover, #recommendations:hover, #topics:hover
			.tip
				display: block
				left: 14px
		#create
			left: 410px
			a
				background-image: url(../images/icons/create.png)
		#balance
			left: 450px
			a
				background-image: url(../images/icons/balance.png)
		#subscriptions
			left: 490px
			a
				background-image: url(../images/icons/person.png)
		#recommendations
			left: 530px
			a
				background-image: url(../images/icons/recommend.png)
		#topics
			left: 650px
			a
				background-image: url(../images/icons/topics.png)
		#search
			left: 760px
			top: 8px
			width: 200px
			input[type="text"]
				width: 160px
			input[type="submit"]
				width: 20px
				height: 20px
				padding: 0
				margin: 0
				background: transparent url(../images/icons/search.png) no-repeat
				-webkit-box-shadow: none
				-moz-box-shadow: none
				box-shadow: none
				text-indent: -9999px