header
	background: transparent url(../images/topNavBG.png) repeat-x scroll 0 0
	position: relative
	z-index: 100
	#user-nav
		position: relative
		height: 42px
		ul.links
			position: absolute
			left: 0
			width: 100%
			li
				float: left
		#home, #profile, #faq, #topics, #create
			width: 46px
			height: 36px
			background: transparent url(../images/topNavBreak.gif) no-repeat 0 0
			a
				width: 46px
				height: 36px
				display: block
				margin: 0 auto
				text-indent: -9999px
				background-color: transparent
				background-repeat: no-repeat
				background-position: 50% 6px
		#home
			a
				background: url(../images/icons/momeantHome.png) no-repeat scroll 50% 6px transparent
		#signup, #profile, #signin, #signout
			top: 15px
		#signup
			left: 60px
		#profile a
			background-image: url(../images/icons/momeantProfile.png)
		#signin, #signout
			left: 140px
		#create:hover, #balance:hover, #subscriptions:hover, #recommendations:hover, #topics:hover
			.tip
				display: block
				left: 14px
		#faq a
			background-image: url(../images/icons/momeantHelp.png)
		#create a
			background-image: url(../images/icons/momeantAddStory.png)
		#balance	
			background: transparent url(../images/topNavBreak.gif) no-repeat 0 0
			a
				display: block
				color: #000
				font-weight: bold
				font-size: 1.1em
				padding: 12px 10px
		#subscriptions a
			background-image: url(../images/icons/person.png)
		#recommendations
			background: transparent url(../images/topNavBreak.gif) no-repeat 0 0
			width: 46px
			height: 36px
			span.icon
				position: absolute
				display: block
				width: 46px
				height: 36px
				background: transparent url(../images/icons/momeantStream.png) no-repeat 50% 6px
				cursor: pointer
			.inner
				display: none
				background: transparent url(../images/topTriangle.png) no-repeat 10px 0
				padding-top: 7px
				position: absolute
				top: 35px
				.recommendation-stream
					background-color: $background-color
					@include boxshadow
					height: auto
		#recommendations:hover
			.inner
				display: block
		#topics	
			background: transparent url(../images/topNavBreak.gif) no-repeat 0 0
			span
				position: absolute
				display: block
				width: 46px
				height: 36px
				background: transparent url(../images/icons/momeantTopics.png) 50% 6px no-repeat
				cursor: pointer
			.inner
				background: transparent url(../images/topTriangle.png) no-repeat 10px 0
				padding-top: 7px
				position: absolute
				top: 35px
			.topic-list
				border: 3px solid #000
				@include boxshadow
				display: none
				.odd
					background-color: #f0f0f0
				.even
					background-color: #fff
				li
					float: none
					a
						width: 130px
						height: 1.1em
						padding: 12px 10px
						text-indent: 0
						font-weight: bold
						font-size: 1.1em
						text-transform: uppercase
						color: #000
						background: transparent url(../images/topicIconsAll.png) no-repeat 120px 0
				li:hover
					background-color: #b8e6ff
				li.business a
					background-position: 120px -39px
				li.culture a
					background-position: 120px -585px
				li.design a
					background-position: 120px -78px
				li.diy a
					background-position: 120px -800px
				li.education a
					background-position: 120px -117px
				li.environment a
					background-position: 120px -156px
				li.fashion a
					background-position: 120px -78px
				li.gastronomy a
					background-position: 120px -195px
				li.health a
					background-position: 120px -234px
				li.history a
					background-position: 120px -273px
				li.literature a
					background-position: 120px -351px
				li.music a
					background-position: 120px -390px
				li.journalism a
					background-position: 120px -312px
				li.science a
					background-position: 120px -429px
				li.sports a
					background-position: 120px -468px
				li.technology a
					background-position: 120px -507px
				li.travel a
					background-position: 120px -546px
		#topics:hover
			.topic-list
				display: block
		#hi
			background: transparent url(../images/topNavBreak.gif) no-repeat 0 0
			padding: 13px 10px 13px 12px
			font-size: 1.1em
			font-weight: 900
			text-transform: uppercase
			text-shadow: none
			.signout-link
				color: #bbbbbb
				letter-spacing: .3px
				padding-left: 10px
		#search
			padding-top: 8px
			float: right
			width: 200px
			label
				color: #999999
				font-family: georgia
				font-size: 10px
				font-style: oblique
				font-weight: normal
				letter-spacing: 0.4px
				padding: 5px 0 0 10px
				text-transform: lowercase
			input[type="text"]
				width: 160px
				height: 12px
				font-family: georgia
				font-size: 11px
				font-style: oblique
				font-weight: normal
				letter-spacing: 0.4px
				text-transform: lowercase
				color: #999999
			input[type="submit"]
				width: 20px
				height: 20px
				padding: 0
				margin: 0
				background: transparent url(../images/icons/search.png) no-repeat
				-webkit-box-shadow: none
				-moz-box-shadow: none
				box-shadow: none
				text-indent: -9999px
	.momeant-header
		display: block
		text-indent: -9999px
		height: 130px
		padding-top: 33px
		background: transparent url(../images/diagStripeBG.png) repeat-x 0 100%
		margin-bottom: 10px
		#logo-large
			height: 100px
			width: 645px
			float: left
			background: transparent url(../images/logoLrg.png) no-repeat 0 0
		.round-button
			display: block
			width: 91px
			height: 91px
			float: right
			margin-top: 5px
		#join
			background: transparent url(../images/joinLoginDot.png) no-repeat 0 0
		#stumble
			background: transparent url(../images/stumbleDot.png) no-repeat 0 0
		#beta
			background: transparent url(../images/betaDot.png) no-repeat 0 0
.fullscreen .momeant-header
	display: none

header.hide-nav
	background: none
	#user-nav
		display: none