header
	.topic-name
		height: 100px
		width: 803px
		float: left
		background-repeat: no-repeat
		background-position: 0 0
	.topic-name.art
		background-image: url(../images/headerArt.png)
	.topic-name.business
		background-image: url(../images/headerBusiness.png)
	.topic-name.culture
		background-image: url(../images/headerCulture.png)
	.topic-name.design
		background-image: url(../images/headerDesign.png)
	.topic-name.education
		background-image: url(../images/headerEducation.png)
	.topic-name.environment
		background-image: url(../images/headerEnvironment.png)
	.topic-name.gastronomy
		background-image: url(../images/headerGastronomy.png)
	.topic-name.health
		background-image: url(../images/headerHealth.png)
	.topic-name.history
		background-image: url(../images/headerHistory.png)
	.topic-name.journalism
		background-image: url(../images/headerJournalism.png)
	.topic-name.literature
		background-image: url(../images/headerLiterature.png)
	.topic-name.music
		background-image: url(../images/headerMusic.png)
	.topic-name.science
		background-image: url(../images/headerScience.png)
	.topic-name.sports
		background-image: url(../images/headerSports.png)
	.topic-name.technology
		background-image: url(../images/headerTechnology.png)
	.topic-name.travel
		background-image: url(../images/headerTravel.png)
	.topic-icon
		width: 135px
		height: 86px
		background: transparent url(../images/topic-icon-bg.png) no-repeat 0 0
		float: right
		margin-top: 12px
		.topic
			width: 50px
			height: 50px
			margin: 18px auto