header .topic-icon
	width: 135px
	height: 86px
	background: transparent url(../images/topic-icon-bg.png) no-repeat 0 0
	float: right
	margin-top: 12px
	.topic
		width: 50px
		height: 50px
		margin: 18px auto