header
	.topic-name
		height: 100px
		width: 803px
		float: left
		background: transparent url(../images/headersAll.png) no-repeat 0 0
	.topic-name.art
		background-position: 0 -100px
	.topic-name.business
		background-position: 0 -200px
	.topic-name.design
		background-position: 0 -300px
	.topic-name.education
		background-position: 0 -400px
	.topic-name.environment
		background-position: 0 -500px
	.topic-name.gastronomy
		background-position: 0 -600px
	.topic-name.health
		background-position: 0 -700px
	.topic-name.history
		background-position: 0 -800px
	.topic-name.journalism
		background-position: 0 -900px
	.topic-name.literature
		background-position: 0 -1000px
	.topic-name.music
		background-position: 0 -1100px
	.topic-name.science
		background-position: 0 -1200px
	.topic-name.sports
		background-position: 0 -1300px
	.topic-name.technology
		background-position: 0 -1400px
	.topic-name.travel
		background-position: 0 -1500px
	.topic-name.culture
		background-position: 0 -1600px
	.topic-name.diy
		background-position: 0 -1700px
	.topic-icon
		width: 135px
		height: 86px
		background: transparent url(../images/topic-icon-bg.png) no-repeat 0 0
		float: right
		margin-top: 12px
		.topic
			width: 50px
			height: 50px
			margin: 18px auto