#transactions
	padding: 20px
	
	#current
		margin-bottom: 30px
		.heading
			color: #777
			font-style: italic
		.amount
			height: 40px
			padding-top: 10px
			.value, .text
				float: left
			.value
				font-size: 40px
				font-weight: 700
				margin-right: 5px
			.text
				span
					display: block
	
	#purchase
		form
			width: 20%
			padding: 0 2%
			float: left
			border-right: 1px solid #ddd
			text-align: center
			.package
				.amount
					font-size: 24px
					font-weight: 700
			.price
				font-size: 16px
				margin: 10px 0
			.bonus
				height: 15px
				font-weight: 700
				color: $blue
				text-transform: uppercase
			input[type="submit"]
				background: transparent url(../images/payWithAmazon.gif) no-repeat
				width: 126px
				height: 40px
				padding: 0
				text-indent: -9999px
				margin-top: 10px
		form:last-child
			border: none
	
	#past
		clear: both
		padding-top: 50px
		.total td
			border-top: 1px solid #ccc
			font-weight: 700