html, body
  font-family: $block
  font-size: 14px
  color: $text_color
  background: $background_color
  min-height: 100%
  text-rendering: optimizelegibility
  position: relative

h2
  font-family: $block
  font-size: 1.4em
  font-weight: 400
  line-height: 1.5em
  letter-spacing: 0.1em
  text-transform: uppercase
  letter-spacing: 0.1em

p
  line-height: 1.8em
  margin: 20px 0

a, a:visited
  color: $link_color
  outline: none

h1
  font-size: 1.7em
h2
  font-size: 1.3em

.hidden
  display: none
.weak
  color: $text_color + #777
.important
  color: $red