html, body
	font-family: $block
	font-size: 14px
	color: $text_color
	background: $background_color
	min-height: 100%
	text-rendering: optimizelegibility
	position: relative

h1, h2
	font-weight: normal
h2
	background: none repeat scroll 0 0 #EAEAEA
	font-family: $block
	font-size: 13px
	font-weight: 700
	padding: 11px 13px 9px
	text-transform: uppercase
	clear: both

p
	line-height: 1.8em
	margin: 20px 0

a, a:visited
	color: $link_color
	outline: none

h1
	font-size: 1.7em
h2
	font-size: 1.3em

.hidden
	display: none
.weak
	color: $text_color + #777