impact ul.avatars
	li
		float: left
		margin: 0 10px 10px 0
		a
			img
				width: 60px
				height: 60px

.user-stats
	@include rounded(3px)
	background: #f7f7f7
	li
		border-bottom: 1px solid #e0e0e0
		height: 27px
		.icon, .text
			display: block
			float: left
			height: 27px
		.icon
			border-right: 1px solid #e0e0e0
			width: 27px
			background-repeat: no-repeat
			background-position: 50% 50%
		.text
			width: 100px
			padding-right: 9px
			font-size: 10px
			text-align: right
			color: #666
			line-height: 27px
		.sidebar.text
			display: none
	li.patron .icon
		background-image: url(../images/icons/patronBadgeSmall.png)
	li.followers .icon
		background-image: url(../images/icons/personSmall.png)
	li.rewards .icon
		background-image: url(../images/icons/starGreySmall.png)

body#users, body#messages
	#main
		padding-bottom: 50px

#user-profile
	padding: 40px 40px 40px 290px
	
	h1
		font-size: 20px
		font-weight: 500
		text-transform: uppercase
		color: #fff
		margin-bottom: 20px
	
	.profile-info
		position: fixed
		top: 82px
		left: 40px
		width: 210px

		.metadata
			color: #555
			@include transition(color)
			&:hover
				color: $text_color
				
			.avatar-badge
				width: 130px
				margin-bottom: 20px
				position: relative
				.avatar
					display: block
					width: 130px
					height: 130px
					z-index: 1
					img
						width: 130px
						height: 130px
				.badge
					position: absolute
					bottom: -5px
					right: -30px
					z-index: 2

			.about p
				line-height: 1.4em
				span
					display: block

			ul.stats
				position: relative
				margin-top: 5px
				width: 200px
				li
					padding: 4px 0
					font-size: 16px
					font-weight: 700
					#cashout
						display: block
						font-size: 11px
						text-align: center
		
		#special-links
			position: absolute
			top: 0
			right: 10px
			width: 150px
		
		#user-actions
			clear: both
			padding-top: 15px
			a
				display: inline-block
				height: 17px
				margin-bottom: 10px
				background: #333
				text-shadow: none
				line-height: 18px
				color: #666
				@include transition(background)
				&:hover
					background: #aaa
		
		#editorialize
			@include gradient(#ffbb01, #ff9501)
	
	.the-rest
		position: relative
		.horizontal-tabs
			border-bottom: 1px solid #ccc
			ul
				padding-top: 20px
				a
					border: 1px solid #ccc
					border-bottom: none
		.top
			margin-bottom: 20px
			a.back-link
				background: $lightblue
				color: $blue
				padding: 2px 8px
				@include rounded(15px)
				@include transition
				&:hover
					background: $blue
					color: #fff
			h1
				padding-top: 20px
				margin-bottom: 0
				font-weight: 700
				text-transform: uppercase
	
	#vertical-content #content-list li .content-preview img.avatar
		display: none
	
	#activity
		@include rounded(0)
		@include boxshadow(0,0)
		margin: 0
		#activity-body
			border: none
		#activity-list
			&.loading
				background: transparent url(../images/spinner.gif) no-repeat 50% 30px
				height: 50px
				*
					display: none
			li
				padding: 20px 0
				&:last-child
					border: none
				.left-side, .right-side
					top: 20px
	
	#new-user-no-activity
		padding: 20px
		h1
			font-weight: 700
			text-transform: uppercase
			.coin
				display: inline-block
				width: 20px
				height: 25px
				margin: -5px -3px 0
				position: relative
				top: 8px
				background: transparent url(../images/icons/coinStarBlackMedium.png) no-repeat 0 0
		p
			margin: 5px 0
			font-size: 13px
			a.community
				padding: 3px 0 0 30px
				background: transparent url(../images/icons/communityBlue.png) no-repeat 0 0
		#activity-example
			margin: 40px -20px 0
			width: 100%
			padding-right: 40px
			text-indent: 20px
			height: 220px
			background: transparent url(../images/activityStreamExample.png) no-repeat 0 20px
			opacity: 0.6
	
	/* Patronage Tab */
	section.patronage
		h3
			text-transform: uppercase
			font-size: 15px
			border-bottom: 1px solid #ddd
			margin-bottom: 10px
			em
				font-size: 11px
				color: #777
				text-transform: none
				font-weight: 300

	.rewarded-creators
		.avatar-wall
			height: 600px
			margin-bottom: 30px
			background: transparent url(../images/mosaicBG.png) repeat 0 0
			.wall
				a
					display: block
					img
						padding: 3px
					.border
						border: 3px solid #fff
						position: absolute
						top: 0
						left: 0
			
	ul.rewards
		padding: 0
		@include clearfix
		li
			background: #fff
			
	/* Stats Bar */
	
	ul.stats-bar
		height: 50px
		margin: 0 0 20px
		height: 80px
		//background: #f6f6f6
		//background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, rgb(235,235,235)),color-stop(0.6, rgb(252,252,252)))
		//background-image: -moz-linear-gradient(center bottom,rgb(235,235,235) 20%,rgb(252,252,252) 60%)
		//border: 1px solid #e0e0e0
		li
			float: left
			font-size: 11px
			position: relative
			.value
				font-family: $numerals
				font-size: 50px
				line-height: 1em
				font-weight: 200
				float: left
				text-align: right
				padding-right: 20px
				background: transparent url(../images/icons/starBlackSmall.png) no-repeat 100% 3px
				span
					line-height: 1em
				.dollar-sign
					font-size: 20px
					position: relative
					top: -19px
					margin-right: -10px
			.text
				clear: both
		li.rewards, li.patrons, li.cash
			padding-right: 30px
		li.patrons, li.cash, li.impact
			border-left: 1px solid #ddd
			padding-left: 30px
		li.patrons .value
			background: transparent url(../images/icons/person.png) no-repeat 100% 3px
		li.impact .value
			padding-right: 27px
			background: transparent url(../images/icons/impact.png) no-repeat 100% -2px
		li.cash .value
			background: none
		li.cash.last
			padding-right: 75px
		li.impact .notification
			position: absolute
			top: 13px
			right: -306px
			width: 306px
			height: 37px
			background: transparent url(../images/profileImpactGrowNotification.png) no-repeat 0 0
			
	/* Creations Tab */
	
	ul.stats-bar li.cash
		position: relative
		a#cashout
			position: absolute
			top: 6px
			right: 0
			padding: 8px 15px 7px
			&.disabled
				background-color: $greygradient1
				@include gradient($greygradient1, $greygradient2)
				cursor: help
			
	
	ul.galleries		
		li.separator
			clear: both
			border-top: 1px solid #e0e0e0
			border-bottom: 1px solid #fff
		li.gallery, li.no-gallery
			width: 100%
			ul.stories
				@include clearfix
				padding: 20px 0
				li.about
					background: none
					padding: 0
					width: 230px
					@include boxshadow(0px,0,0,0)
					border: none
					.name
						font-size: 16px
						margin-bottom: 5px
						text-transform: uppercase
						font-weight: 700
						text-shadow: 0 1px 0 #fff
						a.move-up, a.move-down
							text-indent: -9999px
							display: inline-block
							width: 16px
							height: 16px
							background: transparent url(../images/icons/moveUp.png) no-repeat 0 0
						a.move-down	
							background-image: url(../images/icons/moveDown.png)
					.description
						font-size: 11px
						text-shadow: 0 1px 0 #fff
				li.add, li.add-description
					float: left
					margin: 0 20px 20px 0
				li.add
					a
						display: block
						width: 236px
						height: 205px
						border: 1px dashed #ccc
						color: #aaa
						background: #fff url(../images/addMomeantBg.png) no-repeat 50% 50%
						text-indent: -9999px
				li.add-description
					width: 460px
					color: #999
					line-height: 2em
		li.no-gallery
			border-bottom: 1px solid #ddd
		li.gallery
			border-top: 1px solid #fff
			border-bottom: 1px solid #ddd
		li.gallery:last-child
			border-bottom: none
		li.gallery:first-child, li.no-gallery:first-child
			ul.stories
				padding-top: 0
				
	/* Settings Tab */
	.user-settings
		#settings-list
			margin-bottom: 30px
		li
			margin-bottom: 10px
			.text.loading
				display: inline-block
				width: 30px
				height: 10px
				background: transparent url(../images/horizontal-spinner.gif) no-repeat 0 50%
				*
					display: none
		section
			margin-bottom: 20px
		h3
			text-transform: uppercase
			font-size: 1.1em
			margin-bottom: 5px
			.info
				font-weight: 500
				text-transform: none
		input[type="text"]
			width: 400px
		.info
			color: #777
			font-size: 11px
			margin-bottom: 20px
		.example
			border: none
			padding-bottom: 0
		.file-uploader
			.file-input
				height: 25px
			.loader
				width: 220px
				height: 19px
				background: transparent url(../images/loading.gif) no-repeat 0 0
				display: none
	
	/* Cashouts */
	#cashouts
		table
			margin-top: 1em
	
	/* Followers, Following Tabs */
	
	.followingers
		padding: 20px
		table
			width: 100%
			a.avatar, a.name
				display: block
				float: left
			a.avatar img
				width: 45px
				height: 45px
				border: 2px solid #000
			a.name
				margin-left: 8px
				font-weight: 700
				font-size: 18px
				text-transform: uppercase
				line-height: 18px
				padding-top: 6px
				color: $text_color
				span
					display: block
	
	/* Supporters Tab */
	.supporters
		padding: 20px
		table.users
			width: 100%
			td
				height: 70px
				.user-info
					position: relative
					.avatar
						display: block
						float: left
						margin-right: 10px
						width: 40px
						height: 40px
						border: 1px solid #ccc
						img
							width: 40px
							height: 40px
					.rank
						position: absolute
						top: -7px
						left: -7px
						display: block
						height: 15px
						width: 15px
						font-weight: 700
						text-align: center
						line-height: 15px
						background: #f4f4f4
						@include rounded(10px)
						@include boxshadow(3px,0.4,1px,1px)
					.name
						font-size: 18px
						font-weight: 700
						text-transform: uppercase
						margin-top: 3px
						color: $text_color
						span
							display: block
					.occupation
						font-style: italic
						font-size: 11px
	
	/* Edit Profile */
	.user-edit
		padding: 20px
	
	.bio
		.incomplete-profile
			background: transparent url(../images/tabNotification.png) no-repeat 0 0
			padding: 4px 0 4px 25px
			font-weight: 700
			color: $red
			margin-bottom: 10px
			text-transform: uppercase
			a
				text-decoration: underline
		.edit-link
			text-transform: uppercase
			font-weight: 700
			display: block
			margin-bottom: 10px
			padding-left: 15px
			background: transparent url(../images/icons/pencilBlue.png) no-repeat 0 1px
		.tagline, .interests
			margin-bottom: 10px
	
	#user_tagline
		height: 50px
	
	.subscribing-to
		clear: both
		margin-bottom: 20px
		h1
			background-color: #000
			color: #fff
			font-weight: 700
			font-size: 28px
			text-transform: uppercase
			padding: 2px 10px
		ul
			height: 50px
			li
				float: left
				clear: none
				margin-right: 3px
				a
					display: block
					width: 50px
					height: 50px
					img
						width: 50px
						height: 50px
	
	.comments
		width: 629px
		float: left
		display: none
	
	.personal-library
		clear: both
		height: 365px
		padding-top: 20px
		
	.admin
		clear: both
		padding-top: 30px
		h1
			font-weight: 900
			text-transform: uppercase
	
	.info-bar
		background: none
		color: #777
		font-style: italic
		text-align: center
		margin-top: -15px

.creator
	.recommendation-stream
		height: 540px
	.curatorial-stream
		width: 629px
		height: 380px
		float: left
		overflow: hidden
		h3
			font-size: 50px
			font-weight: 900
			text-transform: uppercase
			color: #ddd
			text-shadow: 1px 1px 1px #fafafa
			letter-spacing: -.5px
			text-align: center

form.user_edit
	margin-left: 200px
	.example
		border: none
	textarea
		height: 150px
		width: 95%
		line-height: 24px
		font-family: $block
		font-weight: 100
	#user_interest_list
		width: 98%
		
#reward-viz-example
	width: 607px
	height: 499px
	background: transparent url(../images/rewardVizExplanation.png) no-repeat 0 0
	position: relative
	.tip
		position: absolute
		.hover
			width: 35px
			height: 35px
			cursor: help
		.tipsy
			display: none
			position: absolute
			width: 125px
			.tipsy-inner
				background: #fff
				color: #000
				font-family: $handwritten
				font-size: 14px
				line-height: 1em
				letter-spacing: 0.04em
		.twitter, .facebook
			display: inline-block
			width: 12px
			height: 12px
			background: transparent url(../images/icons/twitterTiny.png) no-repeat
			position: relative
			top: 2px
		.facebook
			background-image: url(../images/icons/facebookTiny.png)
	.tip:hover
		.tipsy
			display: block
	#avatar-tooltip
		top: 110px
		left: 131px
		.tipsy
			left: -127px
			top: -13px
	#rewards-tooltip
		top: 79px
		left: 407px
		.tipsy
			width: 150px
			right: -153px
			top: -13px
	#impact-tooltip
		top: 210px
		left: 396px
		.tipsy
			width: 170px
			right: -174px
			top: -27px
	#sharing-tooltip
		top: 363px
		left: 247px
		.tipsy
			width: 185px
			left: -79px
			bottom: -55px
			
table.users
	width: 100%
	td
		height: 70px
		.user-info
			position: relative
			.avatar
				display: block
				float: left
				margin-right: 10px
				width: 50px
				height: 50px
				border: 1px solid #ccc
				img
					width: 50px
					height: 50px
			.rank
				position: absolute
				top: -7px
				left: -7px
				display: block
				height: 15px
				width: 15px
				font-weight: 700
				text-align: center
				line-height: 15px
				background: #f4f4f4
				@include rounded(10px)
				@include boxshadow(3px,0.4,1px,1px)
			.name
				font-size: 18px
				font-weight: 700
				text-transform: uppercase
				margin-top: 3px
				color: $text_color
				span
					display: block
			.occupation
				font-style: italic
				font-size: 11px