@import "users/profile"
@import "users/patronage"
@import "users/settings"
@import "users/activity"
@import "users/creator_signup"

/* Become a Creator */
body#users.become_a_creator #profile-center
	form
		background: #f7f7f7
		padding: 10px 20px
		width: 520px
		height: 280px
		&.loading
			background: #f7f7f7 url(../images/spinner.gif) no-repeat 50% 50%
			*
				display: none
	textarea
		width: 500px
	
	#show-after
		display: none
		background: #f7f7f7
		padding: 20px
		width: 520px

form.user_edit
	margin-left: 200px
	.example
		border: none
	textarea
		height: 150px
		width: 95%
		line-height: 24px
		font-family: $block
		font-weight: 100
	#user_interest_list
		width: 98%
			
table.users
	width: 100%
	td
		height: 70px
		.user-info
			position: relative
			.avatar
				display: block
				float: left
				margin-right: 10px
				width: 50px
				height: 50px
				border: 1px solid #ccc
				img
					width: 50px
					height: 50px
			.rank
				position: absolute
				top: -7px
				left: -7px
				display: block
				height: 15px
				width: 15px
				font-weight: 700
				text-align: center
				line-height: 15px
				background: #f4f4f4
				@include rounded(10px)
				@include boxshadow(3px,0.4,1px,1px)
			.name
				font-size: 18px
				font-weight: 700
				text-transform: uppercase
				margin-top: 3px
				color: $text_color
				span
					display: block
			.occupation
				font-style: italic
				font-size: 11px