#visualization
	width: 100%
	height: 600px
	background: #fff
	position: relative
	#content-rewarded-by
		@include clearfix
		background: #eee
		padding: 20px
		h3
			text-transform: uppercase
			font-size: 16px
			margin-bottom: 20px
			border-bottom: 1px solid #ddd
		ul.rewards
			padding-top: 0

#visualization.loading
	background: #fff url(../images/spinner.gif) no-repeat 50% 50%
	*
		display: none

#reward-chain
	background: #fff
	position: relative
	width: 600px
	height: 600px
	margin: 0 auto
	overflow: hidden
	cursor: move
	.person
		cursor: help
		img
			width: 100%
			height: 100%
	.person:hover .tooltip
		display: block
	.tooltip
		display: none
		position: absolute
		z-index: 99
		top: 64px
		left: -35px
		width: 140px
		color: #333
		.inner
			background: #eee
			border: 1px solid #ccc
			@include rounded(3px)
			box-shadow: 1px 1px 3px rgba(0,0,0,0.5), 0 0 3px #fff inset
			font-size: 10px
			padding: 5px
			min-height: 10px
		.name
			font-weight: 700
			float: left
			margin-right: 10px
			text-transform: uppercase
		.amount
			float: right
			padding-right: 12px
			font-weight: 700
			background: transparent url(../images/icons/starBlackTiny.png) no-repeat 100% 1px
		.comment
			clear: both
			padding-top: 5px