#visualization
	width: 780px
	height: 600px
	background: $background_color
	position: relative
	#context
		padding: 10px
		height: 35px
		.info
			float: left
			.name
				padding-top: 5px
				font-weight: 700
				text-transform: uppercase
				font-size: 20px
				display: block
				margin-bottom: 5px
			.profile.button
				font-size: 11px
				padding: 5px 10px
		.stats
			float: right
			.rewards, .impact
				float: left
				margin-right: 20px
				.amount
					font-size: 30px
					font-family: $numerals
				.text
					font-size: 11px
	#content-rewarded-by
		width: 780px
		height: 545px
		
		ul.carousel
			li.item
				float: left
				width: 240px
				height: 153px
				padding: 5px 10px 42px
				a.visualize
					padding: 5px 5px 5px 25px
					margin-left: 50px
					position: relative
					bottom: 7px
					background: $blue url(../images/icons/tree.png) no-repeat 5px 50%
					@include rounded(3px)
					color: #fff
				a.visualize:hover
					background-color: #ddd
					color: $text_color
			li.item.selected
				background: transparent url(../images/darkGrayTopPointer.png) no-repeat 50% 100%
				a.visualize
					display: none
				
		#rewards-viz
			clear: both
			width: 780px
			height: 345px
			position: relative
			#reward-data
				position: absolute
				top: 0
				left: 0
				z-index: 3
				padding: 10px 0
				text-indent: 10px
				width: 100%
				color: #fff
				text-transform: uppercase
				font-size: 17px
				font-weight: 700
				text-align: center
				text-shadow: 0 1px 0 #000
				span
					margin-right: 3px
				.rewards
					padding-right: 18px
					background: transparent url(../images/icons/starWhiteSmall.png) no-repeat 100% 3px
				.people
					padding-right: 18px
					background: transparent url(../images/icons/personWhiteSmall.png) no-repeat 100% 3px
			#reward-chain
				height: 340px
				z-index: 1
		#rewards-viz.loading
			background-image: url(../images/graySpinner.gif)
			background-repeat: no-repeat
			background-position: 50% 50%
			*
				display: none

#rewards-viz, #reward-chain, #reward-data
	background: #555

#visualization.loading
	background: #fff url(../images/spinner.gif) no-repeat 50% 50%
	*
		display: none

#reward-chain
	position: relative
	width: 780px
	height: 300px
	margin: 0 auto
	overflow: hidden
	cursor: move
	.person
		padding: 5px
		background: #fff
		@include rounded
		height: 40px
		width: 150px
		position: relative
		z-index: 1
		img
			width: 40px
			height: 40px
		.rewards, .comment
			display: none
		.text
			width: 92px
			float: right
			padding: 7px
			background: #000
			color: #fff
			@include rounded
			.name
				float: left
				text-transform: uppercase
				font-weight: 700
				font-size: 13px
				line-height: 13px
				span
					display: block
			.rewards
				float: right
				font-family: $numerals
				font-size: 30px
				line-height: 28px
				padding-right: 15px
				background: transparent url(../images/icons/starWhiteSmall.png) no-repeat 100% 0
				display: none
			.comment
				clear: both
				border-top: 2px solid #fff
				padding-top: 5px
				color: #ffbb01
				font-size: 9px
				height: 27px
				line-height: 12px
				display: none
	.person:hover, .person.first
		height: 100px
		width: 275px
		z-index: 2
		img
			width: 100px
			height: 100px
		.text
			width: 155px
			.name, .rewards
				padding-bottom: 5px
			.name
				font-size: 14px
				line-height: 14px
			.rewards, .comment
				display: block