#reward-data
  %span.rewarder #{@reward.user.first_name}'s reward led to
  %span.rewards= @reward.descendants.sum(:amount)
  %span from
  %span.people #{@reward.descendants.count}

#reward-chain

= render "rewards/visualize_js"