.rewarder
  %span.depth original
  %span= image_tag(@reward.user.avatar.url(:thumbnail))

%ul.chain
  - @re_rewards.each do |depth, rewards|
    %li
      %span.depth depth #{depth}
      %span.rewarders
        - rewards.each do |reward|
          = image_tag(reward.user.avatar.url(:thumbnail))