body#home.about #inner, body#home.tos #inner {
  padding: 50px; }
body#home.about #header-image, body#home.tos #header-image {
  background: transparent url(../images/aboutPageHeader.png) no-repeat 50% 0;
  height: 183px;
  margin-bottom: 40px; }
body#home.about h1, body#home.tos h1 {
  text-transform: uppercase;
  font-family: "atrament-web-1", "atrament-web-2", sans-serif;
  letter-spacing: 0.02em;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
  padding-bottom: 5px; }
body#home.about p.subheading, body#home.tos p.subheading {
  margin: 0 0 20px; }
body#home.about h3, body#home.tos h3 {
  font-size: 16px; }
body#home.about ol, body#home.tos ol {
  margin-left: 3em;
  margin-bottom: 20px; }
  body#home.about ol li, body#home.tos ol li {
    list-style-type: lower-alpha; }

body#home.tos h1 {
  border: none; }
body#home.tos h3 {
  font-size: 13px; }
body#home.tos ol li {
  list-style-type: lower-roman; }
