div.color_picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(../images/arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
}

div#color_selector {
  width: 110px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #EFEFEF;
  padding: 2px;
	z-index: 999;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

div#color_custom {width: 100%; float:left; display: none; }
div#color_custom label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%;}
div#color_custom input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.color_swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
