.blocky-title {
	font-weight: 900;
	font-family: "facitweb-1", "facitweb-2", helvetica, sans-serif;
	letter-spacing: -6px;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 90px;
	margin: 0 5%;
}
body#tinymce .blocky-title {
	letter-spacing: -2px;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
}

.blocky-chunk {
	font-weight: 900;
	font-family: "facitweb-1", "facitweb-2", helvetica, sans-serif;
	letter-spacing: -1px;
	font-size: 40px;
	line-height: 50px;
	margin: 0 4%;
	text-align: left;
	word-spacing: 6px;
}
.blocky-chunk:first-child:first-letter {
	font-size: 105px;
	float: left;
	padding-top: 22px;
	line-height: 60px;
	font-weight: 900;
	padding-right: 6px;
}
body#tinymce .blocky-chunk {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	word-spacing: 2px;
}
body#tinymce .blocky-chunk:first-child:first-letter {
	font-size: 16px;
	float: none;
	padding: 0;
	line-height: 20px;
}

.blocky-paragraph {
	font-family: "facitweb-1", "facitweb-2", helvetica, sans-serif;
	letter-spacing: -0.9px;
	font-size: 16px;
	line-height: 34px;
	margin: 20px 4% 20px;
	text-align: justify;
	font-weight: 700;
}
.blocky-paragraph:first-child:first-letter {
	font-size: 107px;
	float: left;
	padding-top: 25px;
	line-height: 60px;
	font-weight: 900;
	padding-right: 6px;
}
body#tinymce .blocky-paragraph {
	margin: 8px 0;
	font-size: 11px;
	line-height: 16px;
}
body#tinymce .blocky-paragraph:first-child:first-letter {
	font-size: 11px;
	line-height: 16px;
	float: none;
	padding: 0;
}

.deco-title {
	font-size: 170px;
	line-height: 140px;
	letter-spacing: -16px;
	font-weight: 100;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	padding: 0 5%;
	text-align: center;
	word-spacing: 8px;
}
body#tinymce .deco-title {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -2px;
	padding: 0;
	word-spacing: 2px;
}

.deco-chunk {
	font-size: 50px;
	line-height: 60px;
	letter-spacing: -4px;
	font-weight: 100;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	padding: 0 5%;
	text-align: justify;
	text-transform: none;
}
.deco-chunk:first-child:first-letter {
	font-family: "museo-slab-1", "museo-slab-2",serif;
	font-size: 132px;
	float: left;
	padding-top: 30px;
	line-height: 62px;
	font-weight: 100;
	padding-right: 5px;
}
body#tinymce .deco-chunk {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -1px;
	padding: 0;
}
body#tinymce .deco-chunk:first-child:first-letter {
	font-size: 16px;
	line-height: 20px;
	float: none;
	padding: 0;
}

.deco-paragraph {
	font-size: 26px;
	line-height: 35px;
	letter-spacing: -1px;
	font-weight: 100;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	padding: 0 5%;
	text-align: justify;
	word-spacing: 0px;
	text-transform: none;
}
.deco-paragraph:first-child:first-letter {
	font-family: "museo-slab-1", "museo-slab-2", serif;
	font-size: 120px;
	float: left;
	padding-top: 26px;
	line-height: 60px;
	font-weight: 900;
	padding-right: 5px;
}
body#tinymce .deco-paragraph {
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0;
	padding: 0;
}
body#tinymce .deco-paragraph:first-child:first-letter {
	font-size: 11px;
	line-height: 16px;
	float: none;
	padding: 0;
}

.typewriter-title {
	font-family: "museo-slab-1", "museo-slab-2", serif;
	letter-spacing: -6px;
	font-size: 95px;
	line-height: 90px;
	margin: 20px 5% 30px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	word-spacing: 6px;
}
body#tinymce .typewriter-title {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -2px;
	padding: 0;
	margin: 8px 0;
	word-spacing: 2px;
}

.typewriter-chunk {
	font-family: "museo-slab-1", "museo-slab-2", serif;
	letter-spacing: -1px;
	font-size: 38px;
	line-height: 54px;
	margin: 20px 5% 30px;
	text-align: justify;
	font-weight: 300;
	word-spacing: 1px;
}
body#tinymce .typewriter-chunk {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -1px;
	padding: 0;
}

.typewriter-paragraph {
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 0;
	font-weight: 100;
	font-family: "museo-slab-1", "museo-slab-2", serif;
	padding: 0 4%;
	text-transform: none;
	text-align: justify;
}
.typewriter-paragraph:first-child:first-letter {
	font-size: 110px;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	letter-spacing: -4px;
	padding-top: 34px;
	padding-right: 10px;
	float:left;
	text-transform:uppercase;
	line-height:40px;
}
body#tinymce .typewriter-paragraph {
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0;
	padding: 0;
}
body#tinymce .typewriter-paragraph:first-child:first-letter {
	font-size: 11px;
	line-height: 16px;
	float: none;
	padding: 0;
}

.cursive-title {
	font-family: "learning-curve-1","learning-curve-2",cursive;
	font-size: 170px;
	line-height: 112px;
	padding: 0 10% 10px;
	text-transform: none;
	text-align: center;
	letter-spacing: 0;
	font-weight: 100;
	word-spacing: -20px;
}
body#tinymce .cursive-title {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -2px;
	padding: 0;
	margin: 8px 0;
	word-spacing: 2px;
}

.cursive-chunk {
	font-family: "learning-curve-1","learning-curve-2",cursive;
	font-size: 60px;
	line-height: 56px;
	padding: 0 10% 10px;
	text-transform: none;
	text-align: justify;
	letter-spacing: 0px;
	font-weight: 100;
	word-spacing: -10px;
}
.cursive-chunk:first-child:first-letter {
	font-size: 170px;
	font-family: "learning-curve-1","learning-curve-2",cursive;
	letter-spacing: -4px;
	padding-top: 40px;
	padding-right: 40px;
	float:left;
	text-transform:uppercase;
	font-weight: 100;
}
body#tinymce .cursive-chunk {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -1px;
	word-spacing: -2px;
	padding: 0;
}
body#tinymce .cursive-chunk:first-child:first-letter {
	font-size: 16px;
	line-height: 20px;
	float: none;
	padding: 0;
}

.cursive-paragraph {
	font-family: "learning-curve-1","learning-curve-2",cursive;
	font-size: 32px;
	line-height: 42px;
	padding: 0 10% 10px;
	text-transform: none;
	text-align: justify;
	letter-spacing: 0px;
	font-weight: 100;
}
.cursive-paragraph:first-child:first-letter {
	font-size: 110px;
	font-family: "learning-curve-1","learning-curve-2",cursive;
	letter-spacing: -4px;
	padding-top: 28px;
	padding-right: 16px;
	float:left;
	text-transform:uppercase;
	font-weight: 100;
}
body#tinymce .cursive-paragraph {
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0;
	padding: 0;
}
body#tinymce .cursive-paragraph:first-child:first-letter {
	font-size: 11px;
	line-height: 16px;
	float: none;
	padding: 0;
}

.big-word-sans-serif {
	font-family: "atrament-web-1","atrament-web-2",sans-serif;
	font-size: 400px;
	text-transform: uppercase;
	letter-spacing: -12px;
}
body#tinymce .big-word-sans-serif {
	font-size: 40px;
	letter-spacing: -2px;
	line-height: 40px;
}

.big-word-cursive {
	font-family: "learning-curve-1","learning-curve-2",cursive;
	font-size: 400px;
	text-transform: lowercase;
	letter-spacing: -12px;
}
body#tinymce .big-word-cursive {
	font-size: 40px;
	letter-spacing: -2px;
	line-height: 40px;
}