.blocky-title * {
	font-weight: 900;
	font-family: "proxima-nova-1","proxima-nova-2", helvetica, sans-serif;
	letter-spacing: -6px;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 110px;
	margin: 0 5%;
	text-align: center;
}

.blocky-chunk * {
	font-weight: 900;
	font-family: "proxima-nova-1","proxima-nova-2", helvetica, sans-serif;
	letter-spacing: -1px;
	font-size: 40px;
	line-height: 50px;
	margin: 0 4%;
	text-align: justify;
	word-spacing: 6px;
}
.blocky-chunk.drop-capped *:first-letter {
	font-size: 85px;
	float: left;
	padding-top: 22px;
	line-height: 60px;
	font-weight: 900;
	padding-right: 6px;
}

.blocky-paragraph {
	font-family: "proxima-nova-1","proxima-nova-2", helvetica, sans-serif;
	font-size: 19px;
	line-height: 34px;
	margin: 20px 4% 20px;
	text-align: justify;
	font-weight: 700;
}
#pages .blocky-paragraph { width: 700px !important; }
.blocky-paragraph.drop-capped *:first-letter{
	font-size: 107px;
	float: left;
	padding-top: 25px;
	line-height: 60px;
	font-weight: 900;
	padding-right: 6px;
}

.deco-title {
	font-size: 150px;
	line-height: 125px;
	letter-spacing: -16px;
	font-weight: 100;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	padding: 0 5%;
	text-align: center;
	word-spacing: 8px;
	text-transform: uppercase;
	
}

.deco-chunk {
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -2px;
	font-weight: 100;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	padding: 0 5%;
	text-align: justify;
	text-transform: none;
}
.deco-chunk.drop-capped *:first-letter {
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	font-size: 105px;
	float: left;
	padding-top: 22px;
	line-height: 62px;
	font-weight: 100;
	padding-right: 5px;
}

.deco-paragraph {
	font-size: 26px;
	line-height: 35px;
	letter-spacing: -1px;
	font-weight: 100;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	padding: 0 5%;
	text-align: justify;
	word-spacing: 0px;
	text-transform: none;
}
#pages .deco-paragraph { width: 700px !important; }
.deco-paragraph.drop-capped *:first-letter {
	font-family: "museo-slab-1", "museo-slab-2", serif;
	font-size: 120px;
	float: left;
	padding-top: 26px;
	line-height: 60px;
	font-weight: 900;
	padding-right: 5px;
}

.typewriter-title {
	font-family: "museo-slab-1", "museo-slab-2", serif;
	letter-spacing: -6px;
	font-size: 95px;
	line-height: 90px;
	margin: 20px 5% 30px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	word-spacing: 6px;
}

.typewriter-chunk {
	font-family: "museo-slab-1", "museo-slab-2", serif;
	letter-spacing: -1px;
	font-size: 36px;
	line-height: 54px;
	margin: 20px 5% 30px;
	text-align: justify;
	font-weight: 300;
	word-spacing: 1px;
}
.typewriter-chunk.drop-capped *:first-letter {
	font-family: "museo-slab-1", "museo-slab-2", serif;
	font-size: 113px;
	float: left;
	padding-top: 24px;
	line-height: 62px;
	font-weight: 100;
	padding-right: 5px;
}

.typewriter-paragraph {
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 0;
	font-weight: 100;
	font-family: "museo-slab-1", "museo-slab-2", serif;
	padding: 0 4%;
	text-transform: none;
	text-align: justify;
}
#pages .typewriter-paragraph { width: 700px !important; }
.typewriter-paragraph.drop-capped *:first-letter {
	font-size: 110px;
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
	letter-spacing: -4px;
	padding-top: 34px;
	padding-right: 10px;
	float:left;
	text-transform:uppercase;
	line-height:40px;
}

.cursive-title {
	font-family: "learning-curve-1","learning-curve-2",cursive;
	font-size: 170px;
	line-height: 112px;
	padding: 0 10% 10px;
	text-transform: none;
	text-align: center;
	letter-spacing: 0;
	font-weight: 100;
	word-spacing: -20px;
}

.cursive-chunk {
	font-family: "learning-curve-1","learning-curve-2",cursive;
	font-size: 60px;
	line-height: 56px;
	padding: 0 10% 10px;
	text-transform: none;
	text-align: justify;
	letter-spacing: 0px;
	font-weight: 100;
	word-spacing: -5px;
}
.cursive-chunk.drop-capped *:first-letter {
	font-size: 170px;
	font-family: "learning-curve-1","learning-curve-2",cursive;
	letter-spacing: -4px;
	padding-top: 40px;
	padding-right: 40px;
	float:left;
	text-transform:uppercase;
	font-weight: 100;
}

.cursive-paragraph {
	font-family: "learning-curve-1","learning-curve-2",cursive;
	font-size: 38px;
	line-height: 42px;
	padding: 0 10% 10px;
	text-transform: none;
	text-align: justify;
	letter-spacing: 0px;
	font-weight: 100;
}
.cursive-paragraph.drop-capped *:first-letter {
	font-size: 110px;
	font-family: "learning-curve-1","learning-curve-2",cursive;
	letter-spacing: -4px;
	padding-top: 28px;
	padding-right: 16px;
	float:left;
	text-transform:uppercase;
	font-weight: 100;
}