html, body {
  background-color: #222222;
  color: #aaaaaa; }

#user-profile h1 {
  color: white; }
#user-profile .profile-info .metadata {
  color: #555555; }
  #user-profile .profile-info .metadata:hover {
    color: #aaaaaa; }
#user-profile .profile-info #user-actions a {
  background: #333333;
  color: #666666; }
  #user-profile .profile-info #user-actions a:hover {
    background: #aaaaaa; }

#vertical-content .helper {
  background-image: url(../images/profile/keyboard-icon-light.png); }
#vertical-content #content-list li .info .byline {
  color: #555555; }
#vertical-content #content-list li .info p {
  color: #555555; }
#vertical-content #content-list li .when {
  color: #555555; }
#vertical-content #content-list li.current .info p, #vertical-content #content-list li:hover .info p {
  color: #aaaaaa; }

#vertical-people li .cover {
  background-image: url(../images/profile/avatar-cover-60-dark.png); }
