/* Errors */
#error-explanation {
  background-color: #f5d4d4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #280909;
  margin-bottom: 10px; }
  #error-explanation h3 {
    font-size: 18px;
    border-bottom: 1px dotted #280909;
    margin-bottom: 5px;
    padding-bottom: 5px; }
  #error-explanation li {
    padding: 3px 0; }

form .field_with_errors input[type="text"], form .field_with_errors textarea {
  background-color: #f5d4d4;
  border: 2px solid #db6666; }
