/* Flash notices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/flash\.sass}line{font-family:\000032}}
#flash {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 0 1px 1px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/flash\.sass}line{font-family:\000039}}
  #flash div {
    padding: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/flash\.sass}line{font-family:\0000311}}
  #flash .notice {
    background-color: #eaf5e9;
    color: #006702; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/flash\.sass}line{font-family:\0000314}}
  #flash .alert {
    background-color: #f5dbda;
    color: #990402; }
