/* Form styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\000034}}
form li, .form li {
  margin-bottom: 2em;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\000037}}
  form li span, .form li span {
    display: inline-block;
    height: 4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000310}}
    form li span label, .form li span label {
      margin-left: 0.3em;
      font-size: 0.9em;
      font-weight: normal;
      padding-top: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000315}}
form label, .form label {
  display: block;
  padding: 0 5px 3px 3px;
  font-weight: 900;
  line-height: 31px;
  color: #444444;
  color: #dedede;
  text-shadow: 0 1px 1px white;
  float: left;
  font-size: 26px;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000326}}
form input[type="text"], form input[type="password"], form textarea, .form input[type="text"], .form input[type="password"], .form textarea {
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #cccccc;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000335}}
form input[type="text"]:focus, form input[type="password"]:focus, .form input[type="text"]:focus, .form input[type="password"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  -moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  box-shadow: 0 0 12px rgba(51, 204, 255, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000340}}
form textarea, .form textarea {
  resize: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000342}}
form .example, .form .example {
  font-size: 0.9em;
  color: #888888;
  padding-left: 3px;
  padding-bottom: 16px;
  margin-top: 10px;
  border-bottom: 1px solid #dedede; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000349}}
form .side, .form .side {
  float: left;
  margin: 0 20px 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000352}}
form .button_to, .form .button_to {
  margin: 0 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000354}}
form .skinny, .form .skinny {
  width: 80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000357}}
input[type="submit"], a.button {
  position: relative;
  padding: 8px 15px;
  font-weight: bold;
  line-height: 1;
  font-size: 11px;
  color: #222222;
  border: none;
  background-color: #cccccc;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000367}}
input[type="submit"]:active, a.button:active {
  top: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/PoisChiche\/Documents\/Projects\/Mo\%E2\%80\%A2meant\/Code\/momeant\/public\/stylesheets\/sass\/forms\.sass}line{font-family:\0000369}}
label[for="user_remember_me"] {
  display: inline-block; }
