/* line 1, sass/homepage.sass */
body {
  background-color: #efefef;
}

/* line 4, sass/homepage.sass */
.story {
  background-color: white;
  float: left;
  height: 300px;
  margin-bottom: 25px;
  margin-right: 25px;
  width: 300px;
}

/* line 12, sass/homepage.sass */
.third {
  margin-right: 0px;
}
