html, body {
  background-color: white;
  color: #252525; }

#user-profile h1 {
  color: black; }
#user-profile .profile-info .metadata {
  color: #aaaaaa; }
  #user-profile .profile-info .metadata:hover {
    color: #555555; }
#user-profile .profile-info #user-actions a {
  background: #dddddd;
  color: #aaaaaa; }
  #user-profile .profile-info #user-actions a:hover {
    background: #555555; }

#vertical-content .helper {
  background-image: url(../images/profile/keyboard-icon.png); }
#vertical-content #content-list li .info a.title {
  color: #999999; }
#vertical-content #content-list li .info .byline {
  color: #aaaaaa; }
#vertical-content #content-list li .info p {
  color: #aaaaaa; }
#vertical-content #content-list li .when {
  color: #aaaaaa; }
#vertical-content #content-list li.current .info p, #vertical-content #content-list li:hover .info p {
  color: #555555; }

#vertical-people li .cover {
  background-image: url(../images/profile/avatar-cover-60.png); }
