#messages #new-message-form {
  position: relative;
  padding-left: 50px; }
  #messages #new-message-form .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px; }
#messages form {
  width: 400px; }
  #messages form textarea {
    width: 380px;
    height: 24px;
    display: block; }
  #messages form textarea.loading {
    background: transparent url(../images/spinner.gif) no-repeat 5px 50%; }
  #messages form input[type="submit"] {
    float: right;
    margin-top: 5px; }
#messages ul#previous-messages {
  clear: both;
  padding-top: 15px;
  width: 450px; }
  #messages ul#previous-messages li.message {
    clear: both;
    position: relative;
    padding: 15px 0 15px 50px;
    border-bottom: 1px solid #eeeeee; }
    #messages ul#previous-messages li.message .avatar {
      position: absolute;
      top: 15px;
      left: 0;
      width: 40px;
      height: 40px; }
      #messages ul#previous-messages li.message .avatar img {
        width: 40px;
        height: 40px; }
    #messages ul#previous-messages li.message .rest {
      width: 400px;
      padding-top: 7px; }
      #messages ul#previous-messages li.message .rest .when {
        font-size: 10px;
        color: #999999;
        margin-bottom: 10px; }
      #messages ul#previous-messages li.message .rest ul.children li.message {
        padding-top: 0;
        padding-bottom: 5px;
        border: none; }
        #messages ul#previous-messages li.message .rest ul.children li.message .avatar {
          top: 0; }
      #messages ul#previous-messages li.message .rest form {
        height: 40px; }
        #messages ul#previous-messages li.message .rest form textarea {
          width: 317px;
          height: 14px;
          float: left; }
        #messages ul#previous-messages li.message .rest form textarea:focus {
          height: 40px; }
        #messages ul#previous-messages li.message .rest form input[type="submit"] {
          float: right;
          background: #bbbbbb;
          margin: 0; }
