/*
Syntax error: Undefined variable: "$block".
        on line 8 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/modals.sass

3:   position: fixed
4:   top: 0
5:   left: 0
6:   z-index: 9999
7:   text-shadow: none
8:   font-family: $block
9:   color: #fff
10:   width: 100%
11:   height: 100%
12:   .cover
13:     width: 100%

Backtrace:
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/modals.sass:8
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/script/variable.rb:49:in `_perform'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/script/node.rb:40:in `perform'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:296:in `visit_prop'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:263:in `block in render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/util.rb:373:in `silence_sass_warnings'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:263:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/rack.rb:51:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:35:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:34:in `catch'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:34:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/etag.rb:23:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/conditionalget.rb:25:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:195:in `context'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:190:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/sendfile.rb:101:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/methodoverride.rb:24:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/runtime.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/lock.rb:15:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/airbrake-3.1.6/lib/airbrake/rack.rb:41:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/airbrake-3.1.6/lib/airbrake/user_informer.rb:12:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.1.0/lib/rails/railtie/configurable.rb:30:in `method_missing'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:147:in `handle'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:99:in `rescue in block (2 levels) in start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:96:in `block (2 levels) in start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `block in start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/bin/nack_worker:4:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$block\".\A         on line 8 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/modals.sass\A \A 3:   position: fixed\A 4:   top: 0\A 5:   left: 0\A 6:   z-index: 9999\A 7:   text-shadow: none\A 8:   font-family: $block\A 9:   color: #fff\A 10:   width: 100%\A 11:   height: 100%\A 12:   .cover\A 13:     width: 100%"; }
