/* Element styles */
html, body {
  font-family: "facitweb-1", "facitweb-2", helvetica, sans-serif;
  font-size: 12px;
  color: #252525;
  background: #f4f4f4;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  position: relative; }

h1, h2 {
  font-weight: normal; }

h2 {
  background: none repeat scroll 0 0 #eaeaea;
  color: #b2b2b2;
  font-family: "facitweb-1", "facitweb-2", helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 11px 13px 9px;
  text-transform: uppercase;
  clear: both; }

p {
  line-height: 1.8em;
  margin: 20px 0; }

a, a:visited {
  color: #00aeef;
  outline: none; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.3em; }

.hidden {
  display: none; }
