html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none; }

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none; }

img {
  border: none; }

p {
  margin: 10px 0;
  line-height: 1.62em; }

h1, h2 {
  margin-bottom: 15px; }

ol, ol li {
  list-style-type: decimal-leading-zero; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.clear {
  clear: both; }
