.tabbed.search {
  padding: 20px; }
  .tabbed.search form {
    margin-bottom: 20px; }
    .tabbed.search form input[type="text"] {
      width: 300px; }
  .tabbed.search section h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd; }
    .tabbed.search section h3 strong {
      font-weight: 700; }
  .tabbed.search section .data {
    border-top: 1px solid white;
    padding-top: 10px;
    margin-bottom: 20px; }
    .tabbed.search section .data ul {
      padding: 0; }
    .tabbed.search section .data ul.users li {
      margin-right: 10px; }
      .tabbed.search section .data ul.users li img {
        border: 3px solid black; }
