#search-results {
  padding: 20px; }
  #search-results section h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd; }
    #search-results section h3 strong {
      font-weight: 700; }
  #search-results section .data {
    border-top: 1px solid white;
    padding-top: 10px;
    margin-bottom: 20px; }
    #search-results section .data ul {
      padding: 0; }
    #search-results section .data ul.users li {
      margin-right: 10px;
      float: left; }
      #search-results section .data ul.users li img {
        border: 3px solid black; }
