/*
Syntax error: Undefined mixin 'bgcover'.
        on line 10 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories.sass, in `bgcover'
        from line 10 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories.sass

5:   position: relative
6:   .inner
7:     height: 100%
8:     background-repeat: no-repeat
9:     background-position: 50% 50%
10:     @include bgcover
11:   .tip
12:     position: absolute
13:     top: 200px
14:     left: 250px
15:     background: #333

Backtrace:
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories.sass:10:in `bgcover'
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories.sass:10
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/engine.rb:291:in `_render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/engine.rb:239:in `block in render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/engine.rb:239:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:175:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:173:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.1.2/lib/sass/plugin/rack.rb:51:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.0.4/lib/warden/manager.rb:35:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.0.4/lib/warden/manager.rb:34:in `catch'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.0.4/lib/warden/manager.rb:34:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:32:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:12:in `cache'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:31:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.0.9/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.0.9/lib/rails/rack/logger.rb:13:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.0.9/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.0.9/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/airbrake-3.0.4/lib/airbrake/user_informer.rb:12:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.0.9/lib/rails/application.rb:168:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/urlmap.rb:47:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/urlmap.rb:41:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.2.4/lib/rack/urlmap.rb:41:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-test-0.5.7/lib/rack/mock_session.rb:30:in `request'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-test-0.5.7/lib/rack/test.rb:209:in `process_request'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-test-0.5.7/lib/rack/test.rb:57:in `get'
/Users/djbrowning/.rbenv/versions/1.9.3-p125/lib/ruby/1.9.1/forwardable.rb:201:in `get'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-0.4.1.2/lib/capybara/driver/rack_test_driver.rb:259:in `get'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-0.4.1.2/lib/capybara/driver/rack_test_driver.rb:206:in `process'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-0.4.1.2/lib/capybara/driver/rack_test_driver.rb:200:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-0.4.1.2/lib/capybara/session.rb:135:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-0.4.1.2/lib/capybara/dsl.rb:104:in `visit'
test/integration/thank_yous_test.rb:14:in `block (3 levels) in <main>'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:86:in `instance_eval'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:86:in `block in execute_test_steps'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:82:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:82:in `execute_test_steps'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:73:in `block in generate_test_method'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.0.9/lib/active_support/testing/setup_and_teardown.rb:67:in `block in run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.0.9/lib/active_support/callbacks.rb:429:in `_run_setup_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.0.9/lib/active_support/testing/setup_and_teardown.rb:65:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/testsuite.rb:117:in `run_test'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/testsuite.rb:53:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/testsuite.rb:117:in `run_test'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/testsuite.rb:53:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/ui/testrunnermediator.rb:93:in `run_suite'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/ui/testrunnermediator.rb:43:in `block in run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/ui/testrunnermediator.rb:82:in `with_listener'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/ui/testrunnermediator.rb:39:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/ui/testrunner.rb:40:in `start_mediator'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/ui/testrunner.rb:25:in `start'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/ui/testrunnerutilities.rb:24:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/autorunner.rb:378:in `block in run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/autorunner.rb:434:in `change_work_directory'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/autorunner.rb:377:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit/autorunner.rb:58:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.1/lib/test/unit.rb:330:in `block in <top (required)>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bgcover'.\A         on line 10 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories.sass, in `bgcover'\A         from line 10 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/stories.sass\A \A 5:   position: relative\A 6:   .inner\A 7:     height: 100%\A 8:     background-repeat: no-repeat\A 9:     background-position: 50% 50%\A 10:     @include bgcover\A 11:   .tip\A 12:     position: absolute\A 13:     top: 200px\A 14:     left: 250px\A 15:     background: #333"; }
