/* Element styles */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #252525;
  text-shadow: 0 1px 1px white;
  background: white;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden; }

h1, h2 {
  font-weight: normal; }

p {
  line-height: 1.8em;
  margin: 20px 0; }

a, a:visited {
  color: #307399; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.3em; }

/* Layout */
header .insides, #mid .insides, #footer .insides {
  width: 960px;
  padding: 10px 0 0;
  margin: 0 auto;
  position: relative; }

.fullscreen header .insides, .fullscreen #mid .insides, .fullscreen #footer .insides {
  width: 100%;
  min-width: 960px; }
.fullscreen #wrap, .fullscreen #main, .fullscreen #mid, .fullscreen #mid .insides, .fullscreen form, .fullscreen form fieldset, .fullscreen form ul {
  height: 100%; }
.fullscreen #main {
  padding: 0; }
.fullscreen #mid {
  height: 90%;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 60px;
  min-height: 600px; }
.fullscreen #footer {
  display: none; }

#mid .insides {
  padding: 0; }

#main {
  width: 100%;
  padding-bottom: 50px; }

#mid {
  min-height: 400px; }

#footer {
  position: relative;
  margin-top: -51px;
  height: 50px;
  clear: both;
  text-align: center; }

header {
  background-color: white;
  z-index: 100;
  position: relative; }
  header #user-nav {
    position: relative;
    height: 50px;
    border-bottom: 1px dotted #cccccc; }
    header #user-nav #logo, header #user-nav #signup, header #user-nav #signin, header #user-nav #signout, header #user-nav #profile, header #user-nav #create, header #user-nav #balance, header #user-nav #subscriptions, header #user-nav #recommendations, header #user-nav #topics, header #user-nav #search {
      position: absolute;
      top: 0; }
    header #user-nav #logo {
      font-size: 1.5em;
      left: 0;
      top: 6px;
      background: transparent url(../images/logo.png) no-repeat;
      text-indent: -9999px;
      display: block;
      width: 180px;
      height: 32px; }
    header #user-nav .right {
      position: absolute;
      right: 0;
      width: 760px; }
    header #user-nav #signup, header #user-nav #profile, header #user-nav #signin, header #user-nav #signout {
      top: 15px; }
    header #user-nav #signup {
      left: 60px; }
    header #user-nav #profile {
      left: 0; }
    header #user-nav #signin, header #user-nav #signout {
      left: 140px; }
    header #user-nav #create a, header #user-nav #balance a, header #user-nav #subscriptions a, header #user-nav #recommendations a, header #user-nav #topics a {
      display: block;
      text-indent: -9999px;
      background-color: transparent;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px; }
    header #user-nav #create:hover .tip, header #user-nav #balance:hover .tip, header #user-nav #subscriptions:hover .tip, header #user-nav #recommendations:hover .tip, header #user-nav #topics:hover .tip {
      display: block;
      left: 14px; }
    header #user-nav #create {
      left: 210px; }
      header #user-nav #create a {
        background-image: url(../images/icons/create.png); }
    header #user-nav #balance {
      left: 250px; }
      header #user-nav #balance a {
        background-image: url(../images/icons/balance.png); }
    header #user-nav #subscriptions {
      left: 290px; }
      header #user-nav #subscriptions a {
        background-image: url(../images/icons/person.png); }
    header #user-nav #recommendations {
      left: 330px; }
      header #user-nav #recommendations a {
        background-image: url(../images/icons/recommend.png); }
    header #user-nav #topics {
      left: 450px; }
      header #user-nav #topics a {
        background-image: url(../images/icons/topics.png); }
    header #user-nav #search {
      left: 559px;
      top: 8px;
      width: 200px; }
      header #user-nav #search label {
        font-size: 1.2em;
        font-weight: normal;
        color: #777777;
        padding: 5px 0 0 10px; }
      header #user-nav #search input[type="text"] {
        width: 160px; }
      header #user-nav #search input[type="submit"] {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        background: transparent url(../images/icons/search.png) no-repeat;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-indent: -9999px; }

/* Flash notices */
#flash {
  width: 960px;
  margin: 10px auto;
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 0 1px 1px white; }
  #flash div {
    padding: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #flash .notice {
    background-color: #eaf5e9;
    color: #006702;
    border: 1px solid #bdd7bc; }
  #flash .alert {
    background-color: #f5dbda;
    color: #990402;
    border: 1px solid #d1b2b2; }

/* Errors */
#error-explanation {
  background-color: #f5d4d4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #280909;
  margin-bottom: 10px; }
  #error-explanation h3 {
    font-size: 18px;
    border-bottom: 1px dotted #280909;
    margin-bottom: 5px;
    padding-bottom: 5px; }
  #error-explanation li {
    padding: 3px 0; }

form .field_with_errors input[type="text"], form .field_with_errors textarea {
  background-color: #f5d4d4;
  border: 2px solid #db6666; }

/* Form styles */
form li {
  padding: 5px 0;
  clear: both; }
form label {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  line-height: 1.4;
  color: #444444;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px white; }
form input[type="text"], form input[type="password"], form textarea {
  padding: 5px;
  font-size: 1.2em;
  border: 2px solid #cccccc;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
form input[type="text"]:focus, form input[type="password"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  -moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  box-shadow: 0 0 12px rgba(51, 204, 255, 0.5); }
form textarea {
  resize: none; }
form .example {
  font-size: 0.9em;
  color: #888888; }

input[type="submit"], a.button {
  position: relative;
  padding: 8px 15px;
  font-weight: bold;
  line-height: 1;
  font-size: 11px;
  color: #222222;
  border: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#bbbbbb));
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbbbbb, white);
  background-color: white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer; }

input[type="submit"]:active, a.button:active {
  top: 1px;
  -webkit-box-shadow: 0 1px 2px white;
  -moz-box-shadow: 0 1px 2px white;
  box-shadow: 0 1px 2px white; }

form .side {
  float: left;
  margin: 0 20px 20px 0; }

form.button_to {
  margin: 0 0 10px; }

label[for="user_remember_me"] {
  display: inline-block; }

/* Stories */
.story-preview .left {
  width: 550px;
  border-right: 1px dotted #cccccc;
  float: left; }
  .story-preview .left .image-preview {
    height: 550px;
    border-bottom: 1px dotted #cccccc; }
  .story-preview .left .price {
    background: transparent url(../images/price-bg.png) no-repeat;
    color: white;
    width: 113px;
    height: 112px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: -55px;
    -webkit-transform: rotate(-10deg); }
    .story-preview .left .price a, .story-preview .left .price input[type="submit"] {
      font-size: 22px;
      display: block;
      text-align: center;
      padding: 43px 0 37px;
      color: white;
      background: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-text-shadow: none;
      -moz-text-shadow: none;
      text-shadow: none;
      width: 105px; }
.story-preview .right {
  width: 409px;
  float: right;
  position: relative; }
  .story-preview .right .actions {
    width: 50px;
    height: 300px;
    float: left;
    border-right: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc; }
    .story-preview .right .actions .series {
      position: relative;
      font-size: 24px;
      height: 50px;
      border-bottom: 1px dotted #cccccc; }
      .story-preview .right .actions .series span {
        display: block;
        position: absolute; }
      .story-preview .right .actions .series .current {
        top: 0;
        left: 8px; }
      .story-preview .right .actions .series .of {
        top: 10px;
        left: 20px; }
      .story-preview .right .actions .series .total {
        top: 20px;
        left: 28px; }
    .story-preview .right .actions .bookmark, .story-preview .right .actions .unbookmark, .story-preview .right .actions .recommend, .story-preview .right .actions .unrecommend {
      width: 63px;
      height: 63px;
      padding: 0;
      margin: 0;
      text-indent: -9999px;
      background: transparent url(../images/bookmark.png) no-repeat 0 -126px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
    .story-preview .right .actions .bookmark, .story-preview .right .actions .unbookmark {
      position: absolute;
      top: 0;
      right: 0; }
    .story-preview .right .actions .unbookmark {
      background-position: 0 0; }
    .story-preview .right .actions .recommend, .story-preview .right .actions .unrecommend {
      height: 40px;
      width: 50px;
      background: transparent url(../images/icons/recommend.png) no-repeat 50% 0; }
    .story-preview .right .actions .unrecommend {
      background-position: 50% -40px; }
  .story-preview .right .metadata {
    height: 300px;
    border-bottom: 1px dotted #cccccc; }
    .story-preview .right .metadata .creator, .story-preview .right .metadata .title, .story-preview .right .metadata .excerpt {
      width: 338px;
      padding: 10px;
      float: left; }
    .story-preview .right .metadata .title {
      font-weight: bold;
      font-size: 1.3em; }
  .story-preview .right .topics {
    padding: 10px;
    font-size: 1.1em; }

form.new_story .title-input, form.new_story .excerpt-input {
  height: 80px;
  border-bottom: 1px dotted #cccccc;
  float: left; }
  form.new_story .title-input input, form.new_story .excerpt-input input {
    width: 95%; }
form.new_story .title-input {
  width: 30%; }
form.new_story .excerpt-input {
  width: 65%;
  padding-left: 5%; }
form.new_story #page-previews {
  position: relative;
  border-bottom: 1px dotted #cccccc; }
  form.new_story #page-previews h3 {
    padding: 3px 0; }
  form.new_story #page-previews li.page {
    width: 200px;
    height: 110px;
    padding-top: 35px;
    background-color: #eeeeee;
    float: left;
    clear: none;
    margin: 10px 20px;
    text-align: center;
    font-size: 60px;
    color: #dddddd;
    cursor: pointer; }
  form.new_story #page-previews li.chosen {
    text-indent: -9999px; }
  form.new_story #page-previews .actions {
    position: absolute;
    top: 9px;
    left: 100px; }
    form.new_story #page-previews .actions a {
      font-weight: bold;
      background-color: #307399;
      color: white;
      padding: 3px 6px;
      text-shadow: 0 -1px 1px black;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
form.new_story .metadata {
  width: 469px;
  float: left;
  clear: left;
  padding-top: 10px; }
  form.new_story .metadata .price strong {
    font-size: 1.5em; }
form.new_story .topics {
  width: 470px;
  clear: none;
  float: right;
  padding: 10px;
  border-left: 1px dotted #cccccc; }
  form.new_story .topics h3 {
    padding-bottom: 5px; }
  form.new_story .topics li {
    padding: 0; }

#page-previews .title, #page-editor .slider .title {
  background-image: url(../images/page-themes/title-page-thumbnail.jpg); }
#page-previews .full-image, #page-editor .slider .full-image {
  background-image: url(../images/page-themes/full-image-thumbnail.jpg); }
#page-previews .pullquote, #page-editor .slider .pullquote {
  background-image: url(../images/page-themes/pullquote-thumbnail.jpg); }

#page-editor {
  width: 100%;
  height: 100%;
  padding: 0; }
  #page-editor #close-page-editor-button {
    position: absolute;
    top: -45px;
    left: 230px;
    z-index: 101; }
  #page-editor #page-type-chooser {
    height: 160px;
    position: absolute;
    width: 100%;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    z-index: 3; }
    #page-editor #page-type-chooser .info {
      width: 130px;
      height: 80px;
      padding: 40px;
      font-size: 2.5em;
      text-align: center;
      line-height: 0.9em;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      background-color: #efff74; }
    #page-editor #page-type-chooser .slider {
      position: relative;
      height: 160px;
      margin-left: 214px;
      overflow-x: scroll;
      background-color: white; }
      #page-editor #page-type-chooser .slider ul {
        height: auto; }
      #page-editor #page-type-chooser .slider li {
        width: 200px;
        height: 143px;
        float: left;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-right: 5px;
        padding: 0;
        clear: none; }
    #page-editor #page-type-chooser #page-type-chooser-button {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 40px;
      width: 100%; }
      #page-editor #page-type-chooser #page-type-chooser-button .inner {
        background-color: white;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        width: 150px;
        padding: 12px 10px 8px;
        margin: 0 auto;
        -webkit-box-shadow: 0 0 5px #555555;
        -moz-box-shadow: 0 0 5px #555555;
        box-shadow: 0 0 5px #555555;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        cursor: pointer;
        text-align: center; }
  #page-editor ul#pages {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: transparent url(../images/story-creator-background-hint.jpg) no-repeat 40% 200px; }
    #page-editor ul#pages li.page {
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      z-index: 2;
      display: none; }
      #page-editor ul#pages li.page .page-theme {
        min-height: 600px;
        background: white;
        height: 90%;
        padding-top: 250px; }
      #page-editor ul#pages li.page .title {
        padding-top: 300px; }
        #page-editor ul#pages li.page .title label, #page-editor ul#pages li.page .title textarea {
          font-size: 36px;
          font-weight: normal; }
        #page-editor ul#pages li.page .title textarea {
          border: none;
          width: 60%;
          height: 80px;
          overflow: hidden;
          background: transparent url(../images/page-themes/36px-tall-dashed-line.png) repeat;
          outline: none; }
      #page-editor ul#pages li.page .full-image .input {
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 25px auto 10px;
        positon: relative; }
      #page-editor ul#pages li.page .full-image .image-preview {
        margin: 25px auto 0;
        width: 70%;
        height: 95%;
        background: #eeeeee url(../images/page-themes/pick-an-image-bg.png) no-repeat 50% 0;
        z-index: 1; }
      #page-editor ul#pages li.page .full-image .caption {
        width: 300px;
        height: 200px;
        background-color: white;
        border: 1px solid #aaaaaa;
        position: absolute;
        right: 16%;
        bottom: 4%; }
        #page-editor ul#pages li.page .full-image .caption h3 {
          padding: 5px;
          height: 15px;
          text-align: left;
          border-bottom: 1px solid #aaaaaa; }
        #page-editor ul#pages li.page .full-image .caption textarea {
          width: 265px;
          height: 140px;
          margin: 10px;
          overflow: hidden;
          background: transparent url(../images/page-themes/18px-tall-dashed-line.png) repeat;
          outline: none;
          border: none; }
      #page-editor ul#pages li.page .pullquote label, #page-editor ul#pages li.page .pullquote textarea {
        font-size: 18px;
        font-weight: normal; }
      #page-editor ul#pages li.page .pullquote textarea {
        border: none;
        width: 60%;
        height: 400px;
        overflow: hidden;
        background: transparent url(../images/page-themes/18px-tall-dashed-line.png) repeat;
        outline: none; }
  #page-editor #page_info {
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0;
    font-size: 26px;
    font-style: italic;
    text-transform: uppercase;
    height: 40px;
    z-index: 2; }
    #page-editor #page_info .inner {
      padding: 10px 10px 0 10px;
      width: 160px;
      margin: 0 auto; }
    #page-editor #page_info .label {
      float: left;
      margin-right: 20px; }
    #page-editor #page_info .number {
      width: 47px;
      float: left;
      position: relative;
      font-size: 18px; }
      #page-editor #page_info .number span {
        display: block;
        position: absolute; }
      #page-editor #page_info .number .current {
        top: 0;
        right: 34px; }
      #page-editor #page_info .number .of {
        top: 8px;
        left: 15px; }
      #page-editor #page_info .number .total {
        top: 15px;
        left: 21px; }
  #page-editor #story-details {
    position: absolute;
    bottom: -51px;
    right: 0;
    padding: 10px 10px 0 10px;
    font-size: 26px;
    font-style: italic;
    text-transform: uppercase;
    border-top: 1px dotted #cccccc;
    border-left: 1px dotted #cccccc;
    background: #efff74;
    height: 40px;
    z-index: 2; }
    #page-editor #story-details .label {
      float: left;
      border-right: 1px dotted #cccccc;
      padding-right: 15px;
      margin-right: 10px; }
    #page-editor #story-details .value {
      float: left; }
  #page-editor #previous-page, #page-editor #next-page {
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    background: transparent url(../images/next-previous-arrows.png) no-repeat 0 0;
    position: fixed;
    top: 50%;
    z-index: 100;
    cursor: pointer; }
  #page-editor #previous-page:active, #page-editor #next-page:active {
    top: 50.1%; }
  #page-editor #previous-page {
    left: 0; }
  #page-editor #next-page {
    right: 0;
    background-position: -138px 0; }
  #page-editor #loader {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 999;
    top: 0;
    background: white url(../images/loading.gif) no-repeat 50% 300px; }

.user-profile .created-stories {
  width: 480px;
  padding-top: 1px;
  float: left;
  border-right: 1px dotted #cccccc; }
  .user-profile .created-stories li a {
    width: 234px;
    height: 222px;
    display: block;
    margin: 2px;
    background-color: #f5f5f5;
    float: left; }
.user-profile .user-info {
  padding: 20px;
  width: 439px;
  float: right; }
  .user-profile .user-info .name {
    font-weight: bold;
    font-size: 2em; }
  .user-profile .user-info .name, .user-profile .user-info .tagline {
    margin-bottom: 10px; }
.user-profile .subscribers {
  clear: both;
  width: 649px;
  height: 150px;
  float: left;
  padding: 10px 0;
  border-top: 1px dotted #cccccc; }
  .user-profile .subscribers .count {
    width: 155px;
    height: 119px;
    padding-top: 25px;
    margin: 0 20px;
    background: transparent url(../images/subscriber-count-bg.png) no-repeat;
    color: white;
    text-shadow: 0 -1px 1px #aaaaaa;
    text-align: center;
    font-size: 1.7em;
    float: left; }
    .user-profile .subscribers .count .number {
      font-size: 2em; }
  .user-profile .subscribers .avatars {
    float: left;
    width: 430px;
    height: 130px; }
    .user-profile .subscribers .avatars li a {
      width: 50px;
      height: 50px;
      display: block;
      float: left;
      margin: 0 8px 8px 0;
      text-align: center;
      overflow: hidden; }
      .user-profile .subscribers .avatars li a img {
        width: 50px;
        height: 50px; }
      .user-profile .subscribers .avatars li a .name {
        display: none; }
.user-profile .recommendation-stream {
  width: 310px;
  height: 920px;
  border-left: 1px dotted #cccccc;
  border-top: 1px dotted #cccccc;
  float: right; }
  .user-profile .recommendation-stream ul {
    padding: 10px; }
    .user-profile .recommendation-stream ul a {
      display: block;
      width: 285px;
      height: 170px;
      background-color: #f5f5f5;
      margin-bottom: 10px; }
.user-profile .curatorial-stream {
  width: 629px;
  height: 320px;
  float: left;
  padding: 15px 10px 30px;
  border-top: 1px dotted #cccccc; }
  .user-profile .curatorial-stream h3 {
    padding-bottom: 10px; }
  .user-profile .curatorial-stream li {
    float: left; }
  .user-profile .curatorial-stream a {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #f5f5f5;
    margin: 0 10px 10px 0; }
.user-profile .comments {
  width: 629px;
  float: left;
  border-top: 1px dotted #cccccc;
  padding: 10px; }
.user-profile .personal-library {
  border-top: 1px dotted #cccccc;
  clear: both;
  height: 420px; }
  .user-profile .personal-library .tabs {
    margin-bottom: 10px;
    height: 40px; }
    .user-profile .personal-library .tabs a {
      padding: 10px 0;
      height: 20px;
      width: 50%; }
  .user-profile .personal-library li {
    float: left; }
    .user-profile .personal-library li a {
      display: block;
      width: 220px;
      height: 170px;
      background-color: #f5f5f5;
      margin: 0 10px 10px 0; }

.hidden {
  display: none; }

.tip {
  display: none;
  background: transparent url(../images/tooltip-bg.png) no-repeat 0 0;
  padding: 12px 8px 5px;
  color: white;
  font-weight: bold;
  text-shadow: none;
  position: absolute;
  bottom: -26px;
  left: 6px;
  z-index: 100; }

.tabs {
  border-bottom: 1px dotted #cccccc;
  min-height: 40px; }
  .tabs a {
    padding: 2%;
    display: block;
    float: left;
    text-align: center;
    width: 46%;
    height: 96%; }
  .tabs a:hover {
    background-color: #daf1ff; }
  .tabs a.active {
    background-color: #cccccc;
    color: #333333; }

.thumbnail {
  background: transparent url(../images/thumbnail-shadow.png) no-repeat 100% 100%; }
  .thumbnail a {
    border: 1px solid #e5e5e5;
    border-bottom: none; }
