/* Element styles */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #252525;
  text-shadow: 0 1px 1px white;
  background: #eeeeee url(../images/cardboard.jpg) repeat; }

h1, h2 {
  font-weight: normal; }

p {
  line-height: 1.8em;
  margin: 20px 0; }

a, a:visited {
  color: #307399; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.3em; }

/* Layout */
header .insides, #mid .insides, #footer .insides {
  width: 960px;
  padding: 10px 0 0;
  margin: 0 auto;
  position: relative; }

#main {
  width: 100%; }

#mid {
  min-height: 400px; }

#main {
  padding-bottom: 50px; }

#footer {
  position: relative;
  margin-top: -51px;
  height: 50px;
  clear: both; }

/* Overall app layout styles */
header #user-nav {
  position: relative;
  height: 50px;
  border-bottom: 1px dotted #cccccc; }
  header #user-nav .tip {
    display: none;
    background: transparent url(../images/tooltip-bg.png) no-repeat 0 0;
    padding: 12px 8px 5px;
    color: white;
    font-weight: bold;
    text-shadow: none;
    position: absolute;
    bottom: -24px;
    left: 6px;
    -webkit-transition: all 0.2s linear;
    z-index: 100; }
  header #user-nav #logo, header #user-nav #signup, header #user-nav #signin, header #user-nav #signout, header #user-nav #profile, header #user-nav #create, header #user-nav #balance, header #user-nav #subscriptions, header #user-nav #recommendations, header #user-nav #topics, header #user-nav #search {
    position: absolute;
    top: 10px; }
  header #user-nav #logo {
    font-size: 1.5em;
    left: 0; }
  header #user-nav #signup, header #user-nav #profile, header #user-nav #signin, header #user-nav #signout {
    top: 15px; }
  header #user-nav #signup, header #user-nav #profile {
    left: 200px; }
  header #user-nav #signin, header #user-nav #signout {
    left: 320px; }
  header #user-nav #create a, header #user-nav #balance a, header #user-nav #subscriptions a, header #user-nav #recommendations a, header #user-nav #topics a {
    display: block;
    text-indent: -9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px; }
  header #user-nav #create:hover .tip, header #user-nav #balance:hover .tip, header #user-nav #subscriptions:hover .tip, header #user-nav #recommendations:hover .tip, header #user-nav #topics:hover .tip {
    display: block; }
  header #user-nav #create {
    left: 410px; }
    header #user-nav #create a {
      background-image: url(../images/icons/create.png); }
  header #user-nav #balance {
    left: 450px; }
    header #user-nav #balance a {
      background-image: url(../images/icons/balance.png); }
  header #user-nav #subscriptions {
    left: 490px; }
    header #user-nav #subscriptions a {
      background-image: url(../images/icons/subscriptions.png); }
  header #user-nav #recommendations {
    left: 530px; }
    header #user-nav #recommendations a {
      background-image: url(../images/icons/recommendations.png); }
  header #user-nav #topics {
    left: 650px; }
    header #user-nav #topics a {
      background-image: url(../images/icons/topics.png); }
  header #user-nav #search {
    left: 760px;
    top: 8px;
    width: 200px; }
    header #user-nav #search input[type="text"] {
      width: 165px; }
    header #user-nav #search input[type="submit"] {
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
      background: transparent url(../images/icons/search.png) no-repeat;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      text-indent: -9999px; }

#footer {
  text-align: center; }

/* Flash notices */
#flash {
  width: 960px;
  margin: 0 auto 10px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 0 1px 1px white; }
  #flash div {
    padding: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #flash .notice {
    background-color: #eaf5e9;
    color: #006702;
    border: 1px solid #bdd7bc; }
  #flash .alert {
    background-color: #f5dbda;
    color: #990402;
    border: 1px solid #d1b2b2; }

/* Form styles */
form li {
  padding: 5px 0;
  clear: both; }
form label {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  line-height: 1.4;
  color: #444444;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px white; }
form input[type="text"], form input[type="password"], form textarea {
  padding: 5px;
  font-size: 1.2em;
  border: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999999), to(white));
  background-image: -moz-linear-gradient(0% 12% 90deg, white, #999999);
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
form input[type="text"]:focus, form input[type="password"]:focus, form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  -moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  box-shadow: 0 0 12px rgba(51, 204, 255, 0.5); }
form input[type="submit"] {
  position: relative;
  padding: 8px 15px;
  font-weight: bold;
  line-height: 1;
  color: #222222;
  border: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#bbbbbb));
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbbbbb, white);
  background-color: white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer; }
form input[type="submit"]:active {
  top: 1px;
  -webkit-box-shadow: 0 1px 2px white;
  -moz-box-shadow: 0 1px 2px white;
  box-shadow: 0 1px 2px white; }

form .side {
  float: left;
  margin: 0 20px 20px 0; }

form.button_to {
  margin: 0 0 10px; }

label[for="user_remember_me"] {
  display: inline-block; }

/* Stories */
.story-preview .price {
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  display: inline-block; }
  .story-preview .price .value {
    font-weight: bold;
    display: block; }

form.new_story .topics h3 {
  padding-bottom: 5px; }
form.new_story .topics li {
  padding: 0; }
