#subscriptions-inner {
  max-width: 1367px;
  margin: 0 auto;
  position: relative;
  padding-top: 40px; }
  #subscriptions-inner h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #subscriptions-inner #vertical-people {
    z-index: 2;
    right: auto;
    left: 40px;
    width: 75px;
    top: 82px; }
    #subscriptions-inner #vertical-people.empty {
      width: 200px; }
      #subscriptions-inner #vertical-people.empty a {
        display: block;
        margin-top: 5px; }
    #subscriptions-inner #vertical-people .info {
      font-size: 12px;
      color: #777777;
      margin-bottom: 10px;
      letter-spacing: 0.05em; }
  #subscriptions-inner #vertical-content {
    z-index: 1;
    padding-left: 340px; }
    #subscriptions-inner #vertical-content .helper {
      left: 250px; }
    #subscriptions-inner #vertical-content li {
      position: relative; }
      #subscriptions-inner #vertical-content li .when {
        position: absolute;
        top: 0;
        right: -300px;
        color: #555555;
        font-size: 12px; }

@media all and (min-width: 1367px) {
  #subscriptions-inner #vertical-people {
    left: auto; }
  #subscriptions-inner #vertical-content .helper {
    left: auto;
    margin-left: -90px; } }
