#support h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px; }
#support #vertical-people {
  z-index: 2;
  right: none;
  left: 40px;
  width: 75px; }
  #support #vertical-people .info {
    font-size: 12px;
    color: #777777;
    margin-bottom: 10px;
    letter-spacing: 0.05em; }
#support #vertical-content {
  z-index: 1;
  margin-top: 40px;
  padding-left: 340px; }
  #support #vertical-content .helper {
    top: 122px;
    left: 250px; }
  #support #vertical-content li {
    position: relative; }
    #support #vertical-content li .when {
      position: absolute;
      top: 0;
      right: -150px;
      color: #555555;
      font-size: 12px; }
