#support #vertical-people {
  z-index: 2;
  right: none;
  left: 40px;
  width: 75px; }
  #support #vertical-people .info {
    font-size: 12px;
    color: #777777;
    margin-bottom: 10px;
    letter-spacing: 0.05em; }
#support #vertical-content {
  z-index: 1;
  margin-top: 40px;
  padding-left: 340px; }
  #support #vertical-content .helper {
    top: 82px;
    left: 250px; }
