@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/tables\.sass}line{font-family:\000031}}
table {
  border-collapse: collapse; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/tables\.sass}line{font-family:\000033}}
  table th, table td {
    text-align: left;
    padding: 5px 20px 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/tables\.sass}line{font-family:\000036}}
  table th {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc; }
