.tipsy { padding: 5px; font-size: 11px; font-weight: 700; margin-top:10px; position: absolute; z-index: 100000; -webkit-text-shadow: none; -moz-text-shadow: none; text-shadow: none; }
  .tipsy-inner { padding: 10px 15px 8px 15px; background-color: #fff; color: #000; max-width: 300px; text-align: center; -moz-box-shadow: 0 1px 5px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2); box-shadow: 0 1px 5px rgba(0,0,0,.2);}
  .tipsy-inner { border-radius: 4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
  .tipsy-arrow { position: absolute; background: url('../images/tipsyWhite.gif') no-repeat top center; width: 18px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -8px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }