header {
  background-color: white;
  z-index: 100;
  position: relative; }
  header #user-nav {
    position: relative;
    height: 50px;
    border-bottom: 1px dotted #cccccc; }
    header #user-nav #logo, header #user-nav #signup, header #user-nav #signin, header #user-nav #signout, header #user-nav #profile, header #user-nav #create, header #user-nav #balance, header #user-nav #subscriptions, header #user-nav #recommendations, header #user-nav #topics, header #user-nav #search {
      position: absolute;
      top: 0; }
    header #user-nav #logo {
      font-size: 1.5em;
      left: 0;
      top: 6px;
      background: transparent url(../images/logo.png) no-repeat;
      text-indent: -9999px;
      display: block;
      width: 180px;
      height: 32px; }
    header #user-nav .right {
      position: absolute;
      right: 0;
      width: 760px; }
    header #user-nav #signup, header #user-nav #profile, header #user-nav #signin, header #user-nav #signout {
      top: 15px; }
    header #user-nav #signup {
      left: 60px; }
    header #user-nav #profile {
      left: 0; }
    header #user-nav #signin, header #user-nav #signout {
      left: 140px; }
    header #user-nav #create a, header #user-nav #balance a, header #user-nav #subscriptions a, header #user-nav #recommendations a, header #user-nav #topics a {
      display: block;
      text-indent: -9999px;
      background-color: transparent;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px; }
    header #user-nav #create:hover .tip, header #user-nav #balance:hover .tip, header #user-nav #subscriptions:hover .tip, header #user-nav #recommendations:hover .tip, header #user-nav #topics:hover .tip {
      display: block;
      left: 14px; }
    header #user-nav #create {
      left: 210px; }
      header #user-nav #create a {
        background-image: url(../images/icons/create.png); }
    header #user-nav #balance {
      left: 250px; }
      header #user-nav #balance a {
        background-image: url(../images/icons/balance.png); }
    header #user-nav #subscriptions {
      left: 290px; }
      header #user-nav #subscriptions a {
        background-image: url(../images/icons/person.png); }
    header #user-nav #recommendations {
      left: 330px; }
      header #user-nav #recommendations a {
        background-image: url(../images/icons/recommend.png); }
    header #user-nav #topics {
      left: 450px; }
      header #user-nav #topics a {
        background-image: url(../images/icons/topics.png); }
    header #user-nav #search {
      left: 559px;
      top: 8px;
      width: 200px; }
      header #user-nav #search label {
        font-size: 1.2em;
        font-weight: normal;
        color: #777777;
        padding: 5px 0 0 10px; }
      header #user-nav #search input[type="text"] {
        width: 160px; }
      header #user-nav #search input[type="submit"] {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        background: transparent url(../images/icons/search.png) no-repeat;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-indent: -9999px; }
