@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\000032}}
header .topic-name {
  height: 100px;
  width: 803px;
  float: left;
  background: transparent url(../images/headersAll.png) no-repeat 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\000037}}
header .topic-name.art {
  background-position: 0 -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\000039}}
header .topic-name.business {
  background-position: 0 -200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000311}}
header .topic-name.design {
  background-position: 0 -300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000313}}
header .topic-name.education {
  background-position: 0 -400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000315}}
header .topic-name.environment {
  background-position: 0 -500px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000317}}
header .topic-name.gastronomy {
  background-position: 0 -600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000319}}
header .topic-name.health {
  background-position: 0 -700px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000321}}
header .topic-name.history {
  background-position: 0 -800px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000323}}
header .topic-name.journalism {
  background-position: 0 -900px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000325}}
header .topic-name.literature {
  background-position: 0 -1000px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000327}}
header .topic-name.music {
  background-position: 0 -1100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000329}}
header .topic-name.science {
  background-position: 0 -1200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000331}}
header .topic-name.sports {
  background-position: 0 -1300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000333}}
header .topic-name.technology {
  background-position: 0 -1400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000335}}
header .topic-name.travel {
  background-position: 0 -1500px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000337}}
header .topic-name.culture {
  background-position: 0 -1600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000339}}
header .topic-name.diy {
  background-position: 0 -1700px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000341}}
header .topic-icon {
  width: 135px;
  height: 86px;
  background: transparent url(../images/topic-icon-bg.png) no-repeat 0 0;
  float: right;
  margin-top: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/djbrowning\/projects\/momeant\/repo\/public\/stylesheets\/sass\/topics\.sass}line{font-family:\0000347}}
  header .topic-icon .topic {
    width: 50px;
    height: 50px;
    margin: 18px auto; }
