#coins-page

  #explanation
    %h3 We've moved over to a new, simpler model to make rewarding even easier for you!
    %p
      The reward coins you previously purchased are still valid, so don't worry.
      But once you use them up, instead of pre-purchasing packages, you can just reward whenever you see fit!
      Once you've rewarded a certain amount, we'll ask you to go back and "fund" (pay for) those rewards.
      It's that simple.
    %p
      If you have any questions at all, don't hesitate to #{link_to "contact us", "#feedback-modal"}. As always, thanks for your awesome support!
    
  
:javascript
  mixpanel.track('Viewed Coin Page');