%h1 We need you to re-authorize your payment method
%p
  Your financial security is very important to us. After you've rewarded a certain amount, we have you
  re-authorize your Amazon Payment method in order to ensure your settings are correct.
%p Re-authorizing is quick and easy and we appreciate your help in keeping Momeant secure.
  
= link_to "Re-authorize Now", fund_rewards_path, class: "button", target: "_blank"