- @content.each do |story|
  .content
    
    .title
      = link_to story.user.name, creations_user_path(story.user)
      %span recently shared:
      
    .the-rest
      = link_to image_tag(story.thumbnail.url(:petite)), story_path(story), :class => "thumbnail"
      = link_to story.title, story_path(story), :class => "title"
      .synopsis= truncate story.synopsis, :length => 120