#reward-thank-you
  .message
    = link_to(image_tag(@user.avatar.url(:thumbnail)), user_path(@user), :class => "avatar")
    .thanks Thanks!
    - if @story
      .text= truncate(@story.thankyou, :length => 60)
    - else
      .text= truncate(@user.thankyou, :length => 60)
  .share
    = link_to("Share with Twitter", twitter_url(@reward), :class => "twitter", :target => :new)