%li.user
  = link_to(image_tag(user.avatar.url(:large)), user_path(user), :class => "avatar")
  .name= user.name
  .impact #{user.impact} impact
  .tags
    - user.interests.each do |tag|
      = link_to(tag.name, community_people_path(:tag => tag.name))