.horizontal-tabs
  %ul
    %li= link_to_active("Patronage", user_path(@user), :class => current_page?(root_path) ? "active" : "")
    %li= link_to_active("Creations", creations_user_path(@user))
    %li= link_to_active("Top Supporters", supporters_user_path(@user))