.info.top
  = image_tag(@user.avatar.url(:thumbnail), :class => "avatar")
  .name-occupation-follow
    .name= @user.name
    .follow= follow_button(@user)
    .occupation= @user.tagline
    
  .impact-shield.tooltipped-w{:title => "Level 1 Patron"} 1