#user-profile
  
  #profile-center.column
    #vertical-list
      Patronage Page
  
  #profile-left.column
    = render "users/user_info"

  #profile-right.column
    #vertical-people
      - @users.each do |person|
        %li.person
          = link_to image_tag(person.avatar.url(:large)), user_path(person), :class => "tooltipped", :title => person.name

  .clear