- content_for :head do
  = javascript_include_tag "jquery.masonry.min"

.avatar-wall
  - @users.each do |user|
    - size = avatar_size_for_impact(@user.impact_on(user))
    = link_to(image_tag(user.avatar.url(:large), :style => size), user_content_rewarded_by_path(user, @user), :class => "tooltipped", :title => user.name)

:javascript
  $(document).ready(function() {
    $('.avatar-wall').masonry({columnWidth:30});
    $('.avatar-wall a').fancybox();
  });