body#stories.before
  #main
    max-width: 800px
    margin: 30px auto 0
  
  #button
    background: #f7f7f7
    padding: 20px
    margin-bottom: 2em
    a
      margin-right: 10px
    
  h3
    margin-bottom: 1em
    font-size: 1.2em
  
  ol
    margin: 0 3em
    li
      margin-bottom: 0.5em
  
  #got-it
    margin-top: 2em
    font-size: 1.5em
    a
      font-size: 1em
      padding: 8px 12px