/* Story creation */

.new-story-copy
	font-family: $typewriter
	color: #999
	font-size: 20px
	line-height: 31px
	margin-bottom: 20px
	font-weight: 100
	&:first-letter
		font-size: 60px
		font-weight: 100
		padding-bottom: 5px
		float: left
		display: inline-block
		vertical-align: baseline
		padding-right: 6px
		padding-top: 17px
		color: #000
.fullscreen .story-form
	padding-top: 0
form.new_story, form.edit_story, .story-form
	position: relative
	padding-top: 20px
	height: 100%
	.finished-links
		position: absolute
		top: 0
		right: 0
		a, input[type="submit"]
			float: left
			font-weight: 900
			font-size: 14px
			text-transform: uppercase
			margin-left: 10px
			padding: 8px 10px 5px
			@include rounded(4px)
			width: 80px
			text-align: center
			letter-spacing: .5px
		#preview-link
			background-color: $lightblue
		#publish-link
			background-color: $lightgreen
			color: #1EA337
		#delete-link
			background-color: $lightred
			color: $red
	.banner
		padding-top: 15px
		margin: 20px 0 10px
		background-color: $lightred
		.before
			font-weight: bold
		li
			margin-bottom: 0.5em
	label
		float: none
		padding: 0
	fieldset
		padding-top: 20px
	#story-spinner
		display: none
		height: 16px
		background: transparent url(../images/spinner.gif) no-repeat 0 0
		position: absolute
		top: 10px
		left: -20px
		padding-left: 20px
	#story-saved
		height: 16px
		font-family: $typewriter
		position: absolute
		top: 10px
		left: 0
		color: #999
		font-style: italic
		font-weight: 100
	#thumbnail
		border-top: 1px solid #dedede
		width: 950px
		.thumbnail-container
			padding-top: 5px
			height: 80px
			border-bottom: 1px solid #dedede
			.preview
				float: left
				width: 95px
				height: 60px
				background: #fff
				border: 1px solid #ccc
				margin-right: 20px
			.file-uploader
				padding-top: 5px
				float: left
				.file-input
					height: 25px
				.loader
					width: 220px
					height: 19px
					background: transparent url(../images/loading.gif) no-repeat 0 0
					display: none
				.example
					border: none
	.title-input, .excerpt-input
		height: auto
		position: relative
		margin-bottom: 10px
	.title-input
		width: 950px
		padding-right: 50px
		margin-top: 10px
		margin-bottom: 15px
		height: auto
		input
			width: 99%
	.excerpt-input
		width: 950px
		textarea
			width: 99%
			height: 100px
			vertical-align: top
	#page-previews
		position: relative
		border-bottom: $border_solid
		border-top: $border_solid
		margin-bottom: 25px
		padding-bottom: 15px
		width: 950px
		padding-top: 30px
		a#open-page-editor-button
			display: block
			width: 400px
			padding: 10px 0
			text-align: center
			font-size: 22px
			margin: 0 auto 15px
			text-transform: uppercase
		h3
			padding: 3px 0
			color: $blue
			font-size: 26px
			font-weight: 900
			text-transform: uppercase
		#story-instructions
			width: 298px
			height: 385px
			float: left
			margin-right: 25px
			p
				font-family: $typewriter
				color: #999
				font-size: 16px
				line-height: 24px
				font-weight: 100
				&:first-letter
					font-size: 47px
					font-weight: 100
					padding-bottom: 5px
					float: left
					display: inline-block
					vertical-align: baseline
					padding-right: 3px
					padding-top: 13px
					color: #000
		li.page
			width: 288px
			font-family: $typewriter
			font-weight: 100
			height: 180px
			background-color: #eaeaea
			float: left
			clear: none
			margin: 3px 25px 25px 0
			text-align: center
			font-size: 130px
			color: #ffffff
			cursor: pointer
			position: relative
			border: 5px solid #ffffff
			@include boxshadow(5px, 0.25, 3px, 3px)
			.inner, .image
				width: 100%
				height: 100%
			a.choose-thumbnail
				font-size: 12px
				position: absolute
				bottom: 0
				left: 0
				padding: 8px 6px 3px 20px
				background: #ffffff url(../images/blue-checkbox.png) 7px -17px no-repeat
				color: black
				text-indent: 10px
				font-family: $block
				width: 100px
				text-align: left
				z-index: 3
			a.choose-thumbnail.chosen
				background-position: 7px 6px
		li#preview_2, li#preview_4, li:nth-child(3n+7)
			margin-right: 0px
		li.chosen-thumbnail
			border: 5px solid $blue
		.actions
			a
				font-weight: bold
				background-color: $link_color
				color: #fff
				padding: 3px 6px
				text-shadow: 0 -1px 1px #000
				@include rounded(3px)
	.metadata
		width: 48%
		float: left
		clear: left
		padding-top: 10px
		margin-right: 2%
		.price
			label
				width: 100%
			input
				width: 98%
		.price strong
			font-size: 1.5em
		.tags
			margin-top: 20px
			label
				width: 100%
			input
				width: 98%
		.thank-you
			textarea
				width: 98%
				height: 160px
			.example
				border-bottom: none
	.topics
		width: 47%
		clear: none
		float: left
		padding: 10px 0 0 2%
		border-left: $border_solid
		h3
			padding-bottom: 5px
			color: #dedede
			font-size: 26px
			font-weight: 900
			text-transform: uppercase
		li
			margin: 0
			width: 50%
			float: left
			clear: none
			input
				float: left
				height: 24px
			label
				display: inline-block
				color: #333333
				font-size: 15px
				width: auto
				font-weight: 900
				line-height: 12px
				font-weight: 900
				cursor: pointer
			.children
				padding-left: 10px
				label
					color: #999
		
	#page-type-chooser
		display: none
		width: 100%
		height: 100%
		position: fixed
		top: 0
		z-index: 5
		.dark
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			background-color: rgba(0,0,0,0.6)
		.insides
			width: 460px
			min-width: 460px
			height: auto
			position: fixed
			top: 50%
			left: 50%
			margin: -250px 0 0 -240px
			background-color: rgba(249, 249, 249, 0.9)
			@include boxshadow
			.header
				font-family: $block
				font-weight: 700
				font-size: 15px
				vertical-align: middle
				text-transform: uppercase
				background-color: #000
				color: #fff
				margin-bottom: 5px
				padding: 10px 0 8px 15px
				.close
					position: absolute
					top: 10px
					right: 0px
					width: 32px
					height: 32px
					display: block
					background: transparent url(../images/white-close-xSm.png) no-repeat 0 0
					text-indent: -9999px
			.copy
				margin: 20px 5px 5px
				font-size: 15px
				line-height: 24px
				font-family: $typewriter
				font-weight: 100
				padding-bottom: 15px
				color: #777
				h2
					font-family: $block
					color: $blue
					font-weight: 700
					font-size: 12px
					text-align: center
					background: none
					text-decoration: underline
					margin-bottom: 0px
					padding-bottom: 0px
				span
					font-family: $block
					font-weight: 100
					clear: both
					display: block
					font-size: 10px
					font-style: italic
					text-align: center
					line-height: 13px
				
			.body
				.clear
					height: 20px
				ul
					margin: 0 auto
					li
						display: block
						width: 200px
						height: 95px
						float: left
						background-position: 0 0px
						background-repeat: no-repeat
						background-color: white
						cursor: pointer
						margin: 8px 0 8px 15px
						padding: 105px 0 0 0
						clear: none
						border: 5px solid #fff
						@include boxshadow(4px, 0.1, 2px, 2px)
					li.loading
						background: transparent url(../images/spinner.gif) no-repeat 50% 70px
					li:hover
						border: 5px solid #00aeef
				.title
					background-image: url(../images/page-themes/title-page-thumbnail.jpg)
				.full_image
					background-image: url(../images/page-themes/full-image-thumbnail.jpg)
				.pullquote
					background-image: url(../images/page-themes/pullquote-thumbnail.jpg)
				.video
					background-image: url(../images/page-themes/video-thumbnail.jpg)
				.split
					background-image: url(../images/page-themes/split-thumbnail.jpg)
				.grid
					background-image: url(../images/page-themes/grid-thumbnail.jpg)

#page-previews
	li.title .inner
		display: table
	li.title
		@include titleSlide
		p, span
			font-size: 12px !important
	li.full_image
		@include fullimageSlide
		.caption
			display: none
	li.pullquote
		@include blockquoteSlide
	li.video
		@include videoSlide
	li.split
		@include splitSlideMedium
	li.grid
		@include gridSlideMedium
	li.page.launch
		color: #333
		font-size: 20px
		display: table
		.inner
			display: table-cell
			vertical-align: middle
			
			
#page-editor
	width: 100%
	position: absolute
	top: 0
	bottom: 0
	padding: 0
	margin: 0
	overflow: hidden
	text-shadow: none
	#editor-header
		height: 42px
		position: relative
		z-index: 2
		font-family: $block
		font-weight: 700
		text-transform: uppercase
		background-color: #fff
		background-color: rgba(255,255,255,0.9)
		@include boxshadow(5px, 0.15, 0, 5px)
		.title
			font-size: 26px
			color: #b0b0b0
			padding: 6px 0px 5px
			vertical-align: middle
			margin-left: 10px
			float: left
		.slide-nav
			position: absolute
			left: 50%
			top: 13px
			width: 130px
			height: 42px
			margin-left: -65px
			font-size: 14px
			text-align: center
			color: #aaaaaa
			letter-spacing: 1px
			font-weight: 900
			#previous-page, #next-page
				width: 16px
				height: 18px
				text-indent: -9999px
				background: transparent url(../images/story-creator-next-prev-arrows.png) no-repeat 0 0
				cursor: pointer
				position: absolute
				top: 2px
				display: none
			#previous-page
				left: 0
			#next-page
				right: 0
				background-position: -18px 0
		.actions
			float: right
			margin-top: 7px
			a
				float: left
				margin-right: 8px
				display: block
				font-size: 12px
				height: 15px
				padding: 5px 10px
				background-color: #c0eefe
				@include rounded(3px)
			a.delete
				background-color: #f7d4db
				color: #f52654
			a.save
				background-color: #c9f3cf
				color: #1ca436
			a.add
				display: none
	#pane
		width: 50%
		background-color: #e0e0e0
		background-color: rgba(224,224,224,0.95)
		z-index: 2
		position: absolute
		top: 42px
		bottom: 0
		left: 0
		margin-bottom: -42px
		-webkit-transition: left 0.5s ease-in-out
		-moz-transition-property: left
		-moz-transition-duration: 0.5s
		@include boxshadow(5px, 0.15, 5px, 0)
		.expander-tab
			position: absolute
			right: -31px
			top: 46%
			width: 34px
			height: 57px
			background: transparent url(../images/verticalDrawerTab.png) no-repeat -34px 0
		.pane-insides
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 100%
			overflow-y: auto
			.mceEditor iframe *
				font-size: 11px !important
				font-family: verdana !important
			.header
				height: 35px
				background-color: #000
				color: #fff
				text-transform: uppercase
				position: relative
				border-right: 1px solid #444
				.title
					font-family: $block
					font-weight: 700
					font-size: 14px
					vertical-align: middle
					padding: 9px 5px 10px 12px
					display: inline-block
					letter-spacing: 1px
				.change
					display: inline-block
					line-height: 35px
					vertical-align: middle
					margin-left: 10px
				.spinner
					position: absolute
					right: 5px
					top: 9px
					width: 60px
					height: 16px
					background: transparent url(../images/spinner-white.gif) no-repeat 0 0
					font-size: 12px
					font-weight: 300
					font-style: italic
					padding: 1px 0 0 20px
					display: none
				.spinner.off
					background-position: -16px 0
				a
					font-size: 11px
			.copy
				margin: 17px 23px
				font-size: 15px
				line-height: 24px
				font-family: $typewriter
				font-weight: 100
				border-bottom: 1px dotted #aaa
				padding-bottom: 15px
				color: #777
				strong
					font-weight: normal
					color: #000
				span
					display: inline
			.body
				padding: 20px 45px 30px
		a.save
			font-size: 12px
			height: 15px
			padding: 5px 10px
			background-color: #c9f3cf
			font-weight: 700
			text-transform: uppercase
			color: #1ca436
			@include rounded(3px)
			display: inline-block
			margin-top: 10px
		ul.pages
			li.break
				border-top: 1px solid #ccc
				padding-top: 10px
				margin-top: 20px
			li
				margin-bottom: 20px
				select
					margin-top: 9px
				label
					font-size: 11px
					font-weight: 300
					color: #999
					margin-top: 8px
					margin-bottom: 5px
					text-shadow: none
					float: left
					width: auto
					span
						height: auto
					span.sidenote
						text-transform: none
						font-style: italic
				.tip-icon
					width: 19px
					height: 19px
					background: transparent url(../images/tipIcon.png) no-repeat
					cursor: pointer
				.tips
					display: none
					color: #777
					width: 100%
					padding-top: 5px
					li
						margin-bottom: 5px
						padding-left: 5px
						background-color: $link_color
						color: #fff
				.file-uploader
					clear: both
				.hints
					clear: both
					p
						margin: 3px 0
						font-size: 10px
						text-transform: uppercase
				span
					display: block
				.title
					textarea
						width: 95%
						height: 160px
				.full_image
					padding-bottom: 20px
					fieldset
						width: 50%
						margin: 0 auto
					textarea
						width: 95%
						height: 150px
					.picker
						background-color: #fff
						border: 1px solid #ccc
						width: 94px
						height: 70px
						padding: 5px 0 0 5px
						clear: both
						li
							background-color: #eee
							width: 42px
							height: 30px
							float: left
							margin: 0 5px 5px 0
							clear: none
							cursor: pointer
						li.chosen
							background-color: #b7ebff
				.pullquote
					textarea
						width: 95%
						height: 300px
				.split
					li.chooser
						margin-bottom: 25px
						ul
							height: 72px
							margin-bottom: 15px
							clear: both
						li
							float: left
							clear: none
							width: 103px
							height: 75px
							background: #fff
							border: 1px solid #ccc
							margin-right: 15px
							cursor: pointer
						li.image-text
							background: transparent url(../images/page-themes/twoColumnImageText.png) repeat-x scroll 0 0
						li.text-image
							background: transparent url(../images/page-themes/twoColumnTextImage.png) repeat-x scroll 0 0
						li.image-image
							background: transparent url(../images/page-themes/twoColumnImageImage.png) repeat-x scroll 0 0
						li.text-text
							background: transparent url(../images/page-themes/twoColumnTextText.png) repeat-x scroll 0 0
						li.selected
							background-color: $lightblue
						li:last-child
							margin-right: 0
					li.inputs
						h3
							background-color: #aaa
							color: #fff
							text-transform: uppercase
							padding: 5px
							margin-bottom: 5px
						ul
							li.image1, li.text1
								margin-bottom: 20px
						textarea
							width: 97%
							height: 150px
				.video
					.url
						span
							display: inline
				.grid
					li.chooser
						width: 280px
						margin: 0 auto 25px
						ul
							width: 268px
							height: 164px
							padding: 5px
							background-color: #fff
							border: 1px solid #ccc
							clear: both
						li
							float: left
							clear: none
							width: 55px
							height: 70px
							background: #eee
							color: #fff
							border: 1px solid #ccc
							margin: 5px
							cursor: pointer
							font-size: 36px
							font-family: $typewriter
							text-align: center
							line-height: 70px
							vertical-align: middle
						li.selected
							background-color: $lightblue
							color: $link_color
					li.inputs
						height: 250px
						ul.cells li
							position: absolute
							width: 95%
						.side
							float: left
							width: 46%
							margin: 0
							.inner
								h3
									background-color: #eee
									color: #8d8d8d
									text-transform: uppercase
									padding: 6px 10px 5px
									margin-bottom: 15px
									span
										height: auto
										display: inline-block
									.dark
										color: #333
									.types
										float: right
										a
											padding-left: 5px
								.image
									.file-uploader
										padding-bottom: 10px
								.text
									margin-top: 5px
								.file-uploader .file-input-faker
									display: table
									width: auto
									.text, a.upload
										display: table-cell
										position: relative
									.text
										min-width: 100px
									a.upload
										width: 80px
								textarea
									width: 95%
									margin-top: 5px
						.front
							.inner
								padding-right: 15px
								border-right: 1px solid #ccc
						.back
							.inner
								padding-left: 15px
				
				.image-placement-picker
					clear: both
				.color-picker
					clear: both
		.file-uploader
			position: relative
			height: 27px
			float: left
			.file-input-faker
				position: absolute
				width: 300px
				height: 30px
				overflow: hidden
				input[type="file"]
					position: absolute
					top: 0
					left: 0
					opacity: 0
					z-index: 2
					height: 25px
					width: 200px
				.text
					position: absolute
					left: 0
					line-height: 25px
					vertical-align: middle
					background-color: #fff
					border: 1px solid #ccc
					height: 25px
					width: 190px
					padding: 0 5px
			a
				position: absolute
				left: 210px
				display: block
				width: auto
				text-align: center
				vertical-align: middle
				font-family: $block
				font-weight: 700
				text-transform: uppercase
				background-color: #c0eefe
				z-index: 2
				border-radius: 3px
				-moz-border-radius: 3px
				padding: 5px 10px
				height: 15px
			.loader
				display: none
	#pane.closed
		left: -49%
		.expander-tab
			background-position: 0 0

	ul#pages
		overflow: hidden
		position: absolute
		top: 42px
		bottom: 0
		width: 100%
		z-index: 1
		background-color: #f2f2f2
		li.page
			width: 100%
			height: 100%
			position: absolute
			top: 0
			bottom: 0
			display: none
			margin-bottom: 0
			.inner
				position: absolute
				top: 0
				bottom: 0
				width: 100%
		.title
			@include titleSlideFullsize
		.full_image
			@include fullimageSlideFullsize
		.pullquote
			@include blockquoteSlideFullsize
		.video
			@include videoSlideFullsize
		.split
			@include splitSlideFullsize
		.grid
			@include gridSlideFullsize

	#story-details
		position: absolute
		bottom: -51px
		right: 0
		padding: 10px 10px 0 10px
		font-size: 26px
		font-style: italic
		text-transform: uppercase
		border-top: $border_type
		border-left: $border_type
		background: #efff74
		height: 40px
		z-index: 2
		.label
			float: left
			border-right: $border_type
			padding-right: 15px
			margin-right: 10px
		.value
			float: left
	.loader
		width: 220px
		height: 19px
		z-index: 999
		background: transparent url(../images/loading.gif) no-repeat 0 0
