.story-gallery
	width: 630px
	position: relative
	padding: 10px
	overflow: hidden
	float: left
	-webkit-box-shadow: 3px 3px 5px #BBBBBB
	-moz-box-shadow: 3px 3px 5px #BBBBBB
	box-shadow: 3px 3px 5px #BBBBBB
	background-color: white
	.large-preview
		width: 630px
		height: 420px
		overflow: hidden
		.pages
			height: 100%
			a.story-link
				width: 630px
				height: 100%
				float: left
				color: #000
				.inner, .image
					width: 630px
					height: 100%
			a.title
				@include titleSlide(630px,420px)
			a.full_image
				@include fullimageSlide(630px,420px)
			a.pullquote
				@include blockquoteSlide(630px,420px)
			a.video
				@include videoSlide(630px,420px)
			a.split
				@include splitSlide(630px,420px)
			a.grid
				@include gridSlide(630px,420px)
	.gallery-title
		width: 610px
		height: 31px
		padding: 2px 10px 5px
		position: absolute
		top: 392px
		left: 10px
		background-color: #000
		color: #fff
		font-weight: 700
		font-size: 28px
		text-transform: uppercase
		text-shadow: none
	.slider
		margin-top: 5px
		.viewport
			width: 630px
			height: 60px
			overflow: hidden
			position: relative
			.overview
				list-style: none
				position: absolute
				left: 0
				top: 0
				height: 100%
			.preview, .inner, .image
				width: 95px
				height: 60px
			.preview
				float: left
				margin-right: 5px
				cursor: pointer
			.preview.title
				@include titleSlide(95px,60px)
				.inner
					height: 60px
					.title
						padding: 0
						line-height: 60px
						.text
							p
								line-height: 1em
								margin: 0
							span
								font-size: 10px !important
						hr
							margin-top: 0
			.preview.full_image
				@include fullimageSlide(95px,60px)
			.preview.pullquote
				@include blockquoteSlide(95px,60px)
				.pullquote-inner div.quote
					font-size: 3px
					line-height: 3px
					letter-spacing: -.4px
					p
						margin: 1px 0
					p:first-letter
						font-size: 9px
						height: 9px
						line-height: 9px
						letter-spacing: -2px
						padding-right: 3px
						padding-top: 1px
			.preview.video
				@include videoSlide(95px,60px)
			.preview.split
				@include splitSlidePetite
			.preview.grid
				@include gridSlide(95px,60px)
			.incomplete
				text-align: center
				color: #777
				padding-top: 10px
		.scrollbar
			height: 12px
			position: relative
			margin-top: 4px
			.track
				background-color: #eee
				height: 12px
				width: 100%
				position: relative
				padding: 0 1px
			.thumb
				height: 10px
				width: 20px
				cursor: pointer
				overflow: hidden
				position: absolute
				left: 0
				background-color: #ccc
				@include rounded
		.scrollbar.disable
			display: none