.story-gallery
	width: 630px
	position: relative
	padding: 10px
	overflow: hidden
	float: left
	-webkit-box-shadow: 3px 3px 5px #BBBBBB
	-moz-box-shadow: 3px 3px 5px #BBBBBB
	box-shadow: 3px 3px 5px #BBBBBB
	background-color: white
	.large-preview
		width: 630px
		height: 420px
		overflow: hidden
		.pages
			height: 100%
			a.story-link
				width: 630px
				height: 100%
				float: left
				color: #000
				.inner, .image
					width: 630px
					height: 100%
	.gallery-title
		width: 610px
		height: 31px
		padding: 2px 10px 5px
		position: absolute
		top: 392px
		left: 10px
		background-color: #000
		color: #fff
		font-weight: 700
		font-size: 28px
		text-transform: uppercase
		text-shadow: none
	.slider
		margin-top: 5px
		.viewport
			width: 630px
			height: 60px
			overflow: hidden
			position: relative
			.overview
				list-style: none
				position: absolute
				left: 0
				top: 0
				height: 100%
			.preview, .inner, .image
				width: 95px
				height: 60px
			.preview
				float: left
				margin-right: 5px
				cursor: pointer
				.pullquote-inner
					width: 100%
					height: 100%
					display: table
					p
						width: 100%
						height: 100%
						display: table-cell
						vertical-align: middle
						padding: 0% 7%
						text-transform: uppercase
						text-align: justify
						font-size: 3px
						line-height: 3px
						font-family: $caps
						font-weight: 100
						letter-spacing: -.4px
						&:first-letter
							font-family: $dropcaps
							float: left
							font-size: 9px
							height: 9px
							line-height: 9px
							text-transform: uppercase
							vertical-align: baseline
							letter-spacing: -2px
							padding-right: 3px
							padding-top: 1px
			.incomplete
				text-align: center
				color: #777
				padding-top: 10px
		.scrollbar
			height: 12px
			position: relative
			margin-top: 4px
			.track
				background-color: #eee
				height: 12px
				width: 100%
				position: relative
				padding: 0 1px
			.thumb
				height: 10px
				width: 20px
				cursor: pointer
				overflow: hidden
				position: absolute
				left: 0
				background-color: #ccc
				@include rounded
		.scrollbar.disable
			display: none