/* Story Preview */

input.bookmark, input.unbookmark
	position: absolute
	top: -12px
	right: 0
	width: 50px
	height: 55px
	background: transparent url(../images/bookmark.png) no-repeat 0 -51px
	text-indent: -9999px
input.unbookmark
	background-position: 0 2px
input.bookmark:active, input.unbookmark:active
	top: -12px
.banner
	padding: 1em 0
	font-size: 1.2em
	font-weight: bold
	form
		display: inline-block
	ul
		font-weight: normal
		font-size: 12px
		margin-top: 5px
a.edit-story
	font-size: 15px
.story-preview
	font-family: $block
	margin-top: 40px
	position: relative
	a.edit
		font-size: 15px
	.preview
		float: left
		position: relative
		border: 6px solid #fff
		-webkit-box-shadow: 3px 3px 5px #ccc
		width: 630px
		.thumbnail
			height: 420px
			display: table
			background-color: #fff
			.title div, .pullquote p
				display: table-cell
				vertical-align: middle
				text-align: center
				width: 600px
				padding: 15px
				font-size: 32px
				font-weight: 700
				overflow: hidden
			p
				font-size: 16px
				font-weight: 300
				text-align: left
			.split
				.image, .text
					width: 315px
					float: left
				.image img
					width: 315px
				.text
					padding: 20px
					width: 275px
			ul.cells
				li
					width: 157.5px
					height: 210px
					float: left
				.image img
					width: 157.5px
					height: 210px
		.price
			background: transparent url(../images/price-bg.png) no-repeat
			color: #fff
			width: 85px
			height: 82px
			position: absolute
			top: -40px
			left: -40px
			a, input[type="submit"]
				font-weight: 700
				font-size: 24px
				display: block
				text-align: center
				line-height: 85px
				vertical-align: middle
				color: #fff
				background: none
				-webkit-box-shadow: none
				-moz-box-shadow: none
				box-shadow: none
				-webkit-text-shadow: none
				-moz-text-shadow: none
				text-shadow: none
				width: 85px
			.view, .free
				font-size: 22px
		.actions
			padding: 10px 10px 10px 0
			height: 30px
			background-color: #fff
			a
				display: block
				float: left
				padding: 10px 20px 8px 35px
				background-color: transparent
				background-position: 15px 50%
				background-repeat: no-repeat
				font-size: 11px
				font-weight: 700
				color: $text_color
				border-right: 1px solid #ccc
			.like
				background-image: url(../images/icons/heartOff.png)
			.liked
				background-image: url(../images/icons/heartOn.png)
			.recommend
				background-image: url(../images/icons/recommendOff.png)
			.unrecommend
				background-image: url(../images/icons/recommendOn.png)
			.view, .free, .buy-it
				background-image: url(../images/icons/fullscreenOn.png)
	.metadata
		width: 290px
		float: right
		position: relative
		.top
			position: relative
			padding: 0 5px 10px
			background: transparent url(../images/simpleDotBG.png) repeat-x 0 100%
			.title
				font-weight: 900
				font-family: $block
				font-size: 32px
				text-transform: uppercase
				letter-spacing: -.4px
				line-height: 30px
				width: 230px
				overflow: hidden
			.creator
				font-family: $serif
				font-size: 13px
				font-style: italic
				font-weight: bold
				padding-top: 3px
			.series
				position: absolute
				font-size: 24px
				height: 50px
				border-bottom: $border_type
				right: 50px
				bottom: 5px
				span
					display: block
					position: absolute
				.current
					top: 0
					left: 8px
				.of
					top: 10px
					left: 20px
				.total
					top: 20px
					left: 28px
		.excerpt
			padding: 10px
		.topics, .tags
			padding: 10px
			font-size: 1.1em
			background: url("../images/simpleDotBG.png") repeat-x scroll 0 0 transparent
		.topics
			background-color: #fff
	.featured-comment
		margin-top: 30px
		padding-top: 30px
		background: transparent url(../images/simpleDotBG.png) repeat-x 0 0
	a.disabled
		cursor: default

#recommend-modal
	width: 400px
	padding: 20px
	h3
		font-size: 1.1em
		margin-bottom: 10px
	textarea
		width: 385px
	p
		width: 230px
		float: left
		font-size: 11px
		color: #999
		line-height: 13px
		margin: 10px 0 0
	input[type="submit"]
		background: #ffa801 url(../images/icons/recommendWhite.png) no-repeat 7px 50%
		color: #fff
		font-size: 12px
		float: right
		margin-top: 15px
		padding: 10px 12px 10px 27px