/* Story Preview */
	
.banner
	padding: 10px 20px
	font-size: 11px
	font-weight: 100
	text-align: left
	margin-bottom: 32px
	background-color: #efefef
	@include rounded
	form
		display: inline-block
		input[type="submit"]
			font-size: 13px
			margin-left: 10px
			background-color: $lightgreen
			color: #1EA337
	ul
		font-weight: normal
		font-size: 12px
		margin-top: 5px
.story-preview
	font-family: $block
	margin-top: 10px
	position: relative
	input.bookmark, input.unbookmark
		position: absolute
		top: -12px
		right: 310px
		width: 50px
		height: 55px
		background: transparent url(../images/bookmark.png) no-repeat 0 -51px
		text-indent: -9999px
		z-index: 11
	input.unbookmark
		background-position: 0 2px
	input.bookmark:active, input.unbookmark:active
		top: -12px
	a.edit-story
		background: none repeat scroll 0 0 white
		display: block
		float: left
		font-size: 12px
		font-weight: 900
		margin-left: 70px
		padding: 16px 20px 10px 15px
		z-index: 10
		position: absolute
		top: 0
		right: 0
		text-transform: uppercase
		color: black
		-moz-border-radius: 0 0 0 5px
		-webkit-border-radius: 0 0 0 5px
		border-radius: 0 0 0 5px
	.preview
		float: left
		position: relative
		-webkit-box-shadow: 3px 3px 5px #ccc
		box-shadow: 3px 3px 5px #ccc
		-moz-box-shadow: 3px 3px 5px #ccc
		width: 650px
		margin-top: -10px
		.padder
			padding: 10px
			background-color: #fff
		.thumbnail
			width: 630px
			height: 420px
			display: block
		.thumbnail:hover .goto-view
			display: block
		.price
			color: white
			left: -17px
			position: absolute
			top: -10px
			a, input[type="submit"]
				width: 88px
				height: 50px
				padding-right: 12px
				background: transparent url(../images/priceTagL.png) no-repeat 0 0
				font-weight: 700
				font-size: 24px
				display: block
				text-align: right
				line-height: 50px
				vertical-align: middle
				color: #fff
				-webkit-box-shadow: none
				-moz-box-shadow: none
				box-shadow: none
				-webkit-text-shadow: none
				-moz-text-shadow: none
				text-shadow: none
			.view, .free
				width: 75px
				height: 75px
				padding: 0
				background-color: black
				background-image: none
				border: 5px solid white
				@include rounded(50px)
				-webkit-background-clip: padding-box
				-moz-background-clip: padding-box
				background-clip: padding-box
				font-size: 18px
				letter-spacing: 0.6px
				line-height: 77px
				text-align: center
				text-transform: uppercase
		.actions
			padding: 0 10px 10px 0
			height: 32px
			background-color: #fff
			a, span
				display: block
				float: left
				padding: 10px 20px 8px 35px
				background-color: transparent
				background-position: 15px 50%
				background-repeat: no-repeat
				font-size: 11px
				font-weight: 700
				color: $text_color
				border-right: 1px solid #ccc
			.reward
				background-image: url(../images/icons/recommendOff.png)
			.rewarded
				background-image: url(../images/icons/recommendOn.png)
			.views
				background-image: url(../images/icons/views.png)
			.share
				background-image: url(../images/icons/shareOn.png)
			.view
				background-image: url(../images/icons/fullscreenOn.png)
			#reward-box
				display: none			
			.owner-links
				float: right
				padding-top: 2px
				a, input[type="submit"]
					@include button
					float: left
					margin-left: 10px
				#edit-link
					@include gradient
					border-right: none
				#publish-link
					@include gradient ($greengradient1, $greengradient2)
					border-right: none
				#delete-link
					@include gradient ($redgradient1, $redgradient2)
					border-right: none
				.publish
					float: left
					p
						float: left
						margin: 2px 15px 2px 10px
						font-weight: 700
						font-size: 1.2em
						text-transform: uppercase
						color: #999
	.metadata
		width: 274px
		float: right
		position: relative
		.top
			position: relative
			padding: 0 5px 10px 0
			background: transparent url(../images/simpleDotBG.png) repeat-x 0 100%
			.title
				font-weight: 900
				font-family: $block
				font-size: 32px
				text-transform: uppercase
				letter-spacing: -.4px
				line-height: 30px
				margin-top: 0px
				width: 230px
				overflow: hidden
				color: $text_color
			.title:hover
				color: $link_color
			.creator
				font-family: $serif
				font-size: 12px
				font-style: italic
				font-weight: normal
				padding-top: 3px
				letter-spacing: .4px
			.series
				position: absolute
				font-size: 24px
				height: 50px
				border-bottom: $border_type
				right: 50px
				bottom: 5px
				visibility: hidden
				span
					display: block
					position: absolute
				.current
					top: 0
					left: 8px
				.of
					top: 10px
					left: 20px
				.total
					top: 20px
					left: 28px
		.excerpt
			font-size: 11px
			line-height: 17px
			padding: 10px 10px 10px 0
		.topics
			padding: 2px 10px 5px
			font-size: 1.1em
			background: url("../images/simpleDotBG.png") repeat-x scroll 0 0 transparent
			a
				width: 25px
				height: 25px
				display: inline-block
				margin: 5px 1px
				text-indent: -9999px
				background: transparent url(../images/topicIconsAll.png) no-repeat 0 -5px
			a.business
				background-position: 0 -44px
			a.culture
				background-position: 0 -629px
			a.design
				background-position: 0 -83px
			a.diy
				background-position: 0 -590px
			a.education
				background-position: 0 -122px
			a.environment
				background-position: 0 -161px
			a.fashion
				background-position: 0 -83px
			a.gastronomy
				background-position: 0 -200px
			a.health
				background-position: 0 -239px
			a.history
				background-position: 0 -278px
			a.literature
				background-position: 0 -356px
			a.music
				background-position: 0 -395px
			a.journalism
				background-position: 0 -317px
			a.science
				background-position: 0 -434px
			a.sports
				background-position: 0 -473px
			a.technology
				background-position: 0 -512px
			a.travel
				background-position: 0 -551px
		.tags
			padding: 10px 0
			font-size: 1.1em
			background: url("../images/simpleDotBG.png") repeat-x scroll 0 0 transparent
		.topics
			background-color: #fff
	.top-patrons
		clear: both
		padding-top: 35px
		height: 50px
		h3
			background-color: #000
			color: #fff
			font-weight: 700
			font-size: 12px
			text-transform: uppercase
			width: 85px
			padding: 22px 10px 0
			height: 38px
			text-align: center
			float: left
			margin-right: 3px
			vertical-align: middle
		ul
			height: 50px
			float: left
			width: 840px
			li
				float: left
				clear: none
				margin-right: 3px
				a
					display: block
					width: 60px
					height: 60px
					margin-left: 2px
					img
						width: 60px
						height: 60px
	.curations
		margin-top: 35px
		padding-top: 27px
		background: transparent url(../images/simpleDotBG.png) repeat-x 50% 0
		.writer
			height: 100px
			position: relative
			h3
				font-size: 30px
				text-transform: uppercase
				background-color: transparent
				color: #d7d7d7
				position: absolute
				top: 0
				left: 0
			.input-types
				position: absolute
				top: 10px
				left: 400px
				z-index: 2
				a
					font-family: $block
					text-transform: uppercase
					color: #b2b2b2
					font-weight: 700
			textarea
				width: 845px
				height: 40px
				margin: 40px 10px 0 0
				float: left
			input[type="submit"]
				@include button
				@include gradient
				float: left
				height: 55px
				margin-top: 40px
		ul.list
			margin-top: 20px
			li
				position: relative
				background: transparent url(../images/insetLineBG.gif) repeat-x 50% 100%
				padding: 15px 0
				.avatar
					position: absolute
					top: 15px
					left: 0
					display: block
					width: 30px
					img
						width: 30px
						height: 30px
				.the-rest
					margin-left: 40px
					.who-when
						height: 30px
						padding-left: 40px
						.author, .date
							display: inline-block
							text-transform: uppercase
							color: #b2b2b2
							font-size: 20px
							font-weight: 700
						.author
							padding: 3px 0 0 0
						.date
							color: #d7d7d7
							margin-left: 10px
					.comment
						font-family: $typewriter
						font-size: 20px
						padding: 5px 0
						font-weight: 100
			li.reward .who-when
				background: transparent url(../images/icons/rewardLarge.png) no-repeat 0 0
			li.comment .who-when
				background: transparent url(../images/icons/commentLarge.png) no-repeat 0 0
			li.link .who-when
				background: transparent url(../images/icons/relateLarge.png) no-repeat 0 0
				
	a.disabled
		cursor: default