/* Stories */

.story-preview
	.banner
		padding: 1em 0
		font-size: 1.2em
		font-weight: bold
		border-bottom: $border_type
		form
			display: inline-block
		ul
			font-weight: normal
			font-size: 12px
			margin-top: 5px
	.left
		width: 645px
		border-right: $border_type
		float: left
		.image-preview
			height: 550px
			border-bottom: $border_type
		.price
			background: transparent url(../images/price-bg.png) no-repeat
			color: #fff
			width: 113px
			height: 112px
			-webkit-border-radius: 5px
			-moz-border-radius: 5px
			border-radius: 5px
			margin-top: -55px
			-webkit-transform: rotate(-10deg)
			a, input[type="submit"]
				font-size: 22px
				display: block
				text-align: center
				padding: 43px 0 37px
				color: #fff
				background: none
				-webkit-box-shadow: none
				-moz-box-shadow: none
				box-shadow: none
				-webkit-text-shadow: none
				-moz-text-shadow: none
				text-shadow: none
				width: 105px
	.right
		width: 288px
		float: right
		position: relative
		.excerpt
			margin: 0
			height: auto
		.actions
			width: 50px
			height: 300px
			float: left
			border-right: $border_type
			border-bottom: $border_type
			.series
				position: relative
				font-size: 24px
				height: 50px
				border-bottom: $border_type
				span
					display: block
					position: absolute
				.current
					top: 0
					left: 8px
				.of
					top: 10px
					left: 20px
				.total
					top: 20px
					left: 28px
			.bookmark, .unbookmark, .recommend, .unrecommend, .like, .liked
				width: 63px
				height: 63px
				padding: 0
				margin: 0
				text-indent: -9999px
				background: transparent url(../images/bookmark.png) no-repeat 0 -126px
				-webkit-box-shadow: none
				-moz-box-shadow: none
				box-shadow: none
				@include rounded(0)
			.bookmark, .unbookmark
				position: absolute
				top: 0
				right: 0
			.unbookmark
				background-position: 0 0
			.recommend, .unrecommend
				height: 40px
				width: 50px
				background: transparent url(../images/icons/recommend.png) no-repeat 50% 0
			.unrecommend
				background-position: 50% -40px
			.like, .liked
				height: 40px
				width: 50px
				background: transparent url(../images/icons/like.png) no-repeat 50% 0
			.liked
				background-position: 50% -40px
			.edit
				text-align: center
				padding: 20px 0
				text-transform: uppercase
				font-weight: bold
				a
					color: $text_color
		.metadata
			height: 300px
			border-bottom: $border_type
			.creator, .title, .excerpt
				width: 288px
				padding: 0px
				float: left
			.title
				font-weight: 900
				font-family: $block
				font-size: 32px
				text-transform: uppercase
				letter-spacing: -.4px
				line-height: 30px
		.topics, .tags
			padding: 10px 0
			font-size: 1.1em
			background: url("../images/simpleDotBG.png") repeat-x scroll 0 0 transparent
			margin: 10px 0
