#share-your-content
  width: 530px
  margin: 50px auto 0
  padding: 60px
  text-align: center
  background: #e8e8e8
  
  h1
    font-size: 24px
    font-weight: 600
    margin-bottom: 50px
  h3
    font-size: 20px
    font-weight: 400
    margin-bottom: 50px
  
  #share-link
    margin-bottom: 20px
    .note
      color: #777
      margin-bottom: 3px
    input
      width: 48%
      padding: 4px
      font-size: 1.1em
  
  #share-buttons
    width: 270px
    height: 40px
    margin: 0 auto 50px
    a
      display: block
      width: 123px
      height: 40px
      background: transparent url(../images/reward-modal/share-buttons.png) no-repeat 0 0
      margin: 0 auto 5px
      text-indent: -9999px
      float: left
      margin-right: 20px
    #facebook-button
      background-position: 0 -43px
      margin: 0
  
  #view-content-button
    background-color: #bdbdbd
    color: $text-color