/* Story viewing */

.story-viewer
	width: 100%
	height: 100%
	overflow: hidden
	
	#back-to-preview
		position: absolute
		top: 0
		left: 0
		background: #fff url(../images/icons/fullscreenOff.png) no-repeat 10px 50%
		color: #000
		font-weight: bold
		display: inline-block
		padding: 8px 10px 8px 32px
		-webkit-border-bottom-right-radius: 5px
		-moz-border-radius-bottomright: 5px
		border-bottom-right-radius: 5px
		@include boxshadow(5px, .1, 0, 1px)
		z-index: 3
	#previewer.open .handle
		background-position: 50% -22px
	#previewer.closed .handle
		background-position: 50% 0
	#previewer
		height: 235px
		position: fixed
		left: 0
		bottom: 0
		z-index: 5
		width: 100%
		overflow-y: hidden
		.handle
			height: 22px
			background: transparent url(../images/story-page-previewer-tabB.png) no-repeat
			cursor: pointer
		.preview-inner
			height: 215px
			background-color: #000
			color: #fff
			text-shadow: none
			position: relative
			overflow: hidden
		.info
			width: 270px
			height: 180px
			position: absolute
			top: 15px
			left: 5px
			overflow: hidden
			color: #fff
			.title, .author, .excerpt
				padding-left: 10px
			.title
				font-size: 2.5em
				line-height: 1em
				font-weight: bold
				text-transform: uppercase
			.author
				font-style: italic
				font-family: $serif
				font-size: 1.1em
				padding: 5px 10px 7px
			.excerpt
				font-size: 11px
				font-family: $block
				height: 48px
				overflow: hidden
				line-height: 1.4em
			.actions
				padding: 11px
				border-top: 1px dotted white
				margin-top: 9px
				a
					display: block
					float: left
					padding: 0 0 0 20px
					margin-right: 15px
					background-color: transparent
					background-position: 0 -1px
					background-repeat: no-repeat
					font-size: 11px
					font-weight: 700
					color: #fff
				.like
					background-image: url(../images/icons/heartGrey.png)
				.liked
					background-image: url(../images/icons/heartOn.png)
				.recommend
					background-image: url(../images/icons/recommendGrey.png)
				.unrecommend
					background-image: url(../images/icons/recommendOn.png)
				.share
					background-image: url(../images/icons/shareOn.png)
		.slider
			position: absolute
			top: 0
			left: 280px
			width: 100%
			.viewport
				overflow: hidden
				position: relative
				height: 190px
				.overview
					position: absolute
					top: 0
					left: 0
			.scrollbar
				height: 12px
				position: relative
				margin-top: 4px
				.track
					background-color: #000
					height: 12px
					width: 100%
					position: relative
					padding: 0 1px
				.thumb
					height: 10px
					width: 20px
					cursor: pointer
					overflow: hidden
					position: absolute
					left: 0
					background-color: #ccc
					@include rounded
			.scrollbar.disable
				display: none
		ul.pages
			height: 190px
			padding: 5px 0
			background-color: #000
			li.page
				width: 280px
				height: 180px
				border: 5px solid #000
				float: left
				overflow: hidden
				cursor: pointer
				background-color: #fff
				.number
					display: none
			li.page.active, li.page:hover
				border: 5px solid $blue
			li.title
				@include titleSlide
			li.full_image
				@include fullimageSlide
			li.pullquote
				@include blockquoteSlide
			li.video .inner
				img
					width: 280px
					height: 180px
			li.split
				@include splitSlide
			li.grid .inner
				ul.cells
					width: 280px
					li
						width: 70px
						height: 90px
						float: left
						font-size: 0.7em
						position: relative
						img
							width: 70px
						.image
							z-index: 2
						.text
							z-index: 1
						.image, .text
							position: absolute
	
	ul#pages
		width: 100%
		height: 100%
		li
			width: 100%
			height: 100%
			text-shadow: none
			.number
				display: none
		li.title
			.inner, .title
				height: 100%
				width: 100%
			.inner
				display: table
			.title
				display: table-cell
				font-family: $dropcaps
				font-size: 120px
				vertical-align: middle
				text-align: center
				text-transform: uppercase
				line-height: 110px
				letter-spacing: -4px
				hr
					margin: 30px auto
					width: 30%
		li.full_image
			@include fullimageSlideFullsize
		li.pullquote
			width: 100%
			height: 100%
			.pullquote-inner
				height: 100%
				width: 100%
				display: table
				p
					display: table-cell
					font-family: $caps
					font-size: 34px
					vertical-align: middle
					text-align: justify
					text-transform: uppercase
					line-height: 50px
					letter-spacing: -1px
					font-weight: 100
					padding: 0 10%
					&:first-letter
						font-family: $dropcaps
						font-size: 105px
						vertical-align: baseline
						float: left
						text-transform: uppercase
						line-height: 110px
						letter-spacing: -4px
						height: 100px
						padding-top: 12px
						padding-right: 10px
		li.video
			text-align: center
			iframe
				position: relative
				margin: 5% auto
				z-index: 4
		li.split
			div.split
				height: 100%
			.image, .text
				width: 50%
				float: left
			.image
				height: 100%
				.inner
					height: 100%
					width: 100%
					@include bgcover
			.text	
				font-size: 1.6em
				display: table
				height: 100%
				.inner
					padding: 0 8%
					vertical-align: middle
					display: table-cell
					font-family: $typewriter
					line-height: 36px
					font-size: 16px
					&:first-letter
						font-family: $caps
						font-size: 116px
						vertical-align: baseline
						float: left
						text-transform: uppercase
						line-height: 110px
						letter-spacing: -4px
						height: 100px
						padding-top: 14px
						padding-right: 10px
		li.grid
			ul.cells
				height: 100%
				li
					width: 25%
					height: 50%
					float: left
					position: relative
					.image, .text
						position: absolute
						width: 100%
						height: 100%
					.image
						display: block
						@include bgcover
					.text
						display: none
						font-size: 2em
						text-align: center
						background-color: #fff
						background-color: rgba(255,255,255,0.9)
						.inner
							padding: 0 10%
							vertical-align: middle
							display: table-cell
							font-family: $typewriter
							line-height: 26px
							font-size: 14px
							text-align: justify
							letter-spacing: -.5px
							&:first-letter
								font-family: $caps
								font-size: 50px
								vertical-align: baseline
								float: left
								text-transform: uppercase
								line-height: 50px
								height: 50px
								padding-top: 10px
								padding-right: 4px
					img
						width: 100%
				li:hover
					.text
						display: table
	
	#previous-page, #next-page
		width: 20%
		height: 100%
		position: absolute
		top: 0
		z-index: 2
		.button
			text-indent: -9999px
			background: transparent url(../images/next-previous-arrows.png) no-repeat 0 0
			cursor: pointer
			position: absolute
			top: 35%
			right: 0
			height: 140px
			width: 100px
	#previous-page
		left: 0
		.button
			left: 0
	#next-page
		right: 0
		.button
			background-position: -138px 0