#about-diagram-modal
  .cover
  .padder
    %a.close{:href => "#"}
    #hi-there
    .insides.clearfix
      = image_tag "aboutModalDiagram.png"
      %span * You can always find this on the about page.