#about-diagram-modal
  .cover
  .padder
    %a.close{:href => "#"}
    #hi-there
    
    .insides
      %h3 Reward with ease, right away!
      %p When you see content you really like, or a creator you really appreciate, reward them as you see fit. Once you do, we’ll send you an email on how to setup simple payment information.
    
      %h3 Do you create content and want the opportunity to be rewarded?
      %p Write a blog? an article? make videos? share photos? You are a content creator. Sharing your content is super easy and totally free. Click "Become a Creator" in your profile drop-down.