.how-to-follow

  %h1 Follow other people to see what they're rewarding:
  
  %ul
    %li.global
      = link_to("Browse the global stream", global_path)
      %p Browse the global stream to find patrons with similar tastes.
    %li.search
      = link_to("Search by interest", search_path)
      %p Search for patrons according to their interests or expertise.
    %li.recommended
      = link_to("See who we recommend", global_path)
      %p Check out some of our favorite rewards and patrons.