#about.clearfix

  #explanation
    %ul.steps
      %li Share your work
      %li See your impact
      %li Reward others
    .welcome
      %h1 Welcome to mo&#149;meant
      %p
        We are a community
        %br
        that values &amp; rewards online content.
      %p Mo&#149;meant allows you to reward people, creating great content all over the Web.
      %ul
        %li
          .number 1.
          .text
            We all create content online these days. Most of that content is free.
            %br
            Even pros like writers, musicians, and journalists are giving their work away.
        %li
          .number 2.
          .text
            But when we create great content that others enjoy,
            %br
            we all deserve to be rewarded.
        %li
          .number 3.
          .text
            Mo&#149;meant is a community for rewarding and getting rewarded.
            %br
            Let's truly value each other's work!

  .faq
    %h3 How do I start representing myself and my content?
    %p Go to your #{link_to("profile page", root_path)} (the home button at the top), and click on the tab "creations".
    %p Once there, you'll get some instructions and see a big box to "add content".
    %p Use this to link to your content, create it from scratch, and organize it for others to see.
  .faq
    %h3
      What are
      %br
      Reward Coins?
    %p Reward coins are the currency of Mo&#149;meant's community. Give a reward coin to show appreciation and support.
    %p As you reward, you build status in the mo&#149;meant community so your own content can be found.
    %p #{link_to("Purchase reward coins", coins_path)} to start rewarding.
  .faq
    %h3
      Is there a
      %br
      free trial?
    %p Yes! Once you sign up as a user, which is free, you receive 5 reward coins to give out.
    %p While they are a free trial, those are real rewards that we will pay out to the creators you choose.
    %p So enjoy, and make sure to purchase more rewards when you run out.