#about

  #inner

    #header-image
    .pronounced (pronounced just like 'moment')
    
    %section
      %h1 So what is Momeant?
    
      %h3 We're a community for supporting and connecting with people who create and share great work online.

      %p As a distinct group, creative workers are a critical part of our economy. In fact, they've taken over a larger role in the US employment profile than manufacturing workers.

      %p Who are these people? They're artists, art directors, and animators; but they're also bloggers, video makers, and writers; journalists, academics, and scientists. They are those who create and share knowledge with the world. They are, in fact, most of us.

      %p But while the Web provides a great a platform for expression and distribution, it is not a hospitable environment for making a living. We all expect things for free, and for good reasons.

      %p Essentially, there's no shortage of people who want to and do creative work, and no shortage of creativity. What is scarce is the money to pay them. Being that the creative class continues to grow and make up a larger share of our economy, this is a huge problem.

      %p At Momeant, we're helping build a new creative economy on the Web, where creative people with existing work share it for free, people who enjoy that work have an opportunity to support them, and in doing so, they build lasting connections, opportunities to follow their work, connect with them, learn, listen, and grow.

      %p (We decided to call our site "Momeant", because we believe there is More Meant by a reward, and the ongoing connection and exploration of value that ensues between creator and supporter, than simply a like or a plus one.)

    
    %section
      %h1 Here's how it works:
      
      %ol
        %li Discover great creators and their existing work. Check them out on Momeant.com, or anywhere on the Web where you see our reward button on the left side of the screen.
        %li Reward the ones you like. Any amount. Totally voluntary.
        %li Rewarding makes you a supporter, part of the private community of the creators that matter to you. Being a supporter establishes an ongoing meaningful connection with a creator and their community, an opportunity for discussion, collaboration, recognition, digital and physical gifts, and most of all, free content.
    
    
    %section

      %h1 Frequently Asked Questions

    %h3 1. Who are you guys?
    %p We're a small startup with a dream: to help all of you who create and share content, information, and software online to get paid for your hard work. The way we're doing that, is by building a community in which we voluntarily reward one another when we like each other's content.
    %p Rewards create an ongoing relationships with a creator, they make us part of a creators inner circle, their community of support, allowing us to speak with them, share with them, learn from them, and follow what they do.
    %p We also use your reward behavior to help you find exactly the content and people that you'll like or find useful.

    %h3 2. Wait, what are you trying to do again? What problem are you solving?
    %p Today more and more of us are hardworking creators who share our work online, whether you're a talented hobby photographer, passionate writer, professional movie maker, traveling musician, BMX biker with an amazing reel, we all create work that can be shared online, and that's here to stay.
    %p Since we're already losing so many jobs to automation and digitization, we feel strongly that its time to recognize the value in the creation of others and build a model of exchange that supports the creative process and builds a sustainable digital economy.

    %h3 3. And how exactly does Momeant solve this problem? With Rewarding?
    %p Yes, we're introducing a "reward" button, that allows you to voluntarily reward the people who create the content you value or like (you'll notice it on the left side of the page when looking at content). A Reward is a voluntarily payment to a creator, in an amount you choose (different amounts correspond to your level of investment with a creator, and the level of engagement accessible to you).
    %p The reward button opens up to reveal information about the author of that content, telling you about the real live human behind this digital product. By rewarding, you become a supporter of that creator, following their work, interacting with them, and participating in their private community.

    %h3 4. So, you want me to voluntarily reward content I get for free?
    %p No. Content is always free. The deal is if you agree to voluntarily reward when you like or value someone, Creators agree to provide all their content for free, and to create deeper, ongoing, and more engaged relationships with their community of supporters. Its not the content you are rewarding, its the people. The content should always be free, so that there's no barrier for anyone to experience it, its the people who make it that need your support.
    %p Also, rewarding isn't just a 'like' or a 'plus 1', its a meaningful act that creates an ongoing relationship with a creator. A way to create mutual recognition between you and a creator, an opportunity to communicate, collaborate, learn, listen, and grow.
    %p Additionally, creators have the opportunity to reward those that reward them, with engagement, discussion, physical and digital goods, and of course, more free content.

    %h3 5. You mean its all voluntary and free?!?
    %p Yes. Momeant is totally free to use. You can see as much content as you’d like, you can post as much content as you’d like, and you can choose who you’d like to reward, when, in whatever amount you’d like. Its all in your hands, so try it out already!

    %h3 6. Ok, so how does rewarding actually work?
    %p Momeant uses a "credit model" for allowing users to reward. Basically, as soon as you sign up, we give you a credit line and you can just start rewarding immediately. When you reach $10 of rewards, or if the end of the month comes and you have at least $5 of rewards outstanding, you'll get an email from us. The email will show you all the people you've rewarded, and ask you to fund those rewards, taking you through the payment process through Amazon Payments.
    %p If, at any point, you don't want to fund those rewards, you can simply walk away, we won't penalize you. We'll just retract those rewards and suspend your account until you want to fund those rewards and continue. Just remember, when you reward you're showing support for real people, so think about them before you decide to walk away.

    %h3 7. Am I legally allowed to get paid for content I create, even if its owned by my employer, organization X? Won’t I get fired / thrown in jail?
    %p Don’t be silly! We’ve taken real precautions just to avoid any incarcerations ( but just remember, you are ultimately responsible for deciding what content you have the right to post). Here’s the deal:
    %ol
      %li When you link content through momeant, we frame the original URL so that the original content is unadulterated. So if you wrote a NYTimes article, your readers are still going to the NYTimes website, we’re just adding a button that informs them that you wrote the article and a little about you. We’ve talked to some magazines and publications, they’re cool with it.
      %li Rewards are for people, not content. You don’t get paid for content, you give it away for free. Since rewards are voluntary, you get rewarded for being you, and doing what you do to create great content online.
      %li You do have to be the rightful author or creator of content to get rewarded, though you may not own the content yourself, if you work for a publication or organization.
    %p Ultimately, its up to you and the terms of your contract with your employer whether you can link to it on Momeant, but hopefully this information helps. If you’re still unsure, contact us, we’re happy to help you figure it out.
    
    %h3 8. Can I become a creator on Momeant?
    %p Of course you can! 
    %p In this beta stage, we're working closely with every creator that signs up for Momeant, to make sure things work smoothly and we don't accidentally invite any malicious spam creators. But being a small startup, our resources are limited.
    %p Thus, if you'd like to be a creator, #{mail_to "team@momeant.com", "contact us"} first so we can get to know a bit about you and we'll try to get you onboard as soon as we can. 

    %h3 9. Ok, I’m a content creator, and I want to link my blog/website, do I have to do any hard work?
    %p Certainly not. We wouldn’t do that to you, our job is to make it as easy as possible, and not mess up your content or experience in any way. You already make content, you know how you want it to be experienced. We simply provide a way to share a link to your content, which puts our reward button on it. We’re also working on an app that lets you put the button on your own website or blog, permanently. Let us know if you’d like to see it soon!

    %h3 10. Does a small reward really make a difference?
    %p Yes it does, especially fi you share that reward. When you share a reward on Twitter, Facebook, or anywhere else you share info with your friends and followers, it will show up just like any other tweet or post that you make when you share a video, photos, or an article or blog post. But any rewards resulting from that tweet or post will be credited to you as your 'impact'. You helped get those rewards, so great job. We display the people without the most impact to give you your due. Look out soon for some really interesting things we plan to do with impact, so share those rewards!

    %h3 11. How much money can I really make here?
    %p Like with any service, its definitely going to depend on the person, the content, the timing, and some luck. But put it this way, you may not be guaranteed you'll make your rent each month, but what if you can buy that new SLR lens you've had your eye on? Or how about your subscription to 'Flea and Collar' magazine for the whole year? The point is, we hope to help generate sustainable income for some, and extra cash for everyone else, all while creating exposure and getting you a really supportive and committed ongoing fan base. (We want you to be in the drivers seat, to experiment with content, engagement and rewards to your audience, to find a winning combination.)

    %h3 12. Do you guys make money?
    %p Yes. We think its important to remain sustainable, and to keep providing better and more innovative ways to get content creators paid. We can only do that if we also make some money. Also, its REALLY important to us not to drop advertising on you, not to sell your content, data, or behavior to advertisers and credit card companies, and not to trick you in any other way in order to make money off of you. We want to be clear and transparent.
    %p Right now, we make money in one way, we take a percentage from the pay outs to creators, to pay for credit card processing, taxes, and other fees, and to help us grow and build a better and more valuable experience for you. So, we’ll do our best to build, support, and innovate this community for you, and you can help us stay sustainable. Sound fair?

    %h3 14. So, how do I get paid?
    %p Of course, the first step is to share your content, promote it to your fans and supporters, and get rewarded. We pay out monthly, once you've received $10 in rewards. Currently we pay through Amazon and Paypal (for those of you outside the US), but are working to add additional solutions.