#about

  #about-inner

    #header-image

    #explanation
      %h2 Our goal is to get people paid for the content they share on the Web.
      %p
        %span With this in mind, we are introducing the
        %strong Reward:
        %span a voluntary, after-you've-enjoyed-the-content micropayment. If you read an article you like, see a great blog post, or watch a cool video and see the mo&#149;meant
        %strong Reward
        %span button, show your support by rewarding that creator. By rewarding, you support and connect with the people behind great content and generate valuable impact data that mo&#149;meant tracks and redirects to you.
  
    #illustration