- content_for :head do
  = javascript_include_tag "invite"

#about-pitch
  .characters
  .byline
    %h1 What’s it all about?
    %h3
      The web gives us unprecedented access to free content —
      %br
      but at Mo•meant, we believe that the best way to promote and enjoy creativity is to recognize its value.
      %br
      
    
  %ul.halves
    %li.patron
      %h3
        %span Patronage
      %p
        We’re reinventing patronage for the digital age,
        %br
        with a community of online patrons
        %br
        who can participate in the creative process as never
        before.
      %h4
        
      %p.small
        %span.title Support -
        Patrons reward their favorite creators, providing them with
        a sustainable income and ensuring that they keep on making great new
        work.
      %h4
        %span Promote
      %p.small
        By sharing stories they like with friends and followers,
        Mo&#149;meant patrons can help shape trends and opinions in the online
        world.
      %h4
        %span Connect
      %p.small
        Top patrons get the chance to connect with artists and
        creators they support, and may even win special rewards of their own.
    %li.create
      %h3
        %span Creativity
      %p
        We’re creating an online platform for creators
        %br
        to tell digital stories,
        %br
        moving beyond the blog to a new form of media.
      %h4
        %span Create
      %p.small
        Mo&#149;meant stories are dynamic and interactive combinations of
        text, images, audio and video. Find out more on our creator page.
      %h4
        %span Publish
      %p.small
        Creators build up libraries of stories for patrons to view
        and reward. The more they publish and the more their patrons like
        their work, the fatter their Mo&#149;meant paycheck becomes.
      %h4
        %span Share
      %p.small
        Our sharing features help creators spread the word about their
        work, driving traffic to their stories both within and outside
        Mo&#149;meant.