- content_for :head do
  = javascript_include_tag "invite"

#about-pitch
  .byline
    %h1 What’s it all about?
    %h3
      The web gives us unprecedented access to free content —
      %br
      but at Mo•meant, we believe that the best way to promote and enjoy creativity is to recognize its value.
      %br
  .characters      
  .ampersand  
    %ul.halves
      %li.patron
        %h3
          %span Creativity
        %p
          Our online platform allows creators
          %br
          to tell digital stories, moving beyond the blog
          %br
          to a more immersive form of media.
      %li.create
        %h3
          %span Patronage
        %p
          Introducing a new model of digital patronage.
          %br
          As a patron, you show appreciation
          %br
          by rewarding stories you like.
    %ul.questions
      %p.small
        %span.title How do I start making a story?
        Click on the + sign in the top nav bar to start creating a new story. To edit stories you’ve already made (whether published or not) go to your creator page and click on the story thumbnail you’d like to edit. Once on that stories preview page you’ll see an edit button.
      %p.small
        %span.title What are Rewards Coins?
        Rewards coins are the currency of Mo•meant’s community. If you appreciate a story on the site, you show your appreciation by rewarding the creator with momeant coins.
      %p.small
        %span.title What is the free trial?
        In the near future Mo•meant will introduce it’s full Patronage model designed to enable all members to support creativity. For now we are in a free trial and are giving you coins to freely distribute as you wish to show your appreciation for other creators' work. We’ll make sure to let you know well before this free trial expires and what's coming next.