- content_for :head do
  = javascript_include_tag "beta"

.beta
  .characters
  %h1 Reinventing patronage for the digital renaissance
  %p.explanation
    The web gives us unprecedented access to free content &ndash; but at Mo&#149;meant, we believe the best
    way to promote and enjoy creativity is to recognize its value. The Momeant community brings together creators
    of every stripe&hellip;who share their work with an audience of online patrons. Join the community and artist
    by artist, patron by patron, we'll build a sustainable digital renaissance
  
  .email-list
    %p Mo&#149;meant is currently in private beta. If you'd like to join our community, please add your email to the waiting list below.
    = render "home/mailchimp_beta_list"
    
  - content_for :modals do
    = render "shared/beta_modal"