%h1#intro
  %strong
    Do you think the future of the Web
    %br
    is in paywalls and advertising?
  %span Neither do we.

#explanation
  %section
    %h3 Content is no longer made by a few massive corporations.
    %p The NYTimes, Andrew Sullivan, and other content platforms are choosing old media models of paywalls and advertising. But those models assume that content only comes from a few tightly-controlled sources.
  
  %section
    %h3 We need a way to support the creativity of millions.
    %p The web has taught us that anyone can create great content. Now we need a super simple way to support the work we love, so that more can be created. Momeant provides a lightweight solution to this problem.

#reward-button
  %h1 Introducing the Reward Button.
  %p This is your chance to put a face to your work, to remind your viewers that you're a hard-working human who deserves support.
  %ol
    %li Add a simple button to your site in just minutes. It's as easy as copy & paste.
    %li Give your viewers a chance to reward you when they enjoy your work.
    %li Discover your best supporters and who's promoting you across the web.

#qa
  %section
    %h3 How is this different from a PayPal donate button?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

  %section
    %h3 Why do you believe that content must be free?
    %p By allowing everyone to choose what to reward after viewing it, we have the power to decide what matters while only paying for the content we care about.
    
  %section
    %h3 Why is this so important to the future of the Web?
    %p Paywalls create protected silos of content around a few top brands. Advertising diminishes the viewing experience. We need to empower a new Creator Class.

#final
  %h1 Are you with us? Awesome.
  %h2 Get a Reward Button on your site in minutes!
  = link_to "Get Started &rarr;".html_safe, "#join-modal", class: "button"