#faq-pitch
  .byline
    %h1 Frequently Asked Questions
    %ul.questions
      %li.section-1
        %h3
          %span The Basics
        %h4 What's the difference between Mo•meant Patrons and Creators?
        %p
          Mo•meant Creators provide the content featured on Mo•meant. They include all kinds of storytellers: writers, artists, photographers and graphic designers—but also scribblers, hobbyists, teachers, cartographers, doctors, chefs and gardeners. Anyone, in short, offering high-quality content and a unique perspective on the world. 
        %p
          Mo•meant Patrons are all of us who choose to view that content, support the creative process, reward creators for their work, and promote that work. Patrons can also take a leading role on Mo•meant by curating collections of stories and recommending content and creators to their friends and followers.		
        %p
          It’s important to note that, in the Mo•meant community, there aren’t any barriers between patrons and creators. Everyone can participate in discussion and debate, and most creators are patrons too!
        %h3
          %span For Creators
        %h4 How do I become a creator on Mo•meant?
        %p
          In order to keep the quality of our content consistent, the Mo•meant creator community is currently recruiting by invitation only. All new creators are invited by existing creators. That way, artistic responsibility will remain in the hands of the Mo•meant community, and our network of creators will develop organically, built on trust and personal relationships. 
        %p
          That said, we don’t want to miss out on an unknown Michelangelo. So if you feel you’re making work that people should see, just send us an email or request an invite. We’ll be glad to consider you!
        %h4 I'm a creator, now what?!
        %p
          Getting started is easy. First, update your Creator Profile so that patrons can discover you and your work. Then, check out our story creation tools and start building stories. If you want some help getting started, we recommend exploring the site to see what other creators in the community are up to. 
        %p
          Most of our creators already have a following outside of Mo•meant. When you’ve finished your first batch of stories, why not invite your audience to join the community and check out your new digital work?
        %p
          Above all, you should feel free to contact us at any point in the creating process to ask questions or share ideas.
        %h4 Do Mo•meant stories have to follow a specific format?
        %p
          Not at all. Mo•meant stories can consist of anything you can imagine: blocks of text, groups of images, video archives, visual blogs, collages, audio geographies, found-item epistles... the possibilities are endless. In fact, the more you push the boundaries of your Mo•meant stories, the happier we’ll be. Our growing suite of story editing tools is designed to give you as much freedom as possible, and our content blocks enable creators to mash up their material in any way they choose. What’s more, if you have thoughts about how we can help you make content even more interactive and engaging, just drop us a line. We’d love to hear from you; we’re always looking to improve the experience of creators and patrons alike.
        %h3
          %span For Patrons
        %h4 How do I find interesting stories?
        %p
          There are several ways for you to discover interesting new stories:
        %p
          Browsing — Click the category button in your toolbar (it’s the little grid of dots!) to browse through the Mo•meant catalog according to story categories.
        %p
          Searching — Go Boolean! Use our nifty search bar in the header or the footer to track down work using any keyword.
        %p
          Recommendations — Your recommendation stream can be found as a drop-down in your toolbar ("icon"). The stream contains two types of recommendations.  One shows from Mo•meant members you follow. These user recommendations are a great way to discover new content on Mo•meant. The other recommendations are created by Mo•meant based on your preferences, rewards, and taste. The more actions you perform, the sharper these recommendations will become.
        %h4 How do I follow a Mo•meant creator or patron?
        %p
          When visiting other Mo•meant members’ profile pages, you can choose to ‘follow’ people whose work or tastes you find interesting. By following a patron or creator, you’ll get alerts every time they recommend something new. It’s a way of maintaining relationships with other members of the community and of discovering interesting new work.
        %h4 What is the Recommendation stream?
        %p
          As a patron, you can recommend stories you like to others simply by clicking on this icon: [icon]. Your recommendations form a “Recommendation stream” which any member of Mo•meant can see. Recommending is a way to share your own artistic vision, and it can become a powerful tool. By selecting interesting and valuable content over time, you can build an increasing number of “followers” and promote the careers of creators you care about.
        %h4 What's dog-earing?
        %p
          While reading, do you ever mark your place by folding down the corner of a page? That's dog-earing! You can dog-ear anything on Mo•meant: creator pages, user pages, or story pages. They will then be saved to your profile’s private library for later viewing.
        %h3
          %span Money Matters
        %h4 How does the monthly subscription work?
        %p
          For a full explanation of how our monthly subscription works, check out our subscription page here (link).
        %h4 What is a Mo•meant coin?
        %p
          Mo•meant coins are the currency used for rewarding creators on Mo•meant. A 1 MC reward provides a creator with 10 cents.
        %h4 Why do we use Mo•meant coins?
        %p
          We use MCs in place of real currency for several reasons. First, MCs simplify pricing in an international online marketplace. No matter what country creators and patrons come from, everyone sees the same price. Also, by using Mo•meant coins instead of real currency on the site, we make it possible for patrons to earn coins in other ways (not just through purchase!). We’ll provide more details on this soon…
        %h4 Do these artists actually get paid?
        %p
          Absolutely! Mo•meant’s mission is to ensure that creators are paid for their creative work. Every month your subscription fee is divvied up among artists based on what you decide to view and reward. Mo•meant creators who made more than a minimum threshold are paid out their full share of the profits every month. 
        %p
          Want to know more? If you’re a patron, you can check your analytics page to see a detailed history of where your money has gone. If you’re a creator, your analytics page will show you exactly how much each of your stories is generating in income.
        %h4 What's Mo•meant's take?
        %p
          Our goal is to take all the administrative and technical burdens off creators and allow them to focus purely on creating the best possible content. Therefore, Mo•meant uses 30% of all proceeds to cover the costs of hosting and delivering content, of payment processing, of running customer services and marketing, and of continually innovating and developing to create the best possible experience for creators and patrons. In other words, we keep reinvesting in our ideal of a sustainable creative marketplace.
        %h3
          %span Some Fine Print
        %h4 How do I know this site keeps my personal information safe?
        %p
          Mo•meant is very serious about privacy and security. See for yourself by checking out our privacy policy here: link. We do collect some information about our users, but we never share it with third parties, advertisers, or anyone else, ever! The information we collect from you is used to better customize your experience (see Question […] above!), but that’s as far as it goes. 
        %p
          Mo•meant processes all credit card transactions using secure encryption — the same kind of encryption used by leading banks. Sensitive information like credit card numbers is never stored on our servers. All card information is transmitted, stored, and processed securely on a PCI Compliant Network.
        %h4 Can I advertise on Mo•meant?
        %p
          Sure you can. Mo•meant is developing unique advertising opportunities for brands that want to support the creative process and connect with Mo•meant's community of patrons and creators. If you are interested in learning more about advertising on Mo•meant contact us at ads@momeant.com to find out more.
        %h4 Can I promote my non-profit on Mo•meant?
        %p
          Yes! Our storytelling platform provides the ideal means for non-profits to achieve their fundraising goals. By telling the stories of the people and causes they help and support, non-profits can connect directly with their public, making their case in a vivid and engaging interactive medium.
        %p
          If you belong to a non-profit organization, and would like some assistance in telling your story on Mo•meant, just contact us—we’re happy to help!
        %h4 I want to get involved—is there more I can do to help Mo•meant support creators?
        %p
          If you share our ideals and want to participate in the Mo•meant project, please email us! 
        %p
          We have a unique partnership model that enables those who believe in our mission—whether they are companies, organizations, or high-end creators—to support the creative community by contributing their own digital media to the site.
        %p
          Contact us at partner@momeant.com to find out more.
        %h3
          %span Got a Question?
        %p
        Contact us here. We’ll answer your question as soon as we can, and may add it to our FAQ.
