%h1#slogan People, projects, and creativity worth rewarding.

%hr

#people
  %h3 Top People
  %ul= render :partial => "home/person", :collection => @people, :as => :person

%hr

#projects
  %h3 Top Projects
  %ul= render :partial => "home/project", :collection => @projects, :as => :project

#projects-loading Loading more...

:javascript
  mpq.track('Viewed Homepage');

= javascript_include_tag "landing"