%section#intro
  .insides

    %h1
      %span
        Do you think the future of the Web is in paywalls and advertising?
      %strong
        = image_tag "home/red-x.png"
        %span Neither do we.

%section#explanation
  .insides

    %ul
      %li
        %h3 Content is no longer made by a few massive corporations.
        %p The NYTimes, Andrew Sullivan, and other content platforms are choosing old media models of paywalls and advertising. But those models assume that content only comes from a few tightly-controlled sources.
      %li
        %h3 We need a better way to support the creativity of everyone.
        %p The web has taught us that anyone can make great content. We need a simple way to voluntarily reward creators for their work, and we need your help to ensure a future in which all may prosper from content online.

%section#reward-button
  .insides

    %h1 Introducing the Reward Button.
    %h3 A simple copy & paste button, allowing anyone to support your work.
    
    = image_tag "home/reward-example.png"
    
    %ol
      %li
        %span Add a simple button to your site in just minutes.
      %li
        %span When your viewers click it, they'll be able to easily reward your work.
      %li
        %span Discover your best supporters and who's promoting you across the web.
    
%section#qa
  .insides

    %ul
      %li
        %h3 How is this different from a PayPal donate button?
        %p Building community is better than any single transaction. By aggregating every user's rewards across all the content they find valuable, we're building a community, creating a better experience for the user, and providing better incentives to reward creators.

      %li
        %h3 Why do we believe that content must be free?
        %p By allowing everyone to choose what to reward after viewing it, readers have the power to decide what matters to them. No more paying for everything when you only want something specific.
    
      %li
        %h3 Why is this so important to the future of the Web?
        %p Paywalls and advertising only help the biggest players with the widest reach. By keeping pay voluntary and after the fact, we have a chance to build a new Creative Economy on the Web, where anyone can get paid for creating content.

%section#final
  .insides

    %h1 Are you with us? Awesome.
    %p Get a Reward Button on your site in minutes!
    = link_to "Get Started &rarr;".html_safe, "#join-modal", class: "button"