%h1#slogan Discover people and causes worth rewarding.
  
#creator-discovery
  %ul#filter
    - Story::CATEGORIES.each do |category|
      %li= link_to category, "#"

  #people
    %ul#list
      = render :partial => "home/person", :collection => @people, :as => :person
    
    .loader Loading...

:javascript
  mpq.track('Viewed Homepage');

= javascript_include_tag "landing"