%section#intro
  .insides

    %h1
      %span
        Do you think the future of the Web is in paywalls and advertising?
      %strong
        = image_tag "home/red-x.png"
        %span Neither do we.

%section#right-now
  .insides
    %p Right now, the future is being decided. Publishers, bloggers, and media companies are pushing pay walls and advertising. They've decided to go back in time and resurrect old media models that haven't worked in the Web era. We're here to propose a different future, one where:
    %h1
      = image_tag "home/black-check.png"
      %strong Information is free & pay is voluntary.

%section#explanation
  .insides
  
    %h1 Why does this matter?

    %ul
      %li.corporations
        %h3
          Content is no longer
          %br
          made by a few massive
          %br
          corporations.
        %p Paywalls and advertising only work for the biggest players with the widest reach, and cut everyone else out. We want to preserve equality on the Web for ALL content creators.
      %li.free
        %h3 Information and content should be free and accessible to all.
        %p Pay walls require us to pay up front for something whose value we have yet to determine, while advertising intrudes on our user experience and turns us into the thing being bought and sold.
      %li.potential
        %h3
          The Web has the potential
          %br
          to unleash a new Creative Economy online.
        %p Turning content creation into a form of economic activity is a HUGE opportunity for jobs and growth. This can only happen if we abandon pay walls and ads, and choose to reward each other for what we do online.
    
    %h2 We need a way to support the creativity of everyone.

%section#reward-button
  .insides

    %h1 Introducing the Reward Button.
    %h3 A simple copy & paste button, allowing anyone to support your work.
    
    = image_tag "home/reward-example.png"
    
    %ol
      %li
        %span It's incredibly lightweight and doesn't require a computer science degree.
      %li
        %span Get followers, push updates, and create a community that is invested in you.
      %li
        %span Offer your audience more incentives to reward.
    
%section#qa
  .insides

    %ul
      %li
        %h3 How is this different from a PayPal donate button?
        %p Building community is more powerful than any single transaction. Our goal is to go beyond the individual transaction, to aggregate all rewards from all users, and leverage those to build a community, an engaging experience, and stronger incentives that motivate people to reward.

      %li
        %h3 Why do we believe that content must be free?
        %p By allowing everyone to CHOOSE what to reward after viewing it, we have the power to decide what matters to us while only paying for the content (and creators) we care about.
    
      %li
        %h3 Why is this so important to the future of the Web?
        %p Paywalls and advertising only work for the biggest players with the widest reach, and cut everyone else out. By keeping pay voluntary and after the fact, we have a chance to build a new Creative Economy on the Web, where anyone can get paid for creating content. That's HUGE!

%section#final
  .insides

    %h1 Are you with us? Awesome.
    %p Get a Reward Button on your site in minutes!
    = link_to "Get Started &rarr;".html_safe, "#join-modal", class: "button"