- content_for :head do
  = javascript_include_tag "landing"

  
#page1.page
  #internet.inner
    .padded
      %span Dear
      %span Internet,
  %a.next{:goto => "page2"} Please tell me more
#page2.page
  #problem.inner
    .padded
      %span You’ve given us so much free content over the years, and we love you for it,
      %span
        but we also believe that the folks who create the really good stuff deserve to be
        %strong rewarded
        in return.
  %a.next{:goto => "page3"}
    .padded
      How do we fix this problem?
#page3.page
  #solution.inner
    .padded
      %span
        That’s why we’ve created mo&#149;meant, a place to
        %strong reward
        others.
      %span
        By
        %strong rewarding
        others, we recognize their value and help foster more creativity.
  %a.next{:goto => "page4"} Nice! I totally agree.
#page4.page
  #join.inner
    .padded 
      %span
        So sign up, share your content,
        %br
        see the great content others are rewarding,
      %strong Reward and be Rewarded.
      .join
        = link_to("Join for Free Today", "#signup-modal")
  %a.next{:goto => "page5"} Show me what's being rewarded!
#page5.page
  #rewarded.inner
    .padded
      %ul.rewards
        = render @rewards
      .join
        = link_to("Join for Free Today", "#signup-modal")
  %a.top-link Take me back to the top.