- content_for :head do
  = javascript_include_tag "landing"
  :css
    #landing #background {
      background-image: url(#{@background_url})
    }

#landing
  #background
  
  #insides
    %a.previous
    %ul#letter
      %li.page
        #internet.inner
          .padded
            %span.large Dear
            %span.large.spaced Internet,
            %span You've give us so much free content over the years, and we love you for it, but...
      %li.page
        #problem.inner
          .padded
            %span
              We also believe that the folks who create the really good stuff deserve to be
              %strong rewarded
              in return.
            %span
              That’s why we’ve created mo&#149;meant, a place to
              %strong reward and be rewarded.
      %li.page
        #solution.inner
          .padded
            %span
              By
              %strong rewarding
              each other, we recognize the value of our online creations, and show real support for the people who make them.
            %span
              So, #{link_to("Join mo&#149;meant".html_safe, "#join-modal")}, share your content, discover other great content,
              %strong reward and be rewarded.
    %a.next