#landing
  #letter
    %p
      Dear Internet,
    %p
      You’ve given us so much free content over the years, and we love you for it, but we also believe that the folks who create the really good stuff deserve to be rewarded in return.
    %p
      That’s why we’ve created mo•meant, a place to reward others. By rewarding others, we recognize their value and help foster more creativity.
    %p
      %span So sign up, share your content, see the great content others are rewarding,
      %strong Reward and be Rewarded.

    .join
      = link_to("Join for Free Today", "#signup-modal")
      %span (and get 5 free reward coins)

  #rewarded
    %h3 See What's Being Rewarded
    %ul.rewards
      = render @rewards
    .clear
  
  #guide
    %a{:href => about_path}
      %h3 Find Out More
      %p Learn more about the problem we're trying to solve and how mo&#149;meant works.
    %a{:href => community_path}
      %h3 Meet Our Community
      %p Find out who our top patrons are and see which creators are being rewarded the most.