.slide
  .flipleft.black
    %h1.solo
      You're
      %br
      a Creator
    %hr.dotted
    %h1.solo
      Do what
      %br
      you love.
      %br
      create.
  .flipright
    = image_tag "editorials/flipbook02image01.gif"

.slide
  .flipleft.black
    %h1.solo
      Turn your creations
      %br
      into stories
      %br
      with Mo•meant's
      %br
      online building
      %br
      blocks.
    %hr.dotted
  .flipright
    = image_tag "editorials/flipbook02image02.gif"

.slide
  .flipleft.black
    %h1.solo
      Build a
      %br
      loyal following
      %br
      of Mo•meant
      %br
      Patrons.
    %hr.dotted
  .flipright
    = image_tag "editorials/flipbook02image03.gif"

.slide
  .flipleft.black
    %h1.solo
      Collect rewards
      %br
      from your Patrons.
    %hr.dotted
    %h1.solo
      Get paid.
  .flipright
    = image_tag "editorials/flipbook02image04.gif"