.slide
  .flipleft.black
    %h1.solo
      You're
      a Creator
    %hr.dotted
    %h1.solo
      Do what
      you love.
      create.
  .flipright
    = image_tag "editorials/flipbook02image01.gif"

.slide
  .flipleft.black
    %h1.solo
      Turn your creations
      into stories using
      Mo•meant's online
      building blocks.
    %hr.dotted
  .flipright
    = image_tag "editorials/flipbook02image02.gif"

.slide
  .flipleft.black
    %h1.solo
      Build a
      loyal following
      of Mo•meant
      Patrons.
    %hr.dotted
  .flipright
    = image_tag "editorials/flipbook02image03.gif"

.slide
  .flipleft.black
    %h1.solo
      Collect rewards
      from your Patrons.
    %hr.dotted
    %h1.solo
      Get paid.
  .flipright
    = image_tag "editorials/flipbook02image04.gif"