.opening-up.clearfix
  .text
    %h1
      %span Mo&#149;meant is a grassroots community that supports creativity.
      = #link_to("Read more", about_path, :class => "button")
    %p
      Our goal is to introduce a new model of digital patronage.
      %br
      As a patron, you show appreciation by rewarding the stories and creators you like.
      %br
      We're in the very early days, so we'll be seeking your feedback and rolling out updates.
      %br
      In the meantime, join the community, create and view stories, start rewarding, and get in touch with us to share your thoughts.
      = link_to("Tell me more...", about_path)
  .character