%section#my-rewards
  %h1 People I Support
  
  #rewarded-users
    %ul
      - @user.rewarded_creators.reorder("").each do |user|
        %li
          %a{href: user_path(user)}
            = image_tag user.avatar(:large)
            .title= user.name