.inner
  = render "stories/templates/header"

  .photo-template
    = label_tag "Choose a snippet of text that best summarizes this article:"
    = text_area_tag :story_synopsis, @story.synopsis, :class => "monitor", :update => "synopsis"