= link_to("share", "http://www.addthis.com/bookmark.php?v=250&username=momeant", :class => "share")
:javascript
  var addthis_config = {"data_track_clickback":true};
= javascript_include_tag("http://s7.addthis.com/js/250/addthis_widget.js#username=momeant")