%h1 Bookmarklet: Upload Momeant content right from your site.

%p Do you have content that exists elsewhere on the web?
%ol
  %li Drag this bookmarklet to your Bookmarks bar.
  %li Browse to the URL of the content you want to share on Momeant.
  %li Click the Bookmark, fill out the details about your content, and voila! Your content will be published on Momeant.

%p You don't need to come to Momeant to post content anymore, you can do right from your site.

= link_to "Share on Momeant", story_creation_bookmarklet, class: "button"
%span (Drag this to your Bookmarks bar)