- if params[:tag].blank?
  %h1 Story tags
- else
  %h1 Stories tagged with #{params[:tag]}

%ul.stories
  = render @stories

%h3 Common tags
.tag-cloud
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
    = link_to tag.name, stories_tagged_with_path(tag.name.gsub('.','%2E')), :class => "tag #{css_class}"