.community#activity
  = render "users/community_tabs"

  .tabbed
        
    %ul#activity-list
      = render @activity
    = link_to "Load more...", "#", :id => "load-more-activity"

:javascript
  var activity_url = '/community/rewards';
= javascript_include_tag "users/activity"