.admin.invitations
  = render "admin/tabs"

  = button_to "Create new invitation", admin_invitations_path

  %table
    %thead
      %tr
        %th Inviter
        %th Invitee
        %th Code
        %th Created
    %tbody
      = render @invitations