%section
  %h1 Recent Work
  = link_to "< Back to Feed", subscriptions_path, class: "back-to-feed"
  %ul
    - @works.each do |content|
      = render partial: "subscriptions/content.html", locals: { content: content }