%section
  %h1 Discussions
  = link_to "< Back", "#", class: "back-to-feed"
  %ul
    - @discussions.each do |discussion|
      = render partial: "subscriptions/discussion", locals: { discussion: discussion }