%li.broadcast

  .creator
    .creator-info
      .card
        = link_to image_tag(broadcast.user.avatar.url(:thumbnail)), user_path(broadcast.user), :class => "avatar"
        = link_to broadcast.user.name, user_path(broadcast.user), :class => "name"
        .since following since #{current_user.inverse_subscriptions.where(:user_id => broadcast.user.id).first.since}

  .comment
    .comment-inner
      %p= Sanitize.clean(auto_link(broadcast.message), :elements => ['a']).html_safe