%li.content
  = link_to image_tag(content.user.avatar.url(:thumbnail)), user_path(content.user), class: "avatar"
  .headline #{content.user.name} shared some new work
  = link_to content.title, story_path(content), class: "title"
  %p= truncate(content.synopsis, length: 200)