- @activity.each do |activity|
  = render :partial => "subscriptions/content", :locals => { :content => activity.action } if activity.action_type == "Story"
  = render :partial => "subscriptions/broadcast", :locals => { :broadcast => activity.action } if activity.action_type == "Broadcast"