%h2 People you Follow
- unless @followings.empty?
  - @followings.each do |user|
    %a.following{href: subscriptions_user_path(user.id), class: @user == user ? "selected" : ""}
      = image_tag user.avatar.url(:thumbnail), class: "avatar"
      .name
        %span= user.first_name
        %span= user.last_name
      - if @new_per_following[user.id]
        .count= @new_per_following[user.id].size