#recent-activity.drilled-in
  = render "subscriptions/all_discussions"
        
#feed-sidebar
  = render "subscriptions/sidebar"

:javascript
  mixpanel.track('Viewed Feed', { subpage: 'discussions' });

= javascript_include_tag "subscriptions"