#recent-activity.drilled-in
  = render "subscriptions/all_rewards"
        
#feed-sidebar
  = render "subscriptions/sidebar"

:javascript
  mixpanel.track('Viewed Feed', { subpage: 'rewards' });

= javascript_include_tag "subscriptions"