#recent-activity.drilled-in
  = render "subscriptions/all_content"
        
#feed-sidebar
  = render "subscriptions/sidebar"

:javascript
  mpq.track('Viewed Feed', { subpage: 'work' });

= javascript_include_tag "subscriptions"