%h1= image_tag("/images/logo.png")

%h3 You just recently purchased #{number_to_currency(@deposit.amount)}'s worth of Momeant credits

%p You can always view your credits balance at #{@url}

%p
  Thanks for supporting Momeant and our creators!
  .signature= "- The Momeant Team"