.pullquote.page-theme.pane-insides
  .header
    .title Blockquote
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy
    %strong Great for adding some emphasis to a larger block of text,
    %span the Blockquote slide allows you to enter up to 500 characters and add custom styling for typeface, text color(s), highlighting, and hyperlinking. Don't forget to choose a background color or pattern!
  .body
    %fieldset
      %ul
        %li
          %label Type your blockquote
          - text_value = @page && @page.text ? @page.text : ""
          = text_area_tag "pages[#{@page_number}][text]", text_value, :class => "monitor-typing mirrored rich-editable", "mirror-to" => "quote", :style => "width:100%;height:300px;"
        %li
          = link_to("Save &amp; Preview".html_safe, "#", :class => "save")
  .tips
    %h3 Tips
    %ul
      %li  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      %li  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.