.title.page-theme.pane-insides
  .header
    .title Title
    = link_to("Change", "#", :class => "change")
    .spinner Saving...
  .copy Use this title page as a bold introduction to your story. You can add category icons by checking the appropriate box. This will give your readers some context and help them find the story again in the future. Or, just use this story block to emphasize a quote, factoid or other important snippet of text. Think outside the box - erm - slide!
  .body
    %ul
      %li
        %label Type your title
        - text_value = @page && @page.text ? @page.text : ""
        = text_area_tag "pages[#{@page_number}][text]", text_value, :class => "monitor-typing background-color-affected color-affected mirrored rich-editable", "mirror-to" => "text"
      %li
        = link_to("Save &amp; Preview".html_safe, "#", :class => "save")
  .tips
    %h3 Tips
    %ul
      %li  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      %li  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.