/*
Syntax error: Undefined mixin 'boxshadow'.
        on line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass, in `boxshadow'
        from line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass

13:         font-weight: 900
14:         text-transform: uppercase
15:     
16:     .module
17:       background: #fff
18:       @include boxshadow(5px, 0.3)
19:       @include rounded(3px)
20:   
21:     #user-info
22:       position: relative
23:       padding-left: 335px

Backtrace:
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass:18:in `boxshadow'
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass:18
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:263:in `block in render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/util.rb:373:in `silence_sass_warnings'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:263:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/rack.rb:51:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:35:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:34:in `catch'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:34:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.4.4/lib/rack/etag.rb:23:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.4.4/lib/rack/conditionalget.rb:25:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/flash.rb:242:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.4.4/lib/rack/session/abstract/id.rb:210:in `context'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.4.4/lib/rack/session/abstract/id.rb:205:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/cookies.rb:341:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.2.11/lib/active_record/query_cache.rb:64:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.2.11/lib/active_record/connection_adapters/abstract/connection_pool.rb:479:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/callbacks.rb:28:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:405:in `_run__1211246350419296956__call__140965493965251612__callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:405:in `__run_callback'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:385:in `_run_call_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/callbacks.rb:27:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/reloader.rb:65:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/remote_ip.rb:31:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/debug_exceptions.rb:16:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/show_exceptions.rb:56:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.2.11/lib/rails/rack/logger.rb:32:in `call_app'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.2.11/lib/rails/rack/logger.rb:16:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.2.11/lib/active_support/tagged_logging.rb:22:in `tagged'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.2.11/lib/rails/rack/logger.rb:16:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/request_id.rb:22:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.4.4/lib/rack/methodoverride.rb:21:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.4.4/lib/rack/runtime.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.2.11/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.4.4/lib/rack/lock.rb:15:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.2.11/lib/action_dispatch/middleware/static.rb:62:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/airbrake-3.1.6/lib/airbrake/rack.rb:41:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/airbrake-3.1.6/lib/airbrake/user_informer.rb:12:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.2.11/lib/rails/engine.rb:479:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.2.11/lib/rails/application.rb:223:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.2.11/lib/rails/railtie/configurable.rb:30:in `method_missing'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:147:in `handle'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:99:in `rescue in block (2 levels) in start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:96:in `block (2 levels) in start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `block in start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/djbrowning/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/bin/nack_worker:4:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'boxshadow'.\A         on line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass, in `boxshadow'\A         from line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass\A \A 13:         font-weight: 900\A 14:         text-transform: uppercase\A 15:     \A 16:     .module\A 17:       background: #fff\A 18:       @include boxshadow(5px, 0.3)\A 19:       @include rounded(3px)\A 20:   \A 21:     #user-info\A 22:       position: relative\A 23:       padding-left: 335px"; }
