/*
Syntax error: Undefined mixin 'boxshadow'.
        on line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass, in `boxshadow'
        from line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass

13:         font-weight: 900
14:         text-transform: uppercase
15:     
16:     .module
17:       background: #fff
18:       @include boxshadow(5px, 0.3)
19:       @include rounded(3px)
20:   
21:     #user-info
22:       position: relative
23:       padding-left: 335px

Backtrace:
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass:18:in `boxshadow'
/Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass:18
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:263:in `block in render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/util.rb:373:in `silence_sass_warnings'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:263:in `render'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/sass-3.2.3/lib/sass/plugin/rack.rb:51:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:35:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:34:in `catch'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/warden-1.2.1/lib/warden/manager.rb:34:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/etag.rb:23:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/conditionalget.rb:25:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:195:in `context'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:190:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/sendfile.rb:101:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/methodoverride.rb:24:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/runtime.rb:17:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/lock.rb:15:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/airbrake-3.1.6/lib/airbrake/rack.rb:41:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/airbrake-3.1.6/lib/airbrake/user_informer.rb:12:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/urlmap.rb:52:in `block in call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/urlmap.rb:46:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-1.3.6/lib/rack/urlmap.rb:46:in `call'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/Users/djbrowning/.rbenv/versions/1.9.3-p125/lib/ruby/1.9.1/forwardable.rb:201:in `get'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-2.0.1/lib/capybara/rack_test/browser.rb:59:in `process'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-2.0.1/lib/capybara/rack_test/browser.rb:35:in `process_and_follow_redirects'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-2.0.1/lib/capybara/rack_test/browser.rb:21:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-2.0.1/lib/capybara/rack_test/driver.rb:42:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-2.0.1/lib/capybara/session.rb:180:in `visit'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/capybara-2.0.1/lib/capybara/dsl.rb:51:in `block (2 levels) in <module:DSL>'
/Users/djbrowning/projects/momeant/repo/test/integration/steps/web_steps.rb:38:in `block in given_im_signed_in_as'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:86:in `instance_eval'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:86:in `block in execute_test_steps'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:82:in `each'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:82:in `execute_test_steps'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/coulda-0.7.1/lib/coulda.rb:73:in `block in generate_test_method'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/testing/setup_and_teardown.rb:67:in `block in run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:426:in `_run_setup_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/activesupport-3.1.0/lib/active_support/testing/setup_and_teardown.rb:65:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/testsuite.rb:117:in `run_test'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/testsuite.rb:53:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/testsuite.rb:117:in `run_test'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/testsuite.rb:53:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/testsuite.rb:117:in `run_test'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/testsuite.rb:53:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/ui/testrunnermediator.rb:65:in `run_suite'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/ui/testrunnermediator.rb:44:in `block in run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/ui/testrunnermediator.rb:100:in `with_listener'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/ui/testrunnermediator.rb:40:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/ui/testrunner.rb:40:in `start_mediator'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/ui/testrunner.rb:25:in `start'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/ui/testrunnerutilities.rb:24:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/autorunner.rb:409:in `block in run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/autorunner.rb:465:in `change_work_directory'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/autorunner.rb:408:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit/autorunner.rb:59:in `run'
/Users/djbrowning/projects/momeant/repo/vendor/ruby/1.9.1/gems/test-unit-2.5.3/lib/test/unit.rb:502:in `block (2 levels) in <top (required)>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'boxshadow'.\A         on line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass, in `boxshadow'\A         from line 18 of /Users/djbrowning/projects/momeant/repo/public/stylesheets/sass/users/profile.sass\A \A 13:         font-weight: 900\A 14:         text-transform: uppercase\A 15:     \A 16:     .module\A 17:       background: #fff\A 18:       @include boxshadow(5px, 0.3)\A 19:       @include rounded(3px)\A 20:   \A 21:     #user-info\A 22:       position: relative\A 23:       padding-left: 335px"; }
