#user-profile .user-settings #settings-list {
  margin-bottom: 30px; }
#user-profile .user-settings li {
  margin-bottom: 10px; }
  #user-profile .user-settings li .text.loading {
    display: inline-block;
    width: 30px;
    height: 15px;
    background: transparent url(../images/horizontal-spinner.gif) no-repeat 0 4px;
    text-indent: -9999px; }
#user-profile .user-settings section {
  margin-bottom: 20px; }
#user-profile .user-settings h3 {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 5px; }
  #user-profile .user-settings h3 .info {
    font-weight: 500;
    text-transform: none; }
#user-profile .user-settings input[type="text"] {
  width: 400px; }
#user-profile .user-settings .info {
  color: #777777;
  font-size: 11px;
  margin-bottom: 20px; }
#user-profile .user-settings .example {
  border: none;
  padding-bottom: 0; }
#user-profile .user-settings .file-uploader .file-input {
  height: 25px; }
#user-profile .user-settings .file-uploader .loader {
  width: 220px;
  height: 19px;
  background: transparent url(../images/loading.gif) no-repeat 0 0;
  display: none; }
