body#users.thankyous #main {
  width: 800px;
  margin: 0 auto;
  padding: 30px; }
body#users.thankyous section {
  background: #eeeeee;
  padding: 20px;
  margin-top: 20px;
  position: relative; }
  body#users.thankyous section h3 {
    font-size: 1.1em; }
    body#users.thankyous section h3 .price {
      background: #cccccc;
      padding: 2px 4px;
      margin-right: 3px; }
  body#users.thankyous section a.edit {
    position: absolute;
    top: 20px;
    right: 20px;
    text-transform: uppercase; }
body#users.thankyous form {
  margin-top: 20px; }
  body#users.thankyous form h3 {
    font-size: 1.4em; }
  body#users.thankyous form textarea {
    height: 50px; }
  body#users.thankyous form #thank_you_level_item, body#users.thankyous form #thank_you_level_description {
    width: 300px; }
