%h2
  Hi #{@rewarder.first_name}, thanks for rewarding!

%p{:style => "margin-bottom:20px;padding:5px 10px;font-size:0.9em;background:#ffc;"}
  You just rewarded #{@creator.name}. In order for us to pay #{@creator.first_name}, and any future creators you reward, we need you to configure your payment method.

%p{:style => "margin-bottom:30px;font-size:0.9em;"} Once you've chosen your payment method, you can continue to reward without getting bugged about it. It's super quick to setup!

%a{href: fund_rewards_url, style: "background:#00aeff;color:#fff;padding:5px 10px;border-radius:3px;text-transform:uppercase;font-weight:bold;text-decoration:none;"}
  Configure Your Payment Method &rarr;