%h3
  Amazon was unable to charge the payment method you chose.

%p In order for us to pay the creators you reward, we need you to update your payment method. Click the link below to do so:
= link_to fund_rewards_url, fund_rewards_url