%h2
  Thanks for setting up your payment method!

%p{:style => "margin-bottom:30px;font-size:0.9em"}
  When you reward creators from now on, we'll charge the Amazon Payment method you chose so that we can get the money
  to the creators you support.

%p{:style => "margin-bottom:30px;font-size:0.9em"}
  If you ever need to change your payment method, you can do so by #{link_to "going here", fund_rewards_url} or
  clicking 'Payment Settings' in your profile drop-down in the top navigation.
  
%p{:style => "margin-bottom:30px;padding:5px 10px;font-size:0.9em;font-weight:bold;background:#ffc;"}
  You really are making a difference!

= render "layouts/email_thanks"