%h1 Thanks for joining Momeant!

%p{:style => "font-style:italic;"}
  Ancient 'Clearynese' Proverb:
  %br
  How do you eat an elephant?
  %br
  One bite at a time.

%p
  %span{:style => "font-weight:700;"} We recognize that building a sustainable digital economy to support content creation is a rather big mission.
  %span But we needn't try to solve it all at once. If we all work together to change the values around sharing and consuming content online, then one reward at a time, we'll make this big mission happen.

%p
  %span{:style => "font-weight:700;"} To recap:
  %span Exploring the site is totally free.  It's free to browse and discover, free to see content and creators, and free to share your content.  When you see content you really like, or a Creator you really appreciate, reward them with however many coins you'd like.  We've given you 10 free coins to get started.  (When you run out of coins and want to continue rewarding you can buy reward coin packages).

%p
  %span{:style => "font-weight:700;"} If you are a creator
  %span and have your work online, sharing your work on Momeant and having the chance to be rewarded is as easy as pasting in a link. Click the "share" link in the top nav.

%p
  %span{:style => "font-weight:700;"} If you have any feedback, comments, critiques, praise, whatever,
  %span we are always happy to talk. Just send us an email to team@momeant.com.  And of course, this is a mission that deserves to be shared.  If you know someone who would really like what Momeant is doing, please invite them to the site.

%p
  Thanks!
  %br
  Amit, Zack, &amp; David

%p
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/9/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/10/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/8/thumbnail."