%h2
  Welcome to Momeant!
  %div{:style => "font-size:0.6em;font-style:italic;font-weight:500;"} (pronounced 'moment')

%p{:style => "margin-bottom: 40px;font-size:0.9em"}
  %span{:style => "font-weight:700;"} Building a Web where content creators can get rewarded for their work is a rather big mission.
  %span But we needn't try to solve it all at once. With each reward, we're changing the values around sharing and consuming content online. Our goal is to create a community on the Web where creators and consumers interact and exchange directly. Your participation helps us all get there.

%h2 Discover & Reward

%p{:style => "margin-bottom: 40px;font-size:0.9em"}
  %span{:style => "font-weight:700;"} Exploring the site is totally free.
  %span It's free to browse and discover, free to see content and creators, and free to share your content. When you see content you really like, or a Creator you really appreciate, reward them as you see fit.

%h2 Say hello

%p{:style => "margin-bottom: 40px;font-size:0.9em"}
  %span{:style => "font-weight:700;"} If you have any feedback, comments, critiques, praise, whatever,
  %span we are always happy to talk, send us an email at team@momeant.com.  And of course, this is a mission that deserves to be shared.  If you know someone who you think would really like Momeant, please invite them to the site.

= render "layouts/email_thanks"