%h2
  Welcome to Momeant!
  %div{:style => "font-size:0.6em;font-style:italic;font-weight:500;"} (pronounced 'moment')

%p{:style => "margin-bottom: 40px;font-size:0.9em"}
  %span{:style => "font-weight:700;"} Building a sustainable digital economy is a rather big mission.
  %span But we needn't try to solve it all at once. With each voluntary reward, we're changing the values around sharing and consuming content online.

%h2 Discover & Reward

%p{:style => "margin-bottom: 40px;font-size:0.9em"}
  %span{:style => "font-weight:700;"} To recap: Exploring the site is totally free.
  %span It's free to browse and discover, free to see content and creators, and free to share your content.  When you see content you really like, or a Creator you really appreciate, reward them with however many coins you'd like.  We've given you 10 free coins to get started.  (When you run out of coins and want to continue rewarding you can buy reward coin packages).

%h2 Create

%p{:style => "margin-bottom: 40px;font-size:0.9em"}
  %span Blogger? Journalist? Aspiring photographer? Youtube extraordinary? Open source developer? If you are a creator and have your work online, sharing your work on Momeant and having the chance to be rewarded is as easy as pasting in a link.
  %span{:style => "display:block;font-weight:700;"} Click "share" in the top nav to get started.

%h2 Say hello

%p{:style => "margin-bottom: 40px;font-size:0.9em"}
  %span{:style => "font-weight:700;"} If you have any feedback, comments, critiques, praise, whatever,
  %span we are always happy to talk, send us an email at team@momeant.com.  And of course, this is a mission that deserves to be shared.  If you know someone who you think would really like Momeant, please invite them to the site.

= render "layouts/email_thanks"