%li.purchase
  
  .header
    = link_to image_tag("coinCountBlue.png"), coins_path, :class => "thumbnail"
    = link_to you_or_name(amazonpayment.payer), user_path(amazonpayment.payer)
    %span purchased #{amazonpayment.coin_string}.
    %span.when #{time_ago_in_words(amazonpayment.created_at)} ago