- level = badge[:level]
- user = User.find(badge[:user_id])
%li.badge
  
  .header
    = link_to image_tag("badges/#{level}.png"), about_path, :class => "thumbnail"
    = link_to you_or_name(user), user_path(user)
    %span achieved Badge Level #{level}.