.after
  %strong Your Tweet has been posted.
  %p
    When others come to momeant and reward this content because of your tweet, your Impact Score will go up.
  %p
    Don't forget, you can track your Impact Score on your #{link_to "profile page", user_path(current_user)}.