#what-is-this
  %h1 Reward My Work
  = image_tag @user.avatar.url(:large), class: "creator"
  #after-copy.copy
    %span After rewarding me,
    %span my supporters can...
  #iconography
    #interact-copy.copy
      %strong Interact
      %span with me & my
      %span community
    #follow-copy.copy
      %strong Follow me
      %span for content
      %span updates
    #receive-copy.copy
      %strong Receive gifts
      %span for excellent
      %span support
  
  = link_to "Ok, got it!", "#", id: "close-what-is-this", class: "button"