%h1 Congratulations on giving your first reward!
%p We've sent you an email explaining how to setup your payment method so that we can actually pay the creators you reward.
%p But don't worry about that right now.
= link_to "View #{@user.first_name}'s Thank You!", "#close-notice", class: "button"