#not-logged-in.right-side
  %h1
    Do you like #{@story.user.first_name}'s content?
    %br
    Show them your support!
    
  %p
    Momeant is all about getting you access to awesome content for free, that you can reward if you enjoy.
    This helps content creators make money so they can continue to create!
  
  .buttons
    = link_to("Join momeant", "#join-modal", :class => "join")
    %span.or or
    = link_to("Login", "#login-modal", :class => "login")
  
  .links
    Not sure? #{link_to "Read more about momeant.", about_path, :target => :new}

:javascript
  var forms_updated = false;
  $('#not-logged-in .buttons a').click(function() {

    if (forms_updated)
      return;
          
    forms_updated = true;
    $('#join-form, #login-form').append('<input type="hidden" name="open_reward_modal" value="yes"></input>');

  });