.not-logged-in
  %h2 Mo&#149;meant is a community that values &amp; rewards online content.
  %ul
    %li
      .number 1.
      .text
        We all create content online these days. Most of that content is free.
        %br
        Even pros like writers, musicians, and journalists are giving their work away.
    %li
      .number 2.
      .text
        But when we create great content that others enjoy,
        %br
        we all deserve to be rewarded.
    %li
      .number 3.
      .text
        Mo&#149;meant is a community for rewarding and getting rewarded.
        %br
        Let's truly value each other's work!
  .links
    = link_to("About Momeant", about_path, :class => "button about")
    = link_to("Join Momeant", "#join-modal", :class => "button join")
    = link_to("Login", "#login-modal", :class => "button login")