#not-logged-in.right-side
  .step-icon
  
  %h2
    Like #{@story.user.first_name}'s content?
  %h1
    Show your support!
    
  %p
    Welcome to Momeant, a community devoted to voluntarily rewarding the content creators we like on the Web. Momeant curates content (blogs, articles, videos, photos, etc.) from the entire Web based on who you are willing to support. Every time you reward, you'll see more of the content and people you'll love while knowing you are helping a content creator get paid and reach their goals. Its all voluntary though, so give it a shot.

  %p Sign up in 10 seconds and start rewarding immediately. First 10 rewards are on us.
  
  .buttons
    = link_to("Sign Up and get 10 free rewards", "#join-modal", :class => "join")
  
  .links  
    .login Already have an account? #{link_to "Login", "#login-modal", :class => "login"}
    Not sure? #{link_to "Learn more about momeant", about_path, :target => :new}

:javascript
  var forms_updated = false;
  $('#not-logged-in .buttons a').click(function() {

    if (forms_updated)
      return;
          
    forms_updated = true;
    $('#join-form, #login-form').append('<input type="hidden" name="open_reward_modal" value="yes"></input>');

  });