#sidebar
  = link_to image_tag(@user.avatar.url(:large)), user_url(@user), id: "avatar", target: "_blank"
  
  %a#creator-name{href: user_url(@user), target: "_blank"}
    %span= @user.first_name
    %span= @user.last_name
  
  #bio= truncate(@user.tagline, length: 240)