= form_tag share_twitter_path do
  = hidden_field_tag @reward.id
  = text_area_tag :twitter_comment
  #what-we-add http://momeant.com/... #momeant
  #characters-left
    %span.count 115
    %span characters left
  = submit_tag "Share on Twitter"