.configured
  = form_tag share_twitter_path do
    = hidden_field_tag :twitter_reward_id, @reward.id
    = text_area_tag :twitter_comment
    #what-we-add http://link-to-the-content...
    #characters-left
      %span.count 106
      %span characters left
    = submit_tag "Share on Twitter"