%p
  Thanks!
  %br
  Amit, Zack, &amp; David

%p
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/9/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/10/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/8/thumbnail."