%p
  Thanks!
  %br
  = "- The Momeant Team (Amit, Zack, &amp; David)".html_safe

%p
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/9/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/10/thumbnail."
  = image_tag "http://s3.amazonaws.com/momeant-production/avatars/8/thumbnail."