%p
  Thanks!
  %br
  = "- The Momeant Team (Amit, Zack, &amp; David)".html_safe

%table{:width => 190}
  %tbody
    %tr
      %td= image_tag "http://s3.amazonaws.com/momeant-production/avatars/9/thumbnail."
      %td= image_tag "http://s3.amazonaws.com/momeant-production/avatars/10/thumbnail."
      %td= image_tag "http://s3.amazonaws.com/momeant-production/avatars/8/thumbnail."