#outer{:style => "font-family: 'Lucida Console',Arial,Helvetica,sans-serif;width:100%;background:#f1f1f1;color:#000;padding:20px 0;"}
  #inner{:style => "width:720px;margin:0 auto;"}
    %a{:href => "http://momeant.com", :style => "display:block;width:720px;height:140px;"}
      = image_tag "http://momeant.com/images/emails/header.png"
    #content{:style => "background:#fff;padding:50px 70px;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;"}

      = yield